<div class="choose-filter-admin">
  <span class="filter-text">Find Problems by</span>
    {{selectize-input
    inputId="admin-filter-select"
    initialOptions=mainOptions
    initialItems=secondaryFilter.initialItems
    onItemAdd=(action "setMainFilter")
    maxItems=1
    labelField="label"
    valueField="value"}}
</div>

{{#if showOrgFilter}}
  <div class="filter-admin">
    {{selectize-input
    inputId="all-org-filter"
    initialOptions=orgOptions
    onItemAdd=(action "updateMultiSelect")
    onItemRemove=(action "updateMultiSelect")
    maxItems=3
    labelField="name"
    valueField="id"
    searchField="name"
    propToUpdate="selectedValues"}}
  </div>
{{/if}}

{{#if showUserFilter}}
  <div class="filter-admin">
    {{selectize-input
    store=store
    inputId="all-user-filter"
    onItemAdd=(action "updateMultiSelect")
    onItemRemove=(action "updateMultiSelect")
    maxItems=3
    labelField="username"
    valueField="id"
    searchField="username"
    model="user"
    queryParamsKey="usernameSearch"
    propToUpdate="selectedValues"
    propName=mainFilter
    isAsync=true}}
  </div>
{{/if}}

{{#if showPowsFilter}}
  <ul class="secondary-filter-options">
    {{#each powsFilterOptions as |option|}}
    <li class="checkbox-content {{if (is-in selectedValues option.value) 'is-selected'}}">
      <label for={{option.value}} class="checkbox-label">
        <i class="checkbox-icon {{option.icon}}"></i>
        <span class="checkbox-text">{{option.label}}</span>
        {{input id=option.value type="checkbox" checked=option.isApplied change=(action "updateSecondLevel")}}
      </label>
    </li>
    {{/each}}
  </ul>
{{/if}}