<div class="choose-filter-admin">
  <span class="filter-text">Find Problems by</span>
    <SelectizeInput @inputId="admin-filter-select" @initialOptions={{this.mainOptions}} @initialItems={{this.initialMainFilterItems}} @onItemAdd={{action "setMainFilter"}} @maxItems={{1}} @labelField="label" @valueField="value" />
</div>

{{#if this.showOrgFilter}}
  <div class="filter-admin">
    <SelectizeInput @inputId="all-org-filter" @initialOptions={{this.orgOptions}} @onItemAdd={{action "updateMultiSelect"}} @onItemRemove={{action "updateMultiSelect"}} @maxItems={{3}} @labelField="name" @valueField="id" @searchField="name" @propToUpdate="selectedValues" @placeholder="Organization name..." />
  </div>
  {{#if this.areCurrentSelections}}
    <ul class="secondary-filter-options">
      {{#each this.orgFilterSubOptions as |option|}}
        <li class="checkbox-content {{option.value}} {{if (is-in this.selectedOrgSubFilters option.value) 'is-selected'}}">
          <label for={{option.value}} class="checkbox-label">
            <i class="checkbox-icon {{option.icon}}"></i>
            <span class="checkbox-text">{{option.label}}</span>
            <Input @id={{option.value}} @type="checkbox" @checked={{option.isApplied}} @change={{action "updateOrgSubFilters"}} />
          </label>
        </li>
      {{/each}}
    </ul>
  {{/if}}
{{/if}}

{{#if this.showUserFilter}}
  <div class="filter-admin">
    <SelectizeInput @store={{this.store}} @inputId="all-user-filter" @onItemAdd={{action "updateMultiSelect"}} @onItemRemove={{action "updateMultiSelect"}} @maxItems={{3}} @labelField="username" @valueField="id" @searchField="username" @model="user" @queryParamsKey="usernameSearch" @propToUpdate="selectedValues" @propName={{this.mainFilter}} @isAsync={{true}} @placeholder="Username..." />
  </div>
{{/if}}

{{#if this.showPowsFilter}}
  <ul class="secondary-filter-options">
    {{#each this.powsFilterOptions as |option|}}
    <li class="checkbox-content {{option.value}} {{if (is-in this.selectedValues option.value) 'is-selected'}}">
      <label for={{option.value}} class="checkbox-label">
        <i class="checkbox-icon {{option.icon}}"></i>
        <span class="checkbox-text">{{option.label}}</span>
        <Input @id={{option.value}} @type="checkbox" @checked={{option.isApplied}} @change={{action "updateSecondLevel"}} />
      </label>
    </li>
    {{/each}}
  </ul>
{{/if}}