<section class="answer-info">
  <header id="answer-info-header">
    <h2>Answer Details</h2>
  <div class="clear"></div>
</header>

    <div>
      <p>Brief Summary: {{answer.answer}}</p>
    </div>
    <div>
      <p>Explanation: {{answer.explanation}}</p>
    </div>

    {{#if answer.imageData}}
      {{#if answer.isPdf}}
          <div class="assignmentPdf">
            <object data="{{answer.imageData}}" type="application/pdf">
            <embed src="{{answer.imageData}}" type="application/pdf" height="100%" width="100%">
            </object>
        </div>
        {{else}}
          <div class="assignmentImage">
            <img src="{{{answer.imageData}}}" alt={{{format-date answer.createDate 'MMMM Do YYYY'}}} />
          </div>
      {{/if}}
    {{/if}}
  </section>