  <header class="info-header" id="answer-info-header">
    <h3>Answer Details<i {{action (mut answer) null}} class="far fa-eye-slash"></i></h3>
    <div class="clear"></div>
  </header>

  <section class="answer-details">
    <div class="info-detail">
      <label>Brief Summary:</label>
      <p>{{answer.answer}}</p>
    </div>
    <div class="info-detail explanation">
      <label>Explanation:</label>
      {{{answer.explanation}}}
    </div>
  </section>

  {{#if answer.additionalImage}}
  <div class="assignmentImage info-detail">
    <img src="{{{answer.additionalImage.imageData}}}" alt={{{format-date answer.createDate 'MMMM Do YYYY'}}} />
  </div>
  {{/if}}