<header id="answernewheader">
  <h2>Create New Answer</h2>
  <div class="clear"></div>
</header>

  <section class="third submissions">
    <form id='newanswerform' class='properForm'>
      <fieldset>
        <ol>
          <li>
            <label for="answer">Brief Summary</label>
            {{textarea cols="80" value=answer rows="3" placeholder="Brief Summary..."}}
            {{input id="answer" required="true" type="hidden" value=answer}}
          </li>
          <li>
            <label for="explanation">Explain your ideas and how you figured them out</label>
            <section id="editor">
            </section>
          </li>
         <li>
              <label for="uploadedFile">Uploaded File:</label>
              {{#if imageData}}
                {{#if isPdf}}
                  <div id="pdf-view">
                    <object data="{{imageData}}" type="application/pdf" height="100%" width="100%">
                      <embed src="{{imageData}}" type="application/pdf">
                    </object>
                  </div>
                {{else}}
                  <a {{action 'toggleImageSize'}} class="image {{if isWide " wide "}}">
                    <img src="{{imageData}}" alt="{{format-date answer.createDate 'MMM Do YYYY hh:mm A'}}">
                  </a>
                {{/if}}
                  <button class="edit-image-btn" {{action 'deleteImage'}}>Delete</button>
                  <button class="edit-image-btn" {{action 'addImage'}}>Add</button>
              {{else}}
                  {{image-upload filesToBeUploaded = filesToBeUploaded hideSubmit = true}}
              {{/if}}
            </li>
            <li>

              <label for="students">Contributing Students</label>
              <ol>
              {{#each students as |student|}}

                <li>{{student.username}}</li>


              {{/each}}
              </ol>
              {{input type="text" value=student id="student" key-press=(action "toggleAddStudentMessages")}}
              <button id="addStudent"{{action "addStudent"}}>Add</button>
              {{#if addStudentError}}
                <p class="error-message"></p>Sorry, that user is not in your class.
              {{/if}}
              {{#if addedStudent}}
              <p class="success-message"></p>Successfully added student.
              {{/if}}

            </li>
        </ol>
      </fieldset>
      {{#if isMissingRequiredFields}}
        <p class="error-message">Please provide all required fields.</p>
      {{/if}}
    </form>
  </section>
  <div style="clear: left"></div>
  <section class="submit">
    <span>
      <button class="action_button" {{action 'validate'}}>Create Answer</button>
    </span>
    <span class="cancelResponse">
      <button class="action_button" {{action 'cancelResponse'}}>Cancel</button>
    </span>

  </section>


  {{#if createdAnswerError}}
    <p>{{createAnswerError}}</p>
  {{/if}}

<script>
  var options = {
    debug: 'info',
    modules: {
      toolbar: [
      ['bold', 'italic', 'underline'],
      ['image'],
      ]
    },
    placeholder: 'Explain your ideas and how you figured them out...',
    theme: 'snow'
  };
  var quill = new Quill('#editor', options);
</script>


