<header id="answernewheader">
  <h2>{{mainHeaderDisplayText}}</h2>
  <div class="clear"></div>
</header>

  <section class="third submissions">
    <form id='newanswerform' class='properForm'>
      <fieldset>
        <p class="info">To upload images in .jpg or .png format, please use the explanation html editor (by clicking on the square icon in the toolbar). {{!--To upload a pdf, please use the separate file upload input.--}}</p>
        <div class="new-answer-input brief-summary">
          <label for="answer">Brief Summary <span class="required-star">*</span></label>
          {{textarea name="brief-summary" cols="80" value=answer rows="3" placeholder="Brief Summary..."}}
          {{input id="answer" required="true" type="hidden" value=answer}}
        </div>
        {{#each briefSummaryErrors as |error|}}
          {{error-box error=error resetError=(action (mut briefSummaryErrors) null) showDismiss=true}}
        {{/each}}
        <div class="new-answer-input explanation">
          <label for="explanation">Explain your ideas and how you figured them out <span class="required-star">*</span></label>

          {{quill-container onEditorChange=(action "updateQuillText") attrSectionId=quillEditorId startingText=explanationText}}
        </div>
        {{#each explanationErrors as |error|}}
          {{error-box error=error resetError=(action (mut explanationErrors) null) showDismiss=true}}
        {{/each}}
        <div class="new-answer-input uploaded-file">
          {{!-- <label for="uploadedFile">Upload PDF</label> --}}
            {{#if imageData}}
              <a {{action 'toggleImageSize'}} class="image {{if isWide " wide "}}">
                <img src="{{imageData}}" alt="{{format-date answer.createDate 'MMM Do YYYY hh:mm A'}}">
              </a>
            <button class="edit-image-btn" {{action 'deleteImage'}}>Delete</button>
            <button class="edit-image-btn" {{action 'addImage'}}>Add</button>
            {{!-- {{else}}
              {{image-upload
                filesToBeUploaded=filesToBeUploaded
                hideSubmit=true
                acceptMultiple=true
                isPdfOnly=true
                }} --}}
            {{/if}}
          </div>
          <div class="new-answer-input contributors">
            <label for="students">Contributing Students</label>
            <div class="student-list">
              <ul>
              {{#each contributors as |student|}}
                <li>{{student.username}}
                  {{#unless (is-equal student currentUser)}}
                    <i {{action "removeStudent" student}} class="far fa-times-circle" aria-hidden="true" title="Remove"></i>
                  {{/unless}}
                  </li>
              {{/each}}
              </ul>
            </div>
          </div>
          {{twitter-typeahead selectedValue=studentToAdd selectedItems=contributors onSelect="addStudent" dataList=section.students placeholder="username" optionLabelPath="username" allowMultiple=true}}

          {{#if addStudentError}}
              <p class="error-message"></p>Sorry, that user is not in your class.
            {{/if}}
            {{#if addedStudent}}
            <p class="success-message"></p>Successfully added student.
          {{/if}}
      </fieldset>
      {{#if isMissingRequiredFields}}
        {{error-box error="Please provide all required fields." showDismiss=true resetError=(action (mut isMissingRequiredFields) null)}}
      {{/if}}
      {{#if overSizedFileError}}
        {{error-box error=overSizedFileError showDismiss=true resetError=(action (mut overSizedFileError) null)}}
      {{/if}}
      {{#if isExplanationTooLarge}}
        {{error-box error=tooLargeExplanationMsg showDismiss=true resetError=(action (mut isExplanationTooLarge) null)}}
      {{/if}}
    </form>
  </section>
  <div style="clear: left"></div>
  {{#if showLoadingMessage}}
    <p class="loading-message">Creating Answer... Thank you for your patience.</p>
  {{/if}}
  {{#unless isCreatingAnswer}}
    <section class="submit">
      <span>
        <button class="primary-button create" data-test="submit-answer" {{action 'validate'}}>{{createButtonDisplayText}}</button>
      </span>
      <span class="cancelResponse">
        <button class="action_button cancel-button" {{action 'cancelResponse'}}>Cancel</button>
      </span>

    </section>
  {{/unless}}




  {{#each findRecordErrors as |error|}}
    <p class="error-message">{{error}}</p>
  {{/each}}
  {{#each createRecordErrors as |error|}}
    <p class="error-message">{{error}}</p>
  {{/each}}
  {{#each uploadErrors as |error|}}
    <p class="error-message">{{error}}</p>
  {{/each}}
