<section class="assignment-info-teacher">
    <form id="assignmentdetails">
      <form id='assignmentinfoform' class='properForm'>
            <fieldset>
              <ol>
                <li>
                  <label for="problem">Problem</label>
                  {{input name="problem" id="problem" type="text" value=assignment.problem.title disabled=isProblemLocked placeholder=assignment.problem.title}}
                </li>

                <li>
                  <label for="section">Section</label>
                  {{my-select selectedSection=selectedSection prompt="Select a section." content=sections optionLabelPath="name" action=(action (mut selectedSection))}}
                  {{input required=true type="hidden" value=selectedSection}}
                </li>
                <li>
                  <label for="assignedDate">Date Assigned</label>
                    {{input name="assignedDate" id="assignedDate" type="date" value=formattedAssignedDate disabled=isDisplaying}}
                </li>

                <li>
                  <label for="dueDate">Due Date</label>
                  {{input name="dueDate" id="dueDate" type="date" value=formattedDueDate disabled=isDisplaying}}
                </li>
              </ol>
            </fieldset>
          </form>


          {{#if isEditing}}
            <button class="action_button" {{action 'updateAssignment'}}>Update Assignment</button>
            <button class="action_button cancel" {{action 'stopEditing'}}>Cancel</button>
          {{else}}
            <button class="action_button" {{action 'editAssignment'}}>Edit Assignment</button>
            <button class="action_button" {{action 'deleteAssignment'}}>Delete Assignment</button>
          {{/if}}
       </form>
  </section>

  {{!-- {{assignment-report  assignment=assignment students=assignment.students}} --}}