<section class="list-side">
  <header class="list-header">
    <h1>Assignments</h1>
    {{#unless currentUser.isStudent}}
      {{#link-to 'assignments.new' id='' class="new-link-btn"}}<span>Create New Assignment</span><i class="fas fa-plus"></i>{{/link-to}}
    {{/unless}}
    <div class="clear"></div>
  </header>

  <section>
    <nav class="list-box">
      <h2>{{currentUser.username}}'s Assignments</h2>
      <ul class="your-assignments">
        {{#if assignmentList}}
          {{#each assignmentList as |assignment|}}
            <li>{{#link-to 'assignment' assignment classNames='assignment-new-link'}}{{assignment.problem.title}} / {{format-date assignment.assignedDate 'MMM Do YYYY' }}{{/link-to}}</li>
          {{/each}}
        {{else}}
          <li>You have no assignments yet</li>
        {{/if}}
      </ul>
    </nav>
  </section>
</section>

<div class="list-outlet">
  {{outlet}}
</div>

<div class="clear"/>
