<section class="assignmentReport">
    <p class="info-summary">{{this.summaryMessage}}</p>
    <table class="report rows values">
    <tr class="headers">
      <th><ToggleControl @classToAdd="sort-bar-item name" @onUpdate={{action "updateSortCriterion"}} @initialState={{1}} @options={{this.sortOptions.student}} @label="Student" @parentProp={{this.sortCriterion}} @type="username" @activeType={{this.sortCriterion.type}} />
      </th>
      <th>
        <ToggleControl @classToAdd="sort-bar-item revisions" @onUpdate={{action "updateSortCriterion"}} @initialState={{0}} @options={{this.sortOptions.revisionCount}} @label="Submissions" @type="count" @activeType={{this.sortCriterion.type}} />
      </th>
      <th><ToggleControl @classToAdd="sort-bar-item date" @onUpdate={{action "updateSortCriterion"}} @initialState={{0}} @options={{this.sortOptions.latestRevisionDate}} @label="Latest Revision" @type="latestRevision" @activeType={{this.sortCriterion.type}} />
        </th>
    </tr>
    {{#each this.sortedReportItems as |item| }}
    <tr>
        <td class="username">{{item.username}}</td>
        <td class="count">{{item.count}}</td>
        {{#if item.count}}
          <td class="latest-date">{{format-date item.latestRevision "MMM Do YYYY h:mm A"}}</td>
        {{else}}
        <td> N/A</td>
        {{/if}}

    </tr>
    {{else}}
    <p>No submissions yet.</p>
    {{/each}}

  </table>
  </section>