<section class="list-side">
  <header class="list-header">
    <h1>Assignments</h1>
    {{#unless currentUser.isStudent}}
      {{#link-to 'assignments.new' id='assignment-new-btn' class="new-link-btn"}}<span>Create Assignment</span><i class="fas fa-plus"></i>{{/link-to}}
    {{/unless}}
    <div class="clear"></div>
  </header>

  <section>
    <nav class="list-box">
      {{#unless currentUser.isStudent}}
        <h2>{{currentUser.username}}'s Assignments</h2>
        <ul class="your-assignments">
          {{#if yourList}}
          {{#each yourList as |assignment|}}
            {{#if assignment.name}}
              <li>{{#link-to 'assignment' assignment.id classNames='assignment-new-link'}}{{assignment.name}}{{/link-to}}</li>
            {{else}}
              <li>{{#link-to 'assignment' assignment.id classNames='assignment-new-link'}}{{assignment.problem.title}} / {{format-date assignment.assignedDate 'MMM Do YYYY' }}{{/link-to}}</li>
            {{/if}}
          {{/each}}
          {{else}}
          <li>You have no assignments yet</li>
          {{/if}}
        </ul>
      {{/unless}}
      {{#if currentUser.isStudent}}
      <h2>{{currentUser.username}}'s Assignments</h2>
      <ul class="your-assignments">
        {{#if assignmentList}}
          {{#each assignmentList as |assignment|}}
            {{#if assignment.name}}
            <li>{{#link-to 'assignment' assignment.id classNames='assignment-new-link'}}{{assignment.name}}{{/link-to}}</li>
            {{else}}
            <li>{{#link-to 'assignment' assignment.id classNames='assignment-new-link'}}{{assignment.problem.title}} / {{format-date
              assignment.assignedDate 'MMM Do YYYY' }}{{/link-to}}</li>
            {{/if}}
          {{/each}}
        {{else}}
          <li>You have no assignments yet</li>
        {{/if}}
      </ul>
      {{/if}}
      {{#if currentUser.isAdmin}}
        <h2>All Assignments</h2>
        <ul class="admin-assignments">
          {{#if adminList}}
          {{#each adminList as |assignment|}}
            {{#if assignment.name}}
            <li>{{#link-to 'assignment' assignment.id classNames='assignment-new-link'}}{{assignment.name}}{{/link-to}}</li>
            {{else}}
            <li>{{#link-to 'assignment' assignment.id classNames='assignment-new-link'}}{{assignment.problem.title}} / {{format-date
              assignment.assignedDate 'MMM Do YYYY' }}{{/link-to}}</li>
            {{/if}}
          {{/each}}
          {{else}}
            <li>There are no assignments yet</li>
          {{/if}}
        </ul>
      {{/if}}
      {{#if currentUser.isPdAdmin}}
        <h2>{{currentUser.organization.name}} Assignments</h2>
        <ul class="pd-assignments">
          {{#if pdList}}
          {{#each pdList as |assignment|}}
            {{#if assignment.name}}
            <li>{{#link-to 'assignment' assignment.id classNames='assignment-new-link'}}{{assignment.name}}{{/link-to}}</li>
            {{else}}
            <li>{{#link-to 'assignment' assignment.id classNames='assignment-new-link'}}{{assignment.problem.title}} / {{format-date
              assignment.assignedDate 'MMM Do YYYY' }}{{/link-to}}</li>
            {{/if}}
          {{/each}}
          {{else}}
          <li>There are no assignments yet</li>
          {{/if}}
        </ul>
      {{/if}}
    </nav>
  </section>
</section>

<div class="list-outlet">
  {{outlet}}
</div>

<div class="clear"/>
