<section class="assignmentReport">
    <h2>Assignment Report</h2>
    <table class="report rows values">
    <tr>
      <th>Student Username</th>
      <th>Number of Submissions</th>
      <th>Most Recent Revision</th>
    </tr>
    {{#each sortedReportItems as |item| }}
    <tr>
        <td>{{item.username}}</td>
        <td>{{item.count}}</td>
        {{#if item.count}}
          <td>{{format-date item.latestRevision "MMM Do YYYY h:mm A"}}</td>
        {{else}}
        <td> N/A</td>
        {{/if}}

    </tr>
    {{else}}
    <p>No submissions yet.</p>
    {{/each}}

  </table>
  </section>