<section class="assignment-info-teacher">
  {{#if isEditing}}
    <form id='assignment-info-form' class='properForm'>
      <fieldset>
        <ol>
          <li>
            <label for="assignment">Assignment Name</label>
            {{input type="text" value=assignmentName}}
          </li>
          <li>
            <label for="problem">Problem</label>
              {{#if canEditProblem}}
                {{selectize-input
                store=store
                inputId="assn-new-problem-select"
                initialOptions=problemOptions
                initialItems=initialProblemItem
                onItemAdd=(action "updateSelectizeSingle")
                onItemRemove=(action "updateSelectizeSingle")
                maxItems=1
                labelField="title"
                valueField="id"
                searchField="title"
                propToUpdate="selectedProblem"
                placeholder="Search for a problem by title"
                isAsync=true
                model="problem"
                queryParamsKey="query"
                searchCriterion="title"
                topLevelQueryParams="searchBy"
                preload=problemsPreloadValue
              }}
              {{else}}
                <p class="assignment-info">{{#link-to 'problem' assignment.problem.id}}{{assignment.problem.title}}{{/link-to}}</p>
              {{/if}}
            </li>
          <li>
            <label for="section">Class</label>
            {{#if canEditProblem}}
              {{selectize-input
                inputId="assn-new-section-select"
                initialOptions=sectionOptions
                initialItems=initialSectionItem
                onItemAdd=(action "updateSelectizeSingle")
                onItemRemove=(action "updateSelectizeSingle")
                maxItems=1
                labelField="name"
                valueField="id"
                searchField="name"
                propToUpdate="selectedSection"
                placeholder="Search for a section by name"
                model="section"
                store=store
              }}
              {{input required=true type="hidden" value=selectedSection}}

            {{else}}
              <p class="assignment-info">{{#link-to 'section' assignment.section.id}}{{assignment.section.name}}{{/link-to}}</p>

            {{/if}}
        </li>
        <li class="assignment-info">
          <label for="assignedDate">Assigned Date</label>
          {{#if canEditAssignedDate}}
            {{input name="daterange" id="assignedDate" type="text" value=formattedAssignedDate}}
          {{else}}
            <p class="assignment-info">{{#link-to 'problem' assignment.problem.id}}{{assignment.problem.title}}{{/link-to}}</p>
          {{/if}}
        </li>
        <li class="assignment-info">
          <label for="dueDate">Due Date</label>
          {{#if canEditDueDate}}
            {{input id="dueDate" name="daterange" type="text" value=formattedDueDate}}
          {{else}}
              <p class="assignment-info">{{format-date assignment.dueDate displayDateFormat}}</p>
          {{/if}}
        </li>
        </ol>
      </fieldset>
    </form>
    <div class="button-row">
      <button class="primary-button" {{action 'updateAssignment'}}>Save Assignment</button>
      <button class="primary-button cancel-button" {{action 'stopEditing'}}>Cancel</button>
    </div>
    <button data-test="trash-assn" class="right" {{action 'showDeleteModal'}}><i class="fa fa-trash" aria-hidden="true"></i></button>
  {{/if}}
  {{#if isDisplaying}}
    <section id='assignment-info' class='properForm'>
      <fieldset>
        <ol>
          {{#if assignment.name}}
          <li>
            <label for="assignment">Assignment Name</label>
            <p class="assignment-info">{{assignment.name}}</p>
          </li>
          {{/if}}
          <li>
            <label for="problem">Problem Title</label>
            <p class="assignment-info">{{#link-to 'problem' assignment.problem.id}}{{assignment.problem.title}}{{/link-to}}</p>
          </li>
          <li>
            <label for="section">Class Name</label>
            <p class="assignment-info">{{#link-to 'section' assignment.section.id}}{{assignment.section.name}}{{/link-to}}</p>
          </li>
          <li>
            <label for="assignedDate">Assigned Date</label>
            {{#if assignment.assignedDate}}
              <p class="assignment-info">{{format-date assignment.assignedDate 'MMM Do YYYY'}}</p>
            {{else}}
              <p class="assignment-info">N/A</p>
            {{/if}}
          </li>
          <li>
            <label for="dueDate">Due Date</label>
          {{#if assignment.dueDate}}
          <p class="assignment-info">{{format-date assignment.dueDate 'MMM Do YYYY'}}</p>
          {{else}}
            <p class="assignment-info">N/A</p>
          {{/if}}
          </li>
          <li>
            <label for="linkedWorkspaces">Linked Workspaces</label>
            <ul class="assignment-info linked-workspaces">
              {{#each linkedWorkspaces as |workspace|}}
              <li>
                {{#link-to 'workspace.work' workspace.id}}{{workspace.name}}{{/link-to}}
              </li>
                {{else}}
                <li>N/A</li>
                {{/each}}
              </ul>
          </li>
          <li>
            <label for="parentWorkspaces">Parent Workspaces</label>
            <ul class="assignment-info parent-workspaces">
              {{#each parentWorkspaces as |workspace|}}
              <li>
                {{#link-to 'workspace.work' workspace.id}}{{workspace.name}}{{/link-to}}
              </li>
                {{else}}
                <li>N/A</li>
                {{/each}}
              </ul>
          </li>
        </ol>
      </fieldset>
    </section>
    {{#if showEditButton}}
      <button data-test="edit-assignment" class="primary-button" {{action 'editAssignment'}}>Edit Assignment</button>
    {{/if}}
    {{#if showCreateParentWsBtn}}
      <button data-test="create-parent-ws" class="primary-button" {{action (mut showParentWsForm) true}}>Generate Parent Workspace</button>
    {{/if}}
  {{/if}}
  </section>

  {{#each findRecordErrors as |error|}}
    <p class="error-message">{{error}}</p>
  {{/each}}
  {{#each updateRecordErrors as |error|}}
    <p class="error-message">{{error}}</p>
  {{/each}}
  {{#each dataFetchErrors as |error|}}
    <p class="error-message">{{error}}</p>
  {{/each}}
  {{#if isMissingRequiredFields}}
    <p class="error-message">Please provide all required fields.</p>
  {{/if}}
  {{#if invalidDateRange}}
    <p class="error-message">Invalid Date Range</p>
  {{/if}}

  {{#if showParentWsForm}}
    {{parent-workspace-new childWorkspaces=assignment.linkedWorkspaces assignment=assignment section=assignment.section problem=assignment.problem
    onCancel=(action (mut showParentWsForm) false)
    store=store
    handleResults=(action "handleCreatedParentWs")
    }}
  {{/if}}
  {{#if showReport}}
    {{assignment-report details=assignment.reportDetails assignment=assignment students=studentList }}
  {{/if}}

{{#if isEditing}}
<script>
  $(function () {
    $('input[name="daterange"]').daterangepicker({
      singleDatePicker: true,
      showDropdowns: true,
    });
  });
</script>
{{/if}}