<section class="assignment-info-teacher">
  {{#if isEditing}}
    <form id='assignment-info-form' class='properForm'>
      <fieldset>
        <ol>
          <li>
            <label for="assignment">Assignment Name</label>
            {{input type="text" value=assignmentName}}
          </li>
          <li>
            <label for="problem">Problem</label>
              {{#if canEditProblem}}
                {{twitter-typeahead sourceFunction=addProblemTypeahead placeholder="Start typing a problem title..." selectedValue=selectedProblem isAsync=true optionLabelPath="title"}}
              {{else}}
                <p class="assignment-info">{{#link-to 'problem' assignment.problem.id}}{{assignment.problem.title}}{{/link-to}}</p>
              {{/if}}
            </li>
          <li>
            <label for="section">Section</label>
            {{#if canEditProblem}}
              {{my-select cannotBeNull=true selectedValue=selectedSection prompt="Select a section." content=sections optionLabelPath="name" action=(action (mut select)) isDisabled=isReadOnly}}
              {{input required=true type="hidden" value=selectedSection}}
            {{else}}
              <p class="assignment-info">{{#link-to 'section' assignment.section.id}}{{assignment.section.name}}{{/link-to}}</p>

            {{/if}}
        </li>
        <li class="assignment-info">
          <label for="assignedDate">Assigned Date</label>
          {{#if canEditAssignedDate}}
            {{input name="assignedDate" id="assignedDate" type="text" value=formattedAssignedDate disabled=true}}
          {{else}}
            <p class="assignment-info">{{#link-to 'problem' assignment.problem.id}}{{assignment.problem.title}}{{/link-to}}</p>
          {{/if}}
        </li>
        <li class="assignment-info">
          <label for="dueDate">Due Date</label>
          {{#if canEditDueDate}}
            {{input id="dueDate" name="daterange" type="text" value=formattedDueDate}}
          {{else}}
              <p class="assignment-info">{{format-date assignment.dueDate displayDateFormat}}</p>
          {{/if}}
        </li>
        </ol>
      </fieldset>
    </form>
    <button class="action_button" {{action 'updateAssignment'}}>Update Assignment</button>
    <button class="action_button cancel-button" {{action 'stopEditing'}}>Cancel</button>
    <button data-test="trash-assn" class="right" {{action 'showDeleteModal'}}><i class="fa fa-trash" aria-hidden="true"></i></button>
  {{/if}}
  {{#if isDisplaying}}
    <section id='assignment-info' class='properForm'>
      <fieldset>
        <ol>
          {{#if assignment.name}}
          <li>
            <label for="assignment">Assignment Name</label>
            <p class="assignment-info">{{assignment.name}}</p>
          </li>
          {{/if}}
          <li>
            <label for="problem">Problem Title</label>
            <p class="assignment-info">{{#link-to 'problem' assignment.problem.id}}{{assignment.problem.title}}{{/link-to}}</p>
          </li>
          <li>
            <label for="section">Class Name</label>
            <p class="assignment-info">{{#link-to 'section' assignment.section.id}}{{assignment.section.name}}{{/link-to}}</p>
          </li>
          <li>
            <label for="assignedDate">Assigned Date</label>
            <p class="assignment-info">{{format-date assignment.assignedDate displayDateFormat}}</p>
          </li>
          <li>
            <label for="dueDate">Due Date</label>
            <p class="assignment-info">{{format-date assignment.dueDate displayDateFormat}}</p>
          </li>
          <li>
            <label for="linkedWorkspaces">Linked Workspaces</label>
            <ul class="assignment-info">
              {{#each linkedWorkspaces as |workspace|}}
              <li>
                {{#link-to 'workspace.work' workspace.id}}{{workspace.name}}{{/link-to}}
              </li>
                {{else}}
                <li>N/A</li>
                {{/each}}
              </ul>
          </li>
        </ol>
      </fieldset>
    </section>
    {{#if showEditButton}}
      <button data-test="edit-assignment" class="action_button" {{action 'editAssignment'}}>Edit Assignment</button>
    {{/if}}
  {{/if}}
  </section>

  {{#each findRecordErrors as |error|}}
    <p class="error-message">{{error}}</p>
  {{/each}}
  {{#each updateRecordErrors as |error|}}
    <p class="error-message">{{error}}</p>
  {{/each}}
  {{#each dataFetchErrors as |error|}}
    <p class="error-message">{{error}}</p>
  {{/each}}
  {{#if isMissingRequiredFields}}
    <p class="error-message">Please provide all required fields.</p>
  {{/if}}
  {{#if invalidDateRange}}
    <p class="error-message">Invalid Date Range</p>
  {{/if}}

  {{assignment-report details=assignment.reportDetails assignment=assignment students=studentList }}

{{#if isEditing}}
<script>
  $(function () {
    $('input[name="daterange"]').daterangepicker({
      singleDatePicker: true,
      showDropdowns: true,
    });
  });
</script>
{{/if}}