<div class="auth-toggle">
  {{#if shouldShowLogin}}
  <button type="button" {{action 'changeComponent'}}>Sign up</button>
  {{else}}
  <button type="button" {{action 'changeComponent'}}>Log in</button>
  {{/if}}
</div>


{{#if shouldShowLogin}}
  <LogIn />
{{else}}
  <SignUp />
{{/if}}
{{outlet}}
