<div class="auth-toggle">
  {{#if shouldShowLogin}}
  <button {{action 'changeComponent'}}>Sign up</button>
  {{else}}
  <button {{action 'changeComponent'}}>Log in</button>
  {{/if}}
</div>


{{#if shouldShowLogin}}
  {{log-in}}
{{else}}
  {{sign-up}}
{{/if}}
{{outlet}}
