<div class="breadcrumbs">
  {{#if showInfoToolTip}}
    <span class={{toolTipClassNames}} data-tooltip={{infoToolTipText}}>
      <i class="fas fa-info-circle info-icon"></i>
    </span>
  {{/if}}
  <span class="revisions">{{itemsLabelText}}</span>
  {{#if showTruncatedView}}
    <ul class="breadcrumbs truncated">
        {{#with this.itemsList.firstObject as |firstItem|}}
          {{bread-crumbs-item item=firstItem displayValue=1 onSelect=(action "onItemSelect") selectedItem=selectedItem titleTextPath=titleTextPath starredItemsList=starredItemsList}}

        {{/with}}
        <abbr title="expand">
          <span {{action "showAllItems"}} class="truncate">
            ...
          </span>
        </abbr>
        {{#with itemsList.lastObject as |lastItem|}}
          {{bread-crumbs-item item=lastItem displayValue=lastItemValue onSelect=(action "onItemSelect") selectedItem=selectedItem titleTextPath=titleTextPath starredItemsList=starredItemsList}}

        {{/with}}
    </ul>
  {{else}}
    <ul class="breadcrumbs">
      {{#each itemsList as |item index|}}
        {{bread-crumbs-item item=item displayValue=(add-to index 1) onSelect=(action "onItemSelect") selectedItem=selectedItem titleTextPath=titleTextPath starredItemsList=starredItemsList}}
      {{/each}}
      {{#if areManyItems}}

     <li {{action "collapse"}} title="collapse"><i class="fas fa-minus-square"></i>
     </li>
      {{/if}}
    </ul>

  {{/if}}
</div>