<ul class="cd-accordion-menu animated">
  {{#each categories as |category|}}
  <li class="has-children">
    <input type="checkbox" name="{{category.identifier}}" id="{{category.identifier}}">
    <label class="menu-label" for="{{category.identifier}}">{{category.description}}</label>
    <ul>
      {{#each category.domains as |domain|}}
      <li class="has-children">
        <input type="checkbox" name="{{domain.identifier}}" id="{{domain.identifier}}">
        <label class="menu-label" for="{{domain.identifier}}">{{domain.description}}<a href="{{domain.url}}" target="_blank"> <i class="fas fa-external-link-alt"></i></a></label>
          <ul>
            {{#each domain.topics as |topic|}}
              {{#if topic.standards}}
                <li class="has-children">
                  <input type="checkbox" name="{{topic.identifier}}" id="{{topic.identifier}}">
                  <label class="menu-label" for="{{topic.identifier}}">{{topic.description}}</label>
                  <ul>
                    {{#each topic.standards as |standard|}}
                    {{#if standard.substandards}}
                    <li class="has-children">
                      <input type="checkbox" name="{{standard.identifier}}" id="{{standard.identifier}}">
                      <label class="menu-label" for="{{standard.identifier}}">{{standard.description}}</label>
                      <ul>
                        {{#each standard.substandards as |sub|}}
                        <li class="item"><button {{action 'addCategory' sub}}>+</button> <span>{{sub.identifier}}</span> - {{sub.description}}</li>
                        {{/each}}
                      </ul>
                    </li>
                    {{else}}
                    <li class="item"><button {{action 'addCategory' standard}} id="{{standard.identifier}}">+</button> <span>{{standard.identifier}}</span> - {{standard.description}}</li>
                    {{/if}}
                    {{/each}}
                      <li class="item"><button {{action 'addCategory' topic}}>+</button> Other</li>
                  </ul>
                </li>
              {{else}}
                  <li class="item"><button {{action 'addCategory' topic}}>+</button> <span>{{topic.identifier}}</span> - {{topic.description}}</li>
              {{/if}}
            {{/each}}
              <li class="item"><button {{action 'addCategory' domain}}>+</button> Other</li>
          </ul>
      </li>
      {{/each}}
      <li>
        <label for="other" class="menu-label-2"><button {{action 'addCategory' category}}>+</button> Other</label>
      </li>
        {{!-- <li class="top-level"><button {{action 'addCategory' category}}>+</button> Other</li> --}}
    </ul>
  </li>
  {{/each}}
</ul>



<script>
  jQuery(document).ready(function () {
    var accordionsMenu = $('.cd-accordion-menu');

    if (accordionsMenu.length > 0) {

      accordionsMenu.each(function () {
        var accordion = $(this);
        //detect change in the input[type="checkbox"] value
        accordion.on('change', 'input[type="checkbox"]', function () {
          var checkbox = $(this);
          (checkbox.prop('checked')) ? checkbox.siblings('ul').attr('style', 'display:none;').slideDown(300) : checkbox.siblings('ul').attr('style', 'display:block;').slideUp(300);
        });
      });
    }
  });
</script>