<div id='categories'><ul class='cd-accordion-menu animated'>
    {{#each @categories as |category|}}
      <Ui::AccordionItem
        @id={{category.identifier}}
        @name={{category.identifier}}
        @label={{category.description}}
        @hasChildren={{not-empty category.domains}}
      >
        <ul>
          {{#each category.domains as |domain|}}
            <Ui::AccordionItem
              @id={{domain.identifier}}
              @name={{domain.identifier}}
              @label={{domain.description}}
              @hasChildren={{not-empty domain.topics}}
            >
              <ul>
                {{#each domain.topics as |topic|}}
                  <Ui::AccordionItem
                    @id={{topic.identifier}}
                    @name={{topic.identifier}}
                    @label={{topic.description}}
                    @hasChildren={{not-empty topic.standards}}
                  >
                    <ul>
                      {{#each topic.standards as |standard|}}
                        <Ui::AccordionItem
                          @id={{standard.identifier}}
                          @name={{standard.identifier}}
                          @label={{standard.description}}
                          @hasChildren={{not-empty standard.substandards}}
                        >
                          <ul>
                            {{#each standard.substandards as |sub|}}
                              <li class='item'>
                                <button
                                  type='button'
                                  {{on 'click' (fn this.addCategory sub)}}
                                >
                                  +
                                </button>
                                <span>{{sub.identifier}}</span>
                                -
                                {{sub.description}}
                              </li>
                            {{/each}}
                          </ul>
                        </Ui::AccordionItem>
                      {{/each}}
                      <li class='item'>
                        <button
                          type='button'
                          {{on 'click' (fn this.addCategory topic)}}
                        >
                          +
                        </button>
                        Other
                      </li>
                    </ul>
                  </Ui::AccordionItem>
                {{/each}}
                <li class='item'>
                  <button
                    type='button'
                    {{on 'click' (fn this.addCategory domain)}}
                  >
                    +
                  </button>
                  Other
                </li>
              </ul>
            </Ui::AccordionItem>
          {{/each}}
          <li class='item'>
            <button type='button' {{on 'click' (fn this.addCategory category)}}>
              +
            </button>
            Other
          </li>
        </ul>
      </Ui::AccordionItem>
    {{/each}}
  </ul>
</div>