<header class="{{newCommentLabel}} labels">
  <div id="noticeTab" class="notice label-list" {{action "setCommentLabel" 'notice'}}><img src="/images/notice.svg" alt=""> I NOTICE</div>
  <div id="wonderTab" class="wonder label-list" {{action "setCommentLabel" 'wonder'}}><img src="/images/wonder.svg" alt=""> I WONDER</div>
  <div id="feedbackTab" class="feedback label-list" {{action "setCommentLabel" 'feedback'}}><img src="/images/feedback.svg" alt=""> FEEDBACK</div>
</header>

<div id="al_comments">
    {{#if canComment}}
      {{textarea tabindex=1 id="commentTextarea" classBinding="hasText" placeholder=newCommentPlaceholder value=newComment autofocus="autofocus"}}
    {{else}}
      <p class="error-message">You do not have permisssion to make comments for this workspace</p>
    {{/if}}
    <div class="filterControl meta">
      <a class="filter" {{action 'toggleFilter'}}>
        <i class="fas fa-filter"></i> filter
      </a>
      <a class="search" {{action 'toggleSearch'}}>
        <i class="fas fa-search"></i> search
      </a>
    </div>
		<div class="al_controller">
      {{#if canComment}}
        <span class="meta">
        {{#if doSearch}}+{{/if}}
        {{#if searching}}...{{/if}}
        </span>
        {{#if onSelection}}
          <a class="cancel-button" {{action "cancelComment"}}>Cancel</a>
          <button class="action_button comment save" tabindex=2 {{action "madeSelection"}}>Save</button>
        {{/if}}
      {{/if}}
		</div>
  {{#each createRecordErrors as |error|}}
    <p class="error-message">{{error}}</p>
  {{/each}}
	<div class="clear"></div>
</div>

{{#if showFilter}}
  <div class="filter-options">
    <p>
    <label>{{input type="checkbox" checked=thisSubmissionOnly}} this submission only</label>
    <label>{{input type="checkbox" checked=myCommentsOnly}} my comments only</label>
    </p>
  </div>
{{/if}}

{{#if isSearching}}
  <div class="search-options">
    <p>
      <label>Search comments</label>
      {{input type="text" value=commentFilterText placeholder="keyword/phrase" classNames="noborder nopadding"}}
    </p>
    <p>
    <label>{{input type="checkbox" checked=myCommentsOnly}} my comments only</label>
    </p>
    <p>
      <label>Since</label>
    {{input type="date" id="sinceDate" value=sinceDate classNames ="noborder no padding"}}
    </p>
  </div>
{{/if}}

  <div id="al_feedback_display" class="display-list">
    {{#each queryErrors as |error|}}
      <p class="error-message">{{error}}</p>
    {{/each}}
    {{#each updateRecordErrors as |error|}}
      <p class="error-message">{{error}}</p>
    {{/each}}

    {{#if showLoadingMessage}}
      Searching for comments. Thank you for your patience.
    {{else}}
    <ul>
      {{#each displayList as |comment|}}
        {{workspace-comment wsComments=comments comment=comment currentWorkspace=currentWorkspace reuseComment=(action "reuseComment") deleteComment=(action "deleteComment")}}
        {{else}}
        <p class="placeholder">No comments made yet.</p>
      {{/each}}
    </ul>
    {{/if}}
  </div>

