<header class="{{newCommentLabel}} {{if canComment can-comment}}">
	<table>
		<tr>
			<td id="noticeTab" class="notice label-list" {{action "setCommentLabel" 'notice'}}><img src="/images/notice.svg" alt=""> I NOTICE</td>
			<td id="wonderTab" class="wonder label-list" {{action "setCommentLabel" 'wonder'}}><img src="/images/wonder.svg" alt=""> I WONDER</td>
			<td id="feedbackTab" class="feedback label-list" {{action "setCommentLabel" 'feedback'}}><img src="/images/feedback.svg" alt=""> FEEDBACK</td>
		</tr>
	</table>
</header>

<div id="al_comments">
	<form id="newForm">
    {{#if canComment}}
      {{textarea tabindex=1 id="commentTextarea" classBinding="hasText" placeholder=newCommentPlaceholder value=newComment autofocus="autofocus"}}
    {{else}}
      <p class="error-message">You do not have permisssion to make comments for this workspace</p>
    {{/if}}
    <div class="filterControl meta">
      <a class="filter" {{action 'toggleFilter'}}>
        <i class="fas fa-filter"></i> filter
      </a>
      <a class="search" {{action 'toggleSearch'}}>
        <i class="fas fa-search"></i> search
      </a>
    </div>
		<div class="al_controller">
      {{#if canComment}}
        <span class="meta">
        {{!-- {{#if newCommentParent}}*{{/if}} --}}
        {{#if doSearch}}+{{/if}}
        {{#if searching}}...{{/if}}
        </span>
        <a class="cancel-button" {{action "cancelComment"}}>Cancel</a>
        <button class="action_button comment save" tabindex=2 {{action "madeSelection"}}>Save</button>
      {{/if}}
		</div>
	</form>
  {{#each createRecordErrors as |error|}}
    <p class="error-message">{{error}}</p>
  {{/each}}
	<div class="clear"></div>
</div>

<div>
        {{!#each comments as |comment|}}
                <!--
                <span>{{comment.text}}</span>
                <br/>
                -->
                {{!partial "../comments/comment"}}
        {{!/each}}
</div>

{{#if showFilter}}
  <div class="filter-options">
    {{!-- <p>
    <label>{{input type="checkbox" checked=isSearching}} Search all comments</label>
    {{#if isSearching}}
      {{input type="text" value=commentFilterText placeholder="keyword/phrase" classNames="noborder nopadding"}}
    {{/if}}
    </p> --}}
    <p>
    {{!-- <label>{{input type="checkbox" checked=thisWorkspaceOnly}} this workspace only</label> --}}
    <label>{{input type="checkbox" checked=thisSubmissionOnly}} this submission only</label>
    <label>{{input type="checkbox" checked=myCommentsOnly}} my comments only</label>
    </p>
  </div>
{{/if}}

{{#if isSearching}}
  <div class="search-options">
    <p>
      <label>Search comments</label>
      {{input type="text" value=commentFilterText placeholder="keyword/phrase" classNames="noborder nopadding"}}
    </p>
    <p>
    {{!-- <label>{{input type="checkbox" checked=thisWorkspaceOnly}} this workspace only</label> --}}
    {{!-- <label>{{input type="checkbox" checked=thisSubmissionOnly}} this submission only</label> --}}
    <label>{{input type="checkbox" checked=myCommentsOnly}} my comments only</label>
    </p>
    <p>
      <label>Since</label>
    {{input type="date" id="sinceDate" value=sinceDate classNames ="noborder no padding"}}
    </p>
  </div>
{{/if}}

<div>
	<form>
		<div id="al_feedback_display" class="al_vertical_stretch">
			{{#each queryErrors as |error|}}
        <p class="error-message">{{error}}</p>
      {{/each}}
      {{#each updateRecordErrors as |error|}}
        <p class="error-message">{{error}}</p>
      {{/each}}

      {{#if showLoadingMessage}}
        Searching for comments. Thank you for your patience.
      {{else}}
      <ul>
				{{#each displayList as |comment|}}
          {{workspace-comment comment=comment currentWorkspace=currentWorkspace reuseComment=(action "reuseComment") deleteComment=(action "deleteComment")}}
          {{!partial "../comments/comment"}}
          {{else}}
          <p class="placeholder">No comments made yet.</p>
				{{/each}}
			</ul>
      {{/if}}
		</div>
	</form>
	<!--div class="al_general" title="Enable to add feedback unassociated with a selection">
		<input type="checkbox" name="general"> General Comment
	</div-->
</div>

