<div class="comments-group-1">
<header>
  <h2>Comments</h2>
  <span {{action "hideComments"}}><i title="Hide Comments"class="far fa-eye-slash"></i></span>
</header>

<div class="label-select {{newCommentLabel}}">
  {{my-select content=labelOptions cannotBeNull=true selectedValue=newCommentLabel action=(action (mut newCommentLabel))}}
</div>
<div class="compose-comment">
  {{#if canComment}}
      {{textarea tabindex=1 id="commentTextarea" classBinding="onSelection" placeholder=newCommentPlaceholder value=newComment autofocus="autofocus"}}
    {{else}}
      <p class="error-message">You do not have permisssion to make comments for this workspace</p>
    {{/if}}
    {{#if onSelection}}
      <div class="submit-buttons">
        <button class="primary-button cancel-button" {{action "cancelComment"}}>Cancel</button>
        <button class="primary-button save" {{action "madeSelection"}}>Save</button>
      </div>
    {{/if}}
</div>

  <div class="comment-flex-row">
    <div class="comment-flex-item filter">
      <span class="filter-label">Filter</span><i class="fas fa-filter"></i>
      <span class="hover-menu checkbox">
        <ul>
          {{#each-in filterOptions as  |option values|}}
            <li>
              <label>
                <input type="checkbox" checked={{values.isChecked}} name={{option}} onclick={{action "updateFilter" option}}>
                <span>
                  <span class="radio-text">{{values.label}}</span>
                </span>
              </label>
            </li>
          {{/each-in}}
          <li>
            <label>
              <input type="checkbox" checked={{doUseSinceDate}} name="doUseSinceDate" onclick={{action "updateFilter" "doUseSinceDate"}}>
              <span>
                <span class="radio-text">Since</span>
                {{input type="text" placeholder="mm/dd/yyyy" value=sinceDate}}
                {{#if showApplyDate}}
                  <button {{action "applySinceDate"}}>Apply</button>
                {{/if}}
              </span>
            </label>
          </li>
        </ul>
      </span>
    </div>
    <div class="comment-flex-item search">
  {{search-bar
    onSearch=(action "searchComments")
    basePlaceholder="Search all comments"
    inputValue=commentFilterText
    doSearchOnInputChange=true
    doDebounce=true
    constraints=searchConstraints
  }}
</div>
  </div>


  {{#each createRecordErrors as |error|}}
    <p class="error-message">{{error}}</p>
  {{/each}}
	<div class="clear"></div>
 {{#if showResultsDescription}}
    <div class="results-message">
      {{resultsDescription}}
    </div>
{{/if}}
</div>
  <div id="al_feedback_display" class="display-list">
    {{#each queryErrors as |error|}}
      <p class="error-message">{{error}}</p>
    {{/each}}
    {{#each updateRecordErrors as |error|}}
      <p class="error-message">{{error}}</p>
    {{/each}}
    {{#if invalidDateError}}
      {{error-box error=invalidDateError showDismiss=true resetError=(action (mut invalidDateError) null)}}
    {{/if}}
    {{#if showLoadingMessage}}
      Searching for comments. Thank you for your patience.
    {{else}}
    <ul>
      {{#each displayList as |comment|}}
        {{workspace-comment wsComments=comments comment=comment currentWorkspace=currentWorkspace reuseComment=(action "reuseComment") deleteComment=(action "deleteComment")}}
        {{else}}
        <p class="info">{{emptyResultsMessage}}</p>
      {{/each}}
    </ul>
    {{pagination-control details=commentsMetadata initiatePageChange=(action "initiatePageChange")}}

    {{/if}}
  </div>

