{{#unless user.isStudent}}
{{#if yourSections}}
<h2 class="header-home">{{#link-to 'assignments.home'}}My Class' Work{{/link-to}}</h2>
<table class="max-width">
  <tr>
    <td>
      <div class="table-m">
        <table class="max-width">
          <tr id="blue">
            <th>Problem</th>
            {{!-- <th>{{toggle-control
            classToAdd="sort-bar-item name"
            onUpdate=(action "updateSortCriterion")
            initialState=1
            options=sortOptions.name
            label="Problem"
            parentProp=sortCriterion
            type="name"
            activeType=sortCriterion.type}}</th> --}}
            <th>{{toggle-control
            classToAdd="sort-bar-item name"
            onUpdate=(action "updateSortCriterion")
            initialState=0
            options=sortOptions.classes
            label="Class"
            parentProp=sortCriterion
            type="classes"
            activeType=sortCriterion.type}}</th>
            <th>Date Assigned</th>
            <th>Date Due</th>
            <th>Submissions</th>

            {{!-- <th>{{toggle-control
            classToAdd="sort-bar-item name"
            onUpdate=(action "updateSortCriterion")
            initialState=0
            options=sortOptions.name
            label="Date Assigned"
            parentProp=sortCriterion
            type="name"
            activeType=sortCriterion.type}}</th>
            <th>{{toggle-control
            classToAdd="sort-bar-item name"
            onUpdate=(action "updateSortCriterion")
            initialState=0
            options=sortOptions.name
            label="Date Due"
            parentProp=sortCriterion
            type="name"
            activeType=sortCriterion.type}}</th>
            <th>{{toggle-control
            classToAdd="sort-bar-item name"
            onUpdate=(action "updateSortCriterion")
            initialState=0
            options=sortOptions.name
            label="Submissions"
            parentProp=sortCriterion
            type="name"
            activeType=sortCriterion.type}}</th> --}}
          </tr>
        </table>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="dash-problems al_body resize" style="max-height:{{tableHeight}};">
        <table class="max-width">
          {{#each sortedClasses as |section|}}
          {{#each section.assignments as |assignment|}}
          <tr>
            {{#if assignment.problem.title}}
              <td>
                  {{#link-to 'assignment' assignment.assignmentId
                  classNames='link'}}
                    {{assignment.problem.title}}
                  {{/link-to}}
              </td>
            {{else}}
              <td>N/A</td>
            {{/if}}
            <td>{{#link-to 'section' section.id classNames='link'}}{{section.name}}{{/link-to}}</td>
            <td>{{format-date assignment.assignedDate 'MMM Do YYYY' }}</td>
            <td>{{format-date assignment.dueDate 'MMM Do YYYY' }}</td>
            {{#if assignment.answers.content.currentState.length}}
            <td>Submissions: ({{assignment.answers.content.currentState.length}})</td>
            {{else}}
            <td>No submissions</td>
            {{/if}}
          </tr>
          {{/each}}
          {{/each}}
        </table>
      </div>
    </td>
  </tr>
</table>
{{/if}}
{{/unless}}
