<table cellspacing="0" cellpadding="0" border="0" width="100%">
  <tr>
    <td>
      <div style="width:100%; overflow:auto;">
      <table cellspacing="1" cellpadding="1" border="1" width="100%">
        <tr id="blue">
          <th>Problem</th>
          <th>Class</th>
          <th>Date Assigned</th>
          <th>Date Due</th>
          <th>Status</th>
        </tr>
      </table>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="dash-problems" style="width:100%; height:80px; overflow:auto;">
        <table cellspacing="0" cellpadding="1" border="1" width="100%">
          {{#each yourList as |assignment|}}
          <tr>
            <td>{{#link-to 'assignment' assignment.id classNames='assignment-new-link'}}{{assignment.name}}{{/link-to}}</td>
            <td>{{#link-to 'section' assignment.section.sectionId}}{{assignment.section.name}}{{/link-to}}</td>
            <td>{{format-date assignment.assignedDate 'MMM Do YYYY' }}</td>
            <td>new item</td>
            <td>new item</td>
          </tr>
          {{/each}}
        </table>
      </div>
    </td>
  </tr>
</table>

{{!-- <section class="list-side">
  <header class="list-header">
    <h1>Assignments</h1>
    {{#unless currentUser.isStudent}}
    {{#link-to 'assignments.new' id='assignment-new-btn' class="new-link-btn"}}<span>Create Assignment</span><i
      class="fas fa-plus"></i>{{/link-to}}
    {{/unless}}
    <div class="clear"></div>
  </header>

  <section>
    <nav class="list-box">
      {{#unless currentUser.isStudent}}
      <h2>{{currentUser.username}}'s Assignments</h2>
      <ul class="your-assignments">
        {{#if yourList}}
        {{#each yourList as |assignment|}}
        {{#if assignment.name}}
        <li>{{#link-to 'assignment' assignment.id classNames='assignment-new-link'}}{{assignment.name}}{{/link-to}}</li>
        {{else}}
        <li>{{#link-to 'assignment' assignment.id classNames='assignment-new-link'}}{{assignment.problem.title}} /
          {{format-date assignment.assignedDate 'MMM Do YYYY' }}{{/link-to}}</li>
        {{/if}}
        {{/each}}
        {{else}}
        <li>You have no assignments yet</li>
        {{/if}}
      </ul>
      {{/unless}}
      {{#if currentUser.isStudent}}
      <h2>{{currentUser.username}}'s Assignments</h2>
      <ul class="your-assignments">
        {{#if assignmentList}}
        {{#each assignmentList as |assignment|}}
        {{#if assignment.name}}
        <li>{{#link-to 'assignment' assignment.id classNames='assignment-new-link'}}{{assignment.name}}{{/link-to}}</li>
        {{else}}
        <li>{{#link-to 'assignment' assignment.id classNames='assignment-new-link'}}{{assignment.problem.title}} /
          {{format-date
          assignment.assignedDate 'MMM Do YYYY' }}{{/link-to}}</li>
        {{/if}}
        {{/each}}
        {{else}}
        <li>You have no assignments yet</li>
        {{/if}}
      </ul>
      {{/if}}
      {{#if currentUser.isAdmin}}
      <h2>All Assignments</h2>
      <ul class="admin-assignments">
        {{#if adminList}}
        {{#each adminList as |assignment|}}
        {{#if assignment.name}}
        <li>{{#link-to 'assignment' assignment.id classNames='assignment-new-link'}}{{assignment.name}}{{/link-to}}</li>
        {{else}}
        <li>{{#link-to 'assignment' assignment.id classNames='assignment-new-link'}}{{assignment.problem.title}} /
          {{format-date
          assignment.assignedDate 'MMM Do YYYY' }}{{/link-to}}</li>
        {{/if}}
        {{/each}}
        {{else}}
        <li>There are no assignments yet</li>
        {{/if}}
      </ul>
      {{/if}}
      {{#if currentUser.isPdAdmin}}
      <h2>{{currentUser.organization.name}} Assignments</h2>
      <ul class="pd-assignments">
        {{#if pdList}}
        {{#each pdList as |assignment|}}
        {{#if assignment.name}}
        <li>{{#link-to 'assignment' assignment.id classNames='assignment-new-link'}}{{assignment.name}}{{/link-to}}</li>
        {{else}}
        <li>{{#link-to 'assignment' assignment.id classNames='assignment-new-link'}}{{assignment.problem.title}} /
          {{format-date
          assignment.assignedDate 'MMM Do YYYY' }}{{/link-to}}</li>
        {{/if}}
        {{/each}}
        {{else}}
        <li>There are no assignments yet</li>
        {{/if}}
      </ul>
      {{/if}}
    </nav>
  </section>
</section>

<div class="list-outlet">
  {{outlet}}
</div>

<div class="clear" /> --}}
