{{#unless user.isStudent}}
{{#if sortedClasses}}
<h2 class="header-home">{{#link-to 'assignments'}}My Class' Work{{/link-to}}</h2>
<table class="max-width">
  <tr>
    <td>
      <div class="table-m">
        <table class="max-width">
          <tr id="blue-class">
            <th>{{toggle-control
            classToAdd="sort-bar-item name"
            onUpdate=(action "updateSortCriterion")
            initialState=0
            options=sortOptions.name
            label="Problem"
            parentProp=sortCriterion
            type="name"
            activeType=sortCriterion.type}}</th>

            <th>{{toggle-control
            classToAdd="sort-bar-item name"
            onUpdate=(action "updateSortCriterion")
            initialState=0
            options=sortOptions.classes
            label="Class"
            parentProp=sortCriterion
            type="classes"
            activeType=sortCriterion.type}}</th>

            <th>{{toggle-control
            classToAdd="sort-bar-item name"
            onUpdate=(action "updateSortCriterion")
            initialState=0
            options=sortOptions.assignedDate
            label="Date Assigned"
            parentProp=sortCriterion
            type="assignedDate"
            activeType=sortCriterion.type}}</th>

            <th>{{toggle-control
            classToAdd="sort-bar-item name"
            onUpdate=(action "updateSortCriterion")
            initialState=0
            options=sortOptions.dueDate
            label="Date Due"
            parentProp=sortCriterion
            type="dueDate"
            activeType=sortCriterion.type}}</th>

            <th>{{toggle-control
            classToAdd="sort-bar-item name"
            onUpdate=(action "updateSortCriterion")
            initialState=0
            options=sortOptions.submissions
            label="Submissions"
            parentProp=sortCriterion
            type="submissions"
            activeType=sortCriterion.type}}</th>

            <th>{{toggle-control
            classToAdd="sort-bar-item name"
            onUpdate=(action "updateSortCriterion")
            initialState=1
            options=sortOptions.createDateAnswer
            label="Submission Date"
            parentProp=sortCriterion
            type="createDateAnswer"
            activeType=sortCriterion.type}}</th>
          </tr>
        </table>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="dash-classes al_body resize" style="max-height:{{calculate-table-height sortedClasses.length}};">
        <table class="max-width">
          {{#each sortedClasses as |assignment|}}
          <tr>
            {{#if assignment.problem.title}}
              <td>
                  {{#link-to 'assignment' assignment.assignmentId
                  classNames='link'}}
                    {{{assignment.problem.title}}}
                  {{/link-to}}
              </td>
            {{else}}
              <td>N/A</td>
            {{/if}}
            <td>{{#link-to 'sections.section' assignment.section.sectionId classNames='link'}}{{assignment.section.name}}{{/link-to}}</td>
            <td>{{format-date assignment.assignedDate 'MMM Do YYYY' }}</td>
            <td>{{format-date assignment.dueDate 'MMM Do YYYY' }}</td>
            {{#if assignment.answers.content.currentState.length}}
            <td>Submissions: ({{assignment.answers.content.currentState.length}})</td>
            {{else}}
            <td>No submissions</td>
            {{/if}}
            <td>{{format-date assignment.createDateAnswer 'MMM Do YYYY'}}</td>
          </tr>
          {{/each}}
        </table>
      </div>
    </td>
  </tr>
</table>
{{/if}}
{{/unless}}
