{{#if workspaces.length}}
<table class="table-w">
  <tr>
    <td>
      <div class="table-header">
      <table class="table-inner">
        <tr id="ws-table">
          <th>Workspace</th>
          <th>Class</th>
          <th>Student Name</th>
          <th>Date Assigned</th>
          <th>Date Due</th>
          <th>Status</th>
        </tr>
      </table>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="dash-workspaces al_body">
        <table class="table-inner">
          {{#each workspaces.content as |workspace|}}
          {{log workspace workspace._data}}
          <tr>
            <td>{{#link-to 'workspace.work' workspace.id classNames='link'}}{{workspace._data.name}}{{/link-to}}</td>
            <td>{{#link-to 'section' workspace.linkedAssignment.section.sectionId classNames='link'}}{{workspace.linkedAssignment.section.name}}{{/link-to}}</td>
            <td>Student Name Here</td>
            <td>{{format-date workspace.linkedAssignment.assignedDate 'MMM Do YYYY' }}</td>
            <td>{{format-date workspace.linkedAssignment.dueDate 'MMM Do YYYY' }}</td>
            {{#if workspace._data.submissionsLength}}
                <td>Submissions: ({{workspace._data.submissionsLength}})</td>
              {{else}}
                <td>No submissions</td>
            {{/if}}
          </tr>
          {{/each}}
        </table>
      </div>
    </td>
  </tr>
</table>
{{/if}}
