  <tr>
    <td>{{#link-to 'workspace.work' workspace.id classNames='link'}}{{workspace.name}}{{/link-to}}</td>
    {{#if myAssignment.section.name}}
    <td>{{#link-to 'section' myAssignment.section.sectionId
      classNames='link'}}{{myAssignment.section.name}}{{/link-to}}</td>
    {{else}}
    <td>N/A</td>
    {{/if}}
    <td>{{workspace.owner.username}}</td>
    <td>{{format-date myAssignment.assignedDate 'MMM Do YYYY' }}</td>
    <td>{{format-date myAssignment.dueDate 'MMM Do YYYY' }}</td>
    {{#if workspace.submissionsLength}}
    <td>Submissions: ({{workspace.submissionsLength}})</td>
    {{else}}
    <td>No submissions</td>
    {{/if}}
  </tr>


