{{#if sortedProblems.length}}
  <LinkTo @route='assignments'>
    <h2 class='header-home'>Problems to Solve</h2>
  </LinkTo>

  <table class='max-width'>
    <tr>
      <td>
        <div class='table-m'>
          <table class='max-width'>
            <tr id='blue'>
              <th>{{toggle-control
                  classToAdd='sort-bar-item name'
                  onUpdate=(action 'updateSortCriterion')
                  initialState=0
                  options=sortOptions.name
                  label='Problem'
                  parentProp=sortCriterion
                  type='name'
                  activeType=sortCriterion.type
                }}</th>
              {{#unless user.isStudent}}
                <th>{{toggle-control
                    classToAdd='sort-bar-item name'
                    onUpdate=(action 'updateSortCriterion')
                    initialState=0
                    options=sortOptions.class
                    label='Class'
                    parentProp=sortCriterion
                    type='class'
                    activeType=sortCriterion.type
                  }}</th>
              {{/unless}}
              <th>{{toggle-control
                  classToAdd='sort-bar-item name'
                  onUpdate=(action 'updateSortCriterion')
                  initialState=0
                  options=sortOptions.assignedDate
                  label='Date Assigned'
                  parentProp=sortCriterion
                  type='assignedDate'
                  activeType=sortCriterion.type
                }}</th>
              <th>{{toggle-control
                  classToAdd='sort-bar-item name'
                  onUpdate=(action 'updateSortCriterion')
                  initialState=0
                  options=sortOptions.dueDate
                  label='Date Due'
                  parentProp=sortCriterion
                  type='dueDate'
                  activeType=sortCriterion.type
                }}</th>
              <th>{{toggle-control
                  classToAdd='sort-bar-item name'
                  onUpdate=(action 'updateSortCriterion')
                  initialState=1
                  options=sortOptions.status
                  label='Status'
                  parentProp=sortCriterion
                  type='status'
                  activeType=sortCriterion.type
                }}</th>
            </tr>
          </table>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div
          class='dash-problems al_body resize'
          style='max-height:{{calculate-table-height sortedProblems.length}};'
        >
          <table class='max-width'>
            {{#each sortedProblems as |assignment|}}
              <tr>

                <LinkTo @route='assignments.assignment'>
                  <td class='header-home'>{{assignment.name}}</td>
                </LinkTo>
                {{#unless user.isStudent}}
                  <LinkTo
                    @route='sections.section'
                    @model={{assignment.section.id}}
                    class='link'
                  >
                    {{assignment.section.name}}
                  </LinkTo>

                {{/unless}}

                <td>{{format-date assignment.assignedDate 'MMM Do YYYY'}}</td>
                <td>{{format-date assignment.dueDate 'MMM Do YYYY'}}</td>
                {{#if assignment.answers.content.currentState.length}}
                  <td>Submissions: ({{assignment.answers.content.currentState.length}})</td>
                {{else}}
                  <td>No submissions</td>
                {{/if}}
              </tr>
            {{/each}}
          </table>
        </div>
      </td>
    </tr>
  </table>
{{/if}}