<table cellspacing="0" cellpadding="0" border="0" width="100%">
  <tr>
    <td>
      <div style="width:100%; overflow:auto;">
      <table cellspacing="1" cellpadding="1" border="1" width="100%">
        <tr id="blue">
          <th>Problem</th>
          <th>Class</th>
          <th>Date Assigned</th>
          <th>Date Due</th>
          <th>Status</th>
        </tr>
      </table>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="dash-problems al_body" style="width:100%; height:80px; overflow:auto;">
        <table cellspacing="0" cellpadding="1" border="1" width="100%">
          {{#each this.yourList as |assignment|}}
          <tr>
            <td><LinkTo @route="assignments.assignment" @model={{assignment.id}} @classNames="link">{{assignment.name}}</LinkTo></td>
            <td><LinkTo @route="sections.section" @model={{assignment.section.id}} @classNames="link">{{assignment.section.name}}</LinkTo></td>
            <td>{{format-date assignment.assignedDate 'MMM Do YYYY' }}</td>
            <td>{{format-date assignment.dueDate 'MMM Do YYYY' }}</td>
            {{#if assignment.answers.content.currentState.length}}
                <td>Submissions: ({{assignment.answers.content.currentState.length}})</td>
              {{else}}
                <td>No submissions</td>
            {{/if}}
          </tr>
          {{/each}}
        </table>
      </div>
    </td>
  </tr>
</table>
