{{#if workspaces.length}}
<table cellspacing="0" cellpadding="0" border="0" width="100%">
  <tr>
    <td>
      <div style="width:100%; overflow:auto;">
      <table cellspacing="1" cellpadding="1" border="1" width="100%">
        <tr id="ws-table">
          <th>Workspace</th>
          <th>Class</th>
          <th>Student Name</th>
          <th>Date Assigned</th>
          <th>Date Due</th>
          <th>Status</th>
        </tr>
      </table>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="dash-workspaces al_body" style="width:100%; height:80px; overflow:auto;">
        <table cellspacing="0" cellpadding="1" border="1" width="100%">
          {{#each workspaces.content as |workspace|}}
          {{log "hello kitty" workspace._data.linkedAssignment.name}}
          <tr>
            <td>{{#link-to 'workspace.work' workspace.id classNames='link'}}{{workspace._data.name}}{{/link-to}}</td>
            <td>{{#link-to 'section' workspace.linkedAssignment.section.sectionId classNames='link'}}{{workspace.linkedAssignment.section.name}}{{/link-to}}</td>
            <td>Student Name Here</td>
            <td>{{format-date workspace.linkedAssignment.assignedDate 'MMM Do YYYY' }}</td>
            <td>{{format-date workspace.linkedAssignment.dueDate 'MMM Do YYYY' }}</td>
            {{#if workspace._data.submissionsLength}}
                <td>Submissions: ({{workspace._data.submissionsLength}})</td>
              {{else}}
                <td>No submissions</td>
            {{/if}}
          </tr>
          {{/each}}
        </table>
      </div>
    </td>
  </tr>
</table>
{{/if}}
