{{#if sortedProblems.length}}
<h2 class="header-home">{{#link-to 'assignments'}}Problems to Solve{{/link-to}}</h2>
  <table class="max-width">
    <tr>
      <td>
        <div class="table-m">
        <table class="max-width">
          <tr id="blue">
            <th>{{toggle-control
            classToAdd="sort-bar-item name"
            onUpdate=(action "updateSortCriterion")
            initialState=0
            options=sortOptions.name
            label="Problem"
            parentProp=sortCriterion
            type="name"
            activeType=sortCriterion.type}}</th>
            {{#unless user.isStudent}}
            <th>{{toggle-control
            classToAdd="sort-bar-item name"
            onUpdate=(action "updateSortCriterion")
            initialState=0
            options=sortOptions.class
            label="Class"
            parentProp=sortCriterion
            type="class"
            activeType=sortCriterion.type}}</th>
            {{/unless}}
            <th>{{toggle-control
            classToAdd="sort-bar-item name"
            onUpdate=(action "updateSortCriterion")
            initialState=0
            options=sortOptions.assignedDate
            label="Date Assigned"
            parentProp=sortCriterion
            type="assignedDate"
            activeType=sortCriterion.type}}</th>
            <th>{{toggle-control
            classToAdd="sort-bar-item name"
            onUpdate=(action "updateSortCriterion")
            initialState=0
            options=sortOptions.dueDate
            label="Date Due"
            parentProp=sortCriterion
            type="dueDate"
            activeType=sortCriterion.type}}</th>
            <th>{{toggle-control
            classToAdd="sort-bar-item name"
            onUpdate=(action "updateSortCriterion")
            initialState=1
            options=sortOptions.status
            label="Status"
            parentProp=sortCriterion
            type="status"
            activeType=sortCriterion.type}}</th>
          </tr>
        </table>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="dash-problems al_body resize" style="max-height:{{tableHeight}};">
          <table class="max-width">
            {{#each sortedProblems as |assignment|}}
            {{log assignment}}
            <tr>
              <td>{{#link-to 'assignment' assignment.id classNames='link'}}{{assignment.name}}{{/link-to}}</td>
              {{#unless user.isStudent}}
              <td>{{#link-to 'section' assignment.section.sectionId classNames='link'}}{{assignment.section.name}}{{/link-to}}</td>
              {{/unless}}
              <td>{{format-date assignment.assignedDate 'MMM Do YYYY' }}</td>
              <td>{{format-date assignment.dueDate 'MMM Do YYYY' }}</td>
              {{#if assignment.answers.content.currentState.length}}
                  <td>Submissions: ({{assignment.answers.content.currentState.length}})</td>
                {{else}}
                  <td>No submissions</td>
              {{/if}}
            </tr>
            {{/each}}
          </table>
        </div>
      </td>
    </tr>
  </table>
{{/if}}
