<li>
  <h3>
    {{label}}
    {{#if doShowRemoveIcon}}
      <i {{action "editValue" }} class="far fa-edit" aria-hidden="true" title="Edit"></i>
    {{/if}}
  </h3>
  <p class="display-info">{{displayValue}}</p>
  {{#if children}}
    <ul>
      {{#each children as |child|}}
        <li>{{child.label}}</li>
        <li>{{child.displayValue}}</li>
      {{/each}}
    </ul>
  {{/if}}
</li>

