<div
  class='selectionLink
    {{if this.isImage "image-tag"}}
    {{if this.isSelected "is-selected"}}'
  title='{{this.titleText}} {{if this.isParentWorkspace " by "}} {{if
    this.isParentWorkspace
    this.selection.createdBy.username
  }}'
>

  <LinkTo
    @route='workspace.submissions.submission.selections.selection'
    @models={{array
      this.selection.workspace.id
      this.selection.submission.id
      this.selection.id
    }}
    @class={{this.linkToClassName}}
  >
    {{#if this.isImage}}
      <img
        class='img-tag-thmb'
        src={{this.selection.imageTagLink}}
        alt={{this.selection.text}}
      />
      <div class='overlay'>
        <button type='button' {{on 'click' this.expandImage}}><i
            class={{this.overlayIcon}}
          ></i></button>
      </div>
    {{else}}
      {{this.selection.text}}
    {{/if}}
  </LinkTo>
  {{#unless this.isImage}}
    <span {{on 'click' (fn this.deleteSelection this.selection)}}><i
        class='fas fa-minus-circle'
      ></i></span>
  {{/unless}}
</div>
{{#if this.isImage}}
  <div class='selection-actions'>
    {{#if this.canDelete}}
      <span {{on 'click' (fn this.deleteSelection this.selection)}}><i
          class='fas fa-minus-circle'
        ></i></span>
    {{/if}}
  </div>
{{/if}}
{{#if this.isExpanded}}
  <div class='full-image'>
    <i class='fas fa-times' {{on 'click' this.expandImage}}></i>
    <img src={{this.selection.imageTagLink}} alt={{this.selection.text}} />
  </div>
{{/if}}