<div class= "control-box">
  <div class="filter-by">
    <h5>Filter</h5>
  <ul class="filter-options">
    <li>
      <label for="mine">Mine</label>
      {{input id="mine" type="checkbox" checked=filter.mine change=(action "updateFilter")}}

    </li>
    <li>
      <label for="everyone">Public</label>
      {{input id="everyone" checked=filter.everyone change=(action "updateFilter") type="checkbox" }}

    </li>
    <li>
      <label for="organization">Org</label>
      {{input id="organization" type="checkbox" checked=filter.organization change=(action "updateFilter")}}
    </li>
    {{#if currentUser.isAdmin}}
      <li>
        <label for="unshared">Private</label>
        {{input id="unshared" type="checkbox" checked=filter.unshared change=(action "updateFilter")}}
      </li>
      <li>
        <label for="private-pows">Private PoWs</label>
        {{input id="privatePows" type="checkbox" checked=filter.privatePows change=(action "updateFilter")}}
      </li>
    {{/if}}
  </ul>
  </div>

  <div class="sort-by">
    <h5>Sort By</h5>
    {{my-select
      content=sortOptions
      optionLabelPath="name"
      cannotBeNull=true
      selectedValue=sortCriterion
      action=(action "updateSortCriterion")
    }}
  </div>

</div>
{{!-- {{#if doFilterByCategories}}
  <div class="cat-filter">
    <h5>Add Categories</h5>
    {{twitter-typeahead onSelect="addCategory" selectedItems=selectedCategories optionLabelPath="identifier" allowMultiple=true placeholder="Identifier..." isAsync=true sourceFunction=addCategoriesTypeahead}}
    <ul class="cat-filter-list">
      {{#each selectedCategories as |category|}}
        <li><p>{{category.identifier}}</p><i {{action "removeCategory" category}} class="far fa-times-circle"></i></li>
      {{/each}}
    </ul>
  </div>
  {{/if}} --}}


