<div class= "control-box">
  <h5>Filter</h5>
  <ul class="filter-options">
    <li>
      <label for="mine">Mine</label>
      {{input id="mine" type="checkbox" checked=filter.mine }}

    </li>
    <li>
      <label for="public">Public</label>
      {{input id="public" checked=filter.public type="checkbox" }}

    </li>
    <li>
      <label for="organization">Org</label>
      {{input id="organization" type="checkbox" checked=filter.organization}}
    </li>
    {{#if currentUser.isAdmin}}
      <li>
        <label for="private">Private</label>
        {{input id="private" type="checkbox" checked=filter.private}}
      </li>
      <li>
        <label for="pows">PoWs</label>
        {{input id="pows" type="checkbox" checked=filter.pows}}
      </li>
    {{/if}}
  </ul>
</div>


