{{! TODO: restore the functionlaity of the view WorkspaceFolderDropTarget stuff, see the old ../folders.hbs}}
<header>
  <h2>Folders</h2>
  <span {{action "hideFolders"}}><i title="Hide Folders"class="far fa-eye-slash"></i></span>
</header>
{{#workspace-folder-drop folders=folders}}
  <div class="dropZone" style="height:10px;"></div>
  <ul id="al_folders">
    {{#each this.sortedFolders as |folder|}}
      {{folder-elem
        store=store
        model=folder
        currentWorkspace=workspace
        folderList=this
        editFolderMode=editFolderMode
        dropped=(action "fileSelectionInFolder")
        confirm="askToDelete"
        currentSubmission=currentSubmission
        currentSelection=currentSelection
        canEditFolders=canEdit
        canDeleteFolders=canDelete
        wsTaggings=taggings
      }}
    {{/each}}
  </ul>
  <div class="dropZone" style="height:10px;"></div>
{{/workspace-folder-drop}}
{{#if canManageFolders}}
  <div id="al_folders_modify">
    <table>
      <tr>
        <td>
          <span {{action 'openModal' 'folderNew'}} class="al_sprite al_add_folder"></span>
        </td>
        <td style="border-left:1px solid #d3d3d3;">
          {{#if editFolderMode}}
            <span {{action 'cancelEditFolderMode'}} class="al_sprite al_remove_folder al_cancel"></span>
          {{else}}
            <span {{action 'activateEditFolderMode'}} class="al_sprite al_remove_folder"></span>
          {{/if}}
        </td>
      </tr>
    </table>
  </div>
{{/if}}
