{{! TODO: restore drag an drop, see original ../folder.hbs}}
<div class="folder draggable">
		{{#if this.editFolderMode}}
		  {{#if canEditFolders}}
				<div class="move-folder">
						{{#if model.parent}}
							<span {{action 'moveOut' model target=folderList}} class="al_wtf move_left"></span>
						{{/if}}
					<span {{action 'moveUp' model target=folderList}} class="al_wtf move_up"></span>
					<span {{action 'moveDown' model target=folderList}} class="al_wtf move_down"></span>
				</div>
			{{/if}}
			{{#if canDeleteFolder}}
				<div class="delete-folder">
					<span {{action 'confirmDelete'}} data-test="trash-{{model.name}}"><i class="fas fa-trash"></i></span>
				</div>
			{{/if}}
			{{#if canEditFolder}}
				<div class="edit-folder-name">
					{{input value=model.name focus-out='editFolderName'}}
				</div>
			{{/if}}
			{{#each updateRecordErrors as |error|}}
    		<p class="error-message">{{error}}</p>
  		{{/each}}
		{{else}}
      <span class="toggle-icon {{if model.sortedChildren.length 'branch' 'leaf'}}" {{action 'toggle'}}>
        {{#if model.isExpanded}}
					<span class="folder-expanded"><i class="far fa-folder-open"></i></span>
        {{else}}
					<span class="folder-closed"><i class="far fa-folder"></i></span>
        {{/if}}
				<span  title={{model.name}} class="folder-name {{if containsCurrentSubmission 'bolder'}}">{{model.name}}</span>
			</span>
		  <aside>
				<button style="display:none" id="updateTaggings{{this.model.id}}" {{action 'updateTaggings'}}></button>
				{{#each queryErrors as |error|}}
					<p class="error-message">{{error}}</p>
				{{/each}}

				<div class="show-folder"{{action 'openLink'}} class="{{if containsCurrentSubmission 'contains-current-submission'}} {{if hasManyTaggings "many-taggings"}} {{if containsCurrentSelection "contains-current-selection"}}" title={{selectionsTitle}}>
					{{model.childSelections.length}}
				</div>
		  </aside>
		{{/if}}
</div>
{{#if model.isExpanded}}
    <ul class="subfolders">
      {{#each model.sortedChildren as |folder|}}
        {{folder-elem
					store=store
					model=folder
					currentWorkspace=currentWorkspace
					folderList=folderList
					editFolderMode=editFolderMode
					putInFolder=putInFolder
					dropped=dropped
					canEditFolders=canEditFolders
      		canDeleteFolders=canDeleteFolders
					wsTaggings=wsTaggings
					currentSubmission=currentSubmission
					currentSelection=currentSelection
				}}
      {{/each}}
    </ul>
{{/if}}
