{{! TODO: restore drag an drop, see original ../folder.hbs}}
<div class="folder draggable">
		{{#if this.editFolderMode}}
		  {{#if canEditFolders}}
				{{#if model.parent}}
        	<span {{action 'moveOut' model target=folderList}} class="al_wtf move_left"></span>
      	{{/if}}
		  <span {{action 'moveUp' model target=folderList}} class="al_wtf move_up"></span>
		  <span {{action 'moveDown' model target=folderList}} class="al_wtf move_down"></span>
                              {{! Need to send askToDelete action to folder-list to confirm deletion }}
			{{/if}}
			{{#if canDeleteFolder}}
				<span {{action 'confirmDelete'}} class="al_sprite al_folder al_remove"></span>
			{{/if}}
			{{#if canEditFolder}}
      	{{input value=model.name focus-out='editFolderName' size=10}}
			{{/if}}
			{{#each updateRecordErrors as |error|}}
    		<p class="error-message">{{error}}</p>
  		{{/each}}
		{{else}}
      <span class="toggle-icon {{if model.sortedChildren.length 'branch' 'leaf'}}" {{action 'toggle'}}>
        {{#if model.isExpanded}}
					<span class="folder-expanded"><i class="far fa-folder-open"></i></span>
        {{else}}
					<span class="folder-closed"><i class="far fa-folder"></i></span>
        {{/if}}
				{{model.name}}
			</span>
		  <aside>
				<button style="display:none" id="updateTaggings{{this.model.id}}" {{action 'updateTaggings'}}></button>
				{{#each queryErrors as |error|}}
					<p class="error-message">{{error}}</p>
				{{/each}}

				<div class="show-folder"{{action 'openLink'}} class="{{if containsCurrentSelection 'contains-current-selection'}}" title="number of selections filed in this folder">
					{{model.childSelections.length}}
				</div>
		  </aside>
		{{/if}}
</div>
{{#if model.isExpanded}}
    <ul class="subfolders">
      {{#each model.sortedChildren as |folder|}}
        {{folder-elem store=store model=folder currentWorkspace=currentWorkspace folderList=folderList editFolderMode=editFolderMode putInFolder=putInFolder dropped=dropped
				canEditFolders=canEditFolders
      	canDeleteFolders=canDeleteFolders
				wsTaggings=wsTaggings
				}}
      {{/each}}
    </ul>
{{/if}}
