<div class="forgot-box">
  <img src="../assets/images/logo-encompass.png" class="encompass-logo" alt="encompass logo">
  <p class="info">Please provide your email address or username associated with your EnCoMPass account</p>
  <form class="form-forgot">
    <div class="auth-form-input">
      <label for="email">Email Address</label>
      <Input class="form-control" @name="email" @id="email" required={{true}} @type="email" @value={{email}}
        {{on "keydown" this.resetMessages}} />

      {{#if isEmailInvalid}}
      <p class="error-message">Invalid email address</p>
      {{/if}}
    </div>
    <p class="or">or</p>
    <div class="auth-form-input">
      <label for="username">Username</label>
      <Input class="form-control" @name="username" @id="username" required={{true}} @type="username" @value={{username}}
        {{on "keydown" this.resetMessages}} />

      {{#if forgotPasswordErr}}
      <p class="error-message">{{forgotPasswordErr}}</p>
      {{/if}}
      {{#each postErrors as |error|}}
      <p class="error-message">{{error}}</p>
      {{/each}}
      {{#if missingRequiredFields}}
      <p class="error-message">Missing Required Fields</p>
      {{/if}}
      {{#if tooMuchData}}
      <p class="error-message">Please provide only one of username or password.</p>
      {{/if}}
      {{#if resetEmailSent}}
      <p class="success-message">An email with further instructions has been sent to the email address on file.</p>
      {{/if}}
    </div>

    <button id="request-reset-link" class="auth-button" type="submit" {{action 'handleRequest' }}>Request Reset
      Link</button>

  </form>
  <p class="login-link">
    <LinkTo @route="auth.login" @classNames="login-link">Back to Login</LinkTo>
  </p>

</div>