{{#if user.isStudent}}
    <h1>Welcome student, {{user.displayName}}!</h1>
        <h1 class="home__header home--font">My Work Landing Page</h1>
        {{dashboard-assignments-list store=store user=user assignments=assignments}}

        {{dashboard-workspaces-list store=store user=user workspaces=workspaces assignments=assingments}}


{{else}}
  {{#if user.isAuthenticated}}
    <h1 class="home__header">My Work Landing Page</h1>
    <span class="toggle-role" {{action 'showToggleModal' }}>
      <span class="home__header home--link">Problems to Solve (switch to student role)</span>
    </span>

    {{dashboard-workspaces-list store=store user=user workspaces=workspaces assignments=assignments}}

    {{dashboard-classes-list store=store user=user sections=sections assignments=assignments answers=answers}}

    <p class="footer">EnCoMPASS version 2.8.7 last updated on 04/20/2021.</p>
  {{else}}
    <h2>It looks like you are not logged in</h2>
    <p>{{#link-to "auth.login"}}Please login here{{/link-to}}</p>
    <p>{{#link-to "auth.signup"}}New to EnCoMPASS, sign up here{{/link-to}}</p>
  {{/if}}

{{/if}}
