
{{#if user.isStudent}}
  <div>
    <h1>Welcome, {{user.displayName}}!</h1>
  </div>
  {{log user}}

{{else}}
  {{log user}}
 <div id="welcome" class="al_wtf home  header-home">
  {{#if user.isAuthenticated}}
    <h1 class="header-home">My Work Landing Page</h1>
    <h2 class="header-home">{{#link-to 'assignments.home'}}Problems to Solve{{/link-to}}</h2>
      <div class="w-layout-grid grid-1">
        <div id="w-node-3c650c5aa95e-13b3ac15" class="text-block"><strong>Problem</strong></div>
        <div id="w-node-1fc9e12818cc-13b3ac15">
          <a href="#"></a>
        </div>
      </div>
    <h2  class="header-home">{{#link-to 'responses'}}Student Work to Review{{/link-to}}</h2>
    <h2 class="header-home">{{#link-to 'workspaces.index'}}My Class' Work{{/link-to}}</h2>
    <h2 class="header-home">{{#link-to 'responses'}} Mentoring/Approving{{/link-to}}</h2>

    {{!-- <p>	You'll probably want to get started by visiting your <span class="al_link">{{#link-to 'workspaces.index'}}workspaces{{/link-to}}</span>.</p>
    <p><span class="al_link">{{#link-to 'problems'}}Create a Problem{{/link-to}}</span>.</p> --}}
    <p class="footer">EnCoMPASS version 2.1.0 last updated on 01/12/2020.</p>
  {{else}}
    <h2>It looks like you are not logged in</h2>
    <p>Please login <a href="#/auth/login">here</a></p>
    <p>New to EnCoMPASS, sign up <a href="#/auth/signup">here</a></p>
  {{/if}}
</div>

{{/if}}
