<form enctype="multipart/form-data">
   <input multiple={{acceptMultiple}} onchange={{action "updateFiles"}} accept="image/png,image/jpeg,application/pdf" type="file" class="image-upload"/>
   {{#unless hideSubmit}}
   <input type="submit" value="Upload Images" {{action "uploadImages"}}/>
   {{/unless}}
</form>
{{#if missingFilesError}}
  <p class="error-message">Please select files to upload.</p>
{{/if}}

  {{#if uploadResults}}
  <ul>
    {{#each uploadResults as |file|}}
      <li>Uploaded <a href={{file.relativePath}} target="_blank">{{file.filename}}</a> successfully!</li>
    {{/each}}
  </ul>
  {{/if}}