<h3 class="input-label">Match Students</h3>

<div class="flex-container">
  <div class="student-list">
    {{#if selectedSection}}
      <h4 class="section-name">{{selectedSection.name}}</h4>
      {{#each selectedSection.students as |student|}}
        <p class="student-name">{{student.username}}</p>
      {{/each}}
    {{else}}
      <p>No students to match</p>
    {{/if}}
  </div>


  <div class="matching-container">
    {{#each answers as |answer|}}
      {{student-matching-answer answer=answer selectedSection=selectedSection checkStatus=(action "checkStatus")}}
    {{/each}}
  </div>
</div>

<div class="nav-btn-container">
  <button class="primary-button cancel-button" {{action "back"}}>Back</button>
  <button class="primary-button" {{action "next"}}>Next</button>
</div>