<div class="flex-container-full">
  <div class="flex-item-full filter-options collapse" id="filter-list-side">
    <div class="filter-items">
      <h2>Summary</h2>
      <ul class="primary-filter-list">
        {{#each detailsItems as |item|}}
          {{details-list-item
          label = item.label
          displayValue = item.displayValue
          emptyValue = item.emptyValue
          propName = item.propName
          children = item.children
          isArray = item.isArray
          editValue = (action "goToStep")
          associatedStep=item.associatedStep
          currentStep=currentStep.value
          }}
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="flex-item-full list-view">
    <div class="results-list">
      <div class="header">
        <h1>Import Work</h1>
      </div>

      <div class="step-display">
        <div class="container">
          <ul class="progressbar">
            <li class="step-1 active-step">
              <span>Select Problem</span>
            </li>
            <li class="step-2 {{if (greater-equal currentStep.value 2) 'active-step'}}">
              <span>Select Class</span>
            </li>
            <li class="step-3 {{if (greater-equal currentStep.value 3) 'active-step'}}">
              <span>Upload Files</span>
            </li>
            <li class="step-4 {{if (greater-equal currentStep.value 4) 'active-step'}}">
              <span>Match Students</span>
            </li>
            <li class="step-5 {{if (greater-equal currentStep.value 5) 'active-step'}}">
              <span>Review</span>
            </li>
          </ul>
        </div>
      </div>

      <div class="step-content">
        {{#if showSelectProblem}}
          {{import-work-step1 store=store selectedProblem=selectedProblem onProceed=(action "setSelectedProblem")}}
        {{/if}}

        {{#if showSelectClass}}
          {{import-work-step2 store=store selectedSection=selectedSection onBack=(action "changeStep") onProceed=(action "setSelectedSection")}}
        {{/if}}

        {{#if showUploadFiles}}
          {{import-work-step3 store=store uploadedFiles=uploadedFiles selectedProblem=selectedProblem selectedSection=selectedSection onBack=(action "changeStep") onProceed=(action
          "setUploadedFiles")}}
        {{/if}}

        {{#if showMatchStudents}}
          {{import-work-step4 store=store uploadedFiles=uploadedFiles answers=answers selectedProblem=selectedProblem selectedSection=selectedSection onBack=(action "changeStep") onProceed=(action
          "setMatchedStudents")}}
          {{!-- {{ws-copy-permissions submissionsPool=submissionsPool workspace=workspaceToCopy newWsPermissions=newWsPermissions store=store newWsOwner=newWsOwner onProceed=(action "setMatchedStudents") onBack=(action "changeStep")}} --}}
        {{/if}}

        {{#if showReview}}
          {{import-work-step5 store=store uploadedFiles=uploadedFiles answers=answers selectedProblem=selectedProblem selectedSection=selectedSection onBack=(action "changeStep") onProceed=(action
          "setUploadedFiles")}}
          {{!-- {{ws-copy-review showLoadingMessage=showRequestLoading mode=newWsMode owner=newWsOwner name=newWsName workspace=workspaceToCopy onProceed=(action "createCopyRequest") onBack=(action "changeStep") recordCounts=recordCounts}} --}}
        {{/if}}
      </div>

    {{#each findRecordErrors as |error|}}
      {{error-box error=error showDismiss=true}}
    {{/each}}
    {{#each postErrors as |error|}}
      {{error-box error=error showDismiss=true}}
    {{/each}}
    {{#each createAnswerErrors as |error|}}
      {{error-box error=error showDismiss=true}}
    {{/each}}
    </div>
  </div>
</div>

<div class="toggle-filter-menu">
  <button {{action 'toggleMenu'}}><i id="arrow-icon" class="fas fa-chevron-right"></i></button>
</div>


{{!--

  {{#if isMatchingStudents}}
    {{student-matching class="import-matching" selectedSection=selectedSection answers=answers updateAnswer=updateAnswer reviewSubmissions=(action "reviewSubmissions")}}
  {{/if}}

    {{#if isReviewingSubmissions}}
      {{import-review-answers class="import-review" answers=answers uploadAnswers=(action "uploadAnswers") doNotCreateWorkspace=doNotCreateWorkspace isPrivate=isPrivate mode=mode
      folderSets=model.folderSets selectedFolderSet=selectedFolderSet requestedName=requestedName}}
    {{/if}}

    {{#if uploadedAnswers}}
      <div class="upload-results">
        <p class="success-message">uploaded {{uploadedAnswers.length}} submissions successfully</p>
      </div>
    {{/if}}
  </div> --}}

