<div class="import-work-page">
  <header>
    <h2>Import Work</h2>
    <div class="clear"></div>
  </header>
<br>
{{!-- Show help message only if on problem/ section selection phase --}}
{{#if isSelectingImportDetails}}
  <div>
    <p class="help">This is the home for uploading student work that is in the form of images or pdfs. Before you upload your files, we need to know the problem and section that this set of student work belongs to. If you have not already created the problem or section on Encompass, you can create it here.</p>
    <br>
  </div>
{{/if}}
<nav class="import-nav">
  {{#unless isSelectingImportDetails}}
    {{#unless uploadedAnswers}}
    <div class="import-nav-back">
      <button class="import-nav-button" {{action "backToPrevStep" prevStep}}>
        <i class="fas fa-arrow-left"></i>
      </button>
        <label for="back">Back to {{prevStep}}</label>
    </div>
    {{/unless}}
  {{/unless}}
</nav>

<div class="import-page">
  {{import-details class="import-details" selectedProblem=selectedProblem selectedSection=selectedSection uploadedFiles=uploadedFiles isSelectingImportDetails=isSelectingImportDetails editImportDetail=(action "editImportDetail")}}

  {{#if isSelectingImportDetails}}
    <div class="import-prep">
      {{#unless selectedProblem}}
        <div class="import-prep-problem">
          <div class="import-select">
            <p>Please select a problem</p>
            <br>
            {{my-select selectedProblem = selectedProblem content=problems optionLabelPath="title" prompt="Please select a problem" action=(action (mut selectedProblem))}}
            <br>
          </div>

          <p>Or create a new problem <button {{action "toggleNewProblem" }} disabled={{selectedProblem}}>+</button> </p>
          <br>
          {{#if isCreatingNewProblem}}
            {{problem-new class="form-problem" store=store createdProblem= selectedProblem}}
          {{/if}}
        </div>
      {{/unless}}
      <br>

    {{#if selectedProblem}}
      {{#unless selectedSection}}
        <div class="import-prep-section">
          <div class="import-select">
            <p>Please select a section</p>
            <br>
            {{my-select selectedSection = selectedSection content=model.sections optionLabelPath="name" prompt="Please select a section" action=(action (mut selectedSection))}}
          </div>
          <p>Or create a new section <button {{action "toggleNewSection"}}>+</button></p>
          {{#if isCreatingNewSection}}
            {{section-new class="form-section" store=store selectedSection = selectedSection}}
          {{/if}}
        </div>
      {{/unless}}
    {{/if}}

    {{#if selectedSection}}
      {{#unless uploadedFiles}}
        {{#unless readyToMatchStudents}}
          <div class="import-prep-files">
            <p>Please choose files to upload</p>
            {{image-upload class="form-file" filesToBeUploaded = selectedFiles uploadResults = uploadedFiles}}
          </div>
        {{/unless}}
      {{/unless}}
    {{/if}}
    <br>

      {{#if readyToMatchStudents}}
        <div class="proceed">
          <p>Please click continue to proceed to student matching.</p>
          <button {{action "loadStudentMatching"}}>Continue</button>
        </div>
      {{/if}}
    </div>
  {{/if}}

  {{#if isMatchingStudents}}
    {{student-matching class="import-matching" selectedSection=selectedSection answers=answers updateAnswer=updateAnswer reviewSubmissions=(action "reviewSubmissions")}}
  {{/if}}

    {{#if isReviewingSubmissions}}
      {{import-review-answers class="import-review" answers=answers uploadAnswers=(action "uploadAnswers") doCreateWorkspace=doCreateWorkspace isPrivate=isPrivate}}
    {{/if}}

    {{#if uploadedAnswers}}
      <div class="upload-results">
        <p class="success-message">uploaded {{uploadedAnswers.length}} submissions successfully</p>
      </div>
    {{/if}}

    {{#if uploadError}}
      <p class="error-message">{{uploadError}}</p>
    {{/if}}
  </div>
</div>

