<p>Please select a problem</p>
{{my-select selectedProblem = selectedProblem content=model.problems optionLabelPath="title" prompt="Please select a problem" action=(action (mut selectedProblem))}}
{{#unless selectedProblem}}
<p>Or create a new problem <button {{action "toggleNewProblem" }} disabled={{selectedProblem}}>+</button> </p>

{{#if isCreatingNewProblem}}
  {{problem-new selectedProblem = selectedProblem}}
{{/if}}
{{/unless}}

{{#if selectedProblem }}
  <p>Please select a section</p>
  {{my-select selectedSection = selectedSection content=model.sections optionLabelPath="name" prompt="Please select a section" action=(action (mut selectedSection))}}
  {{#unless selectedSection}}
    <p>Or create a new section <button {{action "toggleNewSection"}}>+</button> </p>
    {{#if isCreatingNewSection}}
      {{section-new selectedSection = selectedSection}}
    {{/if}}
  {{/unless}}
{{/if}}

{{#if selectedSection}}
  <p>Please choose files to upload</p>
  {{image-upload filesToBeUploaded = selectedFiles}}
{{/if}}