<div class="import-work-page">
  <header>
    <h2>Import Work</h2>
    <div class="clear"></div>
  </header>
<br>
{{!-- Show help message only if on problem/ section selection phase --}}
{{#if isSelectingImportDetails}}
  <div>
    <p class="help">This is the home for uploading student work that is in the form of images or pdfs. Before you upload your files, we need to know the problem and class that this set of student work belongs to. If you have not already created the problem or class on Encompass, you can create it here.</p>
    <br>
  </div>
{{/if}}
<nav class="import-nav">
  {{#unless isSelectingImportDetails}}
    {{#unless uploadedAnswers}}
    <div class="import-nav-back">
      <button class="import-nav-button" {{action "backToPrevStep" prevStep}}>
        <i class="fas fa-arrow-left"></i>
      </button>
        <label for="back">Back to {{prevStep}}</label>
    </div>
    {{/unless}}
  {{/unless}}
</nav>

<div class="import-page">
  {{import-details class="import-details" selectedProblem=selectedProblem selectedSection=selectedSection uploadedFiles=uploadedFiles isSelectingImportDetails=isSelectingImportDetails editImportDetail=(action "editImportDetail")}}

  {{#if isSelectingImportDetails}}
    <div class="import-prep">
      {{#unless selectedProblem}}
        <div class="import-prep-problem">
          <div class="import-select">
            {{#if problems.length}}
              <p>Please select a problem</p>
              <br>
              {{my-select selectedProblem = selectedProblem content=problems optionLabelPath="title" prompt="Please select a problem" action=(action (mut selectedProblem))}}
              <br>
            {{else}}
              <p class="info">It looks like you do not have any problems. Create one {{#link-to 'problems.new'}}<span>here.</span>{{/link-to}}</p>

            {{/if}}

          </div>
          {{#if isCreatingNewProblem}}
            {{problem-new class="form-problem" store=store createdProblem= selectedProblem}}
          {{/if}}
        </div>
      {{/unless}}
      <br>

    {{#if selectedProblem}}
      {{#unless selectedSection}}
        <div class="import-prep-section">
          <div class="import-select">
            {{#if model.sections.length}}
              <p class="info">Please select a class</p>
              <br>
              {{my-select selectedSection = selectedSection content=model.sections optionLabelPath="name" prompt="Please select a class" action=(action (mut selectedSection))}}
            {{else}}
              <p class="info">It looks like you do not have any classes. Create one {{#link-to 'sections.new'}}here.{{/link-to}}</p>

            {{/if}}

          </div>

        </div>
      {{/unless}}
    {{/if}}

    {{#if selectedSection}}
      {{#if isAddingMoreFiles}}
        <div class="import-prep-files">
            <p>Please choose additional files to upload</p>
            {{image-upload class="form-file" filesToBeUploaded = selectedFiles uploadResults = additionalFiles acceptMultiple = true}}
            <br>
            <button  {{action (mut isAddingMoreFiles) null}}>Cancel</button>
          </div>
      {{/if}}
      {{#unless uploadedFiles}}
        {{#unless readyToMatchStudents}}
          <div class="import-prep-files">
            <p>Please choose files to upload</p>
            {{image-upload class="form-file" filesToBeUploaded = selectedFiles uploadResults = uploadedFiles acceptMultiple = true}}
          </div>
        {{/unless}}
      {{/unless}}
    {{/if}}
    <br>

      {{#if readyToMatchStudents}}
        <div class="proceed">
          <p>Please click continue to proceed to student matching.</p>
          <button {{action "loadStudentMatching"}}>Continue</button>
        </div>
      {{/if}}
    </div>
  {{/if}}

  {{#if isMatchingStudents}}
    {{student-matching class="import-matching" selectedSection=selectedSection answers=answers updateAnswer=updateAnswer reviewSubmissions=(action "reviewSubmissions")}}
  {{/if}}

    {{#if isReviewingSubmissions}}
      {{import-review-answers class="import-review" answers=answers uploadAnswers=(action "uploadAnswers") doNotCreateWorkspace=doNotCreateWorkspace isPrivate=isPrivate mode=mode
      folderSets=model.folderSets selectedFolderSet=selectedFolderSet requestedName=requestedName}}
    {{/if}}

    {{#if uploadedAnswers}}
      <div class="upload-results">
        <p class="success-message">uploaded {{uploadedAnswers.length}} submissions successfully</p>
      </div>
    {{/if}}

    {{#each findRecordErrors as |error|}}
      <p class="error-message">{{error}}</p>
    {{/each}}
    {{#each postErrors as |error|}}
      <p class="error-message">{{error}}</p>
    {{/each}}
    {{#each createAnswerErrors as |error|}}
      <p class="error-message">{{error}}</p>
    {{/each}}
  </div>
</div>

