<div class="login-box">

  <img src="images/logo-encompass.png" class="encompass-logo" alt="encompass logo">

  <form class="form-signin">
    <div class="auth-form-input">
      {{#if missingCredentials}}
        {{error-box error="Incorrect username or password" showDismiss=true}}
      {{/if}}

      <label for="username">Username:</label>
      {{input class="form-control" name="username" id="username" required=true type="text" value=username action="resetErrors" on="key-down"}}

      {{#if incorrectUsername}}
        {{error-box error="Incorrect Username" showDismiss=true}}
      {{/if}}
    </div>

    <div class="auth-form-input">
      <label for="password">Password:</label>
      {{input class="form-control" name="password" id="password" required=true type="password" value=password action="resetErrors" on="key-down"}}

      {{#if incorrectPassword}}
        {{error-box error="Incorrect Password" showDismiss=true}}
      {{/if}}

      {{#if oauthErrorMsg}}
        {{error-box error=oauthErrorMsg showDismiss=true}}
      {{/if}}

    </div>

    <button class="auth-button" type="submit" {{action 'login'}}>Log In</button>
    {{#each postErrors as |error|}}
      {{error-box error=error showDismiss=true}}
    {{/each}}
  </form>

  <div class="bottom-info">
    <p class="or">Or</p>

    {{social-signin}}

    <p class="signup-link" data-test="auth-signup"> New to EnCoMPASS? {{#link-to 'auth.signup' classNames='signup-link'}}Sign up now{{/link-to}}</p>
    <p class="forgot-link">Forgot Password? {{#link-to 'auth.forgot' classNames='forgot-link'}}Request password reset{{/link-to}}</p>

  </div>
</div>