{{! app/templates/components/my-select.hbs}}
<select disabled={{isDisabled}} {{action 'selectChange' on='change'}}>
  {{#if prompt}}
    {{#unless selectedValue}}
    <option value="" id="select-prompt">{{prompt}}</option>
    {{/unless}}
  {{/if}}
  {{#each content key="@index" as |item|}}
    {{#if item.id}}
    <option class="option" value="{{item.id}}" selected={{is-equal item selectedValue}} >
      {{get item optionLabelPath}}
      {{!item.label}}
    </option>
    {{else}}

    <option class="option" value="{{item}}" selected={{is-equal item selectedValue}}>
      {{item}} {{!item.label}}
    </option>
    {{/if}}
  {{/each}}
</select>

{{#unless cannotBeNull}}
  {{#if selectedValue}}
    <i {{action (mut selectedValue) null}} class="fa fa-times cancel-icon" aria-hidden="true"></i>
  {{/if}}
{{/unless}}