{{! app/templates/components/my-select.hbs}}
<select disabled={{this.isDisabled}} {{action 'selectChange' on='change'}}>
  {{#if this.prompt}}
    {{#unless this.selectedValue}}
    <option value="" id="select-prompt">{{this.prompt}}</option>
    {{/unless}}
  {{/if}}
  {{#each this.content key="@index" as |item|}}
    {{#if item.id}}
    <option class="option" value="{{item.id}}" selected={{is-equal item this.selectedValue}} >
      {{get item optionLabelPath}}
      {{!item.label}}
    </option>
    {{else}}

    <option class="option" value="{{item}}" selected={{is-equal item this.selectedValue}}>
      {{item}} {{!item.label}}
    </option>
    {{/if}}
  {{/each}}
</select>

{{#unless this.cannotBeNull}}
  {{#if this.selectedValue}}
    <i {{action (mut this.selectedValue) null}} class="fa fa-times cancel-icon" aria-hidden="true"></i>
  {{/if}}
{{/unless}}