{{! app/templates/components/my-select.hbs}}
<select {{action 'selectChange' on='change'}}>
  {{#if prompt}}
    <option value="">{{prompt}}</option>
  {{/if}}
  {{#each content key="@index" as |item|}}
    <option value="{{item.id}}" selected={{is-equal item selectedValue}}>
      {{get item optionLabelPath}}
      {{!item.label}}
    </option>
  {{/each}}
</select>
