
{{#if showPageNavigation}}
  <div class="flex">
    <div class="nav-arrows">
      <div class="nav-left">
    <i {{action "getPage" -1}} class="fas fa-caret-left"></i>
  </div>
  <div class="page-status"> <p>Page {{details.currentPage}} / {{details.pageCount}}</p></div>

  <div class="nav-right">
    <i {{action "getPage" 1}} class="fas fa-caret-right"></i>
  </div>
    </div>

  <div class="nav-goto">
    <label for="gotoPage">Go to Page</label>
    {{input class="goto-page" type="number" value=publicGoToPage}}
    <button {{action "getPage" null publicGoToPage}}>Go</button>
  </div>
  </div>


{{/if}}
