<div class="collab-container">
  <RadioGroup @options={{addTypeItems}} @selectedValue={{addType}} />
  {{#if isBulkAdd}}
    <CheckboxList @items={{usersToAdd}} @selectedItems={{collabsToAdd}} @itemDisplayProp="username" @inputName="bulkAddCollabs" @header="Add users as collaborators" @noItemsMessage="All students have been added already" />
  {{else}}
    <div class="collab-name">
      <SelectizeInput @store={{this.store}} @inputId="collab-select" @maxItems={{1}} @initialOptions={{initialCollabOptions}} @selectedItemsHash={{selectedCollaborators}} @onItemAdd={{action "setCollab"}} @onItemRemove={{action "setCollab"}} @labelField="username" @valueField="id" @searchField="username" @model="user" @queryParamsKey="usernameSearch" @isAsync={{true}} @placeholder="Search by username" @preload="focus" />
    </div>
  {{/if}}
  {{#unless isNoActionToTake}}
    <div class="collab-settings global">
      <RadioGroup @options={{globalItems}} @selectedValue={{globalPermissionValue}} />
    </div>
  {{/unless}}
  <div class="collab-settings">
    {{#if missingUserError}}
      <div class="card-row">
        <ErrorBox @error="Please select a user" @resetError={{action (mut missingUserError) null}} @showDismiss={{true}} />
      </div>
    {{/if}}
    {{#if existingUserError}}
      <div class="card-row">
        <ErrorBox @error="Collaborator already exists. Edit permissions below" @resetError={{action (mut existingUserError) null}} @showDismiss={{true}} />
      </div>
    {{/if}}
    <div class="button-row">
      <button
        class="primary-button cancel-button"
        {{action "cancelCreateCollab"}}
      >
        Cancel
      </button>
      <button class="primary-button" {{action "saveCollab"}}>
        Save
      </button>
    </div>
  </div>
</div>