<header class="info-header">
    {{#if isEditing}}
      <span class="top-left-icon">
        {{{public-private privacySettingIcon}}}
      </span>
      <div class="select-container">
        <select name="privacy-settings" id="privacy-select" {{action 'changePrivacy' on='change'}}>
          <option value="E" selected={{is-equal problem.privacySetting "E"}}>Everyone</option>
          <option value="O" selected={{is-equal problem.privacySetting "O"}}>My Org</option>
          <option value="M" selected={{is-equal problem.privacySetting "M"}}>Just Me</option>
        </select>
      </div>
    {{else}}
      <span class="top-left-icon simptip-position-right simptip-smooth" data-tooltip={{privacy-setting problem.privacySetting}}>
        {{{public-private problem.privacySetting}}}
      </span>
    {{/if}}
  <span class="remove-icon" {{action 'hideInfo'}}>
    <i class="fas fa-times"></i>
  </span>
</header>

<div class="side-info-menu">
  <section class="info-details">
    <div class="info-main">
      <div class="heading">
        {{#if isEditing}}
          <Input @name="title" @id="title" @type="text" @value={{problemName}} />
        {{else}}
          {{{problem.title}}}
        {{/if}}
      </div>
      <div class="subheading">{{format-date problem.createDate 'MM/DD/YYYY'}}</div>
    </div>
    <div class="info-menu">
      <button class="tab-link general {{if showGeneral 'active-btn'}}" {{action 'showGeneral'}}>General</button>
      <button class="tab-link categories {{if showCats 'active-btn'}}" {{action 'showCats'}}>Categories</button>
      <button class="tab-link additional {{if showAdditional 'active-btn'}}" {{action 'showAdditional'}}>Additional</button>
      <button class="tab-link legal {{if showLegal 'active-btn'}}" {{action 'showLegal'}}>Legal</button>
    </div>
    <div class="info-content">
      {{#if showGeneral}}
        <p class="info-content-label">Problem Statement</p>
        <div class="info-content-block statement large-content">
          {{#if isEditing}}
            <QuillContainer @onEditorChange={{action "updateQuillText"}} @startingText={{problem.text}} />
          {{else}}
            {{{problem.text}}}
          {{/if}}
        </div>
        {{#if isEditing}}
          <p class="info-content-label">Author</p>
          <div class="info-content-block author">
            {{#if problem.author}}
              <div class="input-container">
                <Input @name="author" @id="author" @type="text" @value={{author}} />
              </div>
            {{else}}
              <div class="input-container">
                <Input @name="author" @id="author" @type="text" placeholder="Add author" @value={{author}} />
              </div>
            {{/if}}
          </div>
        {{else}}
          {{#if problem.author}}
            <p class="info-content-label">Author</p>
            <div class="info-content-block author">
              {{problem.author}}
            </div>
          {{/if}}
        {{/if}}
        {{#if problem.organization}}
          {{#if currentUser.isAdmin}}
          <p class="info-content-label">Organization</p>
          <div class="info-content-block org">
            {{#if problem.organization}}
              {{problem.organization.name}}
            {{/if}}
          </div>
          {{/if}}
        {{/if}}
        <p class="info-content-label">Problem Status</p>
        <div class="info-content-block">
          {{#if isEditing}}
            {{#if currentUser.isTeacher}}
              <svg height="20" width="20">
                <circle cx="10" cy="15" r="5" fill={{statusIconFill}} />
              </svg>
              <span class="status-text">
                {{problem.status}}
              </span>
            {{else}}
              <svg height="20" width="20">
                <circle cx="10" cy="15" r="5" fill={{statusIconFill}} />
              </svg>
              <MySelect @cannotBeNull={{true}} @selectedValue={{problem.status}} @content={{problemStatusOptions}} @action={{action (mut problemStatus)}} @isDisabled={{isReadOnly}} />
            {{/if}}
          {{else}}
            <svg height="20" width="20">
              <circle cx="10" cy="15" r="5" fill={{statusIconFill}} />
            </svg>
            <span class="status-text">
              {{problem.status}}
            </span>
            {{#if (is-equal problem.status 'flagged')}}
              {{#if showFlagReason}}
                <span class="show-reason" {{action 'toggleShowFlagReason'}}>Hide</span>
                <div class="flag-reason">
                  <p class="reason"><strong>Reason:</strong> {{problem.flagReason.reason}}</p>
                  <p class="details">By <LinkTo @route="users.user" @model={{flaggedBy.id}}>{{flaggedBy.username}}</LinkTo> on {{format-date
                    problem.flagReason.flaggedDate 'MMM Do YYYY'}}</p>
                </div>
              {{else}}
                <span class="show-reason" {{action 'toggleShowFlagReason'}}>Why?</span>
              {{/if}}
            {{/if}}
          {{/if}}
        </div>
      {{/if}}

      {{#if showCats}}
        <p class="info-content-label">Problem Categories</p>
        <div class="info-content-block categories">
          {{#if isEditing}}
            {{#if problem.categories}}
              <ul>
                {{#each problem.categories as |category|}}
                  <li class="category-item">
                    <a href="{{category.url}}" target="_blank">{{category.identifier}}</a>
                    <button class="remove-cat" {{action 'removeCategory' category}}><i class="far fa-times-circle"></i></button>
                    <p class="category-description">{{category.description}}</p>
                  </li>
                {{/each}}
              </ul>
              {{#unless showCategories}}
              <div class="button-row-list">
                <button class="cancel-button" {{action 'showCategories'}}>Add Categories</button>
              </div>
              {{/unless}}
              {{#if showCategories}}
                <div class="button-row-list">
                  <button class="cancel-button" {{action 'showCategories'}}>Hide Categories</button>
                </div>
                <CategoriesMenu @categories={{categoryTree}} @store={{this.store}} @addCategories="addCategories" />
              {{/if}}
            {{else}}
              {{#unless showCategories}}
                <div class="button-row">
                  <button class="cancel-button" {{action 'showCategories'}}>Add Categories</button>
                </div>
              {{/unless}}
              {{#if showCategories}}
                <div class="button-row">
                  <button class="cancel-button" {{action 'showCategories'}}>Hide Categories</button>
                </div>
                {{#if categoryTree}}
                  <CategoriesMenu @categories={{categoryTree}} @store={{this.store}} @addCategories="addCategories" />
                {{/if}}
              {{/if}}
            {{/if}}
          {{else}}
            {{#if problem.categories}}
              <ul>
                {{#each problem.categories as |category|}}
                <li class="category-item">
                  <a href="{{category.url}}" target="_blank">{{category.identifier}}</a>
                  <p class="category-description">{{category.description}}</p>
                </li>
                {{/each}}
              </ul>
            {{else}}
              No Problem Categories
            {{/if}}
          {{/if}}
        </div>
        <p class="info-content-label">Problem Keywords</p>
        <div class="info-content-block keywords">
          {{#if isEditing}}
            <SelectizeInput @inputId="select-edit-keywords" @onItemAdd={{action "updateKeywords"}} @onItemRemove={{action "updateKeywords"}} @maxItems={{5}} @create={{true}} @createFilter={{keywordFilter}} @persist={{false}} @initialItems={{problem.keywords}} @initialOptions={{keywordSelectOptions}} @labelField="label" @valueField="value" />
            {{else}}
              {{#if problem.keywords}}
                <ul>
                  {{#each problem.keywords as |keyword|}}
                  <li>
                    {{keyword}}
                  </li>
                  {{/each}}
                </ul>
              {{else}}
                No Problem Keywords
              {{/if}}
          {{/if}}

        </div>
      {{/if}}

      {{#if showAdditional}}
        <p class="info-content-label">Additional Info</p>
          {{#if isEditing}}
          <div class="info-content-block additional">
            <div class="input-container">
              <Textarea class="additional-info-area" @value={{additionalInfo}} @rows="4" placeholder="Additional info..." />
              <Input @id="additionalInfo" @type="hidden" @value={{additionalInfo}} />
            </div>
          </div>
          {{else}}
          <div class="info-content-block large-content additional">
            {{#if problem.additionalInfo}}
              {{{problem.additionalInfo}}}
            {{else}}
              No Additional Info
            {{/if}}
          </div>
          {{/if}}
        <p class="info-content-label">Additional Image</p>
        <div class="info-content-block image">
          {{#if problem.image}}
            <a {{action 'toggleImageSize'}}>
              <img src="{{problem.image.imageData}}" alt="Image Error" class="additional-image {{if isWide "wide"}}">
            </a>
          {{else}}
            {{#unless isEditing}}
              No Additional Image
            {{/unless}}
          {{/if}}
          {{#if isEditing}}
            {{#if problem.image}}
              <button class="edit-image-btn" {{action 'deleteImage'}}>Delete</button>
            {{else}}
              <div class="input-container" id="image-upload">
                <ImageUpload @filesToBeUploaded={{filesToBeUploaded}} @hideSubmit={{true}} />
              </div>
            {{/if}}
          {{/if}}
        </div>
        {{#if problem.origin}}
          <p class="info-content-label">Problem Origin</p>
          <div class="info-content-block origin">
            <p><LinkTo @route="problem" @model={{problem.origin.id}}>{{problem.origin.title}}</LinkTo></p>
          </div>
        {{/if}}
        {{#if currentUser.isAdmin}}
        <p class="info-content-label">Created By</p>
        <div class="info-content-block creator">
          <p><LinkTo @route="users.user" @model={{problem.createdBy.id}}>{{problem.createdBy.username}}</LinkTo></p>
        </div>
        {{/if}}
      {{/if}}

      {{#if showLegal}}
        <p class="info-content-label">Copyright Notice</p>
        <div class="info-content-block copyright">
          {{#if isEditing}}
            <div class="input-container" id="copyright-container">
              <span id="icon">&copy;</span>
              <Input @name="copyright" @id="copyright" @type="text" @value={{copyrightNotice}} placeholder="Add Copyright Notice" />
            </div>
          {{else}}
            {{#if problem.copyrightNotice}}
              <p>&copy; {{problem.copyrightNotice}}</p>
            {{else}}
              No Copyright Notice
            {{/if}}
          {{/if}}
        </div>
        <p class="info-content-label">Sharing Authorization</p>
        <div class="info-content-block sharing">
          {{#if isEditing}}
            <div class="input-container">
              <Input @name="sharing" @id="sharing" @type="text" @value={{sharingAuth}} placeholder="Add Sharing Authorization" />
            </div>
          {{else}}
            {{#if problem.sharingAuth}}
              {{problem.sharingAuth}}
            {{else}}
              No Sharing Authorization
            {{/if}}
          {{/if}}
        </div>
      {{/if}}
    </div>
  </section>

  <section class="info-actions">
    <div class="buttons-container">
      <span class="left-buttons">
        {{#if isEditing}}
          {{#unless problem.isTrashed}}
          <button class="button-icon" {{action 'deleteProblem'}}><i class="fas fa-trash"></i></button>
          {{/unless}}
        {{else}}
          <span class="info-text-tip simptip-position-right simptip-smooth" data-tooltip="Make a Copy of this Problem">
            <button class="button-icon" {{action 'addToMyProblems'}}><i class="far fa-copy"></i></button>
          </span>
          {{#unless currentUser.isTeacher}}
            {{#unless problem.isTrashed}}
            {{#unless (is-equal problem.status 'flagged')}}
              {{#if isRecommended}}
                <span class="info-text-tip simptip-position-right simptip-smooth" data-tooltip="Remove this Problem from Recommended">
                  <button class="button-icon star-icon" {{action 'removeRecommend'}}>
                    <i class="fas fa-star star-filled"></i>
                  </button>
                </span>
              {{else}}
                <span class="info-text-tip simptip-position-right simptip-smooth" data-tooltip="Add this Problem to Recommended">
                  <button class="button-icon star-icon" {{action 'checkRecommend'}}>
                    <i class="far fa-star star-line"></i>
                  </button>
                </span>
              {{/if}}
            {{/unless}}
            {{/unless}}
          {{/unless}}
          {{#if currentUser.isTeacher}}
            {{#if isRecommended}}
              <button class="button-icon star-icon no-cursor">
                <i class="fas fa-star star-filled"></i>
              </button>
            {{/if}}
          {{/if}}
        {{/if}}
      </span>
      <span class="right-buttons">
        {{#if isEditing}}
          <button class="action_button cancel-button" {{action 'cancelEdit'}}>Cancel</button>
          <button class="primary-button save" {{action 'checkPrivacy'}}>Save</button>
        {{else}}
          {{#if canEdit}}
            {{#if problem.isUsed}}
              {{#if currentUser.isAdmin}}
                <button class="primary-button edit" {{action 'editProblem'}}>Edit</button>
              {{/if}}
            {{else}}
              <button class="primary-button edit" {{action 'editProblem'}}>Edit</button>
            {{/if}}
          {{/if}}
            {{#unless problem.isTrashed}}
              {{#unless (is-equal problem.status 'flagged')}}
              <button class="primary-button assign" {{action 'showAssignment'}}>Assign</button>
              {{/unless}}
            {{/unless}}
        {{/if}}
        {{#if problem.isTrashed}}
          {{#if currentUser.isAdmin}}
            {{#unless isEditing}}
              <button class="primary-button restore" {{action 'restoreProblem'}}>Restore</button>
            {{/unless}}
          {{/if}}
        {{/if}}
      </span>
    </div>
  </section>
  {{#if isMissingRequiredFields}}
    <ErrorBox @error="Please fill in all required fields" @showDismiss={{true}} />
  {{/if}}

  {{#each updateProblemErrors as |error|}}
    <ErrorBox @error={{error}} @showDismiss={{true}} @resetError={{action (mut updateProblemErrors) null}} />
  {{/each}}
  {{#each imageUploadErrors as |error|}}
    <ErrorBox @error={{error}} @showDismiss={{true}} @resetError={{action (mut imageUploadErrors) null}} />
  {{/each}}
  {{#each createRecordErrors as |error|}}
    <ErrorBox @error={{error}} @showDismiss={{true}} @resetError={{action (mut createRecordErrors) null}} />
  {{/each}}
  {{#each findRecordErrors as |error|}}
    <ErrorBox @error={{error}} @showDismiss={{true}} @resetError={{action (mut findRecordErrors) null}} />
  {{/each}}

  {{#if showAssignment}}
    <AssignmentNew @cancel={{action (mut showAssignment) null}} @fromProblemInfo={{true}} @problems={{problemList}} @selectedProblem={{problem}} @sections={{sectionList}} @store={{this.store}} @toAssignmentInfo="toAssignmentInfo" />
  {{/if}}
</div>



