<header id="problemnewheader">
  <h2>Create New Problem</h2>
  <div class="clear"></div>
</header>


  <section class="third submissions">
    <form id='newproblemform' class='properForm'>
      <fieldset>
        <ol>
          <li>
            <label for="title" id="problemName">Problem Name <span class="required-star">*</span></label>
            {{input id="title" required="true" type="text" value=title placeholder="enter problem name" action="resetErrors" on="key-down"}}
          </li>
          <li>
            <label for="text">Problem Statement <span class="required-star">*</span></label>
            <div class="quill-container">
              <section id="editor"></section>
            </div>
          </li>
          <li>
            <label for="categories">Problem Category</label>
            {{#unless showCategories}}
              <div class="button-row">
                <button {{action 'showCategories'}}>Show Category Menu</button>
              </div>
            {{/unless}}
            {{#if showCategories}}
              <div class="button-row">
                <button {{action 'showCategories'}}>Hide Category Menu</button>
              </div>
              {{categories-menu categories=categories store=store addCategories="addCategories"}}
            {{/if}}
          </li>
          <li>
            <label for="keywords">Keywords</label>
            {{twitter-typeahead}}
          </li>
          <li>
            <label for="additionalInfo">Additional Info</label>
            {{textarea class="additional-info-area" value=additionalInfo rows="3" placeholder="Additional info..."}}
            {{input id="additionalInfo" type="hidden" value=additionalInfo }}
          </li>
          <li>
            <label for="imageUrl">Additional Image</label>
            {{image-upload filesToBeUploaded = filesToBeUploaded hideSubmit = true}}
          </li>
          <li class="privacy-settings">
            <label>Privacy Settings <span class="required-star">*</span></label>
              {{input type="radio" value=privacySetting required="true" name="privacy" class="justMe" click=(action "radioSelect" 'M')}}
              <label class="radio-label">Just Me</label>
              {{input type="radio" id="myOrg" value=privacySetting required="true" name="privacy" class="myOrg" click=(action "radioSelect" 'O')}}
              <label class="radio-label">My Organization</label>
              {{input type="radio" value=privacySetting required="true" name="privacy" class="everyone" click=(action "radioSelect" 'E')}}
              <label class="radio-label">Everyone</label>
          </li>
          <li>
            <label for="legal-notice">Legal Notice <span class="required-star">*</span></label>
            {{input type="checkbox" id="legal-notice" checked=approvedProblem required="true" click=(action "resetErrors")}}
            <span id="approved-problem">This problem does not contain any unapproved copywritten material</span>
          </li>
        </ol>
      </fieldset>
{{!--
    {{#if showConfirmModal}}
      {{modal-confirm actionToConfirm=showConfirmModal onConfirm="problemCreate" actionName="create a public problem" warningMessage="Creating a public problem means it will be accessible to all EnCoMPASS users. You will not be able to make any changes to this problem once it has been used"}}
    {{/if}} --}}


      {{#if isMissingRequiredFields}}
        <p class="error-message">Please provide all required fields.</p>
      {{/if}}
      {{#if noLegalNotice}}
         <p class="error-message">Please verify that you have permission to post this problem.</p>
      {{/if}}
    </form>
  </section>
  <div style="clear: left"></div>
  <section class="submit">
    <button class="action_button" {{action 'validate'}}>
      Create Problem
    </button>
  </section>

  {{#each createProblemErrors as |error|}}
    <p class="error-message">{{error}}</p>
  {{/each}}
  {{#each imageUploadErrors as |error|}}
    <p class="error-message">{{error}}</p>
  {{/each}}

