<header class="info-header">
    {{#if isEditing}}
      <span class="top-left-icon">
        {{{public-private problem.privacySetting}}}
      </span>
        {{my-select cannotBeNull=true selectedValue=privacySetting content=privacySettingsList action=(action (mut
        privacySetting)) optionLabelPath="name" isDisabled=isReadOnly}}
    {{else}}
      <span class="top-left-icon simptip-position-right simptip-smooth" data-tooltip={{privacy-setting problem.privacySetting}}>
        {{{public-private problem.privacySetting}}}
      </span>
    {{/if}}
  <span class="remove-icon" {{action 'hideInfo'}}>
    <i class="fas fa-times"></i>
  </span>
</header>

<div class="side-info-menu">
  <section class="info-details">
    <div class="info-main">
      <div class="heading">
        {{#if isEditing}}
          {{input name="title" id="title" type="text" value=problemName}}
        {{else}}
          {{{problem.title}}}
        {{/if}}
      </div>
      <div class="subheading">{{format-date problem.createDate 'MM/DD/YYYY'}}</div>
    </div>
    <div class="info-menu">
      <button class="tab-link {{if showGeneral 'active-btn'}}" {{action 'showGeneral'}}>General</button>
      <button class="tab-link {{if showCats 'active-btn'}}" {{action 'showCats'}}>Categories</button>
      <button class="tab-link {{if showAdditional 'active-btn'}}" {{action 'showAdditional'}}>Additional</button>
      <button class="tab-link {{if showLegal 'active-btn'}}" {{action 'showLegal'}}>Legal</button>
    </div>
    <div class="info-content">
      {{#if showGeneral}}
        <p class="info-content-label">Problem Statement</p>
        <div class="info-content-block large-content">
          {{#if isEditing}}
            {{quill-container setup="insertQuillContent"}}
          {{else}}
            {{{problem.text}}}
          {{/if}}
        </div>
        {{#if currentUser.isAdmin}}
        <p class="info-content-label">Organization</p>
        <div class="info-content-block">
          {{#if problem.origin}}
            {{problem.organization.name}}
          {{else}}
            No Organization
          {{/if}}
        </div>
        {{/if}}
        <p class="info-content-label">Problem Status</p>
        <div class="info-content-block">
          {{#if isEditing}}
            <svg height="20" width="20">
              <circle cx="10" cy="15" r="5" fill={{statusIconFill}} />
            </svg>
            {{my-select cannotBeNull=true selectedValue=problem.status content=problemStatusOptions
            action=(action (mut problemStatus)) isDisabled=isReadOnly}}
          {{else}}
            <svg height="20" width="20">
              <circle cx="10" cy="15" r="5" fill={{statusIconFill}} />
            </svg>
            <span class="status-text">
              {{problem.status}}
            </span>
          {{/if}}
        </div>
      {{/if}}

      {{#if showCats}}
        <p class="info-content-label">Problem Categories</p>
        <div class="info-content-block">
          {{#if problem.categories}}
            <ul>
              {{#each problem.categories as |category|}}
              <li>
                <a href="{{category.url}}" target="_blank">{{category.identifier}}</a>
              </li>
              {{/each}}
            </ul>
          {{else}}
            No Problem Categories
          {{/if}}
        </div>
        <p class="info-content-label">Problem Keywords</p>
        <div class="info-content-block">
          {{#if problem.keywords}}
            <ul>
              {{#each problem.keywords as |keyword|}}
              <li>
                {{keyword}}
              </li>
              {{/each}}
            </ul>
          {{else}}
            No Problem Keywords
          {{/if}}
        </div>
      {{/if}}

      {{#if showAdditional}}
        <p class="info-content-label">Additional Info</p>
        <div class="info-content-block large-content">
          {{#if isEditing}}
            {{textarea class="additional-info-area" value=additionalInfo rows="3" placeholder="Additional info..."}}
            {{input id="additionalInfo" type="hidden" value=additionalInfo }}
          {{else}}
            {{#if problem.additionalInfo}}
              {{{problem.additionalInfo}}}
            {{else}}
              No Additional Info
            {{/if}}
          {{/if}}
        </div>
        <p class="info-content-label">Additional Image</p>
        <div class="info-content-block">
          {{#if problem.image}}
            <a {{action 'toggleImageSize'}}>
              <img src="{{problem.image.imageData}}" alt="Image Error" class="additional-image {{if isWide "wide"}}">
            </a>
          {{else}}
            {{#unless isEditing}}
              No Additional Image
            {{/unless}}
          {{/if}}
          {{#if isEditing}}
            {{#if problem.image}}
              <button class="edit-image-btn" {{action 'deleteImage'}}>Delete</button>
            {{else}}
              {{image-upload filesToBeUploaded=filesToBeUploaded hideSubmit=true}}
            {{/if}}
          {{/if}}
        </div>
        {{#if problem.origin}}
          <p class="info-content-label">Problem Origin</p>
          <div class="info-content-block">
            <p>{{#link-to 'problem' problem.origin.id}}{{problem.origin.title}}{{/link-to}}</p>
          </div>
        {{/if}}
      {{/if}}

      {{#if showLegal}}
        <p class="info-content-label">Copyright Notice</p>
        <div class="info-content-block">
          {{#if isEditing}}
            <span id="copyright-container">
              <span id="icon">&copy;</span>
              {{input name="copyright" id="copyright" type="text" value=copyrightNotice placeholder="Add Copyright Notice"}}
            </span>
          {{else}}
            {{#if problem.copyrightNotice}}
              <p>&copy; {{problem.copyrightNotice}}</p>
            {{else}}
              No Copyright Notice
            {{/if}}
          {{/if}}
        </div>
        <p class="info-content-label">Sharing Authorization</p>
        <div class="info-content-block">
          {{#if isEditing}}
            {{input name="sharing" id="sharing" type="text" value=sharingAuth placeholder="Add Sharing Authorization"}}
          {{else}}
            {{#if problem.sharingAuth}}
              {{problem.sharingAuth}}
            {{else}}
              No Sharing Authorization
            {{/if}}
          {{/if}}
        </div>
      {{/if}}
    </div>
  </section>

  <section class="info-actions">
    <span class="left-buttons">
      {{#if isEditing}}
        <button class="button-icon" {{action 'deleteProblem'}}><i class="fas fa-trash"></i></button>
      {{else}}
        <button class="button-icon" {{action 'addToMyProblems'}}><i class="far fa-copy"></i></button>
      {{/if}}
    </span>
    <span class="right-buttons">
      {{#if isEditing}}
        <button class="action_button cancel-button" {{action 'cancelEdit'}}>Cancel</button>
        <button class="primary-button" {{action 'checkPrivacy'}}>Save</button>
      {{else}}
        <button class="primary-button" {{action 'editProblem'}}>Edit</button>
        {{!-- <button class="button-icon" {{action 'editProblem'}}><i class="far fa-edit"></i></button> --}}
        <button class="primary-button" {{action 'showAssignment'}}>Assign</button>
      {{/if}}
    </span>
  </section>
</div>




{{!-- <header class="info-header">
  {{#if isEditing}}
  <h2 class="info-title">Editing Problem</h2>
  {{else}}
  <h2 class="info-title">Problem Details</h2>
  {{/if}}
  <span class="remove-icon" {{action 'hideInfo'}}>
    <i class="fas fa-times"></i>
  </span>
  <div class="clear"></div>
</header> --}}

{{!-- <section class="problem-details">

  {{#if isEditing}}
      <form id='probleminfoform' class='properForm'>
        <fieldset>
          <ol>
            <li>
              <label class="form-label" for="title">Problem Name</label>
              {{input name="title" id="title" type="text" value=problemName}}
            </li>
            <li>
              <label class="form-label" for="text">Problem Statement</label>
              {{quill-container setup="insertQuillContent"}}
            </li>
            <li>
              <label class="form-label" for="categories">Problem Categories</label>
              {{#if problem.categories}}
              <ul class="problem-info">
                {{#each problem.categories as |category|}}
                  <li><a href="{{category.url}}">{{category.identifier}}</a> <button {{action 'removeCategory' category}}><i class="far fa-times-circle"></i></button></li>
                {{/each}}
              </ul>
                {{#unless showCategories}}
                <div class="button-row-list">
                  <button {{action 'showCategories'}}>Add Categories</button>
                </div>
                {{/unless}}
                {{#if showCategories}}
                  <div class="button-row-list">
                    <button {{action 'showCategories'}}>Hide Categories</button>
                  </div>
                  {{categories-menu categories=categoryTree store=store addCategories="addCategories"}}
                {{/if}}
              {{else}}
                {{#unless showCategories}}
                  <div class="button-row">
                    <button {{action 'showCategories'}}>Add Categories</button>
                  </div>
                {{/unless}}
                {{#if showCategories}}
                    <div class="button-row">
                      <button {{action 'showCategories'}}>Hide Categories</button>
                    </div>
                    {{#if categoryTree}}
                      {{categories-menu categories=categoryTree store=store addCategories="addCategories"}}
                    {{/if}}
                {{/if}}
              {{/if}}
            </li>
            <li>
              <label class="form-label" for="additionalInfo">Additional Info</label>
              {{textarea class="additional-info-area" value=additionalInfo rows="3" placeholder="Additional info..."}}
              {{input id="additionalInfo" type="hidden" value=additionalInfo }}
            </li>
            <li class="privacy-settings">
              <label class="form-label">Privacy Settings
                <span class="required-star">*</span>
              </label>
            {{#if problem.origin}}
              <label class="radio-label">Just Me</label>
            {{else}}
              <input type="radio" checked={{is-equal privacySetting "M"}} required="true" name="privacy" value="M" onclick={{action "radioSelect" "M"}}>
              <label class="radio-label">Just Me</label>
              <input type="radio" checked={{is-equal privacySetting "O"}} required="true" name="privacy" value="O" onclick={{action "radioSelect" "O"}}>
              <label class="radio-label">My Organization</label>
              <input type="radio" checked={{is-equal privacySetting "E"}} required="true" name="privacy" value="E" onclick={{action "radioSelect" "E"}}>
              <label class="radio-label">Everyone</label>
            {{/if}}
            </li>
            <li>
              <label class="form-label" for="copyright">Copyright Notice:</label>
              <span id="copyright-container">
                <span id="icon">&copy;</span>
                {{input name="copyright" id="copyright" type="text" value=copyrightNotice}}
              </span>
            </li>
            <li>
              <label class="form-label" for="sharing">Sharing Authorization:</label>
              {{input name="sharing" id="sharing" type="text" value=sharingAuth}}
            </li>
            <li>
              <label class="form-label" for="imagedata">Problem Image:</label>
              {{#if problem.image}}
                  <a {{action 'toggleImageSize'}} >
                    <img src="{{problem.image.imageData}}" alt="{{problem.title}}" class="{{if isWide "wide"}}">
                  </a>s
                  <button class="edit-image-btn" {{action 'deleteImage'}}>Delete</button>
              {{else}}
                  {{image-upload filesToBeUploaded = filesToBeUploaded hideSubmit = true}}
              {{/if}}
            </li>
          </ol>
        </fieldset>
      </form>
    <button class="action_button" {{action 'checkPrivacy'}}>Save Problem</button>
    <button class="action_button cancel-button" {{action 'cancelEdit'}}>Cancel</button>
    {{#if canDelete}}
      <button class="right" {{action 'deleteProblem'}}><i class="fa fa-trash" aria-hidden="true"></i></button>
    {{/if}}

  {{else}}

    <section id='probleminfo' class='properForm'>
      <fieldset>
        <ol>
          <li>
            <label class="form-label" for="title">Problem Name</label>
            <p class="problem-info">{{problem.title}}</p>
          </li>
          <li>
            <label class="form-label" for="text">Problem Statement</label>
            <p class="problem-info">{{{problem.text}}}</p>
          </li>
          {{#if problem.categories}}
            <li>
              <label class="form-label" for="text">Problem Categories</label>
              <ul class="problem-info">
              {{#each problem.categories as |category|}}
                <li>
                  <a href="{{category.url}}" target="_blank">{{category.identifier}}</a>
                </li>
              {{/each}}
              </ul>
            </li>
          {{/if}}
          {{#if additionalInfo}}
            <li>
              <label class="form-label" for="additionalInfo">Additional Info</label>
              <p class="problem-info">{{problem.additionalInfo}}</p>
            </li>
          {{/if}}

          {{#if problem.origin}}
          <li>
            <label class="form-label" for="origin">Problem Origin</label>
            <p class="problem-info">{{#link-to 'problem' problem.origin.id}}{{problem.origin.title}}{{/link-to}}</p>
          </li>
          {{/if}}
          <li>
            <label class="form-label" for="currentlyPublic">Privacy Setting</label>
            <p class="problem-info">{{privacy-setting problem.privacySetting}}</p>
          </li>
          {{#if problem.copyrightNotice}}

          <li>
            <label class="form-label" for="copyright">Copyright Notice:</label>
            <p class="problem-info">&copy;&nbsp;{{problem.copyrightNotice}}</p>
          </li>
          {{/if}}
          {{#if problem.sharingAuth}}
          <li>
            <label class="form-label" for="sharing">Sharing Authorization:</label>
            <p class="problem-info">{{problem.sharingAuth}}</p>
          </li>
          {{/if}}
          <li>
            <label class="form-label" for="createDate">Creation Date</label>
            <p class="problem-info">{{format-date problem.createDate 'MMM Do YYYY'}}</p>
          </li>
          {{#if problem.image}}
          <li>
            <label class="form-label" for="imagedata">Additional Image:</label>
              <a {{action 'toggleImageSize'}}>
                <img src="{{problem.image.imageData}}" alt="Image Error" class="{{if isWide "wide"}}">
              </a>
          </li>
          {{/if}}
        </ol>
      </fieldset>
    </section>

      {{#if canEdit}}
        {{#if problem.isUsed}}
          {{#if currentUser.isAdmin}}
            <p class="warning-message">Warning, this problem has an answer. Be sure any changes do not change the intent or difficulty of the problem.</p>
            <button class="action_button" id="editProblem" {{action 'editProblem'}}>Edit Problem</button>
            {{#unless showAssignment}}
              <button class="action_button" {{action 'showAssignment'}}>Create Assignment</button>
            {{/unless}}
          {{else}}
            <p class="warning-message">You can't edit this problem because an answer has already been submitted.</p>
            <button class="action_button" {{action 'duplicateProblem'}}>Duplicate this Problem</button>
            {{#unless showAssignment}}
              <button class="action_button" {{action 'showAssignment'}}>Create Assignment</button>
            {{/unless}}
          {{/if}}
        {{else}}
          <button class="action_button" id="editProblem" {{action 'editProblem'}}>Edit Problem</button>
        {{#unless showAssignment}}
          <button class="action_button" {{action 'showAssignment'}}>Create Assignment</button>
        {{/unless}}
        {{/if}}
      {{else}}
          <button class="action_button" {{action 'showAssignment'}}>Create Assignment</button>
          <button class="action_button" {{action 'addToMyProblems'}}>Add to My Problems</button>
      {{/if}}

  {{/if}}

</section> --}}


{{#if isMissingRequiredFields}}
  <p class="error-message">Please fill in all required fields.</p>
{{/if}}
{{#each updateProblemErrors as |error|}}
  <p class="error-message">{{error}}</p>
{{/each}}
{{#each imageUploadErrors as |error|}}
  <p class="error-message">{{error}}</p>
{{/each}}
{{#each createRecordErrors as |error|}}
  <p class="error-message">{{error}}</p>
{{/each}}
{{#each findRecordErrors as |error|}}
  <p class="error-message">{{error}}</p>
{{/each}}

{{#if showAssignment}}
  {{assignment-new cancel=(action (mut showAssignment) null) fromProblemInfo=true problems=problemList selectedProblem=problem sections=sectionList store=store toAssignmentInfo="toAssignmentInfo"}}
{{/if}}
