<div class="flex-container-full">
  <div class="flex-item-full filter-options collapse" id="filter-list-side">
    <ProblemFilter @showCategoryList={{this.showCategoryList}} @categoryTree={{this.categoryTree}} @store={{this.store}} @onUpdate={{action "triggerFetch"}} @triggerShowTrashed={{action "triggerShowTrashed"}} @filter={{this.filter}} @primaryFilter={{this.primaryFilter}} @adminFilterSelect={{this.adminFilterSelect}} @orgs={{this.model.organizations}} @categoriesFilter={{this.categoriesFilter}} @doIncludeSubCategories={{this.doIncludeSubCategories}} @toggleTrashed={{this.toggleTrashed}} @sendtoApplication="sendtoApplication" />
  </div>

  <div class="flex-item-full list-view">
    <div class="list-container">
      <h1>Problems</h1>
      <div class="searchbar">
        <SearchBar @onSearch={{action "searchProblems"}} @showFilter={{true}} @searchOptions={{this.searchOptions}} @basePlaceholder="Search problems" @inputValue={{this.searchInputValue}} @clearSearchResults={{action "clearSearchResults"}} @selectedCriterion={{this.searchCriterion}} />

        <LinkTo @route="problems.new" @id="problem-new-link" class="new-link-btn">
          <i class="fas fa-plus" title="Create new problem"></i>
        </LinkTo>
      </div>
    </div>
    <div class="results-list">
      <div class="results-info">
        <div class="results-message">
          {{{this.listResultsMessage}}}
        </div>
        <div class="side-icons">
          <i class="fas fa-redo-alt refresh-icon" {{action 'refreshList'}} title="Refresh problem list"></i>
          <span class="layout-icons">
          {{#if this.showList}}
            <img src="../assets/images/grid.svg" alt="grid" class="grid-icon" {{action 'setGrid'}} title="Show in grid view">
            <img src="../assets//images/list-active.svg" alt="list" class="list-icon" {{action 'setList'}} title="Currently in list view">
          {{/if}}
          {{#if this.showGrid}}
            <img src="../assets/images/grid-active.svg" alt="grid" class="grid-icon" {{action 'setGrid'}} title="Currently in grid view">
            <img src="../assets/images/list.svg" alt="list" class="list-icon" {{action 'setList'}} title="Show in list view">
          {{/if}}
          </span>
        </div>
      </div>
      <div class="results-items" id="layout-view">
        <div class="sort-bar">
          <div class="sort-bar-item privacy">
            Privacy <i class="fas fa-filter sort-icon"></i>
            <span class="hover-menu" id="privacy-menu">
              <ul>
                {{#each this.privacySettingOptions as |option|}}
                {{log option}}
                <li>
                  <RadioFilter @labelName={{option.label}} @labelIcon={{option.icon}} @inputValue={{option.value}} @isChecked={{option.isChecked}} @groupName="privacy" @onClick={{action "updatePrivacySetting"}} @groupValue={{this.selectedPrivacySetting}} />
                </li>
                {{/each}}
              </ul>
            </span>
          </div>
          <ToggleControl @classToAdd="sort-bar-item name" @onUpdate={{action "updateSortCriterion"}} @initialState={{1}} @options={{this.sortOptions.title}} @label="Title" @parentProp={{this.sortCriterion}} @type="title" @activeType={{this.sortCriterion.type}} />
          <div class="sort-bar-item description">
            Description
          </div>
          <ToggleControl @classToAdd="sort-bar-item date" @onUpdate={{action "updateSortCriterion"}} @initialState={{0}} @options={{this.sortOptions.createDate}} @label="Date" @type="date" @activeType={{this.sortCriterion.type}} />
          <div class="sort-bar-item status">
            Status <i class="fas fa-filter sort-icon"></i>
            <span class="hover-menu checkbox">
              <ul>
                {{#each this.statusOptionsList as |option|}}
                  <li>
                    <label>
                      <input type="checkbox" checked={{option.isChecked}} name={{option.name}} value={{option.value}} onclick={{action "updateStatusFilter" option.value}}>
                      <span>
                        <svg height="20" width="20">
                          <circle cx="10" cy="15" r="5" fill={{option.fill}} />
                        </svg>
                        <span class="radio-text">{{option.text}}</span>
                      </span>
                    </label>
                  </li>
                {{/each}}
              </ul>
            </span>
          </div>
          <div class="sort-bar-item action"></div>
          <div class="sort-bar-item more"></div>
        </div>
        {{#if this.showList}}
          <ProblemList @currentUser={{this.currentUser}} @isSearching={{this.isSearchingProblems}} @problems={{this.displayProblems}} @metadata={{this.problemsMetadata}} @isList={{true}} @isGrid={{false}} @moreMenuOptions={{this.moreMenuOptions}} @store={{this.store}} @toProblemInfo="toProblemInfo" @refreshList={{action "refreshList"}} />
        {{/if}}
        {{#if this.showGrid}}
          <ProblemList @currentUser={{this.currentUser}} @isSearching={{this.isSearchingProblems}} @store={{this.store}} @problems={{this.displayProblems}} @metadata={{this.problemsMetadata}} @isList={{false}} @isGrid={{true}} @moreMenuOptions={{this.moreMenuOptions}} @toProblemInfo="toProblemInfo" @refreshList={{action "refreshList"}} />
        {{/if}}

        <PaginationControl @details={{this.problemsMetadata}} @initiatePageChange={{action "initiatePageChange"}} />
      </div>
    </div>
  </div>
</div>

<div class="toggle-filter-menu">
  <button {{action 'toggleMenu'}}><i id="arrow-icon" class="fas fa-chevron-right"></i></button>
</div>

{{#if this.showCategoryList}}
<div id="category-list-modal">
  <div class="modal-content">
    <h4>Select a Category</h4>
    <button class="close" {{action 'closeModal' }}><i class="fas fa-times"></i></button>
    <CategoriesMenu @categories={{this.categoryTree}} @store={{this.store}} @addCategories="searchCategory" />
  </div>
</div>
{{/if}}

<div class="list-outlet hidden" id="outlet">
  {{outlet}}
</div>

<script>
  $('.list-view').click(function (e) {
    if (!($('#filter-list-side').hasClass('collapse'))) {
      $('#arrow-icon').toggleClass('fa-rotate-180');
    }
    $('#filter-list-side').addClass('collapse');
  });

  $('#problem-new-link').click(function (e) {
    $('#outlet').removeClass('hidden');
  });
</script>
