<header id="problemnewheader">
  <h2>Create New Problem</h2>
  <div class="clear"></div>
  <span class="remove-icon" {{action 'hideInfo'}}>
    <i class="fas fa-times"></i>
  </span>
</header>

  <section class="third submissions">
    <form id='newproblemform' class='properForm'>
      <fieldset>
        <ol>
          <li>
            <label class="form-label" for="title" id="problemName">
              <span class="label-text simptip-position-right simptip-multiline simptip-smooth" data-tooltip={{tooltips.name}}>Problem Name </span>
              <span class="required-star">*</span>
            </label>
            {{input id="title" required="true" type="text" value=title placeholder="enter problem name" action="resetErrors" on="key-down"}}
          </li>
          <li>
            <label class="form-label" for="text">
            <span class="label-text simptip-position-right simptip-multiline simptip-smooth" data-tooltip={{tooltips.statement}}>Problem Statement </span>
              <span class="required-star">*</span></label>
            <div class="quill-container">
              <section id="editor"></section>
            </div>
          </li>
          <li>
            <label class="form-label" for="categories">
              <span class="label-text simptip-position-right simptip-multiline simptip-smooth" data-tooltip={{tooltips.categories}}>Problem Categories </span>
              <span class="required-star">*</span>
            </label>
            {{#if selectedCategories}}
              <ul class="problem-info">
              {{#each selectedCategories as |category|}}
                <li><a href="{{category.url}}" target="_blank">{{category.identifier}}</a> <button {{action 'removeCategory' category}}><i class="far fa-times-circle"></i></button></li>
              {{/each}}
              </ul>
            {{/if}}
            {{#unless showCategories}}
              <div class="button-row {{if selectedCategories "center"}}">
                <button id="add-category" {{action 'showCategories'}}>Show Category Menu</button>
              </div>
            {{/unless}}
            {{#if showCategories}}
              <div class="button-row {{if selectedCategories "center"}}">
                <button id="add-category" {{action 'showCategories'}}>Hide Category Menu</button>
              </div>
              {{categories-menu categories=categoryTree store=store addCategories="addCategories"}}
            {{/if}}
          </li>
          <li>
            <label class="form-label" for="keywords">
              <span class="label-text simptip-position-right simptip-multiline simptip-smooth" data-tooltip={{tooltips.keywords}}>Keywords</span>
              </label>
            {{twitter-typeahead}}
          </li>
          <li>
            <label class="form-label" for="additionalInfo">
              <span class="label-text simptip-position-right simptip-multiline simptip-smooth" data-tooltip={{tooltips.additionalInfo}}>Additional Info</span>
            </label>
            {{textarea class="additional-info-area" value=additionalInfo rows="3" placeholder="Additional info..."}}
            {{input id="additionalInfo" type="hidden" value=additionalInfo }}
          </li>
          <li>
            <label class="form-label" for="imageUrl">
            <span class="label-text simptip-position-right simptip-multiline simptip-smooth" data-tooltip={{tooltips.additionalImage}}> Additional Image</span>
            </label>
            {{image-upload filesToBeUploaded = filesToBeUploaded hideSubmit = true}}
          </li>
          <li class="privacy-settings">
            <label class="form-label">
              <span class="label-text simptip-position-right simptip-multiline simptip-smooth" data-tooltip={{tooltips.privacySettings}}> Privacy Settings</span>
              <span class="required-star">*</span>
            </label>
              {{input type="radio" value=privacySetting required="true" name="privacy" class="justMe" click=(action "radioSelect" 'M')}}
              <label class="radio-label">Just Me</label>
              {{input type="radio" id="myOrg" value=privacySetting required="true" name="privacy" class="myOrg" click=(action "radioSelect" 'O')}}
              <label class="radio-label">My Organization</label>
              {{input type="radio" value=privacySetting required="true" name="privacy" class="everyone" click=(action "radioSelect" 'E')}}
              <label class="radio-label">Everyone</label>
          </li>
          <li >
            <label class="form-label" for="copyright">
                <span class="label-text simptip-position-right simptip-multiline simptip-smooth" data-tooltip={{tooltips.copyrightNotice}}> Copyright Notice</span>
            </label>
            <span id="copyright-container">
              <span id="icon">&copy;</span>
              {{input name="copyright" id="copyright" type="text" value=copyrightNotice}}
            </span>
          </li>
          <li>
            <label class="form-label" for="sharing">
              <span class="label-text simptip-position-right simptip-multiline simptip-smooth" data-tooltip={{tooltips.sharingAuth}}> Sharing Authorization</span>
            </label>
            {{input name="sharing" id="sharing" type="text" value=sharingAuth}}
          </li>
          <li>
            <label class="form-label" for="legal-notice">
              <span class="label-text simptip-position-right simptip-multiline simptip-smooth" data-tooltip={{tooltips.legalNotice}}> Legal Notice</span>
              <span class="required-star">*</span>
              </label>
            {{input type="checkbox" id="legal-notice" checked=approvedProblem required="true" click=(action "resetErrors")}}
            <span id="approved-problem">This problem does not contain any unapproved copywritten material</span>
          </li>
        </ol>
      </fieldset>

      {{#each createProblemErrors as |error|}}
        {{error-box error=error showDismiss=true}}
      {{/each}}
      {{#each imageUploadErrors as |error|}}
        {{error-box error=error showDismiss=true}}
      {{/each}}

      {{#if isMissingRequiredFields}}
        {{error-box error="Please provide all required fields" showDismiss=true}}
      {{/if}}

      {{#if noLegalNotice}}
        {{error-box error="Please verify that you have permission to post this problem" showDismiss=true}}
      {{/if}}
    </form>
  </section>
  <div style="clear: left"></div>
  <section class="submit">
    <button class="action_button" {{action 'validate'}}>
      Create Problem
    </button>
    <button class="action_button cancel-button" type="submit" {{action 'cancelProblem'}}>Cancel</button>
  </section>



