<header>
  <h2>Create New Problem</h2>
  <div class="clear"></div>
</header>

<section class="newProblem">
  <section class="third submissions">
    <form id='problem' class='properForm'>
      <fieldset>
        <ol>
          <li>
            <label for="title">Problem Name</label>
            {{input id="title" required="true" type="text" value=title placeholder="enter problem name"}}
          </li>
          <li>
            <label for="text">Problem Question</label>
            {{input id="text" required="true" type="text" value=text placeholder="enter problem question"}}
          </li>
          <li>
            <label for="categories">Problem Category</label>
            {{input id="categories" type="text" value=categories placeholder="enter a category"}}
          </li>
          <li>
            <label for="additionalInfo">Additional Info</label>
            {{input id="additionalInfo" type="text" value=additionalInfo placeholder="enter additional info"}}
          </li>
          <li>
            <label for="imageUrl">Upload Images</label>
            {{image-upload filesToBeUploaded = filesToBeUploaded hideSubmit = true}}
          </li>
          <li>
            <label for="isPublic">Privacy Settings</label>
            {{input type="radio" value=isPublic required="true" name="isPublic" class="private" click=(action "radioSelect" false)}}
            <label>Private</label>
            {{input type="radio" value=isPublic required="true" name="isPublic" class="public" click=(action "radioSelect" true)}}
            <label>Public</label>
          </li>
        </ol>
      </fieldset>
      {{#if isMissingRequiredFields}}
        <p class="error-message">Please provide all required fields.</p>
      {{/if}}
    </form>
  </section>
  <div style="clear: left"></div>
  <section class="submit">
    <button class="action_button" {{action 'validate'}}>
      Create Problem
    </button>
  </section>
  {{#if createdProblem}}
  <p class="success-message">Successfully created problem
     {{#link-to 'problem' createdProblem  classNames='problem-new'}}{{title}}
    {{/link-to}}</p>
  {{else}}
  <p>{{createProblemError}}</p>
  {{/if}}

</section>