<header class="info-header">
  {{#if isEditing}}
    <h2>Editing Problem</h2>
  {{else}}
    <h2>Problem Details</h2>
  {{/if}}
  <div class="clear"></div>
</header>

<section class="problemdetails">

   {{#if isEditing}}
      <form id='probleminfoform' class='properForm'>
        <fieldset>
          <ol>
            <li>
              <label for="title">Problem Name</label>
              {{input name="title" id="title" type="text" value=problemName placeholder=problem.title}}
            </li>
            <li>
              <label for="text">Problem Statement</label>
              {{input name="text" id="text" type="text" value=problemText placeholder=problem.text}}
            </li>
            <li class="privacy-settings">
              <label>Privacy Settings
                <span class="required-star">*</span>
              </label>
              <input type="radio" checked={{is-equal privacySetting "M"}} required="true" name="privacy" value="M" onclick={{action "radioSelect" "M"}}>
              <label class="radio-label">Just Me</label>
              <input type="radio" checked={{is-equal privacySetting "O"}} required="true" name="privacy" value="O" onclick={{action "radioSelect" "O"}}>
              <label class="radio-label">My Organization</label>
              <input type="radio" checked={{is-equal privacySetting "E"}} required="true" name="privacy" value="E" onclick={{action "radioSelect" "E"}}>
              <label class="radio-label">Everyone</label>


            </li>
            <li>
              <label for="imagedata">Problem Image:</label>
              {{#if problem.imageData}}
                {{#if problem.isPdf}}
                  <div id="pdf-view">
                    <object data="{{problem.imageData}}" type="application/pdf" height="100%" width="100%">
                      <embed src="{{problem.imageData}}" type="application/pdf">
                    </object>
                  </div>
                {{else}}
                  <a {{action 'toggleImageSize'}} class="image {{if isWide " wide "}}">
                    <img src="{{problem.imageData}}" alt="{{problem.title}}">
                  </a>
                {{/if}}
                  <button class="edit-image-btn" {{action 'deleteImage'}}>Delete</button>
                  {{!-- <button class="edit-image-btn" {{action 'addImage'}}>Add</button> --}}
              {{else}}
                  {{image-upload filesToBeUploaded = filesToBeUploaded hideSubmit = true}}
              {{/if}}
            </li>
          </ol>
        </fieldset>
      </form>
    <button class="action_button" {{action 'updateProblem'}}>Save Problem</button>

  {{else}}

    <section id='probleminfo' class='properForm'>
      <fieldset>
        <ol>
          <li>
            <label for="title">Problem Name</label>
            <p class="problem-info">{{problem.title}}</p>
          </li>
          <li>
            <label for="text">Problem Statement</label>
            <p class="problem-info">{{problem.text}}</p>
          </li>

          {{#if problem.origin}}
          <li>
            <label for="origin">Problem Origin</label>
            <p class="problem-info">{{problem.origin.title}}</p>
          </li>
          {{/if}}

          <li>
            <label for="currentlyPublic">Privacy Setting</label>
            <p class="problem-info">{{privacy-setting problem.privacySetting}}</p>
          </li>
          <li>
            <label for="createDate">Creation Date</label>
            <p class="problem-info">{{format-date problem.createDate 'MMM Do YYYY'}}</p>
          </li>
          <li>
          {{#if problem.imageData}}
            <label for="imagedata">Problem Image:</label>
            {{#if problem.isPdf}}
            <div id="pdf-view">
              <object data="{{problem.imageData}}" type="application/pdf" height="100%" width="100%">
                <embed src="{{problem.imageData}}" type="application/pdf">
              </object>
            </div>
            {{else}}
              <a {{action 'toggleImageSize'}} class="image {{if isWide " wide "}}">
                <img src="{{problem.imageData}}" alt="Image Error">
              </a>
            {{/if}}
          {{/if}}
          </li>
        </ol>
      </fieldset>
    </section>

      {{#if canEdit}}
        {{#if isProblemUsed}}
          {{#if currentUser.isAdmin}}
            <p class="error-message">Warning, this problem has an answer. Be sure any changes do not change the intent or difficulty of the problem.</p>
            <button class="action_button" id="editProblem" {{action 'editProblem'}}>Edit Problem</button>
          {{else}}
            <p class="error-message">You can't edit this problem because an answer has already been submitted.</p>
            <button class="action_button" {{action 'duplicateProblem'}}>Duplicate this Problem</button>
          {{/if}}
        {{else}}
          <button class="action_button" {{action 'deleteProblem'}}>Delete Problem</button>
          <button class="action_button" id="editProblem" {{action 'editProblem'}}>Edit Problem</button>
        {{/if}}
      {{else}}
          <button class="action_button" {{action 'addToMyProblems'}}>Add to My Problems</button>
      {{/if}}

  {{/if}}

</section>

