<header class="info-header">
  <span class="remove-icon" {{action 'hideInfo'}}>
    <i class="fas fa-times"></i>
  </span>
</header>

<div class="side-info-menu">
  <section class="info-details">
    <div class="info-main">
      <div class="heading">
        Create New Problem
      </div>
    </div>
    <div class="info-menu">
      <button class="tab-link {{if showGeneral 'active-btn'}}" {{action 'showGeneral'}}>General</button>
      <button class="tab-link {{if showCats 'active-btn'}}" {{action 'showCats'}}>Categories</button>
      <button class="tab-link {{if showAdditional 'active-btn'}}" {{action 'showAdditional'}}>Additional</button>
      <button class="tab-link {{if showLegal 'active-btn'}}" {{action 'showLegal'}}>Legal</button>
    </div>
    <div class="info-content">
      {{#if showGeneral}}
        <p class="info-content-label">
          Problem Name <span class="required-star">*</span>
          <span class="info-text-tip simptip-position-left simptip-multiline simptip-smooth" data-tooltip={{tooltips.name}}><i class="fas fa-info-circle info-icon"></i></span>
        </p>
        <div class="info-content-block">
          <div class="input-container">
            {{input id="title" required="true" type="text" value=title placeholder="Enter Problem Name" action="resetErrors" on="key-down"}}
          </div>
        </div>
        <p class="info-content-label">
          Problem Statement <span class="required-star">*</span>
          <span class="info-text-tip simptip-position-left simptip-multiline simptip-smooth" data-tooltip={{tooltips.statement}}><i class="fas fa-info-circle info-icon"></i></span>
        </p>
        <div class="info-content-block">
          <div class="quill-container">
            <section id="editor"></section>
          </div>
        </div>
        <p class="info-content-label">
          Privacy Setting <span class="required-star">*</span>
          <span class="info-text-tip simptip-position-left simptip-multiline simptip-smooth" data-tooltip={{tooltips.privacySettings}}><i class="fas fa-info-circle info-icon"></i></span>
        </p>
        <div class="info-content-block">
          {{input type="radio" value=privacySetting required="true" name="privacy" class="justMe" click=(action "radioSelect" 'M')}}
          <label class="radio-label">Just Me</label>
          {{input type="radio" id="myOrg" value=privacySetting required="true" name="privacy" class="myOrg" click=(action "radioSelect" 'O')}}
          <label class="radio-label">My Organization</label>
          {{input type="radio" value=privacySetting required="true" name="privacy" class="everyone" click=(action "radioSelect" 'E')}}
          <label class="radio-label">Everyone</label>
        </div>
      {{/if}}

      {{#if showCats}}
        <p class="info-content-label">
          Problem Categories <span class="required-star">*</span>
          <span class="info-text-tip simptip-position-left simptip-multiline simptip-smooth" data-tooltip={{tooltips.categories}}><i class="fas fa-info-circle info-icon"></i></span>
        </p>
        <div class="info-content-block">
          {{#if selectedCategories}}
            <ul class="problem-info">
            {{#each selectedCategories as |category|}}
              <li><a href="{{category.url}}" target="_blank">{{category.identifier}}</a> <button {{action 'removeCategory' category}}><i class="far fa-times-circle"></i></button></li>
            {{/each}}
            </ul>
          {{/if}}
          {{#unless showCategories}}
            <button class="cancel-button" {{action 'showCategories'}}>Show Category Menu</button>
          {{/unless}}
          {{#if showCategories}}
            <button class="cancel-button" {{action 'showCategories'}}>Hide Category Menu</button>
            {{categories-menu categories=categoryTree store=store addCategories="addCategories"}}
          {{/if}}
        </div>
        <p class="info-content-label">
          Problem Keywords <span class="required-star">*</span>
          <span class="info-text-tip simptip-position-left simptip-multiline simptip-smooth" data-tooltip={{tooltips.keywords}}><i class="fas fa-info-circle info-icon"></i></span>
        </p>
        <div class="info-content-block">
          add keywords
        </div>
      {{/if}}

      {{#if showAdditional}}
        <p class="info-content-label">
          Additional Information <span class="required-star">*</span>
          <span class="info-text-tip simptip-position-left simptip-multiline simptip-smooth" data-tooltip={{tooltips.additionalInfo}}><i class="fas fa-info-circle info-icon"></i></span>
        </p>
        <div class="info-content-block">
          <div class="input-container">
            {{textarea class="additional-info-area" value=additionalInfo rows="3" placeholder="Additional info..."}}
            {{input id="additionalInfo" type="hidden" value=additionalInfo }}
          </div>
        </div>
        <p class="info-content-label">
          Additional Image <span class="required-star">*</span>
          <span class="info-text-tip simptip-position-left simptip-multiline simptip-smooth" data-tooltip={{tooltips.additionalImage}}><i class="fas fa-info-circle info-icon"></i></span>
        </p>
        <div class="info-content-block">
          <div class="input-container">
            {{image-upload filesToBeUploaded=filesToBeUploaded hideSubmit=true}}
          </div>
        </div>
      {{/if}}

      {{#if showLegal}}
        <p class="info-content-label">
          Copyright Notice <span class="required-star">*</span>
          <span class="info-text-tip simptip-position-left simptip-multiline simptip-smooth" data-tooltip={{tooltips.copyrightNotice}}><i class="fas fa-info-circle info-icon"></i></span>
        </p>
        <div class="info-content-block">
          <div class="input-container" id="copyright-container">
            <span id="icon">&copy;</span>
            {{input name="copyright" id="copyright" type="text" value=copyrightNotice placeholder="Add Copyright Notice"}}
          </div>
        </div>
        <p class="info-content-label">
          Sharing Authorization <span class="required-star">*</span>
          <span class="info-text-tip simptip-position-left simptip-multiline simptip-smooth" data-tooltip={{tooltips.sharingAuth}}><i class="fas fa-info-circle info-icon"></i></span>
        </p>
        <div class="info-content-block">
          <div class="input-container">
            {{input name="sharing" id="sharing" type="text" value=sharingAuth placeholder="Add Sharing Authorization"}}
          </div>
        </div>
        <p class="info-content-label">
          Legal Notice <span class="required-star">*</span>
          <span class="info-text-tip simptip-position-left simptip-multiline simptip-smooth" data-tooltip={{tooltips.legalNotice}}><i class="fas fa-info-circle info-icon"></i></span>
        </p>
        <div class="info-content-block">
          {{input type="checkbox" id="legal-notice" checked=approvedProblem required="true" click=(action "resetErrors")}}
          <span id="approved-problem">This problem does not contain any unapproved copywritten material</span>
        </div>
      {{/if}}
    </div>
  </section>

  <section class="info-actions">
    <span class="right-buttons">
      <button class="action_button cancel-button" {{action 'cancelProblem'}}>Cancel</button>
      <button class="action_button primary-button" {{action 'validate'}}>Create</button>
    </span>
  </section>

  {{#each createProblemErrors as |error|}}
    {{error-box error=error showDismiss=true}}
  {{/each}}
  {{#each imageUploadErrors as |error|}}
    {{error-box error=error showDismiss=true}}
  {{/each}}

  {{#if isMissingRequiredFields}}
    {{error-box error="Please provide all required fields" showDismiss=true}}
  {{/if}}

  {{#if noLegalNotice}}
    {{error-box error="Please verify that you have permission to post this problem" showDismiss=true}}
  {{/if}}

</div>





  {{!-- <section class="third submissions">
    <form id='newproblemform' class='properForm'>
      <fieldset>
        <ol>
          <li>
            <label class="form-label" for="title" id="problemName">
              <span class="label-text simptip-position-right simptip-multiline simptip-smooth" data-tooltip={{tooltips.name}}>Problem Name </span>
              <span class="required-star">*</span>
            </label>
            {{input id="title" required="true" type="text" value=title placeholder="enter problem name" action="resetErrors" on="key-down"}}
          </li>
          <li>
            <label class="form-label" for="text">
            <span class="label-text simptip-position-right simptip-multiline simptip-smooth" data-tooltip={{tooltips.statement}}>Problem Statement </span>
              <span class="required-star">*</span></label>
            <div class="quill-container">
              <section id="editor"></section>
            </div>
          </li>
          <li>
            <label class="form-label" for="categories">
              <span class="label-text simptip-position-right simptip-multiline simptip-smooth" data-tooltip={{tooltips.categories}}>Problem Categories </span>
              <span class="required-star">*</span>
            </label>
            {{#if selectedCategories}}
              <ul class="problem-info">
              {{#each selectedCategories as |category|}}
                <li><a href="{{category.url}}" target="_blank">{{category.identifier}}</a> <button {{action 'removeCategory' category}}><i class="far fa-times-circle"></i></button></li>
              {{/each}}
              </ul>
            {{/if}}
            {{#unless showCategories}}
              <div class="button-row {{if selectedCategories "center"}}">
                <button id="add-category" {{action 'showCategories'}}>Show Category Menu</button>
              </div>
            {{/unless}}
            {{#if showCategories}}
              <div class="button-row {{if selectedCategories "center"}}">
                <button id="add-category" {{action 'showCategories'}}>Hide Category Menu</button>
              </div>
              {{categories-menu categories=categoryTree store=store addCategories="addCategories"}}
            {{/if}}
          </li>
          <li>
            <label class="form-label" for="keywords">
              <span class="label-text simptip-position-right simptip-multiline simptip-smooth" data-tooltip={{tooltips.keywords}}>Keywords</span>
              </label>
            {{twitter-typeahead}}
          </li>
          <li>
            <label class="form-label" for="additionalInfo">
              <span class="label-text simptip-position-right simptip-multiline simptip-smooth" data-tooltip={{tooltips.additionalInfo}}>Additional Info</span>
            </label>
            {{textarea class="additional-info-area" value=additionalInfo rows="3" placeholder="Additional info..."}}
            {{input id="additionalInfo" type="hidden" value=additionalInfo }}
          </li>
          <li>
            <label class="form-label" for="imageUrl">
            <span class="label-text simptip-position-right simptip-multiline simptip-smooth" data-tooltip={{tooltips.additionalImage}}> Additional Image</span>
            </label>
            {{image-upload filesToBeUploaded = filesToBeUploaded hideSubmit = true}}
          </li>
          <li class="privacy-settings">
            <label class="form-label">
              <span class="label-text simptip-position-right simptip-multiline simptip-smooth" data-tooltip={{tooltips.privacySettings}}> Privacy Settings</span>
              <span class="required-star">*</span>
            </label>
              {{input type="radio" value=privacySetting required="true" name="privacy" class="justMe" click=(action "radioSelect" 'M')}}
              <label class="radio-label">Just Me</label>
              {{input type="radio" id="myOrg" value=privacySetting required="true" name="privacy" class="myOrg" click=(action "radioSelect" 'O')}}
              <label class="radio-label">My Organization</label>
              {{input type="radio" value=privacySetting required="true" name="privacy" class="everyone" click=(action "radioSelect" 'E')}}
              <label class="radio-label">Everyone</label>
          </li>
          <li >
            <label class="form-label" for="copyright">
                <span class="label-text simptip-position-right simptip-multiline simptip-smooth" data-tooltip={{tooltips.copyrightNotice}}> Copyright Notice</span>
            </label>
            <span id="copyright-container">
              <span id="icon">&copy;</span>
              {{input name="copyright" id="copyright" type="text" value=copyrightNotice}}
            </span>
          </li>
          <li>
            <label class="form-label" for="sharing">
              <span class="label-text simptip-position-right simptip-multiline simptip-smooth" data-tooltip={{tooltips.sharingAuth}}> Sharing Authorization</span>
            </label>
            {{input name="sharing" id="sharing" type="text" value=sharingAuth}}
          </li>
          <li>
            <label class="form-label" for="legal-notice">
              <span class="label-text simptip-position-right simptip-multiline simptip-smooth" data-tooltip={{tooltips.legalNotice}}> Legal Notice</span>
              <span class="required-star">*</span>
              </label>
            {{input type="checkbox" id="legal-notice" checked=approvedProblem required="true" click=(action "resetErrors")}}
            <span id="approved-problem">This problem does not contain any unapproved copywritten material</span>
          </li>
        </ol>
      </fieldset>
    </form>

  </section>
  <div style="clear: left"></div>
  <section class="submit">
    <button class="action_button" {{action 'validate'}}>
      Create Problem
    </button>
    <button class="action_button cancel-button" type="submit" {{action 'cancelProblem'}}>Cancel</button>
  </section> --}}



