  <div class="main-list">
    {{#if this.isSearching}}
      <p class="loading-message">Searching problems...</p>
    {{else}}
    <ul id="problem-list-ul">
      {{#each this.problems as |problem|}}
      <li>
        <div class="problem-list-item">
          <ProblemListItem @recommendedProblems={{this.recommendedProblems}} @currentUser={{this.currentUser}} @problem={{problem}} @isList={{this.isList}} @isGrid={{this.isGrid}} @moreMenuOptions={{this.moreMenuOptions}} @toProblemInfo={{action "toProblemInfo"}} @refreshList={{action "refreshList"}} />
        </div>
      </li>
      {{/each}}
      </ul>
    {{/if}}
  </div>




