{{#if currentUser.isStudent}}
  <h1>Welcome to the Problems Page</h1>
  <p>Click on a problem to view it, you can submit an answer to public problems</p>
{{else}}
  {{#if currentUser.isAdmin}}
    <h1>Here are some recently created public problems</h1>
    <ul class="info">
      {{#each publicProblems as |problem|}}
      <li>
        {{#link-to 'problem' problem.id}}{{problem.title}} {{/link-to}} created on {{format-date  problem.createDate 'MMM Do YYYY'}}
      </li>
      {{/each}}
    </ul>
  {{else}}
    <h1>Welcome to the Problems Page</h1>
    <p>Click on a problem name to see more info, edit or add it to your problem list</p>
    <p class="or">Or</p>
  {{#link-to 'problems.new' id="problem-new-link" class="new-link-btn"}}<span>Create New Problem</span>{{/link-to}}
  {{/if}}
{{/if}}

<div class="button-row">
{{#unless showCategories}}
  <button {{action 'showCategories'}}>Show Category Menu</button>
{{/unless}}
{{#if showCategories}}
  <button {{action 'showCategories'}}>Hide Category Menu</button>
  {{categories-menu categories=categoryTree store=store}}
{{/if}}
</div>
{{!-- <section>
  <h2>Your Recently Created Problems</h2>
</section>

<section>
  <h2>Problems by Category</h2>
</section>

<section>
  <h2>New Problems in your Organization</h2>
</section> --}}
