<div class="flex-container-full">
  <div class="flex-item-full filter-options">
    {{problem-filter store=store onUpdate=(action "triggerFetch") filter=filter primaryFilter=primaryFilter}}
  </div>

  <div class="flex-item-full list-view">
    {{#link-to 'problems.new' id="problem-new-link" class="new-link-btn"}}<i class="fas fa-plus"></i>{{/link-to}}
    {{search-bar
      onSearch=(action "searchProblems")
      showFilter=true
      searchOptions = searchOptions
      basePlaceholder="Search problems"
      inputValue=searchInputValue
      }}


    <div class="results-info">
        {{listResultsMessage}}
    </div>


    {{problem-list isSearching=isSearchingProblems problems=displayProblems metadata=problemsMetadata}}

      {{pagination-control
        details=problemsMetadata
        initiatePageChange=(action "initiatePageChange")
      }}


  </div>
</div>

    {{!-- <h1>Problems</h1>
    {{#link-to 'problems.new' id="problem-new-link" class="new-link-btn"}}<span>Create New Problem</span><i class="fas fa-plus"></i>{{/link-to}} --}}



      {{!-- <div class="filter-search">
        {{filter-control updateFilter=(action "updateFilter") doFilterByCategories=doFilterByCategories addCategory="addCategory" filter=filter currentUser=currentUser addCategoriesTypeahead=addCategoriesTypeahead removeCategory=(action "removeCategory")
        sortOptions=sortOptions
        sortCriterion=sortCriterion
        updateSortCriterion=(action "updateSortCriterion")
        }}

      </div> --}}


{{!-- <div class="list-outlet">
  {{outlet}}
</div> --}}