<div class="filter-items">
  <h2>Filter Options</h2>
  <h3>Primary Filters</h3>
  <ul>
    {{#each primaryFilterOptions as |input|}}
      <li>
        {{radio-filter groupValue=primaryFilterValue secondaryInputs=input.secondaryFilters isChecked=input.isChecked groupName="top-level" inputValue=input.value onClick=(action "updateTopLevel") labelName=input.label labelIcon=input.icon}}
        {{#if (is-equal primaryFilterValue input.value)}}
          {{#if showAdminFilters}}
            {{admin-problem-filter
              filter=adminFilter
              mainOptions=secondaryFilterOptions
              secondaryFilter=secondaryFilter
              onUpdate=(action "onUpdate")
              orgOptions=orgOptions
              store=store
            }}

          {{else}}
          <ul class="secondary-filter-options">
            {{#each secondaryFilterOptions as |option|}}
              <li class="checkbox-content {{if isChecked 'is-selected'}}">
                <label for={{option.value}} class="checkbox-label">
                  <i class="checkbox-icon {{option.icon}}"></i>
                  <span class="checkbox-text">{{option.label}}</span>
                  {{input id=option.value type="checkbox" checked=option.isApplied change=(action "updateSecondLevel")}}
                </label>
              </li>
            {{/each}}
          </ul>
          {{/if}}

        {{/if}}
      </li>
    {{/each}}
  </ul>

</div>