<div class="filter-items">
  <h2>Filter Options</h2>
  <h3>Primary Filters</h3>
  <ul class="primary-filter-list">
    {{#each this.primaryFilterOptions as |input|}}
      <li class="filter-{{input.value}}">
        <RadioFilter @groupValue={{this.primaryFilterValue}} @secondaryInputs={{input.secondaryFilters}} @isChecked={{input.isChecked}} @groupName="top-level" @inputValue={{input.value}} @onClick={{action "updateTopLevel"}} @labelName={{input.label}} @labelIcon={{input.icon}} @id={{input.value}} />
        {{#if (is-equal this.primaryFilterValue input.value)}}
          {{#if this.showAdminFilters}}
            <AdminProblemFilter @filter={{this.adminFilter}} @mainOptions={{this.secondaryFilterOptions}} @secondaryFilter={{this.secondaryFilter}} @onUpdate={{action "onUpdate"}} @orgOptions={{this.orgOptions}} @store={{this.store}} @updateSecondLevel={{action "updateSecondLevel"}} />
          {{else}}
          <ul class="secondary-filter-options">
            {{#each this.secondaryFilterOptions as |option|}}
              <li class="checkbox-content {{if (is-in this.currentValues option.value) 'is-selected'}} {{option.value}}">
                <label for={{option.value}} class="checkbox-label">
                  <i class="checkbox-icon {{option.icon}}"></i>
                  <span class="checkbox-text">{{option.label}}</span>
                  <Input @id={{option.value}} @type="checkbox" @checked={{option.isApplied}} @change={{action "updateSecondLevel"}} />
                </label>
              </li>
            {{/each}}
          </ul>
          {{/if}}

        {{/if}}
      </li>
    {{/each}}
  </ul>

  <h3 {{action 'toggleCategoryFilters'}} class="category-header">
    <i class="fas {{if this.showCategoryFilters 'fa-chevron-down'}}{{unless this.showCategoryFilters 'fa-chevron-right'}}"></i> Category
  </h3>
  {{#if this.showCategoryFilters}}
    <ul class="category-filter-list">
      <SelectizeInput @store={{this.store}} @inputId="categories-filter" @onItemAdd={{action "addCategorySelectize"}} @maxItems={{1}} @labelField="identifier" @valueField="id" @searchField="identifier" @model="category" @queryParamsKey="identifier" @topLevelQueryParams="searchBy" @isAsync={{true}} @placeholder="Search categories to add" />
      <li>
        <button class="show-category-btn" {{action 'showCategoryMenu'}}>Show Category Menu</button>
      </li>
      <h5>Selected Category Filters</h5>
      <label class="subfilter">
        <Input @id="toggle-sub-cats" @type="checkbox" @checked={{this.doIncludeSubCategories}} @change={{action "toggleIncludeSubCats"}} />
        <span>Include Subcategories</span>
      </label>
        {{#if this.categoriesFilter}}
        <ul class="selected-cat-list">
          {{#each this.categoriesFilter as |category|}}
            <li>{{category.identifier}}<i {{action "removeCategory" category}} class="far fa-times-circle" aria-hidden="true" title="Remove"></i></li>
          {{/each}}
        </ul>
        {{else}}
          <p>No categories Selected</p>
            {{!-- <p>Click 'Show Category Menu' to view the Category Explorer</p> --}}
         {{/if}}
    </ul>
  {{/if}}
  {{#if this.currentUser.user.isAdmin}}
    <h3 {{action 'toggleMoreFilters'}} class="more-header {{if this.closedMenu 'closed'}}">
      <i class="fas {{if this.showMoreFilters 'fa-chevron-down'}}{{unless this.showMoreFilters 'fa-chevron-right'}}"></i> More
    </h3>
    {{#if this.showMoreFilters}}
      <ul class="more-filter-list">
        <h5>Trashed Problems</h5>
        <label class="subfilter">
          <Input @id="toggle-trashed" @type="checkbox" @checked={{this.showTrashedProblems}} @change={{action "toggleTrashedProblems"}} /> <span>Show All Trashed Problems</span>
        </label>
      </ul>
    {{/if}}
  {{/if}}
</div>
