<section class="list-side">
  <header class="list-header">
    <h1>Problems</h1>
    {{#link-to 'problems.new' id="problem-new-link" class="new-link-btn"}}<span>Create New Problem</span><i class="fas fa-plus"></i>{{/link-to}}

    <div class="search-bar">
      {{search-bar
        onSearch=(action "searchProblems")
        showFilter=true
        searchOptions = searchOptions
        basePlaceholder="Search problems"
        inputValue=searchInputValue
      }}

      <div class="filter-search">
        {{filter-control updateFilter=(action "updateFilter") doFilterByCategories=doFilterByCategories addCategory="addCategory" filter=filter currentUser=currentUser addCategoriesTypeahead=addCategoriesTypeahead removeCategory=(action "removeCategory")
        sortOptions=sortOptions
        sortCriterion=sortCriterion
        updateSortCriterion=(action "updateSortCriterion")
        }}

      </div>
    </div>
    <div class="clear"></div>
  </header>

  <section>

    <nav class="list-box" id="with-search-bar">
      <div class="results-info">
        {{#if isDisplayingSearchResults}}
          <p>Based off your filter criteria, we found {{problemsMetadata.total}} problems whose {{searchCriterion}} contains "{{searchQuery}}"</p>
          <button {{action "clearSearchResults"}}>Clear Results</button>
        {{else}}
          <p>We found {{problemsMetadata.total}} problems based off of your current filter criteria</p>
        {{/if}}
      </div>

      {{problem-list isSearching=isSearchingProblems problems=displayProblems metadata=problemsMetadata}}

      {{pagination-control
        details=problemsMetadata
        initiatePageChange=(action "initiatePageChange")
      }}
    </nav>
  </section>


</section>
<div class="list-outlet">
  {{outlet}}
</div>