  <div class="main-list">
    {{#if this.isSearching}}
      <p class="loading-message">Searching problems...</p>
    {{else}}
    <ul id="problem-list-ul">
      {{#each this.problems as |problem|}}
      <li>
        <ProblemListItem @currentUser={{this.currentUser}} @problem={{problem}} @isList={{this.isList}} @isGrid={{this.isGrid}} @store={{this.store}} @moreMenuOptions={{this.moreMenuOptions}} @toProblemInfo={{action "toProblemInfo"}} @refreshList={{action "refreshList"}} />

      </li>
      {{/each}}
      </ul>
    {{/if}}
  </div>




