<header id="problemlistheader">
  <h2 class="problem-new-header">{{#link-to 'problems.new' id="problem-new-link"}}Create New Problem{{/link-to}}</h2>
  <div class="clear"></div>
</header>


<section class="problemlist">
  <nav class="actions listing al_vertical_stretch">
    {{!-- <h2 class="problem-new-header">{{#link-to 'problems.new' id="problem-new-link"}}Create New Problem{{/link-to}}</h2> --}}
    <h2 class="your-problems-header">{{currentUser.username}}'s Problems</h2>
    <ul class="your-problems">
    {{#if yourProblems}}
      {{#each yourProblems as |problem|}}
      <li>{{#link-to 'problem' problem classNames='problem'}}{{problem.title}}{{/link-to}}</li>
      {{/each}}
    {{else}}
      <li>You have no problems</li>
    {{/if}}
    </ul>

    {{#if currentUser.organization}}
    <h2>{{currentUser.organization.name}}'s Problems</h2>
    <ul class="public">
      {{#each orgProblems as |problem|}}
      <li>{{#link-to 'problem' problem classNames='problem'}}{{problem.title}}{{/link-to}}</li>
      {{/each}}
    </ul>
    {{/if}}

    <h2>Public Problems</h2>
    <ul class="public">
      {{#each publicProblems as |problem|}}
      <li>{{#link-to 'problem' problem classNames='problem'}}{{problem.title}}{{/link-to}}</li>
      {{/each}}
    </ul>
  </nav>
</section>

<fieldset>
  <div class="listOutlet-users">
    {{outlet}}
  </div>
</fieldset>



