<header class="info-header">
  <span class="remove-icon" {{action 'hideInfo' }}>
    <i class="fas fa-times"></i>
  </span>
</header>

<div class="side-info-menu">
  <section class="info-details">
    <div class="info-main">
      <div class="heading">
        Create New Problem
      </div>
    </div>
    <div class="info-menu">
      <button class="tab-name general {{if this.showGeneral 'active-btn'}}">General</button>
      <button class="tab-name categories {{if this.showCats 'active-btn'}}">Categories</button>
      <button class="tab-name additional {{if this.showAdditional 'active-btn'}}">Additional</button>
      <button class="tab-name legal {{if this.showLegal 'active-btn'}}">Legal</button>
    </div>
    <div class="info-content">
      {{#if this.showGeneral}}
      <p class="info-content-label title">
        Problem Title <span class="required-star">*</span>
        <span class="info-text-tip simptip-position-left simptip-multiline simptip-smooth"
          data-tooltip={{this.tooltips.name}}><i class="fas fa-info-circle info-icon"></i></span>
      </p>
      <div class="info-content-block">
        <div class="input-container">
          <Input @id="title" required="true" @type="text" @value={{this.title}} placeholder="Enter Problem Title"
            @key-down={{resetErrors}} />
        </div>
      </div>
      <p class="info-content-label statement">
        Problem Statement <span class="required-star">*</span>
        <span class="info-text-tip simptip-position-left simptip-multiline simptip-smooth"
          data-tooltip={{this.tooltips.statement}}><i class="fas fa-info-circle info-icon"></i></span>
      </p>
      <div class="info-content-block">
        <QuillContainer @onEditorChange={{action "updateQuillText" }} @startingText={{this.problemStatement}} />
      </div>
      <p class="info-content-label author">
        Author
        <span class="info-text-tip simptip-position-left simptip-multiline simptip-smooth"
          data-tooltip={{this.tooltips.author}}><i class="fas fa-info-circle info-icon"></i></span>
      </p>
      <div class="info-content-block">
        <div class="input-container">
          <Input @name="author" @id="author" @type="text" @value={{this.author}} />
        </div>
      </div>
      <p class="info-content-label privacy">
        Privacy Setting <span class="required-star">*</span>
        <span class="info-text-tip simptip-position-left simptip-multiline simptip-smooth"
          data-tooltip={{this.tooltips.privacySettings}}><i class="fas fa-info-circle info-icon"></i></span>
      </p>
      <div class="info-content-block privacy">
        <ul>
          <li class="radio-item">
            <label class="radio-label">
              <input type="radio" checked={{is-equal this.privacySetting "M" }} value={{this.privacySetting}} required="true"
                name="privacy" class="justMe" onclick={{action 'radioSelect' 'M' }}>
              <span class="radio-text">Just Me</span>
            </label>
          </li>
          <li class="radio-item">
            <label class="radio-label">
              <input type="radio" id="myOrg" checked={{is-equal this.privacySetting "O" }} value={{this.privacySetting}}
                required="true" name="privacy" class="myOrg" onclick={{action 'radioSelect' 'O' }}>
              <span class="radio-text">My Organization</span>
            </label>
          </li>
          <li class="radio-item">
            <label class="radio-label">
              <input type="radio" checked={{is-equal this.privacySetting "E" }} value={{this.privacySetting}} required="true"
                name="privacy" class="everyone" onclick={{action 'radioSelect' 'E' }}>
              <span class="radio-text">Everyone</span>
            </label>
          </li>
        </ul>
      </div>
      {{/if}}

      {{#if this.showCats}}
      <p class="info-content-label categories">
        Problem Categories
        <span class="info-text-tip simptip-position-left simptip-multiline simptip-smooth"
          data-tooltip={{this.tooltips.categories}}><i class="fas fa-info-circle info-icon"></i></span>
      </p>
      <div class="info-content-block categories">
        {{#if this.selectedCategories}}
        <ul class="problem-info">
          {{#each this.selectedCategories as |category|}}
          <li class="category-item"><a href="{{category.url}}" target="_blank">{{category.identifier}}</a> <button
              class="remove-cat" {{action 'removeCategory' category}}><i class="far fa-times-circle"></i></button></li>
          {{/each}}
        </ul>
        {{/if}}
        {{#unless this.showCategories}}
        <button class="cancel-button show-cats-btn" {{action 'showCategories' }}>Show Category Menu</button>
        {{/unless}}
        {{#if this.showCategories}}
        <button class="cancel-button hide-cats-btn" {{action 'showCategories' }}>Hide Category Menu</button>
        <CategoriesMenu @categories={{this.categoryTree}} @store={{this.store}} @addCategories="addCategories" />
        {{/if}}
      </div>
      <p class="info-content-label keywords">
        Problem Keywords
        <span class="info-text-tip simptip-position-left simptip-multiline simptip-smooth"
          data-tooltip={{this.tooltips.keywords}}><i class="fas fa-info-circle info-icon"></i></span>
      </p>
      <div class="info-content-block">
        <SelectizeInput @inputId="select-add-keywords" @onItemAdd={{action "updateKeywords" }}
          @onItemRemove={{action "updateKeywords" }} @maxItems={{5}} @create={{true}} @createFilter={{this.keywordFilter}}
          @persist={{false}} />
      </div>
      {{/if}}

      {{#if this.showAdditional}}
      <p class="info-content-label additional">
        Additional Information
        <span class="info-text-tip simptip-position-left simptip-multiline simptip-smooth"
          data-tooltip={{this.tooltips.additionalInfo}}><i class="fas fa-info-circle info-icon"></i></span>
      </p>
      <div class="info-content-block">
        <div class="input-container">
          <Textarea class="additional-info-area" @value={{this.additionalInfo}} @rows="3" placeholder="Additional info..." />
          <Input @id="additionalInfo" @type="hidden" @value={{this.additionalInfo}} />
        </div>
      </div>
      <p class="info-content-label image">
        Additional Image
        <span class="info-text-tip simptip-position-left simptip-multiline simptip-smooth"
          data-tooltip={{this.tooltips.additionalImage}}><i class="fas fa-info-circle info-icon"></i></span>
      </p>
      <div class="info-content-block">
        {{#if this.fileName}}
        <p class="file-name"><span class="bold">Uploaded File</span> {{this.fileName}} <button class="remove-cat"
            {{action 'removeFile' }}><i class="far fa-times-circle"></i></button></p>
        {{else}}
        <ImageUpload @filesToBeUploaded={{this.filesToBeUploaded}} @hideSubmit={{true}}
          @storeFiles={{action "setFileToUpload" }} />
        {{/if}}
      </div>
      {{/if}}

      {{#if this.showLegal}}
      <p class="info-content-label copyright">
        Copyright Notice
        <span class="info-text-tip simptip-position-left simptip-multiline simptip-smooth"
          data-tooltip={{this.tooltips.copyrightNotice}}><i class="fas fa-info-circle info-icon"></i></span>
      </p>
      <div class="info-content-block">
        <div class="input-container" id="copyright-container">
          <span id="icon">&copy;</span>
          <Input @name="copyright" @id="copyright" @type="text" @value={{this.copyrightNotice}}
            placeholder="Add Copyright Notice" />
        </div>
      </div>
      <p class="info-content-label sharing">
        Sharing Authorization
        <span class="info-text-tip simptip-position-left simptip-multiline simptip-smooth"
          data-tooltip={{this.tooltips.sharingAuth}}><i class="fas fa-info-circle info-icon"></i></span>
      </p>
      <div class="info-content-block">
        <div class="input-container">
          <Input @name="sharing" @id="sharing" @type="text" @value={{this.sharingAuth}}
            placeholder="Add Sharing Authorization" />
        </div>
      </div>
      <p class="info-content-label legal">
        Legal Notice <span class="required-star">*</span>
        <span class="info-text-tip simptip-position-left simptip-multiline simptip-smooth"
          data-tooltip={{this.tooltips.legalNotice}}><i class="fas fa-info-circle info-icon"></i></span>
      </p>
      <div class="info-content-block">
        <Input @type="checkbox" @id="legal-notice" @checked={{this.approvedProblem}} required="true"
          @click={{action "resetErrors" }} />
        <span id="approved-problem">This problem does not contain any unapproved copywritten material</span>
      </div>
      {{/if}}
    </div>
  </section>

  <section class="info-actions">
    <div class="buttons-container">
      <span class="right-buttons">
        {{#if this.showGeneral}}
        <button class="action_button cancel-button" {{action 'cancelProblem' }}>Cancel</button>
        <button class="action_button primary-button" {{action 'nextStep'}}>Next</button>
        {{else}}
        {{#if this.showLegal}}
        <button class="action_button cancel-button" {{action 'backStep' }}>Back</button>
        <button class="action_button primary-button" {{action 'validate' }}>Create</button>
        {{else}}
        <button class="action_button cancel-button" {{action 'backStep' }}>Back</button>
        <button class="action_button primary-button" {{action 'nextStep' }}>Next</button>
        {{/if}}
        {{/if}}
      </span>
    </div>
  </section>

  {{#each this.createProblemErrors as |error|}}
  <ErrorBox @error={{error}} @showDismiss={{true}} />
  {{/each}}
  {{#each this.imageUploadErrors as |error|}}
  <ErrorBox @error={{error}} @showDismiss={{true}} />
  {{/each}}

  {{#if this.isMissingRequiredFields}}
  <ErrorBox @error="Please provide all required fields" @showDismiss={{true}} />
  {{/if}}

  {{#if this.noLegalNotice}}
  <ErrorBox @error="Please verify that you have permission to post this problem" @showDismiss={{true}} />
  {{/if}}

</div>





{{!-- <section class="third submissions">
  <form id='newproblemform' class='properForm'>
    <fieldset>
      <ol>
        <li>
          <label class="form-label" for="title" id="problemName">
            <span class="label-text simptip-position-right simptip-multiline simptip-smooth"
              data-tooltip={{tooltips.name}}>Problem Name </span>
            <span class="required-star">*</span>
          </label>
          {{input id="title" required="true" type="text" value=title placeholder="enter problem name"
          action="resetErrors" on="key-down"}}
        </li>
        <li>
          <label class="form-label" for="text">
            <span class="label-text simptip-position-right simptip-multiline simptip-smooth"
              data-tooltip={{tooltips.statement}}>Problem Statement </span>
            <span class="required-star">*</span></label>
          <div class="quill-container">
            <section id="editor"></section>
          </div>
        </li>
        <li>
          <label class="form-label" for="categories">
            <span class="label-text simptip-position-right simptip-multiline simptip-smooth"
              data-tooltip={{tooltips.categories}}>Problem Categories </span>
            <span class="required-star">*</span>
          </label>
          {{#if selectedCategories}}
          <ul class="problem-info">
            {{#each selectedCategories as |category|}}
            <li><a href="{{category.url}}" target="_blank">{{category.identifier}}</a> <button {{action 'removeCategory'
                category}}><i class="far fa-times-circle"></i></button></li>
            {{/each}}
          </ul>
          {{/if}}
          {{#unless showCategories}}
          <div class="button-row {{if selectedCategories " center"}}">
            <button id="add-category" {{action 'showCategories' }}>Show Category Menu</button>
          </div>
          {{/unless}}
          {{#if showCategories}}
          <div class="button-row {{if selectedCategories " center"}}">
            <button id="add-category" {{action 'showCategories' }}>Hide Category Menu</button>
          </div>
          {{categories-menu categories=categoryTree store=store addCategories="addCategories"}}
          {{/if}}
        </li>
        <li>
          <label class="form-label" for="keywords">
            <span class="label-text simptip-position-right simptip-multiline simptip-smooth"
              data-tooltip={{tooltips.keywords}}>Keywords</span>
          </label>
          {{twitter-typeahead}}
        </li>
        <li>
          <label class="form-label" for="additionalInfo">
            <span class="label-text simptip-position-right simptip-multiline simptip-smooth"
              data-tooltip={{tooltips.additionalInfo}}>Additional Info</span>
          </label>
          {{textarea class="additional-info-area" value=additionalInfo rows="3" placeholder="Additional info..."}}
          {{input id="additionalInfo" type="hidden" value=additionalInfo }}
        </li>
        <li>
          <label class="form-label" for="imageUrl">
            <span class="label-text simptip-position-right simptip-multiline simptip-smooth"
              data-tooltip={{tooltips.additionalImage}}> Additional Image</span>
          </label>
          {{image-upload filesToBeUploaded = filesToBeUploaded hideSubmit = true}}
        </li>
        <li class="privacy-settings">
          <label class="form-label">
            <span class="label-text simptip-position-right simptip-multiline simptip-smooth"
              data-tooltip={{tooltips.privacySettings}}> Privacy Settings</span>
            <span class="required-star">*</span>
          </label>
          {{input type="radio" value=privacySetting required="true" name="privacy" class="justMe" click=(action
          "radioSelect" 'M')}}
          <label class="radio-label">Just Me</label>
          {{input type="radio" id="myOrg" value=privacySetting required="true" name="privacy" class="myOrg"
          click=(action "radioSelect" 'O')}}
          <label class="radio-label">My Organization</label>
          {{input type="radio" value=privacySetting required="true" name="privacy" class="everyone" click=(action
          "radioSelect" 'E')}}
          <label class="radio-label">Everyone</label>
        </li>
        <li>
          <label class="form-label" for="copyright">
            <span class="label-text simptip-position-right simptip-multiline simptip-smooth"
              data-tooltip={{tooltips.copyrightNotice}}> Copyright Notice</span>
          </label>
          <span id="copyright-container">
            <span id="icon">&copy;</span>
            {{input name="copyright" id="copyright" type="text" value=copyrightNotice}}
          </span>
        </li>
        <li>
          <label class="form-label" for="sharing">
            <span class="label-text simptip-position-right simptip-multiline simptip-smooth"
              data-tooltip={{tooltips.sharingAuth}}> Sharing Authorization</span>
          </label>
          {{input name="sharing" id="sharing" type="text" value=sharingAuth}}
        </li>
        <li>
          <label class="form-label" for="author">
            <span class="label-text simptip-position-right simptip-multiline simptip-smooth"
              data-tooltip={{tooltips.author}}> Author</span>
          </label>
          {{input name="author" id="author" type="text" value=author}}
        </li>
        <li>
          <label class="form-label" for="legal-notice">
            <span class="label-text simptip-position-right simptip-multiline simptip-smooth"
              data-tooltip={{tooltips.legalNotice}}> Legal Notice</span>
            <span class="required-star">*</span>
          </label>
          {{input type="checkbox" id="legal-notice" checked=approvedProblem required="true" click=(action
          "resetErrors")}}
          <span id="approved-problem">This problem does not contain any unapproved copywritten material</span>
        </li>
      </ol>
    </fieldset>
  </form>

</section>
<div style="clear: left"></div>
<section class="submit">
  <button class="action_button" {{action 'validate' }}>
    Create Problem
  </button>
  <button class="action_button cancel-button" type="submit" {{action 'cancelProblem' }}>Cancel</button>
</section> --}}