<input type="radio" checked={{isChecked}}  name={{groupName}} value={{inputValue}} onclick={{action "onClick" inputValue}}>
{{#if labelName}}
  <label class="radio-label">{{labelName}}</label>
{{/if}}
