{{#if this.options.groupLabel}}
  <p class="radio-group-label">
    {{this.options.groupLabel}}
    <span class="info-text-tip simptip-position-right simptip-multiline simptip-smooth" data-tooltip={{this.options.info}}>
      <i class="fas fa-info-circle info-icon"></i>
    </span>
  </p>
{{/if}}

{{#each this.options.inputs as |input|}}
 <ol class="radio-list">
    <li>
      <RadioGroupItem @selectedValue={{this.selectedValue}} @label={{input.label}} @name={{this.options.groupName}} @isRequired={{this.options.isRequired}} @value={{this.input.value}} @moreInfo={{this.input.moreInfo}} @onClick={{action "setValue"}} />
    </li>
  </ol>
{{/each}}