<label class="radio-label" class={{if isSelected 'is-selected'}}>
<input type="radio" id={{id}} checked={{isChecked}} name={{groupName}} value={{inputValue}} onclick={{action "onClick" inputValue}}>
<span class="radio-content"><i class="radio-icon {{labelIcon}}"></i><span class="radio-text">{{labelName}}</span></span>
</label>