<label class="radio-label" class={{if this.isSelected 'is-selected'}}>
<input type="radio" id={{this.id}} checked={{this.isChecked}} name={{this.groupName}} value={{this.inputValue}} onclick={{action "onClick" this.inputValue}}>
<span class="radio-content"><i class="radio-icon {{this.labelIcon}}"></i><span class="radio-text">{{this.labelName}}</span></span>
</label>