<label>
  <input type="radio" checked={{isSelected}} required={{isRequired}} name={{name}} value={{value}} onclick={{action "onClick" value}}>
  <span>
    {{label}}
    {{#if moreInfo}}
      <span class="simptip-position-right simptip-smooth" data-tooltip="{{moreInfo}}">
        <i class="far fa-question-circle info-icon"></i>
      </span>
    {{/if}}
  </span>
</label>


