<div class="reset-box">
  <img src="images/logo-encompass.png" class="encompass-logo" alt="encompass logo">
  {{#if isTokenValid}}
  <form id="form-reset-pass" class="form-reset">
    <div class="auth-form-input">
      <label for="password">Password</label>
      {{input class="form-control" name="password" id="password" required=true type="password" value=password action="resetErrors" on="key-down"}}
    </div>
    <div class="auth-form-input">
      <label for="confirmPassword">Confirm Password</label>
      {{input class="form-control" name="confirmPassword" id="confirmPassword" required=true type="password" value=confirmPassword action="resetErrors" on="key-down"}}
    </div>



      {{#if matchError}}
        <p class="error-message">Passwords don't match.</p>
      {{/if}}
      {{#if missingRequiredFields class="error-message"}}
        <p class="error-message">Please fill in all required fields.</p>
      {{/if}}

    <button id="reset-password" class="auth-button" type="submit" {{action 'resetPassword'}}>Reset Password</button>

    {{#each resetPasswordErrors as |error|}}
      <p class="error-message">{{error}}</p>
    {{/each}}

  </form>

  {{else}}
    <p class="error-message">{{invalidTokenError}}</p>
    {{#each getTokenErrors as |error|}}
      <p class="error-message">{{error}}</p>
    {{/each}}
    <p class="forgot-link">{{#link-to 'auth.forgot'}}Back to Forgot Password{{/link-to}}</p>
  {{/if}}
</div>