<div class="reset-page">
  <div class="reset-box" {{did-insert this.validateToken}}>
  <img
    src="/assets/images/logo-encompass.png"
    class="encompass-logo"
    alt="EnCoMPASS logo"
  />

  {{#if this.isTokenValid}}
    <form id="form-reset-pass" class="form-reset" {{on "submit" this.onSubmit}}>
      <div class="auth-form-input">
        <label for="password">Password</label>
        <Input
          class="form-control"
          id="password"
          name="password"
          @type="password"
          @value={{this.password}}
          required={{true}}
          {{on "input" this.resetErrors}}
        />
      </div>

      <div class="auth-form-input">
        <label for="confirmPassword">Confirm Password</label>
        <Input
          class="form-control"
          id="confirmPassword"
          name="confirmPassword"
          @type="password"
          @value={{this.confirmPassword}}
          required={{true}}
          {{on "input" this.resetErrors}}
        />
      </div>

      {{#if this.matchError}}
        <p class="error-message">Passwords don't match.</p>
      {{/if}}

      {{#if this.missingRequiredFields}}
        <p class="error-message">Please fill in all required fields.</p>
      {{/if}}

      <button id="reset-password" class="auth-button" type="submit">
        Reset Password
      </button>

      {{#each this.resetPasswordErrors as |error|}}
        <p class="error-message">{{error}}</p>
      {{/each}}
    </form>
  {{else}}
    {{#if this.invalidTokenError}}
      <p class="error-message">{{this.invalidTokenError}}</p>
    {{/if}}

    {{#each this.getTokenErrors as |error|}}
      <p class="error-message">{{error}}</p>
    {{/each}}

    <p class="forgot-link">
      <LinkTo @route="auth.forgot">Back to Forgot Password</LinkTo>
    </p>
  {{/if}}
</div>
</div>