{{#if displayResetForm}}
<div class="reset-user-box">
  {{#if resetSuccess}}
  <p class="success-message">Password reset successfully!</p>
  {{/if}}
  <form class="form-reset-user">
    <div class="auth-form-input">
      <label for="password">Password</label>
      <Input class="form-control" @name="password" @id="password" required={{true}} @type={{fieldType}}
        @value={{password}} {{on "key-down" this.resetErrors}} />
      <button id="show-password-btn" {{action "showPassword" }}>
        {{#if showingPassword}}
        <i class="fas fa-eye-slash"></i>
        {{else}}
        <i class="fas fa-eye"></i>
        {{/if}}
      </button>
    </div>
    <div class="auth-form-input">
      <label for="confirmPassword">Confirm Password</label>
      <Input class="form-control" @name="confirmPassword" @id="confirmPassword" required={{true}} @type={{fieldType}}
        @value={{confirmPassword}} {{on "key-down" this.resetErrors}} />
    </div>
    {{#if matchError}}
    <p class="error-message">Passwords don't match.</p>
    {{/if}}
    {{#if missingRequiredFields}}
    <p class="error-message">Please fill in all required fields.</p>
    {{/if}}
    <div class="button-row">
      <button class="action_button" type="submit" {{action 'resetPassword' }}>Reset</button>
      <button class="action_button cancel-button" type="submit" {{action 'cancelReset' }}>Cancel</button>
    </div>

  </form>
  {{#if resetError}}
  {{resetError}}
  {{/if}}
  {{#each postErrors as |error|}}
  <p class="error-message">{{error}}</p>
  {{/each}}

</div>
{{/if}}