{{! /**
 * #
 * @description 
  Response-new is a subcompoennt of response-mentor-reply.hbs. Users are able to craft new responses here
 * @author Yousof Wakili
 * @since 3.6.2
 */ }}

<div class='new-response-container'>
  {{! Header for container }}
  <div class='new-response-header'>
    <p>Craft Response</p>
    <p class='response-date'>{{format-date this.todaysDate 'MMMM Do YYYY'}}</p>
  </div>
  {{! Info in header }}
  <div class='new-response-header-info'>
    <p>To: {{@responseData.student}}</p>
    <p>From:
      {{this.currentUser.username}}
    </p>
  </div>
  {{! Main content }}
  <section class='new-response-content'>
    {{#if this.filteredSelections.length}}

      <section class='selections'>
        <p class='response-header' {{on 'click' (fn this.toggleProperty 'showSelections')}}>
          Selections
          <i
            class='fas
              {{if this.showSelections "fa-chevron-down"}}
              {{unless this.showSelections "fa fa-expand"}}'
          ></i>
        </p>
        {{#if this.showSelections}}
          <ul class='selections-list'>
            {{#each this.filteredSelections as |selection|}}
              <li class='selections-list-item'>
                <LinkTo
                  @route='workspace.submissions.submission.selections.selection'
                  @models={{array
                    selection.workspace.id
                    selection.submission.id
                    selection.id
                  }}
                >
                  {{#if selection.imageTagLink}}
                    <img
                      src={{selection.imageTagLink}}
                      alt={{selection.text}}
                    />
                  {{else}}
                    {{selection.text}}
                  {{/if}}
                </LinkTo>
              </li>
            {{/each}}
          </ul>
        {{/if}}
      </section>
      <section class='comments'>
        <p class='response-header' {{on 'click' (fn this.toggleProperty 'showComments')}}>
          Comments
          <i
            class='fas
              {{if this.showComments "fa-chevron-down"}}
              {{unless this.showComments "fa-chevron-left"}}'
          ></i>
        </p>
        {{#if this.showComments}}
          <ul class='comments-list'>
            {{#each this.filteredComments as |comment|}}
              <li class='comments-list-item'>
                <LinkTo
                  @route='workspace.submissions.submission.selections.selection'
                  @models={{array
                    comment.workspace.id
                    comment.submission.id
                    comment.selection.id
                  }}
                >
                  "{{comment.text}}"</LinkTo>
              </li>
            {{/each}}
          </ul>
        {{/if}}
      </section>
    {{/if}}

    <div class='response-info'>
      {{#if this.explainEmptiness}}
        <p class='response-prefill'>
          It looks like
          {{#if this.doUseOnlyOwnMarkup}} 
            you haven't made
          {{else}}
            there aren't
          {{/if}}
          any selections or comments for this submission. You can go back to the
          <LinkTo
            @route='workspace.submissions.submission'
            @models={{array @responseData.workspace @responseData.submission}}
          >submission</LinkTo>
          and create some selections and comments.
        </p>
      {{/if}}
    </div>
    <div class='response-compose'>
      <p class='response-header'>Message</p>

      <Ui::QuillContainer
        @onEditorChange={{this.updateQuillText}}
        @attrSectionId='response-new-editor'
        @startingText={{this.replyText}}
        @maxLength={{this.maxResponseLength}}
        @showErrors={{true}}
        @emptyErrorMessage='Message body cannot be blank'
      />

      {{#if this.showNoteField}}
        <div class='approve-note'>
          <p class='response-header'>Note to Approver</p>
          <Textarea
            class='approver-note'
            id='response-note'
            @value={{this.replyNote}}
          />
        </div>
      {{/if}}
    </div>

    {{#if this.doShowLoadingMessage}}
      <LoadingElem />
    {{/if}}
    <div class='submit-buttons button-row'>
      <button
        class='primary-button save-response'
        type='button'
        {{on 'click' this.saveResponse}}
      >{{this.submitButtonText}}</button>
      <button
        class='primary-button save-draft'
        type='button'
        {{on 'click' (fn this.saveResponse true)}}
      >Save as Draft</button>
    </div>
  </section>
</div>