<div class="new-response-container">
  <div class="top-row">
    <p class="response-date">{{format-date todaysDate 'Do MMM YYYY'}}</p>
    <p class="response-link">
      <LinkTo @route="workspace.submission" @models={{array model.workspace model.submission}} @classNames="submission">
        <span class="simptip-position-left simptip-smooth" data-tooltip="View Submission in Workspace">
          <i class="fas fa-external-link-alt"></i>
        </span>
      </LinkTo>
    </p>
  </div>
  <div class="response-title">
    Craft Response
  </div>
  <div class="response-users">
    <p>
      <span class="response-label">To:</span>
      <span class="response-value recipient">{{model.student}}</span>
    </p>
    <p>
      <span class="response-label">From:</span>
      <span class="response-value">{{currentUser.username}}</span>
    </p>
  </div>
  <section class="response-content">
    <section class="response-more-details">
      {{#if existingResponses.length}}
      <div class="response-existing-container">
        <p class="response-existing"> There
          {{pluralize existingResponses.length 'is' 'are'}} {{#unless model.persisted}}already{{/unless}}
          {{existingResponses.length}} other
          {{pluralize existingResponses.length 'response' 'responses'}} for this {{model.source}}.
          <span class='response-link' {{action toggleProperty 'showExisting'}}>
            {{#if showExisting}}
              Hide
            {{else}}
              Show
            {{/if}}
          </span>
        </p>
        {{#if showExisting}}
          <ul class="response-listing">
          {{#each existingResponses as |response|}}
            <li>
              <span class="create-date">{{format-date response.createDate  'l h:mm a'}}</span>  {{{response.shortText}}}... <LinkTo @route="responses.submission" @model={{submission.id}} @query={{hash responseId=response.id}}> View</LinkTo>
            </li>
          {{/each}}
          </ul>
        {{/if}}
      </div>
      {{/if}}
      <input type="checkbox" name="ownMarkUpOnly" checked={{doUseOnlyOwnMarkup}} onclick={{action "toggleOwnMarkUpOnly"}}/>
      <label>Use Only Own Markup</label>

      {{#if filteredSelections.length}}

        <section class="selections">
          <p class="response-header" {{action 'toggleProperty' 'showSelections'}}>
            Selections
            <i class="fas {{if showSelections 'fa-chevron-down'}} {{unless showSelections 'fa-chevron-left'}}"></i>
          </p>
          {{#if showSelections}}
            <ul class="selections-list">
            {{#each filteredSelections as |selection|}}
              <li class="selections-list-item">
                <LinkTo @route="workspace.submission.selection" @models={{array selection.workspace selection.submission selection}}>
                  {{#if selection.imageTagLink}}
                    <img src={{selection.imageTagLink}} alt={{selection.text}}>
                  {{else}}
                    {{selection.text}}
                  {{/if}}
                </LinkTo>
              </li>
            {{/each}}
            </ul>
          {{/if}}
        </section>
        <section class="comments">
          <p class="response-header" {{action 'toggleProperty' 'showComments'}}>
            Comments
            <i class="fas {{if showComments 'fa-chevron-down'}} {{unless showComments 'fa-chevron-left'}}"></i>
          </p>
          {{#if showComments}}
            <ul class="comments-list">
            {{#each filteredComments as |comment|}}
              <li class="comments-list-item">
                <LinkTo @route="workspace.submission.selection" @models={{array comment.workspace comment.submission comment.selection}}>
                "{{comment.text}}"</LinkTo>
              </li>
            {{/each}}
            </ul>
          {{/if}}
        </section>
      {{/if}}
    </section>
    <div class="response-info">
      {{#if explainEmptiness}}
        <p class="response-prefill">
          It looks like
         {{#if doUseOnlyOwnMarkup}}
            you haven't made
          {{else}}
          there aren't
         {{/if}}
           any selections or comments for this submission. You can go back to the <LinkTo @route="workspace.submission" @models={{array model.workspace model.submission}}>submission</LinkTo> and create some selections and comments.
        </p>
      {{/if}}
    </div>
    <div class="response-compose">
      <p class="response-header">Message</p>

      <QuillContainer @onEditorChange={{action "updateQuillText"}} @attrSectionId={{quillEditorId}} @startingText={{replyText}} />

      {{#if showNoteField}}
        <div class="approve-note">
          <p class="response-header">Note to Approver</p>
          <Textarea class="approver-note" @id="response-note" @value={{replyNote}} />
        </div>
      {{/if}}
    </div>
    {{#if emptyReplyError}}
      <ErrorBox @error="Message body cannot be blank" @showDismiss={{true}} @resetError={{action (mut emptyReplyError) null}} />
    {{/if}}
    {{#if quillTooLongError}}
      <ErrorBox @error={{quillTooLongErrorMsg}} @showDismiss={{true}} @resetError={{action (mut quillTooLongError) null}} />
    {{/if}}
    {{#if doShowLoadingMessage}}
      <LoadingElem />
    {{/if}}
    <div class="submit-buttons button-row">
      <button class="primary-button save-response" {{action 'saveResponse'}}>{{submitButtonText}}</button>
      <button class="primary-button save-draft" {{action 'saveResponse' true}}>Save as Draft</button>
    </div>
  </section>
</div>