<h5>Mentor Reply</h5>

{{#if isCreating}}
  {{response-new
    store=store
    isCreating=isCreating
    submission=submission
    model=responseNewModel
    recipient=recipient
    newReplyStatus=newReplyStatus
    newReplyType="mentor"
    onSaveSuccess=(action "onSaveSuccess")
  }}
{{else}}
<div class="response-info">
  {{#if displayResponse}}
    <p>From: {{displayResponse.createdBy.username}}</p>
    <p>To: {{displayResponse.recipient.username}}</p>
    <p>Date: {{format-date displayResponse.createDate "MMM Do YYYY h:mm A"}}</p>

    {{#if showStatus}}
      <p>Status: {{displayResponse.status}}</p>
    {{/if}}

    <p>Message: {{displayResponse.text}}</p>

    {{else}}
    <p>No response to display.</p>

  {{/if}}
  </div>
  <div class="mentor-reply-actions">
    {{#if showEdit}}
      <button {{action 'startEditing'}} class="primary-button">Edit</button>
    {{/if}}
    {{#if showRevise}}
      <button {{action 'startRevising'}} class="primary-button">Revise</button>
    {{/if}}
  </div>

  {{#if isComposing}}
  <div class="compose-mentor-reply">
    {{textarea cols=10 rows=20 name="mentor-reply" value=editRevisionText}}

    <div class="submit-buttons">
      {{#if isEditing}}
        <button {{action "stopEditing"}} class="cancel-button">Cancel</button>
        <button {{action "saveEdit"}} class="primary-button">Save</button>
      {{/if}}
      {{#if isRevising}}
        <button {{action "stopRevising"}} class="cancel-button">Cancel</button>
        <button {{action "saveRevision"}} class="primary-button">Send Revision</button>
        {{/if}}
    </div>
  </div>
{{/if}}
{{/if}}



