{{! /**
 * #
 * @description 
 Response-submission-view is a subcomponent of response-mentor-thread.hbs.
 Its sibling component is response-mentor-reply.hbs.
 This components purporse is to display information about the students submissions. 
 See response-mentor-thread.hbs and response-container.hbs for structure.
 
 * @author Yousof Wakili
 * @since 3.6.2
 */ }}
{{#if this.displaySubmission}}
  <div class='submission-container'>
    <div class='subimission-header-info'>
      <p>{{this.displaySubmission.student}}</p>
      <p class='submission-date'>{{format-date
          this.displaySubmission.createDate
          'MMMM Do, YYYY'
        }},
        {{format-date this.displaySubmission.createDate 'h:mm a'}}</p>
    </div>
    <div class='problem-link-container'>
      {{#if this.displaySubmission.answer}}
        <a {{action 'openProblem'}} class='problem-link'>
          {{this.displaySubmission.puzzle.title}}
          <i class='fas fa-external-link-alt'></i>
        </a>
      {{else}}
        <a
          class='puzzle'
          target='_blank'
          href='{{this.displaySubmission.puzzleUrl}}'
        >
          {{this.displaySubmission.puzzle.title}}
          <i class='fas fa-external-link-alt'></i>
        </a>
      {{/if}}
    </div>

    {{#if this.isRevising}}
      <AnswerNew
        @assignment={{displaySubmission.answer.assignment.content}}
        @isRevision={{true}}
        @priorAnswer={{displaySubmission.answer.content}}
        @section={{displaySubmission.answer.section.content}}
        @problem={{displaySubmission.answer.problem.content}}
        @cancelResponse={{action 'cancelRevising'}}
        @createButtonText='Submit Revision'
        @mainHeaderText='Create New Revision'
        @handleCreatedAnswer={{action 'toSubmissionFromAnswer'}}
        @workspacesToUpdateIds={{this.workspacesToUpdateIds}}
      />
    {{else}}
      <div class='submission-content-container short'>
        {{#if this.isRevising}}
          <div class='submission-content-header'>
            <span>Brief Summary</span>
          </div>
        {{else}}
          <div
            class='submission-content-header'
            {{action 'toggleProperty' 'isShortExpanded'}}
          >
            <span>Brief Summary</span>
            <i
              class='fas
                {{if this.isShortExpanded "fa-chevron-down"}}
                {{unless this.isShortExpanded "fa-chevron-left"}}'
            ></i>
          </div>
        {{/if}}

        {{#if this.isRevising}}
          <Textarea @name='brief-summary' @value={{revisedBriefSummary}} />
        {{else}}
          {{#if this.isShortExpanded}}
            <div class='submission-content short'>
              {{#if this.displaySubmission.answer.answer}}
                {{{this.displaySubmission.answer.answer}}}
              {{else}}
                {{{this.displaySubmission.shortAnswer}}}
              {{/if}}
            </div>
          {{/if}}
        {{/if}}
      </div>
      <div class='submission-content-container long'>
        {{#if this.isRevising}}
          <div class='submission-header'>
            <span>Explanation</span>
          </div>
        {{else}}
          <div
            class='submission-header'
            {{action 'toggleProperty' 'isLongExpanded'}}
          >
            <span>Explanation</span>
            <i
              class='fas
                {{if this.isLongExpanded "fa-chevron-down"}}
                {{unless this.isLongExpanded "fa-chevron-left"}}'
            ></i>
          </div>
        {{/if}}
        {{#if this.isRevising}}
          <QuillContainer @setup='insertQuillContent' />
        {{else}}
          {{#if this.isLongExpanded}}
            <div class='submission-content-container long'>
              {{#if this.displaySubmission.answer.explanation}}
                {{{this.displaySubmission.answer.explanation}}}
              {{/if}}
              {{#if this.displaySubmission.longAnswer}}
                {{{this.displaySubmission.longAnswer}}}
              {{/if}}
            </div>
          {{/if}}
        {{/if}}
      </div>

      {{#if this.displaySubmission.answer.explanationImage}}
        <div class='submission-content-container images'>
          <div
            class='submission-header'
            {{action 'toggleProperty' 'isImageExpanded'}}
          >
            <span>Addtional Image</span>
            <i
              class='fas
                {{if isImageExpanded "fa-chevron-down"}}
                {{unless isImageExpanded "fa-chevron-left"}}'
            ></i>
          </div>
          {{#if isImageExpanded}}
            <div class='submission-content response-submission-images'>
              <img
                src='{{this.displaySubmission.answer.explanationImage.imageData}}'
                alt=''
              />
            </div>
          {{/if}}
        </div>
      {{/if}}

      {{#if this.displaySubmission.uploadedFile.savedFileName}}
        <div class='submission-content-container images'>
          <div
            class='submission-header'
            {{action 'toggleProperty' 'isUploadExpanded'}}
          >
            <span>Uploaded Image</span>
            <i
              class='fas
                {{if isUploadExpanded "fa-chevron-down"}}
                {{unless isUploadExpanded "fa-chevron-left"}}'
            ></i>
          </div>
          {{#if isUploadExpanded}}
            <div
              class='submission-content-container response-submission-images'
            >
              <div id='submission_images'>
                <a
                  target='_blank'
                  href='{{unbound this.displaySubmission.imageUrl}}'
                >
                  <img
                    src='{{this.displaySubmission.imageUrl}}'
                    alt='Login to the PoWs to see image'
                  />
                </a>
              </div>
            </div>
          {{/if}}
        </div>
      {{/if}}

      {{#if this.canRevise}}
        <div class='mentor-reply-actions button-row'>
          {{#if this.isRevising}}
            <button
              {{action 'cancelRevising'}}
              class='primary-button cancel-button'
            >Cancel</button>
            <button {{action 'submitRevision'}} class='primary-button'>Submit
              Revision</button>
          {{else}}
            <button
              data-test='submitter-revise'
              {{action 'startRevising'}}
              class='edit-assignment-button'
            >Revise <i class='fas fa-edit'></i></button>
          {{/if}}
        </div>
      {{/if}}
    {{/if}}
  </div>
  {{! Page paginiation }}
  {{!-- <div class='student-submissions'>
    <BreadCrumbs
      @items={{sortedStudentSubmissions}}
      @onSelect={{action 'setDisplaySubmission'}}
      @selectedItem={{displaySubmission}}
      @starredItems={{mentoredRevisions}}
      @infoToolTipText={{revisionsToolTip}}
    />
    </div> --}}
{{/if}}