{{! 
  Parent under /responses/submission/:submissionId
  Renders a student's submission and mentor responses.
}}

<div class="response-container">
  <div class="response-header-container">
    {{#if this.isCreatingNewMentorReply}}
      <div class="problem-link-container">
        <p>
          Crafting a new response for
          <a href {{on "click" (fn this.openSubmission this.workspace.id this.submission.id)}} class="link">
            {{this.workspace.name}}
          </a>, problem:
          <a href {{on "click" this.openProblem}} class="problem-link">
            {{this.submission.puzzle.title}}
          </a>
        </p>
      </div>
    {{else}}
      <div class="problem-link-container">
        <p>
          Displaying feedback re:
          <a href {{on "click" this.openProblem}} class="problem-link">
            {{this.submission.puzzle.title}}
          </a>
        </p>
        from:
        <a href {{on "click" (fn this.openSubmission this.workspace.id this.submission.id)}} class="link">
          {{this.workspace.name}}
        </a>
      </div>
    {{/if}}
  </div>

  {{#each this.sortedSubmissions as |submission|}}
    <ResponseMentorThread
      @response={{this.response}}
      @submission={{submission}}
      @workspace={{this.workspace}}

      @wsResponses={{this.cleanWorkspaceResponses}}
      @studentSubmissions={{this.submissions}}
      @mentorReplies={{submission.responses}}
      @submissionResponses={{this.nonTrashedResponses}}

      @responseToApprove={{this.responseToApprove}}
      @displayResponse={{this.mentorReplyDisplayResponse}}
      @priorMentorRevision={{this.priorMentorRevision}}
      @iconFillOptions={{this.iconFillOptions}}

      @canDirectSend={{this.canDirectSend}}
      @canApprove={{this.canApprove}}
      @canSend={{this.canSend}}
      @isParentWorkspace={{this.isParentWorkspace}}
      @isCreating={{this.isCreatingNewMentorReply}}
      @isMentorRecipient={{this.isMentorRecipient}}
      @isOwnMentorReply={{this.isOwnMentorReply}}
      @isOwnSubmission={{this.isOwnSubmission}}

      {{!-- callbacks / pass-throughs --}}
      @onSubChange={{this.onSubmissionChange}}
      @sendRevisionNotices={{this.sendSubmissionRevisionNotices}}
      @onSaveSuccess={{this.onSaveSuccess}}
      @onMentorReplySwitch={{this.onMentorReplySwitch}}
      @toResponses={{this.toResponses}}
      @toNewResponse={{this.toNewResponse}}
      @toSubmission={{this.onSubmissionChange}}
      @handleResponseThread={{this.handleResponseThread}}
    />
  {{/each}}
</div>