{{!-- <h5>Response Submission</h5> --}}
{{#if submission}}
  <div class="problem-link-container">
  {{#if submission.answer}}
    <a {{action 'openProblem'}} class="problem-link">
      {{submission.puzzle.title}}
      <i class="fas fa-external-link-alt"></i>
    </a>
  {{else}}
    <a class='puzzle' target="_blank" href="{{submission.puzzleUrl}}">
      {{submission.puzzle.title}}
      <i class="fas fa-external-link-alt"></i>
    </a>
  {{/if}}
  </div>
  <div class="submission-container">
    <div class="workspace-name">
      {{workspace.name}}
    </div>
    <div class="submission-student">
      <i class="fas fa-user"></i><span>{{submission.student}}</span>
    </div>
    <div class="submission-content-container short">
      <div class="submission-header">
        <span>Short Answer</span>
        <i class="fas fa-chevron-down"></i>
      </div>
      <div class="submission-content short">
        {{#if submission.answer.answer}}
          {{{submission.answer.answer}}}
        {{else}}
          {{{submission.shortAnswer}}}
        {{/if}}
      </div>
    </div>
    <div class="submission-content-container long">
      <div class="submission-header">
        <span>Long Answer</span>
        <i class="fas fa-chevron-down"></i>
      </div>
      <div class="submission-content long">
        {{#if submission.answer.explanation}}
          {{{submission.answer.explanation}}}
        {{/if}}
        {{#if submission.longAnswer}}
          {{{submission.longAnswer}}}
        {{/if}}
      </div>
    </div>

    {{#if submission.answer.explanationImage}}
    <div class="submission-content-container images">
      <div class="submission-header">
        <span>Addtional Image</span>
        <i class="fas fa-chevron-down"></i>
      </div>
      <div class="submission-content images">
        <img src="{{submission.answer.explanationImage.imageData}}" alt="">
      </div>
    </div>
    {{/if}}

    {{#if submission.uploadedFile.savedFileName}}
    <div class="submission-content-container images">
      <div class="submission-header">
        <span>Uploaded Image</span>
        <i class="fas fa-chevron-down"></i>
      </div>
      <div class="submission-content images">
        <div id="submission_images">
          <a target="_blank" href="{{unbound submission.imageUrl}}">
            <img src="{{submission.imageUrl}}" alt="Login to the PoWs to see image" />
          </a>
        </div>
      </div>
    </div>
    {{/if}}
  </div>
{{/if}}