{{! /**
 * #
 * @description 
 Parent component under /responses/submission/:submissionId. 
 Subchild components are response-mentor-thread.hbs
 Structure is as follows:
  - response-container.hbs
    - response-mentor-thread.hbs
      - response-submission-view.hbs
      - response-mentor-reply.hbs
  Purpose of this component is render a students submission and every mentors response to that submission.
 * @author Yousof Wakili
 * @since 3.6.2
 */ }}
<div class='response-container'>
  <div class='response-header-container'>
    {{#if this.isCreatingNewMentorReply}}
      <p class='feedback-mode'>
        Crafting feedback for
        <a
          {{action 'openSubmission' this.workspace.id this.submission.id}}
          class='link'
        >submission</a>
        in
        {{this.workspace.name}}
      </p>
    {{else}}
      <p>{{this.workspace.name}}</p>
      <a
        {{action 'openSubmission' this.workspace.id this.submission.id}}
        class='link'
      >Go back to workspace</a>

    {{/if}}
  </div>
  {{#each this.sortedSubmissions as |submission|}}
    <ResponseMentorThread
      @response={{this.response}}
      @submission={{submission}}
      @workspace={{this.workspace}}
      @wsResponses={{this.cleanWorkspaceResponses}}
      @studentSubmissions={{this.submissions}}
      @onSubChange={{action 'onSubmissionChange'}}
      @sendRevisionNotices={{action 'sendSubmissionRevisionNotices'}}
      @isParentWorkspace={{this.isParentWorkspace}}
      @isCreating={{this.isCreatingNewMentorReply}}
      @mentorReplies={{submission.responses}}
      @responseToApprove={{this.responseToApprove}}
      @displayResponse={{this.mentorReplyDisplayResponse}}
      @canDirectSend={{this.canDirectSend}}
      @canApprove={{this.canApprove}}
      @isOwnMentorReply={{this.isOwnMentorReply}}
      @onSaveSuccess={{action 'onSaveSuccess'}}
      @onMentorReplySwitch={{action 'onMentorReplySwitch'}}
      @toResponses={{action 'toResponses'}}
      @submissionResponses={{this.nonTrashedResponses}}
      @canSend={{this.canSend}}
      @isMentorRecipient={{this.isMentorRecipient}}
      @isOwnSubmission={{this.isOwnSubmission}}
      @toNewResponse={{action 'toNewResponse'}}
      @priorMentorRevision={{this.priorMentorRevision}}
      @iconFillOptions={{this.iconFillOptions}}
      @toSubmission={{action 'onSubmissionChange'}}
      @handleResponseThread={{action 'handleResponseThread'}}
    />
  {{/each}}
</div>