{{#if displaySubmission}}
 <div class="student-submissions">
    <BreadCrumbs @items={{sortedStudentSubmissions}} @onSelect={{action "setDisplaySubmission"}} @selectedItem={{displaySubmission}} @starredItems={{mentoredRevisions}} @infoToolTipText={{revisionsToolTip}} />
  </div>
  <div class="submission-container">
    <div class="workspace-name">
      {{workspace.name}}
    </div>
    <div class="problem-link-container">
      {{#if displaySubmission.answer}}
      <a {{action 'openProblem'}} class="problem-link">
        {{displaySubmission.puzzle.title}}
        <i class="fas fa-external-link-alt"></i>
      </a>
      {{else}}
      <a class='puzzle' target="_blank" href="{{displaySubmission.puzzleUrl}}">
        {{displaySubmission.puzzle.title}}
        <i class="fas fa-external-link-alt"></i>
      </a>
      {{/if}}
    </div>
    <p class="submission-date">{{format-date displaySubmission.createDate 'Do MMM YYYY'}}
      <span class="submission-time">{{format-date displaySubmission.createDate 'h:mm a'}}</span>
    </p>
    <div class="submission-student">
      <i class="fas fa-user"></i><span>{{displaySubmission.student}}</span>
    </div>

    {{#if isRevising}}
      <AnswerNew @store={{this.store}} @assignment={{displaySubmission.answer.assignment.content}} @isRevision={{true}} @priorAnswer={{displaySubmission.answer.content}} @section={{displaySubmission.answer.section.content}} @problem={{displaySubmission.answer.problem.content}} @cancelResponse={{action "cancelRevising"}} @createButtonText="Submit Revision" @mainHeaderText="Create New Revision" @handleCreatedAnswer={{action "toSubmissionFromAnswer"}} @workspacesToUpdateIds={{[workspace.id]}} />
    {{else}}
      <div class="submission-content-container short">
        {{#if isRevising}}
          <div class="submission-header">
            <span>Brief Summary</span>
          </div>
        {{else}}
          <div class="submission-header" {{action 'toggleProperty' 'isShortExpanded'}}>
            <span>Brief Summary</span>
            <i class="fas {{if isShortExpanded 'fa-chevron-down'}} {{unless isShortExpanded 'fa-chevron-left'}}"></i>
          </div>
        {{/if}}

        {{#if isRevising}}
          <Textarea @name="brief-summary" @value={{revisedBriefSummary}} />
        {{else}}
          {{#if isShortExpanded}}
            <div class="submission-content short">
              {{#if displaySubmission.answer.answer}}
                {{{displaySubmission.answer.answer}}}
              {{else}}
                {{{displaySubmission.shortAnswer}}}
              {{/if}}
            </div>
          {{/if}}
        {{/if}}
      </div>
      <div class="submission-content-container long">
        {{#if isRevising}}
        <div class="submission-header">
          <span>Explanation</span>
        </div>
        {{else}}
          <div class="submission-header" {{action 'toggleProperty' 'isLongExpanded'}}>
            <span>Explanation</span>
            <i class="fas {{if isLongExpanded 'fa-chevron-down'}} {{unless isLongExpanded 'fa-chevron-left'}}"></i>
          </div>
        {{/if}}
        {{#if isRevising}}
          <QuillContainer @setup="insertQuillContent" />
        {{else}}
          {{#if isLongExpanded}}
            <div class="submission-content long">
              {{#if displaySubmission.answer.explanation}}
                {{{displaySubmission.answer.explanation}}}
              {{/if}}
              {{#if displaySubmission.longAnswer}}
                {{{displaySubmission.longAnswer}}}
              {{/if}}
            </div>
          {{/if}}
        {{/if}}
      </div>

      {{#if displaySubmission.answer.explanationImage}}
      <div class="submission-content-container images">
        <div class="submission-header" {{action 'toggleProperty' 'isImageExpanded'}}>
          <span>Addtional Image</span>
          <i class="fas {{if isImageExpanded 'fa-chevron-down'}} {{unless isImageExpanded 'fa-chevron-left'}}"></i>
        </div>
        {{#if isImageExpanded}}
          <div class="submission-content images">
            <img src="{{displaySubmission.answer.explanationImage.imageData}}" alt="">
          </div>
        {{/if}}
      </div>
      {{/if}}

      {{#if displaySubmission.uploadedFile.savedFileName}}
      <div class="submission-content-container images">
        <div class="submission-header" {{action 'toggleProperty' 'isUploadExpanded'}}>
          <span>Uploaded Image</span>
          <i class="fas {{if isUploadExpanded 'fa-chevron-down'}} {{unless isUploadExpanded 'fa-chevron-left'}}"></i>
        </div>
        {{#if isUploadExpanded}}
          <div class="submission-content images">
            <div id="submission_images">
              <a target="_blank" href="{{unbound displaySubmission.imageUrl}}">
                <img src="{{displaySubmission.imageUrl}}" alt="Login to the PoWs to see image" />
              </a>
            </div>
          </div>
        {{/if}}
      </div>
      {{/if}}

      {{#if canRevise}}
        <div class="mentor-reply-actions button-row">
        {{#if isRevising}}
          <button {{action 'cancelRevising'}} class="primary-button cancel-button">Cancel</button>
          <button {{action 'submitRevision'}} class="primary-button">Submit Revision</button>
        {{else}}
          <button data-test="submitter-revise" {{action 'startRevising'}} class="primary-button">Revise</button>
        {{/if}}
        </div>
      {{/if}}
    {{/if}}
  </div>
{{/if}}