<div {{action 'toSubmissionResponse'}} class="item-container {{if isUnreadReply "has-unread-reply"}}" id="container">
  {{#if showStudent}}
    <div class="item-section student">
        {{studentDisplay}}
    </div>
  {{/if}}
  <div class="item-section workspace">
    {{#if latestReply}}
      <span>{{latestReply.workspace.name}}</span>
    {{else}}
    <span>{{latestRevision.workspaces.firstObject.name}}</span>
    {{/if}}
  </div>
  <div class="item-section submission-date">
    <span>{{format-date thread.latestRevision.createDate 'L'}}</span>
  </div>
  <div class="item-section problem">
    {{latestRevision.answer.problem.title}}
  </div>
  {{#if showMentor}}
    <div class="item-section mentor">
      {{#each submissionMentors as |mentor|}}
      <span>{{mentor.displayName}}</span>
      {{/each}}
    </div>
  {{/if}}
  <div class="item-section reply-date">
    <span>
      {{#if latestReply}}
        {{format-date latestReply.createDate 'L'}}
      {{else}}
        N/A
      {{/if}}
    </span>
  </div>
  <div class="item-section status">
    <svg height="20" width="20">
        <circle cx="10" cy="15" r="5" fill={{displayStatus.statusFill}} />
    </svg>
      <span class="status-text">{{displayStatus.display}}</span>
  </div>
</div>

<script>
  $('.item-container').click(function (e) {
    $('.click-menu').addClass('hidden');
  });

  $('.flex-item-full').click(function (e) {
    $('.click-menu').addClass('hidden');
  });
</script>