<div {{action 'toSubmissionResponse'}} class="item-container {{if thread.hasUnreadReply "has-unread-reply"}}" id="container">
  {{#if showStudent}}
    <div class="item-section student">
        {{thread.studentDisplay}}
    </div>
  {{/if}}
  <div class="item-section workspace">
    <span>{{thread.workspaceName}}</span>
  </div>
  <div class="item-section submission-date">
    <span>{{format-date thread.latestRevision.createDate 'L' true}}</span>
  </div>
  <div class="item-section problem">
    {{thread.problemTitle}}
  </div>
  {{#if showMentor}}
    <div class="item-section mentor">
      {{#each mentors as |mentor|}}
      <span>{{mentor.displayName}}</span>
      {{/each}}
    </div>
  {{/if}}
  <div class="item-section reply-date">
    <span>
      {{#if thread.latestReply}}
        {{format-date thread.latestReply.createDate 'L' true}}
      {{else}}
        N/A
      {{/if}}
    </span>
  </div>
  <div title={{displayStatusText}} class="item-section status">
    <svg height="20" width="20">
        <circle cx="10" cy="15" r="5" fill={{displayStatus.statusFill}} />
    </svg>
      <span class="status-text">{{displayStatusText}}</span>
      {{#if thread.newNtfCount}}
        <i title={{ntfTitleText}} class="far fa-bell"></i>
      {{/if}}
  </div>
</div>

<script>
  $('.item-container').click(function (e) {
    $('.click-menu').addClass('hidden');
  });

  $('.flex-item-full').click(function (e) {
    $('.click-menu').addClass('hidden');
  });
</script>