<h5>Response Submission</h5>

{{#if submission}}
  <aside>
  <table>
    <tr>
      {{!-- <td>
        {{#if showingSelections}}
          <span {{action 'hideSelections'}} class="al_sprite al_hide_selections"></span>
        {{else}}
          <span {{action 'showSelections'}} class="al_sprite al_show_selections"></span>
        {{/if}}
      </td> --}}
      {{!-- {{#if this.canSelect}}
        <td>
          <label class="makingSelection">
            {{input type="checkbox" checked=shouldCheck click=(action "toggleSelecting")}}
            <span class="al_sprite al_makeselections"></span>
          </label>
        </td>
      {{/if}} --}}
      <td>
        {{#if submission.answer}}
          {{!-- {{#link-to 'problem' submission.answer.problem.id}}{{submission.puzzle.title}} <i class="fas fa-external-link-alt"></i>{{/link-to}} --}}
          <a {{action 'openProblem'}} class="problem-link">
            {{submission.puzzle.title}}
            <i class="fas fa-external-link-alt"></i>
          </a>
        {{else}}
          <a class='puzzle' target="_blank" href="{{submission.puzzleUrl}}">
            {{submission.puzzle.title}}
            <i class="fas fa-external-link-alt"></i>
          </a>
        {{/if}}
      </td>
    </tr>
  </table>
</aside>

<div id="al_submission" class="al_vertical_stretch">
  <div class="submission short">
    {{#if submission.answer.answer}}
      {{{submission.answer.answer}}}
    {{else}}
      {{{submission.shortAnswer}}}
    {{/if}}
  </div>
  <div class="submission long">
    {{#if submission.answer.explanation}}
      {{{submission.answer.explanation}}}
    {{/if}}
    {{#if submission.answer.explanationImage}}
      <img src="{{submission.answer.explanationImage.imageData}}" alt="">
    {{/if}}
    {{#if submission.longAnswer}}
      {{{submission.longAnswer}}}
    {{/if}}
  </div>
    {{!-- <div id="tags-list">
      <p class="al_small">Below is a list of image tags. Hover over a tag
        to view the selection, or click to edit the tag.
      </p>
    </div> --}}
  {{#if submission.uploadedFile.savedFileName}}
  <div id="submission_images">
    <a target="_blank" href="{{unbound submission.imageUrl}}">
      <img src="{{submission.imageUrl}}" alt="Login to the PoWs to see image"/>
    </a>
  </div>
  {{/if}}
</div><!--/al_submission-->


{{/if}}