<h1 class="heading">Approver Panel</h1>
{{#if showApproverActions}}
<div class="action-container">
  <h2 class="sub-heading">Manage Mentor Reply</h2>

  <div class="approver-actions button-row">
    {{#if showNoActionsMessage}}
      <p class="info">
     This Mentor Reply has already been approved by {{responseToApprove.approvedBy.username}} and sent to {{responseToApprove.recipient.username}}. There are no further approval actions to take at this time.
      </p>
    {{else}}
      {{#if showApprove}}
        <button class="approve-button" {{action "confirmApproval"}}>Approve <i class="fas fa-check"></i></button>
      {{/if}}
      {{#if showUndoApproval}}
        <button class="primary-button undo-approval" {{action "undoApproval"}}>Undo Approval</button>
      {{/if}}
      {{#if showCompose}}
        <button class="primary-button" {{action "composeReply"}}>Reply <i class="fas fa-reply"></i></button>
      {{/if}}
    {{/if}}
  </div>
</div>
{{/if}}

{{#if showReplyInput}}
  {{#unless isEditingApproverReply}}
  <div class="compose-reply-container">
    <p class="info">{{replyHeadingText}}</p>
    <div class="compose-approver-reply">
      {{quill-container onEditorChange=(action "updateQuillText") attrSectionId=quillEditorId startingText=editRevisionText}}
      {{#if emptyReplyError}}
        {{error-box error="Message body cannot be empty." showDismiss=true resetError=(action (mut emptyReplyError) null)}}
      {{/if}}
      {{#if quillTooLongError}}
        {{error-box error=quillTooLongErrorMsg showDismiss=true resetError=(action (mut quillTooLongError) null)}}
      {{/if}}
      {{#each saveRecordErrors as |err|}}
        {{error-box error=err showDismiss=true resetError=(action (mut recordCreateErrors) null)}}
      {{/each}}
      <div class="submit-buttons button-row">
        {{#if isRevisingApproverReply}}
          <button {{action "stopRevising"}} class="primary-button cancel-button">Cancel</button>
          <button {{action "saveReply" null true}} class="primary-button">Save as Draft</button>
          <button {{action "saveRevision"}} class="primary-button">Send Revision</button>
        {{/if}}
        {{#if isComposingReply}}
          <button class="primary-button cancel-button" {{action "stopComposing"}}>Cancel</button>
          <button {{action "saveReply" null true}} class="primary-button">Save as Draft</button>
          <button {{action "saveReply" 'needsRevisions'}}
          class="primary-button">Needs Revisions</button>
          <button {{action "saveReply" 'approved'}} class="primary-button">Approve</button>
        {{/if}}
        {{#if isFinishingDraft}}
          <button {{action "stopDraft"}} class="primary-button cancel-button">Cancel</button>
          <button {{action "saveDraft" 'draft'}} class="primary-button">Save as Draft</button>
          <button {{action "saveDraft" 'needsRevisions'}} class="primary-button">Needs Revisions</button>
          <button {{action "saveDraft" 'approved'}} class="primary-button">Approve</button>
        {{/if}}
      </div>
    </div>
  </div>
  {{/unless}}
{{/if}}

<div class="approver-replies">
  <h2 class="sub-heading">Existing Approver Replies</h2>
  {{#if showNoPreviousRepliesMsg}}
    <p class="info">It looks like there are no existing approver replies for this Mentor Reply.</p>
    <img src="/images/no-message.svg" alt="No Replies">
  {{/if}}
{{#if doShowLoadingMessage}}
  {{loading-elem}}
{{/if}}
{{#if displayReply}}
  <div class="display-approver-reply">
    <div class="top-row">
      <p class="reply-date">{{format-date displayReply.createDate 'Do MMM YYYY'}}
        <span class="reply-time">{{format-date displayReply.createDate 'h:mm a'}}</span>
      </p>
      {{#if sortedApproverReplies}}
        {{bread-crumbs
          items=sortedApproverReplies
          onSelect=(action "setReplyToView")
          titleTextPath="shortText"
          selectedItem=displayReply
          infoToolTipText=revisionsToolTip
          }}
      {{/if}}
    </div>
    <div class="reply-users">
      <p>
        <span class="reply-label">From:</span>
        <span class="reply-value">{{displayReply.createdBy.username}}</span>
      </p>
      <p>
        <span class="reply-label">To:</span>
        <span class="reply-value recipient">{{displayReply.recipient.username}}</span>
        {{#if showRecipientReadUnread}}
          <span class="reply-read-unread"><i title={{recipientReadUnreadIcon.title}} class={{recipientReadUnreadIcon.className}}></i></span>
        {{/if}}

      </p>
    </div>
    {{#if isDraft}}
      <p class="response-status">
        <svg height="20" width="20">
          <circle cx="10" cy="15" r="5" fill={{statusIconFill}} />
        </svg>
        <span class="status-text">
          {{response-status displayReply.status}}
        </span>
      </p>
    {{/if}}
    <p class="reply-header">
      Message
      {{#if showApproverEdit}}
        <i {{action 'startEditing'}} class="far fa-edit"></i>
      {{/if}}
    </p>

    {{#if isEditingApproverReply}}
      <div class="reply-revise">
      {{quill-container onEditorChange=(action "updateQuillText") attrSectionId=quillEditorId startingText=editRevisionText}}
      </div>
      {{#if emptyReplyError}}
        {{error-box error="Message body cannot be empty." showDismiss=true resetError=(action (mut emptyReplyError) null)}}
      {{/if}}
      {{#if quillTooLongError}}
        {{error-box error=quillTooLongErrorMsg showDismiss=true resetError=(action (mut quillTooLongError) null)}}
      {{/if}}
      {{#each saveRecordErrors as |err|}}
        {{error-box error=err showDismiss=true resetError=(action (mut recordCreateErrors) null)}}
      {{/each}}
    {{else}}
      <div class="reply-content {{if isOldFormatDisplayResponse "old-format"}}">
        {{{displayReply.text}}}
      </div>
    {{/if}}
  </div>
  {{#if showDisplayReplyActions}}
    <div class="display-reply-actions">
      {{#if showApproverRevise}}
        <button class="primary-button" {{action "startRevising"}}>Revise</button>
      {{/if}}
      {{#if showResumeDraft}}
        <button {{action 'resumeDraft'}} class="primary-button">Resume Draft</button>
      {{/if}}
      {{#if showTrash}}
        <i {{action 'confirmTrash' displayReply}} class="fas fa-trash"></i>
      {{/if}}
    </div>
  {{/if}}
  {{#if isEditingApproverReply}}
    <div class="submit-buttons button-row">
      <button {{action "stopEditing"}} class="primary-button cancel-button">Cancel</button>
      <button {{action "saveEdit"}} class="primary-button">Save</button>
    </div>
  {{/if}}
{{/if}}
</div>