{{! /**
 * #
 * @description 
 Parent component under /responses/submission/:submissionId. 
 Subchild components are response-mentor-thread.hbs
 Structure is as follows:
  - response-container.hbs
    - response-mentor-thread.hbs
      - response-submission-view.hbs
      - response-mentor-reply.hbs
  Purpose of this component is render a students submission and every mentors response to that submission.
 * @author Yousof Wakili
 * @since 3.6.2
 */ }}
<div class='response-container'>
  <div class='response-header-container'>
    {{! showing mentor thread for problems...... for workspace "x" and "y" }}
    {{#if this.isCreatingNewMentorReply}}
      <div class='problem-link-container'>
        <p>
          Crafting a new response for
          <a
            {{action 'openSubmission' this.workspace.id this.submission.id}}
            class='link'
          >{{this.workspace.name}}</a>, problem:
          <a {{action 'openProblem'}} class='problem-link'>
            {{this.submission.puzzle.title}}

          </a></p>
      </div>
    {{else}}
      {{! I would like it to be: Displaying feedback re: “problem_name” from “”workspace_name” }}
      <div class='problem-link-container'>

        <p>Displaying feedback re:
          <a {{action 'openProblem'}} class='problem-link'>
            {{this.submission.puzzle.title}}

          </a></p>
        from:
        <a
          {{action 'openSubmission' this.workspace.id this.submission.id}}
          class='link'
        >{{this.workspace.name}}</a>

      </div>

    {{/if}}
  </div>
  {{#each this.sortedSubmissions as |submission|}}
    <ResponseMentorThread
      @response={{this.response}}
      @submission={{submission}}
      @workspace={{this.workspace}}
      @wsResponses={{this.cleanWorkspaceResponses}}
      @studentSubmissions={{this.submissions}}
      @onSubChange={{action 'onSubmissionChange'}}
      @sendRevisionNotices={{action 'sendSubmissionRevisionNotices'}}
      @isParentWorkspace={{this.isParentWorkspace}}
      @isCreating={{this.isCreatingNewMentorReply}}
      @mentorReplies={{submission.responses}}
      @responseToApprove={{this.responseToApprove}}
      @displayResponse={{this.mentorReplyDisplayResponse}}
      @canDirectSend={{this.canDirectSend}}
      @canApprove={{this.canApprove}}
      @isOwnMentorReply={{this.isOwnMentorReply}}
      @onSaveSuccess={{action 'onSaveSuccess'}}
      @onMentorReplySwitch={{action 'onMentorReplySwitch'}}
      @toResponses={{action 'toResponses'}}
      @submissionResponses={{this.nonTrashedResponses}}
      @canSend={{this.canSend}}
      @isMentorRecipient={{this.isMentorRecipient}}
      @isOwnSubmission={{this.isOwnSubmission}}
      @toNewResponse={{action 'toNewResponse'}}
      @priorMentorRevision={{this.priorMentorRevision}}
      @iconFillOptions={{this.iconFillOptions}}
      @toSubmission={{action 'onSubmissionChange'}}
      @handleResponseThread={{action 'handleResponseThread'}}
    />
  {{/each}}
</div>