<div class="new-response-container">
  <div class="response-date">
    {{format-date todaysDate 'Do MMM YYYY'}}
  </div>
  <div class="response-title">
    Craft Response
  </div>
  <div class="response-users">
    <p>
      <span class="response-label">To:</span>
      <span class="response-value">{{model.student}}</span>
    </p>
    <p>
      <span class="response-label">From:</span>
      <span class="response-value">{{currentUser.username}}</span>
    </p>
  </div>
  <section class="response-content">
    {{!-- View submission here {{#link-to 'workspace.submission' model.workspace model.submission}}here{{/link-to}} --}}
    <div class="response-info">
    {{#if explainEmptiness}}
      <p class="response-prefill">
        It looks like you haven't made any selections or comments for this submission. <br/>
        You should go back to the {{#link-to 'workspace.submission' model.workspace model.submission}}submission{{/link-to}} and create some selections and comments.
      </p>
    {{else}}
      <p>
        This response was generated from {{model.workspace.owner.displayName}}'s workspace {{#link-to 'workspace.work' model.workspace classNames="workspace"}}{{model.workspace.name}}{{/link-to}}.
        {{#if model.submission}}
          In particular, it came from
            {{model.submission.student}}'s
            {{#link-to 'workspace.submission' model.workspace model.submission classNames="submission"}}
            submission
            {{/link-to}}
        {{/if}}
          (<a id="moreDetails" {{action toggleProperty 'showDetails'}}>{{moreDetailsLinkText}}</a>)
       </p>
    {{/if}}
    </div>


  <section class="response-more-details">
    {{#if existingResponses.length}}
      <p>
      There
        {{pluralize existingResponses.length 'is' 'are'}}
        {{#unless model.persisted}}already{{/unless}}
      <a class='other response' {{action toggleProperty 'showExisting'}}>{{existingResponses.length}} other
        {{pluralize existingResponses.length 'response' 'responses'}}
      </a> for this {{model.source}}.
      </p>
      {{#if showExisting}}
        <ul>
        {{#each existingResponses as |response|}}
          <li>
            {{#link-to 'response' response.id}}{{response.shortText}}{{/link-to}} from {{response.created}}
          </li>
        {{/each}}
        </ul>
        <br/>
      {{/if}}
    {{/if}}
    {{#if showDetails}}
      {{#if model.selections.length}}
        <p>These selections and comments were available at the time this response was created.</p>
        <section class="selections">
          <h2>Selections</h2>
          <ul>
          {{#each model.selections as |selection|}}
            <li>
              {{#link-to 'workspace.submission.selection' selection.workspace selection.submission selection}}{{selection.text}}{{/link-to}}
            </li>
          {{/each}}
          </ul>
        </section>

        <section class="comments">
          <h2>Comments</h2>
          <ul>
          {{#each model.comments as |comment|}}
            <li>
              {{#link-to 'workspace.submission.selection' comment.workspace comment.submission comment.selection}}{{comment.text}}{{/link-to}}
            </li>
          {{/each}}
          </ul>
        </section>
      {{else}}
        There weren't any selections/comments for this submission.
      {{/if}}
    {{/if}}
  </section>
  <div class="response-compose">
    <p>Message</p>
    {{textarea tabindex=1 id="responseTextarea" classBinding="hasText" value=replyText autofocus="autofocus"}}
    {{#if showNoteField}}
      <div class="approve-note">
        <h5>Note for Approver</h5>
        {{textarea class="approver-note" id="response-note" value=replyNote}}
      </div>
    {{/if}}
  </div>
  <div class="submit-buttons button-row">
    <button class="primary-button save-response" {{action 'save'}}>Send</button>
  </div>
</section>


</div>