{{#if this.isCreating}}
  <ResponseNew
    @store={{this.store}}
    @isCreating={{isCreating}}
    @submission={{submission}}
    @model={{responseNewModel}}
    @recipient={{recipient}}
    @newReplyStatus={{newReplyStatus}}
    @newReplyType='mentor'
    @onSaveSuccess={{action 'onSaveSuccess'}}
    @canDirectSend={{canDirectSend}}
    @submissionResponses={{mentorReplies}}
    @handleResponseThread={{action 'handleNewMentorReply'}}
  />
{{else}}

  {{#if this.sortedMentorReplies}}
    {{#each this.sortedMentorReplies as |listOfMentorReplies|}}
      <div class='response-mentor-container'>
        <div class='response-mentor-info'>
          {{#if this.displayResponse}}
            <p class='response-date'>
              {{#if this.isParentWorkspace}}
                <div class='response-users'>
                  <p>
                    <span class='response-label'>To:</span>
                    <span
                      class='response-value recipient'
                    >{{this.listOfMentorReplies.recipient.username}}
                    </span>
                    {{#if this.showRecipientReadUnread}}
                      <span class='response-read-unread'><i
                          title={{this.recipientReadUnreadIcon.title}}
                          class={{this.recipientReadUnreadIcon.className}}
                        ></i></span>
                    {{/if}}
                  </p>
                  <p>
                    <span class='response-label'>Mentor:</span>
                    <span class='response-value'>
                      {{#if this.isParentWorkspace}}
                        {{this.listOfMentorReplies.originalResponse.createdBy.username}}
                      {{else}}
                        {{this.listOfMentorReplies.createdBy.username}}
                      {{/if}}
                    </span>
                  </p>
                  <span class='response-time'>{{format-date
                      listOfMentorReplies.originalResponse.createDate
                      'MMMM Do YYYY'
                    }}
                    {{format-date
                      listOfMentorReplies.originalResponse.createDate
                      'h:mm a'
                    }}</span>
                </div>
                {{! if not in parent workspace }}
              {{else}}
                <div class='response-users'>
                  <div class='mentor-thread-container'>
                    <div class='mentor-header-thread'>
                      <p>Mentor: {{listOfMentorReplies.createdBy.username}}</p>
                      <p class='response-time'>{{format-date
                          listOfMentorReplies.createDate
                          'MMMM Do, YYYY'
                        }}
                        {{format-date
                          listOfMentorReplies.createDate
                          'h:mm a'
                        }}</p></div>

                    <p>
                      To:
                      {{listOfMentorReplies.recipient.username}}
                      {{#if this.showRecipientReadUnread}}
                        <i
                          title={{this.recipientReadUnreadIcon.title}}
                          class={{this.recipientReadUnreadIcon.className}}
                        ></i>
                      {{/if}}
                    </p>

                    <div class='response-text-container'>
                      {{#if this.isComposing}}
                        <QuillContainer
                          @onEditorChange={{action 'updateQuillText'}}
                          @attrSectionId={{quillEditorId}}
                          @startingText={{editRevisionText}}
                        />
                      {{else}}
                        <div
                          class='response-text
                            {{if this.isOldFormatDisplayResponse "old-format"}}'
                        >
                          {{{listOfMentorReplies.text}}}
                        </div>
                      {{/if}}
                    </div>
                  </div>
                  <div class='response-content'>
                    {{!-- {{#if this.showEdit}}
              <i {{action "handleComposeAction" "isEditing" true false}} class="far fa-edit"></i>
            {{/if}} --}}
                    {{#if this.showNoteHeader}}
                      <div class='response-note-container'>
                        <p class='response-header'>Note for Approver</p>
                        {{#if this.showApproverNoteInput}}
                          <Textarea
                            class='edit-note'
                            name='mentor-approver-note'
                            @value={{editRevisionNote}}
                          />
                        {{/if}}
                        {{#if this.showDisplayNote}}
                          <div class='response-note'>
                            {{listOfMentorReplies.note}}
                          </div>
                        {{/if}}
                      </div>
                    {{/if}}
                  </div>
                </div>
              {{/if}}
            </p>
          {{else}}
            <p>No response to display</p>
          {{/if}}
        </div>
      </div>
    {{/each}}
    {{#if this.emptyReplyError}}
      <ErrorBox
        @error='Message body cannot be empty.'
        @showDismiss={{true}}
        @resetError={{action (mut this.emptyReplyError) null}}
      />
    {{/if}}
    {{#if this.quillTooLongError}}
      <ErrorBox
        @error={{this.quillTooLongErrorMsg}}
        @showDismiss={{true}}
        @resetError={{action (mut this.quillTooLongError) null}}
      />
    {{/if}}
    {{! for draft option when mentor saves draft. tech debt }}
    {{!-- <div class="mentor-reply-actions button-row">
    {{#if showRevise}}
      <button {{action "handleComposeAction" "isRevising" true false}} class="primary-button">Revise</button>
    {{/if}}
    {{#if showResumeDraft}}
      <button {{action "handleComposeAction" "isFinishingDraft" true false}} class="primary-button">Resume Draft</button>
    {{/if}}
    {{#if showTrash}}
      <i {{action 'confirmTrash' displayResponse}} class="fas fa-trash"></i>
    {{/if}}
  </div> --}}

    {{#if this.doShowLoadingMessage}}
      <LoadingElem />
    {{/if}}
    {{#if this.isComposing}}
      <div class='submit-buttons button-row'>
        {{#if isEditing}}
          <button
            class='primary-button cancel-button' type="button" {{action 'handleComposeAction' 'isEditing' false true}}
          >Cancel</button>
          <button class='primary-button' type="button" {{action 'saveEdit'}}>Save</button>
        {{/if}}
        {{#if isRevising}}
          <button
            class='primary-button cancel-button' type="button" {{action 'handleComposeAction' 'isRevising' false true}}
          >Cancel</button>
          <button class='primary-button' type="button" {{action 'saveRevision' true}}>Save as
            Draft</button>
          <button
            class='primary-button' type="button" {{action 'saveRevision'}}
          >{{sendButtonText}}</button>
        {{/if}}
        {{#if isFinishingDraft}}
          <button
            class='primary-button cancel-button' type="button" {{action 'handleComposeAction' 'isFinishingDraft' false true}}
          >Cancel</button>
          <button class='primary-button' type="button" {{action 'saveDraft' true}}>Save as
            Draft</button>
          <button
            class='primary-button' type="button" {{action 'saveDraft'}}
          >{{sendButtonText}}</button>
        {{/if}}
      </div>
    {{/if}}
  {{else}}
    <p class='info'>No Mentor Feedback for this revision yet.</p>
    <img src='../assets/images/no-message.svg' alt='No Replies' />
    {{#if this.canSendNew}}
      Click 'New Response' to begin composing a new Mentor Reply.
      <div class='submit-buttons button-row'>
        <button class='primary-button' type="button" {{action 'toNewResponse'}}>New Response</button>
      </div>

    {{/if}}
  {{/if}}
  {{! page pagination for mentor replies }}
  {{!-- <div class="mentor-replies">
      <BreadCrumbs @items={{sortedMentorReplies}} @onSelect={{action "setDisplayMentorReply"}} @titleTextPath="shortText" @selectedItem={{displayResponse}} @infoToolTipText={{revisionsToolTip}} />
    </div> --}}
{{/if}}