<h5>Mentor Reply</h5>

{{#if isCreating}}

  {{response-new model=response
    isCreating=isCreating
    store=store
    submission=submission
    model=response
    recipient=recipient
    newReplyStatus=newReplyStatus
    newReplyType="mentor"
    onSaveSuccess=(action "onSaveSuccess")
  }}
{{else}}
<div class="response-info">
  {{#if displayResponse}}
    <p>From: {{displayResponse.createdBy.username}}</p>
    <p>To: {{displayResponse.recipient.username}}</p>
    <p>Date: {{format-date displayResponse.createDate "MMM Do YYYY h:mm A"}}</p>

    {{#if showStatus}}
      <p>Status: {{displayResponse.status}}</p>
    {{/if}}

    <p>Message: {{displayResponse.text}}</p>

    {{else}}
    <p>No response to display.</p>

  {{/if}}
  </div>
{{/if}}



