<div {{action 'toSubmissionResponse'}} class="item-container {{if isUnreadReply "has-unread-reply"}}" id="container">
  {{#if showStudent}}
    <div class="item-section student">
        {{submission.student}}
    </div>
  {{/if}}
  <div class="item-section submission-date">
    <span>{{format-date submission.createDate 'L'}}</span>
  </div>
  <div class="item-section problem">
    {{submission.answer.problem.title}}
  </div>
  <div class="item-section brief-summary">
      {{{submission.answer.answer}}}
  </div>
  {{#if showMentor}}
    <div class="item-section mentor">
      {{#each submissionMentors as |mentor|}}
      <span>{{mentor.displayName}}</span>
      {{/each}}
    </div>
  {{/if}}
  <div class="item-section reply-date">
    <span>
      {{#if newestResponse}}
        {{format-date newestResponse.createDate 'L'}}
      {{else}}
        N/A
      {{/if}}
    </span>
  </div>
  <div class="item-section status">
    {{#if isUnreadReply}}
    <svg height="20" width="20">
        <circle cx="10" cy="15" r="5" fill="#3997EE"/>
      </svg>
      <span class="unread">Unread Reply {{unreadCounter}}</span>
    {{/if}}
    {{#if inNeedOfRevisions}}
    <svg height="20" width="20">
        <circle cx="10" cy="15" r="5" fill="#EB5757"/>
      </svg>
      <span class="status-text">Needs Revisions {{needsRevisionCounter}}</span>
    {{/if}}
    {{#if waitingForApproval}}
    <svg height="20" width="20">
        <circle cx="10" cy="15" r="5" fill="#FFD204" />
      </svg>
      <span class="status-text">Pending Approval {{pendingApprovalCounter}}</span>
    {{/if}}
    {{#if isUnfinishedDraft}}
    <svg height="20" width="20">
        <circle cx="10" cy="15" r="5" fill="#778899" />
      </svg>
      <span class="status-text">Unfinished Draft {{draftCounter}}</span>
    {{/if}}
    {{#if isNew}}
    <svg height="20" width="20">
        <circle cx="10" cy="15" r="5" fill="#3997EE"/>
      </svg>
      <span class="status-text">New Submission</span>
    {{/if}}
    {{#if isNoActionNeeded}}
    <svg height="20" width="20">
        <circle cx="10" cy="15" r="5" fill="#35A853"/>
      </svg>
      <span class="status-text">Up to Date</span>
    {{/if}}
  </div>
</div>

<script>
  $('.item-container').click(function (e) {
    $('.click-menu').addClass('hidden');
  });

  $('.flex-item-full').click(function (e) {
    $('.click-menu').addClass('hidden');
  });
</script>