{{#if isCreating}}
  {{response-new
    store=store
    isCreating=isCreating
    submission=submission
    model=responseNewModel
    recipient=recipient
    newReplyStatus=newReplyStatus
    newReplyType="mentor"
    onSaveSuccess=(action "onSaveSuccess")
    canDirectSend=canDirectSend
    submissionResponses=submissionResponses
  }}
{{else}}
  {{#if sortedMentorReplies}}
    <div class="mentor-replies">
      {{bread-crumbs items=sortedMentorReplies onSelect=(action "setDisplayMentorReply") titleTextPath="shortText" selectedItem=displayResponse}}
    </div>
  {{/if}}

    <div class="response-info">
      {{#if displayResponse}}
        <p class="response-date">{{format-date displayResponse.createDate 'Do MMM YYYY'}}
          <span class="response-time">{{format-date displayResponse.createDate 'h:mm a'}}</span>
        </p>
        <p class="response-title">Mentor Response</p>
        <div class="response-users">
          <p>
            <span class="response-label">To:</span>
            <span class="response-value recipient">{{displayResponse.recipient.username}}</span>
          </p>
          <p>
            <span class="response-label">From:</span>
            <span class="response-value">{{displayResponse.createdBy.username}}</span>
          </p>
          {{#if showStatus}}
          <p class="response-status">
            <svg height="20" width="20">
              <circle cx="10" cy="15" r="5" fill={{statusIconFill}} />
            </svg>
            <span class="status-text">
              {{response-status displayResponse.status}}
            </span>
          </p>
          {{/if}}
        </div>
        <div class="response-content">
          <p class="response-header">Message</p>
          <div class="response-text">
            <pre>{{displayResponse.text}}</pre>
          </div>
        </div>
        {{#if showNote}}
          <p>Note for Approver: {{displayResponse.note}}</p>
        {{/if}}
      {{else}}
        <p>No response to display</p>
      {{/if}}
    </div>

  <div class="mentor-reply-actions button-row">
    {{#if showEdit}}
      <button {{action 'startEditing'}} class="primary-button">Edit</button>
    {{/if}}
    {{#if showRevise}}
      <button {{action 'startRevising'}} class="primary-button">Revise</button>
    {{/if}}
    {{#if showTrash}}
      <button {{action 'confirmTrash' displayResponse}} class="primary-button cancel-button">Delete</button>
    {{/if}}
  </div>

  {{#if isComposing}}
  <div class="compose-mentor-reply">
    <h3 class="compose-heading">{{replyHeadingText}}</h3>
    <h5>Message Body</h5>
    {{textarea cols=10 rows=20 name="mentor-reply" value=editRevisionText}}

    {{#if showApproverNoteInput}}
      <h5>Note for Approver</h5>
      {{textarea class="note" cols=5 rows=20 name="mentor-approver-note" value=editRevisionNote}}
    {{/if}}

    {{#if emptyReplyError}}
      {{error-box error="Message body cannot be empty." showDismiss=true resetError=(action (mut emptyReplyError) null)}}
    {{/if}}
    <div class="submit-buttons button-row">
      {{#if isEditing}}
        <button {{action "stopEditing"}} class="primary-button cancel-button">Cancel</button>
        <button {{action "saveEdit"}} class="primary-button">Save</button>
      {{/if}}
      {{#if isRevising}}
        <button {{action "stopRevising"}} class="primary-button cancel-button">Cancel</button>
        <button {{action "saveRevision"}} class="primary-button">Send Revision</button>
        {{/if}}
    </div>
  </div>
{{/if}}
{{/if}}



