<div class="response-flex-container ">
  <div class="response-flex-item submission{{if showApproverReply ' third'}}">
    {{response-submission-view
  store=store
  submission=response.submission
  workspace=response.workspace
  }}
  </div>
  <div class="response-flex-item mentor {{if showApproverReply 'third'}}">
 {{response-mentor-reply
  isCreating=isCreatingNewMentorReply
  response=response
  submission=response.submission
}}
  </div>
  {{#if showApproverReply}}
  <div class="response-flex-item approver third">
 {{response-approver-reply response=response }}

  </div>
  {{/if}}
</div>



