{{#if submission}}
  <div class="submission-container">
    <div class="workspace-name">
      {{workspace.name}}
    </div>
    <div class="problem-link-container">
      {{#if submission.answer}}
      <a {{action 'openProblem'}} class="problem-link">
        {{submission.puzzle.title}}
        <i class="fas fa-external-link-alt"></i>
      </a>
      {{else}}
      <a class='puzzle' target="_blank" href="{{submission.puzzleUrl}}">
        {{submission.puzzle.title}}
        <i class="fas fa-external-link-alt"></i>
      </a>
      {{/if}}
    </div>
    <div class="submission-student">
      <i class="fas fa-user"></i><span>{{submission.student}}</span>
    </div>
    <div class="submission-content-container short">
      {{#if isRevising}}
        <div class="submission-header">
          <span>Short Answer</span>
        </div>
      {{else}}
        <div class="submission-header" {{action 'toggleProperty' 'isShortExpanded'}}>
          <span>Short Answer</span>
          <i class="fas {{if isShortExpanded 'fa-chevron-down'}} {{unless isShortExpanded 'fa-chevron-left'}}"></i>
        </div>
      {{/if}}

      {{#if isRevising}}
        {{textarea name="brief-summary" value=revisedBriefSummary}}
      {{else}}
        {{#if isShortExpanded}}
          <div class="submission-content short">
            {{#if submission.answer.answer}}
              {{{submission.answer.answer}}}
            {{else}}
              {{{submission.shortAnswer}}}
            {{/if}}
          </div>
        {{/if}}
      {{/if}}
    </div>
    <div class="submission-content-container long">
      {{#if isRevising}}
      <div class="submission-header">
        <span>Long Answer</span>
      </div>
      {{else}}
        <div class="submission-header" {{action 'toggleProperty' 'isLongExpanded'}}>
          <span>Long Answer</span>
          <i class="fas {{if isLongExpanded 'fa-chevron-down'}} {{unless isLongExpanded 'fa-chevron-left'}}"></i>
        </div>
      {{/if}}
      {{#if isRevising}}
        {{quill-container setup="insertQuillContent"}}
      {{else}}
        {{#if isLongExpanded}}
          <div class="submission-content long">
            {{#if submission.answer.explanation}}
              {{{submission.answer.explanation}}}
            {{/if}}
            {{#if submission.longAnswer}}
              {{{submission.longAnswer}}}
            {{/if}}
          </div>
        {{/if}}
      {{/if}}
    </div>

    {{#if submission.answer.explanationImage}}
    <div class="submission-content-container images">
      <div class="submission-header" {{action 'toggleProperty' 'isImageExpanded'}}>
        <span>Addtional Image</span>
        <i class="fas {{if isImageExpanded 'fa-chevron-down'}} {{unless isImageExpanded 'fa-chevron-left'}}"></i>
      </div>
      {{#if isImageExpanded}}
        <div class="submission-content images">
          <img src="{{submission.answer.explanationImage.imageData}}" alt="">
        </div>
      {{/if}}
    </div>
    {{/if}}

    {{#if submission.uploadedFile.savedFileName}}
    <div class="submission-content-container images">
      <div class="submission-header" {{action 'toggleProperty' 'isUploadExpanded'}}>
        <span>Uploaded Image</span>
        <i class="fas {{if isUploadExpanded 'fa-chevron-down'}} {{unless isUploadExpanded 'fa-chevron-left'}}"></i>
      </div>
      {{#if isUploadExpanded}}
        <div class="submission-content images">
          <div id="submission_images">
            <a target="_blank" href="{{unbound submission.imageUrl}}">
              <img src="{{submission.imageUrl}}" alt="Login to the PoWs to see image" />
            </a>
          </div>
        </div>
      {{/if}}
    </div>
    {{/if}}

    {{#if canRevise}}
      <div class="mentor-reply-actions button-row">
      {{#if isRevising}}
        <button {{action 'cancelRevising'}} class="primary-button cancel-button">Cancel</button>
        <button {{action 'submitRevision'}} class="primary-button">Submit Revision</button>
      {{else}}
        <button {{action 'startRevising'}} class="primary-button">Revise</button>
      {{/if}}
      </div>
    {{/if}}
  </div>
{{/if}}