{{#if isCreating}}
  {{response-new
    store=store
    isCreating=isCreating
    submission=submission
    model=responseNewModel
    recipient=recipient
    newReplyStatus=newReplyStatus
    newReplyType="mentor"
    onSaveSuccess=(action "onSaveSuccess")
    canDirectSend=canDirectSend
    submissionResponses=mentorReplies
    handleResponseThread=(action "handleNewMentorReply")
  }}
{{else}}
  {{#if sortedMentorReplies}}
    <div class="mentor-replies">
      {{bread-crumbs
        items=sortedMentorReplies
        onSelect=(action "setDisplayMentorReply")
        titleTextPath="shortText"
        selectedItem=displayResponse
        infoToolTipText=revisionsToolTip
      }}
    </div>
        <div class="response-info">
      {{#if displayResponse}}
        <p class="response-title">Mentor Response</p>
        <p class="response-date">
          {{#if isParentWorkspace}}
            {{format-date displayResponse.originalResponse.createDate 'Do MMM YYYY'}}
            <span class="response-time">{{format-date displayResponse.originalResponse.createDate 'h:mm a'}}</span>
          {{else}}
            {{format-date displayResponse.createDate 'Do MMM YYYY'}}
            <span class="response-time">{{format-date displayResponse.createDate 'h:mm a'}}</span>
          {{/if}}
        </p>
        <div class="response-users">
          <p>
            <span class="response-label">To:</span>
            <span class="response-value recipient">{{displayResponse.recipient.username}}
            </span>
            {{#if showRecipientReadUnread}}
              <span class="response-read-unread"><i title={{recipientReadUnreadIcon.title}} class={{recipientReadUnreadIcon.className}}></i></span>
            {{/if}}
          </p>
          <p>
            <span class="response-label">From:</span>
            <span class="response-value">
              {{#if isParentWorkspace}}
                {{displayResponse.originalResponse.createdBy.username}}
              {{else}}
                {{displayResponse.createdBy.username}}
              {{/if}}
              </span>
          </p>
          {{#if showStatus}}
          <p class="response-status">
            <svg height="20" width="20">
              <circle cx="10" cy="15" r="5" fill={{statusIconFill}} />
            </svg>
            <span class="status-text mentor-reply">
              {{response-status displayResponse.status}}
            </span>
          </p>
          {{/if}}
        </div>
        <div class="response-content">
          <p class="response-header">
            Message
            {{#if showEdit}}
              <i {{action "handleComposeAction" "isEditing" true false}} class="far fa-edit"></i>
            {{/if}}
          </p>
          <div class="response-text-container">
            {{#if isComposing}}
              {{quill-container onEditorChange=(action "updateQuillText") attrSectionId=quillEditorId startingText=editRevisionText}}
            {{else}}
              <div class="response-text {{if isOldFormatDisplayResponse "old-format"}}">
                {{{displayResponse.text}}}
              </div>
            {{/if}}
          </div>
          {{#if showNoteHeader}}
            <div class="response-note-container">
              <p class="response-header">Note for Approver</p>
              {{#if showApproverNoteInput}}
                {{textarea class="edit-note" name="mentor-approver-note" value=editRevisionNote}}
              {{/if}}
              {{#if showDisplayNote}}
                <div class="response-note">
                  {{displayResponse.note}}
                </div>
              {{/if}}
            </div>
          {{/if}}
        </div>
      {{else}}
        <p>No response to display</p>
      {{/if}}
    </div>
  {{#if emptyReplyError}}
    {{error-box error="Message body cannot be empty." showDismiss=true resetError=(action (mut emptyReplyError) null)}}
  {{/if}}
  {{#if quillTooLongError}}
    {{error-box error=quillTooLongErrorMsg showDismiss=true resetError=(action (mut quillTooLongError) null)}}
  {{/if}}
  <div class="mentor-reply-actions button-row">
    {{#if showRevise}}
      <button {{action "handleComposeAction" "isRevising" true false}} class="primary-button">Revise</button>
    {{/if}}
    {{#if showResumeDraft}}
      <button {{action "handleComposeAction" "isFinishingDraft" true false}} class="primary-button">Resume Draft</button>
    {{/if}}
    {{#if showTrash}}
      <i {{action 'confirmTrash' displayResponse}} class="fas fa-trash"></i>
    {{/if}}
  </div>

  {{#if doShowLoadingMessage}}
    {{loading-elem}}
  {{/if}}
  {{#if isComposing}}
    <div class="submit-buttons button-row">
      {{#if isEditing}}
        <button {{action "handleComposeAction" "isEditing" false true}} class="primary-button cancel-button">Cancel</button>
        <button {{action "saveEdit"}} class="primary-button">Save</button>
      {{/if}}
      {{#if isRevising}}
        <button {{action "handleComposeAction" "isRevising" false true}} class="primary-button cancel-button">Cancel</button>
        <button {{action "saveRevision" true}} class="primary-button">Save as Draft</button>
        <button {{action "saveRevision"}} class="primary-button">{{sendButtonText}}</button>
      {{/if}}
      {{#if isFinishingDraft}}
        <button {{action "handleComposeAction" "isFinishingDraft" false true}} class="primary-button cancel-button">Cancel</button>
        <button {{action "saveDraft" true}} class="primary-button">Save as Draft</button>
        <button {{action "saveDraft"}} class="primary-button">{{sendButtonText}}</button>
      {{/if}}
    </div>
  {{/if}}
    {{else}}
    <p class="info">No Mentor Feedback for this revision yet.</p>
     <img src="/images/no-message.svg" alt="No Replies">
    {{#if canSendNew}}
      Click 'New Response' to begin composing a new Mentor Reply.
    <div class="submit-buttons button-row">
      <button {{action "toNewResponse"}} class="primary-button">New Response</button>
    </div>

    {{/if}}
  {{/if}}


{{/if}}



