<h3>Approver Panel</h3>

{{#if showApproverActions}}
<h5>Manage Mentor Reply</h5>
  <div class="approver-actions button-row">
    {{#if showNoActionsMessage}}
      <p class="info">{{noActionToTakeMessage}}</p>
    {{else}}
    {{#if showApprove}}
      <button class="primary-button" {{action "confirmApproval"}}>Approve</button>
    {{/if}}
    {{#if showCompose}}
      <button class="primary-button" {{action "composeReply"}}>Reply</button>
    {{/if}}
  {{/if}}
  </div>
{{/if}}

<div class="approver-replies">
  <h5>Existing Approver Replies</h5>
  <div class="breadcrumbs"> <!-- TODO breadcrumb component -->
      {{#unless manyRevisions}}
      <ul class="breadcrumbs">
        {{#each sortedApproverReplies as |reply index|}}
        <li {{action "setReplyToView" reply}}>
          <abbr title="{{unbound reply.shortText}}">
          {{add-to index 1}}
          </abbr>
        </li>
        {{/each}}
      </ul>
      {{else}}
      <ul class="breadcrumbs">
        {{#with this.sortedApproverReplies.firstObject as |firstReply|}}
        <li>
          <abbr title="{{unbound reply.shortText}}">
            1
          </abbr>
        </li>
        {{/with}}
        <abbr title="Show All Replies">
          <div {{action 'showAllReplies'}} class="truncate">
            ...
          </div>
        </abbr>
        {{#with sortedApproverReplies.lastObject as |lastReply|}}
        <li>
          <abbr title="{{unbound lastReply.shortText}}">

            {{sortedApproverReplies.length - 1}}

          </abbr>
        </li>
        {{/with}}
      </ul>
      {{/unless}}
  </div>
  {{#if showNoPreviousRepliesMsg}}
  <p class="info">It looks like there are no existing approver replies for this Mentor Reply.</p>
{{/if}}

{{#if displayReply}}
  <div class="display-approver-reply">
    <p>From: {{displayReply.createdBy.username}}</p>
    <p>To: {{displayReply.recipient.username}}</p>
    <p>Date: {{format-date displayReply.createDate "MMM Do YYYY h:mm A"}}</p>
    <p>Message: {{displayReply.text}}</p>
  </div>
  {{#if showDisplayReplyActions}}
    <div class="display-reply-actions">
      {{#if showApproverEdit}}
        <button class="primary-button" {{action "startEditing"}}>Edit</button>
      {{/if}}
      {{#if showApproverRevise}}
        <button class="primary-button" {{action "startRevising"}}>Revise</button>
      {{/if}}
    </div>
  {{/if}}
{{/if}}
</div>


{{#if showReplyInput}}
  <h5>{{replyHeadingText}}</h5>
  <div class="compose-approver-reply">
    {{textarea cols=10 rows=20 name="approver-reply" value=editRevisionText}}

    {{#if emptyReplyError}}
      {{error-box error="Message body cannot be empty." showDismiss=true resetError=(action (mut emptyReplyError) null)}}
    {{/if}}
    {{#each saveRecordErrors as |err|}}
      {{error-box error=err showDismiss=true resetError=(action (mut recordCreateErrors) null)}}
    {{/each}}
    <div class="submit-buttons button-row">
      {{#if isEditingApproverReply}}
        <button {{action "stopEditing"}} class="cancel-button">Cancel</button>
        <button {{action "saveEdit"}} class="primary-button">Save</button>
      {{/if}}
      {{#if isRevisingApproverReply}}
        <button {{action "stopRevising"}} class="cancel-button">Cancel</button>
        <button {{action "saveRevision"}} class="primary-button">Send Revision</button>
        {{/if}}
      {{#if isComposingReply}}
        <button class="cancel-button" {{action "stopComposing"}}>Cancel</button>
        <button {{action "saveReply"}} class="primary-button">Send Reply</button>
      {{/if}}
    </div>
  </div>
{{/if}}
