{{#if this.showFilter}}
  <div class='select-bar'>
    <MySelect
      @content={{this.searchOptions}}
      @cannotBeNull={{true}}
      @selectedValue={{this.selectedCriterion}}
      @action={{action (mut this.criterion)}}
    />
  </div>
{{/if}}
<span class='clear-field'>
  <Input
    class='search-field'
    @type='text'
    @insert-newline={{action 'searchAction'}}
    @value={{this.inputValue}}
    placeholder={{this.placeholder}}
    {{on 'keypress' (action 'clearErrors')}}
    {{on 'keyup' (action 'onInputChange')}}
  />

  {{#if this.showClear}}
    <svg
      xmlns='http://www.w3.org/2000/svg'
      width='96'
      height='96'
      viewBox='0 0 96 96'
      class='clear'
      {{action 'clearResults'}}
    >
      <switch>
        <foreignObject
          requiredExtensions='http://ns.adobe.com/AdobeIllustrator/10.0/'
          width='1'
          height='1'
        ></foreignObject>
        <path
          d='M53.7 48l25.2-25.2c1.6-1.6 1.6-4.1 0-5.7 -1.6-1.6-4.1-1.6-5.7 0L48 42.3 22.8 17.2c-1.6-1.6-4.1-1.6-5.7 0 -1.6 1.6-1.6 4.1 0 5.7L42.3 48 17.2 73.2c-1.6 1.6-1.6 4.1 0 5.7C18 79.6 19 80 20 80s2-0.4 2.8-1.2L48 53.7l25.2 25.2C74 79.6 75 80 76 80s2-0.4 2.8-1.2c1.6-1.6 1.6-4.1 0-5.7L53.7 48z'
        ></path>
      </switch>
    </svg>
  {{/if}}
</span>
{{#unless this.doSearchOnInputChange}}
  <div class='submit'>
    <i class='fa fa-search' aria-hidden='true' {{action 'validate'}}></i>
  </div>
{{/unless}}

<div class='error-messages'>
  {{#each this.queryErrors as |error|}}
    <Ui::ErrorBox @error={{error}} @showDismiss={{true}} />
  {{/each}}
</div>