<header>
  <h2>Create New Section</h2>
  <div class="clear"></div>
</header>


 <fieldset>
  <section class="newSection">
    <section class="third sections">
      <form id='section' class='properForm'>
        <ol>
          <li>
            <label for="title">Class/Group Names</label>
            {{input id="title" type="text" value=newSectionName placeholder="enter class/group name"}}
              <label for="text">Teacher/Leader</label>
                {{#if user.isAdmin}}
                {{input id="teacher" type="text" value=teacher placeholder="username" action="checkError" on="key-down"}}
                {{else}}
                {{input id="teacher" type="text" value=user.username disabled=true placeholder="username"}}
                {{/if}}
                {{#if invalidTeacherUsername}}
                <p>Sorry, there is no teacher with that username.</p>
                {{/if}}
              <label for="categories">Organization  </label>
            {{input id="categories" type="text" value=schoolName placeholder="enter organization"}}
          </li>
        </ol>
      </form>
    </section><style>input {margin: 15px;}</style>
  <div class="clear"></div>




      {{!-- verify if section successfully created --}}
      {{#if createdSection}}
        <p>Successfully created section
          {{#link-to 'section' createdSection  classNames='section'}}{{sectionId}}
          {{/link-to}}</p>
      {{else}}
        <p>{{createSectionError}}</p>
        {{/if}}


      <section>
        {{!-- creat space between buttons --}}
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      </section>

      {{!-- option to add students when creating section --}}
      <section>
        <label for="isAddStudents">Add Students?</label>
        {{input type="checkbox" checked=isAddStudents
        name="isAddStudents" class="isAddStudent" }}
        <label>Yes</label>

      </section>


        {{#if isAddStudents}}
           <form id='section' class='properForm'>
              <div style="clear: left"></div>
              <h2>Members List</h2>
                <ol>
                  {{!-- <label for="title"> Students</label> --}}
                  <li>
                    {{input id="text" type="text" value=newStudent placeholder="enter student user name"}}
                   <button class="action_button" {{action 'addStudent'}} style="margin-right: 30px">
                      Add Student
                    </button>
                  </li>
                </ol>
            </form>
        {{/if}}


  </section>
</fieldset>

 {{!-- submit button to add a new section --}}
  <section>
    {{!-- creat space between buttons --}}
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  </section>
  <section class="submit">
    <button class="action_button" {{action 'createSection'}} style="margin-right: 30px">
      Create Section
    </button>
  </section>