<header id="problemnewheader">
  <h2>Section Details</h2>
  <div class="clear"></div>
</header>

{{#if isEditing}}
    <form id='sectionupdateform' class='properForm'>
      <fieldset>
        <ol>
          <li>
            <label for="name">Section Name</label>
            {{input name="name" id="name" type="text" value=sectionName placeholder=section.name}}
          </li>
          {{#each section.teachers as |teacher|}}
            <li>
              <label for="teacher">Teacher</label>
              {{input name="teacher" id="teacher" type="text" value=teacherName placeholder=teacher.username}}
            </li>
          {{/each}}
        </ol>
      </fieldset>
    </form>
  <button class="action_button" {{action 'updateSection'}} style="margin-right: 30px">Update Section</button>

{{else}}

  <form id="sectioninfo">
    <fieldset>
      <ul>
        <li>
            <label for="name">Section Name</label>
            {{input name="name" id="name" type="text" value=sectionName disabled=true placeholder=section.name}}
          </li>
          <li>
            <label for="assignments">Assignments</label>
              {{#each section.assignments as |assignment|}}
            <ol class="b">{{#link-to 'assignment' assignment}}{{assignment.problem.title}} / {{format-date assignment.createDate 'MMM Do YYYY'}}{{/link-to}}</ol>
            {{/each}}
            {{!-- {{input name="problems" id="problems" type="text" value=problems disabled=true placeholder="N/A"}} --}}
          </li>
          <li>
            <label for="teachers">Teachers</label>
             {{#each section.teachers as |teacher| }}
              <ol class="b">{{teacher.username}}</ol>
              {{/each}}
          </li>

          <li>
             <label for="students">Students</label>
            {{#each section.students as |student|}}
            <ol class="b">{{student.username}}</ol>
            {{/each}}
          </li>
        </ul>
      </fieldset>
    </form>
  {{#if isAddingStudents}}
  {{else}}
  <section class="submit">
    <button class="action_button" {{action 'addNewStudents'}} style="margin-right: 30px">
      Add Students
    </button>
    <button class="action_button" id="editSection" {{action 'editSection'}} style="margin-right: 30px">
      Edit Section
    </button>
  </section>

  {{/if}}


  {{#if isAddingStudents}}
  <form id='createSectionForm' class='properForm'>
    <fieldset>
    {{!-- <div style="clear: left"></div> --}}
    {{!-- <p class="info">You have the option to create and use a single password for all students in this section, or you can create a password
      for each student individually</p> --}}

    <h2>Use default password for all new students?
    {{input type="checkbox" checked=usingDefaultPassword name="usingDefaultPassword"}} </h2>

      <label for="addusername">Username</label>
      {{input id="students" type="text" value=studentUsername placeholder="username" action="checkError" on="key-down"}}
      {{#unless usingDefaultPassword}}

      <label for="addpassword">Password</label>
      {{input id="studentPassword" type="password" value=studentPassword placeholder="password" action="checkError"
      on="key-down"}} {{/unless}}

      <button class="action_button" {{action 'createStudent'}} style="margin-right: 30px"> + </button>


    {{#if usingDefaultPassword}}
    <label>Password </label>
    {{input type=fieldType value=defaultPassword placeholder="default password" action="checkError" on="key-down"}}
      <button id="show-password-btn" {{action "showPassword"}}>
        {{#if showingPassword}}
        <i class="fas fa-eye-slash"></i>
        {{else}}
        <i class="fas fa-eye"></i>
        {{/if}}
      </button>
    {{/if}}
    </fieldset>
    {{!--<label for="title"> Students</label> --}}

      <button class="action_button" {{action 'doneAdding'}}>Done</button>
      {{#if usernameAlreadyExists}}
      <p class="error-message">Sorry, that username already exists.</p>
      {{/if}} {{#if isMissingUsername}}
      <p class="error-message">Username required.</p>
      {{/if}} {{#if isMissingPassword}}
      <p class="error-message">Please provide a password.</p>
      {{/if}}
  </form>

  {{#if studentsNotEmpty}}
  <div class="studentList">
    <h2>Created Student Accounts</h2>
    <ul>
      {{#each createdStudents as |student|}}
      <li>{{student.username}}</li>
      {{/each}}
    </ul>
    <ul></ul>
  </div>
  {{/if}} {{/if}}

{{/if}}