<header>
  <h2>Create New Section</h2>
  <div class="clear"></div>
</header>

<div class="info">
  {{#if user.isAdmin}}
  <p>In order to create a new class, we need a name for the class, a primary teacher, and the affiliated organization.</p>
  {{else}}
  <p>Please provide a name for the new class.</p>
  {{/if}}

</div>

<fieldset>
  <section class="newSection">
    <section class="third sections">
      <form id='section' class='properForm'>
        <ol>
          <li>
            <label for="title">Class/Group Names</label>
            {{input id="newSectionName" type="text" value=newSectionName placeholder="enter class/group name" action="checkError" on="key-down"}}
            {{#if missingFieldsError}}
            <p class="error-message">Please fill in all fields.</p>
            {{/if}}
            <label for="teacher">Teacher/Leader</label>
            {{#if user.isAdmin}} {{input id="teacher" type="text" value=teacher placeholder="username" action="checkError" on="key-down"}}
            {{else}} {{input id="teacher" type="text" value=user.username disabled=true placeholder="username"}} {{/if}}
            {{#if invalidTeacherUsername}}
            <p>Sorry, there is no teacher with that username.</p>
            {{/if}}
            <p>Organization:
              <span id="organization">{{user.organization.name}}</span>
            </p>
            {{!--
            <label for="organization">Organization </label> --}} {{!-- {{my-select content = organizations optionLabelPath="name" prompt="Please select
            an organization" action=(action (mut selectedOrganization))}} --}} {{!-- {{input id="organization" type="text"
            value=organization placeholder="enter organization"}} --}}
          </li>
        </ol>
      </form>
    </section>
    <style>
      input {
        margin: 15px;
      }
    </style>
    <div class="clear"></div>

    {{#if isAddingStudents}}
    <form id='createSectionForm' class='properForm'>
      <div style="clear: left"></div>
      <p class="info">You have the option to create and use a single password for all students in this section, or you can create a password
        for each student individually</p>
      <br>
      <label>Use default password for all students?</label>
      {{input type="checkbox" checked=usingDefaultPassword name="usingDefaultPassword"}} {{#if usingDefaultPassword}}
      <label>Default Password: </label>
      {{input type="password" value=defaultPassword placeholder="default password" action="checkError" on="key-down"}} {{/if}}
      {{!--
      <label for="title"> Students</label> --}}
      <div class="addStudentInput">
        {{input id="students" type="text" value=studentUsername placeholder="username" action="checkError" on="key-down"}} {{#unless
        usingDefaultPassword}} {{input id="studentPassword" type="password" value=studentPassword placeholder="password"
        action="checkError" on="key-down"}} {{/unless}}
        <button class="action_button" {{action 'createStudent'}} style="margin-right: 30px">
          +
        </button>
        {{#if usernameAlreadyExists}}
        <p class="error-message">Sorry, that username already exists.</p>
        {{/if}} {{#if isMissingUsername}}
        <p class="error-message">Username required.</p>
        {{/if}} {{#if isMissingPassword}}
        <p class="error-message">Please provide a password.</p>
        {{/if}}
      </div>
    </form>

    {{#if studentsNotEmpty}}
    <div class="studentList">
      <h2>Created Student Accounts</h2>
      <ul>
        {{#each createdStudents as |student|}}
        <li>{{student.username}}</li>
        {{/each}}
      </ul>
      <ul></ul>
    </div>
    {{/if}} {{/if}}

    <section>
      {{!-- creat space between buttons --}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp;
    </section>


  </section>
</fieldset>

{{!-- submit button to add a new section --}}
<section>
  {{!-- creat space between buttons --}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  &nbsp; &nbsp;
</section>
<section class="submit">
  {{#if createdSection}}
  <button class="action_button" {{action 'addNewStudents'}} style="margin-right: 30px">
    Add Students
  </button>
  {{else}}
  <button class="action_button" {{action 'createSection'}} style="margin-right: 30px">
    Create Section
  </button>
  {{/if}}
</section>


{{!-- verify if section successfully created --}} {{#if isAddingStudents}} {{else}} {{#if createdSection}}
<p>Successfully created section {{#link-to 'section' createdSection classNames='section'}}{{createdSection.name}} {{/link-to}}
</p>
{{else}}
<p>{{createSectionError}}</p>
{{/if}} {{/if}}