<header>
  <h2>Create New Class</h2>
  <div class="clear"></div>
</header>

<div class="info">
  {{#if user.isAdmin}}
  <p>In order to create a new class, we need a name for the class, a primary teacher, and the affiliated organization. The organization will automatically be set as the selected teacher's organization. If the selected teacher does not belong to an organization, the organization will be set as your current organization</p>
  {{else}}
  <p>Please provide a name for the new class.</p>
  {{/if}}

</div>

  <section class="newSection">
      <form id='newsectionform' class='properForm'>
        <fieldset>
          <ol>
            <li>
              <label for="title">Class/Group Name <span class="required-star">*</span></label>
              {{input id="newSectionName" required="true" type="text" value=newSectionName placeholder="Enter class/group name" action="checkError" on="key-down"}}

            </li>

            <li>
              <label for="teacher">Teacher/Leader <span class="required-star">*</span></label>
              {{#if user.isAdmin}}
                {{twitter-typeahead placeholder="Teacher's username" dataList=users optionLabelPath="username" selectedValue=teacher minLength=2}}
              {{else}}
                {{input id="teacher" type="text" value=user.username disabled=true placeholder="username"}} {{/if}}
                {{#if invalidTeacherUsername}}
                  <p class="error-message">Sorry, there is no teacher with that username.</p>
                {{/if}}
            </li>
            <li class="organization-info">
            <label for="organization">Organization</label>
            {{#if currentUser.isAdmin}}
              {{!-- {{input id="organization" type="text" value=organization disabled=true placeholder="Organization is automatically set to match the provided teachers organization"}} --}}
              {{#if teacher}}
                {{#if teacher.organization}}
                  <p class="section-new-info">{{teacher.organization.name}}</p>
                {{else}}
                  <p class="section-new-info">{{teacher.username}} does not belong to an organization. Class will be created with your organization.</p>
                {{/if}}
              {{else}}
                <p class="section-new-info">Please select a teacher first.</p>
              {{/if}}
            {{else}}
              {{input id="organization" type="text" value=organization disabled=true placeholder=user.organization.name}}
            {{/if}}

          </li>
          </ol>
          {{#if missingFieldsError}}
              <p class="error-message">Please provide all required fields.</p>
              {{/if}}
        </fieldset>
      </form>
  </section>


{{!-- submit button to add a new section --}}

<section class="submit">
  <button class="action_button" {{action 'createSection'}} style="margin-right: 30px">
    Create Class
  </button>
</section>

{{!-- verify if section successfully created --}}
{{#if createSectionError}}
  <p>{{createSectionError}}</p>
{{/if}}