<header class="info-header">
  <h2>Class Details</h2>
  <div class="clear"></div>
</header>

{{#each dataLoadErrors as |error|}}
  <p class="error-message">{{error}}</p>
{{/each}}
<form data-test="section-info-form" id="sectioninfo">
  <fieldset>
    <div class="section-info-detail name">
      <label for="name">Class Name
        {{#unless cantEdit}}
          {{#if isEditingName}}
          <i title="Done" {{action "updateSectionName"}} class="fa fa-check"></i>
        {{else}}
          <i title="Edit" {{action (mut isEditingName) true}} class="far fa-edit"></i>
          {{/if}}
        {{/unless}}
      </label>

      {{#if isEditingName}}
        {{input name="name" id="name" type="text" value=currentSection.name}}
      {{else}}
        <p data-test="section-name-display" class="section-info">{{section.name}}</p>
      {{/if}}
    </div>
      <div class="section-info-detail assignments">
        <label for="assignments">Assignments
        {{#unless cantEdit}}
          {{#if isEditingAssignments}}
          <i title="Done" {{action (mut isEditingAssignments) false}} class="fa fa-check"></i>
        {{else}}
          <i title="Edit" {{action (mut isEditingAssignments) true}} class="far fa-edit"></i>
          {{/if}}
        {{/unless}}
        </label>
        <ul class="listing">
          {{#if section.assignments}}
            {{#each section.assignments as |assignment|}}
            <li>{{#link-to 'assignment' assignment.id}}{{assignment.name}}{{/link-to}}</li>
            {{/each}}
          {{else}}
            <li>No Assignments yet</li>
          {{/if}}
        </ul>
        {{#unless cantEdit}}

        {{/unless}}
      </div>
      {{#if isEditingAssignments}}
        <div class="btn-container">
          <button class="action_button" {{action 'showAssignment'}}>New Assignment</button>
        </div>
      {{/if}}
        <div class="section-info-detail teachers">
          <label for="teachers">Teachers
            {{#unless cantEdit}}
              {{#if isEditingTeachers}}
                <i title="Done" {{action (mut isEditingTeachers) false}} class="fa fa-check"></i>
              {{else}}
                <i title="Edit" {{action (mut isEditingTeachers) true}} class="far fa-edit"></i>
              {{/if}}
            {{/unless}}
          </label>
          <ul class="listing">
            {{#each section.teachers as |teacher| }}
              <li>
                {{#if currentUser.isStudent}}
                  {{teacher.username}}
                {{else}}
                  {{#link-to 'user' teacher}} {{teacher.username}} {{/link-to}}
                {{/if}}

                {{#unless cantEdit}}
                  {{#if isEditingTeachers}}
                    <button class="trash-button" {{action 'removeTeacher' teacher}}>
                      <i title="remove" class="far fa-times-circle" aria-hidden="true"></i>
                    </button>
                  {{/if}}
                {{/unless}}
              </li>
            {{/each}}
          </ul>
          {{#if removeTeacherError}}
            <p class="error-message">You must have at least one teacher</p>
          {{/if}}

        </div>
        {{#unless cantEdit}}
          {{#if isEditingTeachers}}
            <div class="update-teachers">
              <label>Add Teacher<i title="Start typing a teacher's username to see suggestions" class="fas fa-info-circle fa-sm"></i></label>
                {{selectize-input
                  store=store
                  inputId="select-add-teacher"
                  maxItems=1
                  initialOptions=initialTeacherOptions
                  onItemAdd=(action "addTeacher")
                  model="user"
                  isAsync=true
                  labelField="username"
                  searchField="username"
                  valueField="id"
                  customQueryParams=addTeacherQueryParams
                  queryParamsKey="usernameSearch"
                }}

              {{#each updateTeacherErrors as |error|}}
                <p class="error-message">{{error}}</p>
              {{/each}}
            </div>
          {{/if}}
        {{/unless}}
        <div class="section-info-detail students">
        <label for="students">Students
          {{#unless cantEdit}}
            {{#if isEditingStudents}}
              <i title="Done" {{action (mut isEditingStudents) false}} class="fa fa-check"></i>
            {{else}}
              <i data-test="edit-students" title="Edit" {{action (mut isEditingStudents) true}} class="far fa-edit"></i>
            {{/if}}
          {{/unless}}
        </label>
          <ul class="listing">
            {{#each section.students as |student|}}
              <li>
                {{#if currentUser.isStudent}}
                  {{student.username}}
                {{else}}
                  {{#link-to 'user' student}} {{student.username}} {{/link-to}}
                {{/if}}
                {{#unless cantEdit}}
                  {{#link-to 'user' student}} {{/link-to}}
                  {{#if isEditingStudents}}
                    <button class="trash-button" {{action 'removeStudent' student}}>
                      <i class="far fa-times-circle" aria-hidden="true"></i>
                    </button>
                {{/if}}
                {{/unless}}
              </li>
            {{else}}
              <p class="info">No students yet.</p>
            {{/each}}
          </ul>

        </div>
        <div class="update-students">
          {{#if isEditingStudents}}
            {{add-create-student store=store currentUser=currentUser section=currentSection students=studentList sectionPassword=section.sectionPassword}}
          {{/if}}
          {{#each updateStudentErrors as |error|}}
            <p class="error-message">{{error}}</p>
          {{/each}}
        </div>

    </fieldset>
  {{#each queryErrors as |error|}}
    <p class="error-message">{{error}}</p>
  {{/each}}
  {{#each updateSectionErrors as |error|}}
    <p class="error-message">{{error}}</p>
  {{/each}}
  {{#each findRecordErrors as |error|}}
    <p class="error-message">{{error}}</p>
  {{/each}}
  </form>
  {{#unless cantEdit}}
    <button id="deleteSection" class="right" {{action 'confirmDelete'}}><i class="fa fa-trash" aria-hidden="true"></i></button>

  {{/unless}}


{{#each problemLoadErrors as |error|}}
  <p class="error-message">{{error}}</p>
{{/each}}
{{#if showAssignment}}
  {{assignment-new cancel=(action (mut showAssignment) null) fromSectionInfo=true problems=problemList selectedSection=section sections=sectionList store=store toAssignmentInfo="toAssignmentInfo"}}
{{/if}}
