<header class="list-header">
  <h1>Sections</h1>
  <button>{{#link-to 'sections.new' id='new-section-link'}}Create New Section{{/link-to}}</button>
  <div class="clear"></div>
</header>


<section class="list-side">
  <nav class="list-box">
    <h2>{{currentUser.username}}'s sections</h2>
    <ul class="your-sections">
      {{#if yourSections}}
        {{#each yourSections as |section|}}
          <li>{{#link-to 'section' section classNames='section'}}{{section.name}}{{/link-to}}</li>
        {{/each}}
      {{else}}
        <li>You have no sections</li>
      {{/if}}
    </ul>

    <h2>Sections you belong to</h2>
    <ul class="listing">
      {{#if collabSections}}
        {{#each collabSections as |section|}}
          <li>{{#link-to 'section' section classNames='section'}}{{section.name}}{{/link-to}}</li>
        {{/each}}
      {{else}}
          <li>You don't belong to any sections yet</li>
      {{/if}}
    </ul>
  </nav>
</section>

<div class="list-outlet">
  {{outlet}}
</div>
