<section class="list-side">
  <header class="list-header">
    <h1>Classes</h1>
    {{#if currentUser.isStudent}}
    {{else}}
      {{#link-to 'sections.new' id='new-section-link' class="new-link-btn"}}<span>Create New Class</span><i class="fas fa-plus"></i>{{/link-to}}
    {{/if}}
    <div class="clear"></div>
  </header>

  <section>
    <nav class="list-box">
      {{#unless currentUser.isStudent}}
      <h2>{{currentUser.username}}'s Classes</h2>
      <ul class="your-sections">
        {{#if yourSections}}
          {{#each yourSections as |section|}}
            <li>{{#link-to 'section' section classNames='section'}}{{section.name}}{{/link-to}}</li>
          {{/each}}
        {{else}}
          <li>You have no classes</li>
        {{/if}}
      </ul>

      <h2>Classes you belong to</h2>
      <ul class="collab-sections">
        {{#if collabSections}}
          {{#each collabSections as |section|}}
            <li>{{#link-to 'section' section classNames='section'}}{{section.name}}{{/link-to}}</li>
          {{/each}}
        {{else}}
            <li>You don't belong to any classes yet</li>
        {{/if}}
      </ul>
      {{/unless}}

   {{#if currentUser.isStudent}}
      <h2>Your Classes</h2>
      <ul class="your-sections">
        {{#if studentSections}}
          {{#each studentSections as |section|}}
            <li>{{#link-to 'section' section classNames='section'}}{{section.name}}{{/link-to}}</li>
          {{/each}}
        {{else}}
            <li>You don't belong to any classes yet</li>
        {{/if}}
      </ul>
    {{/if}}

    {{#if currentUser.isPdAdmin}}
      <h2>{{currentUser.organization.name}}'s Classes</h2>
      <ul class="org-sections">
        {{#if orgSections}}
          {{#each orgSections as |section|}}
          <li>{{#link-to 'section' section classNames='section'}}{{section.name}}{{/link-to}}</li>
          {{/each}}
        {{else}}
          <li>{{currentUser.organization.name}} does not have any classes yet</li>
        {{/if}}
      </ul>
    {{/if}}

    {{#unless currentUser.isStudent}}
    {{#if currentUser.isAdmin}}
      <h2>All Classes</h2>
      <ul class="all-sections">
        {{#if allSections}}
          {{#each allSections as |section|}}
          <li>{{#link-to 'section' section classNames='section'}}{{section.name}}{{/link-to}}</li>
          {{/each}}
        {{/if}}
      </ul>
    {{/if}}
    {{/unless}}

    </nav>
  </section>
</section>

<div class="list-outlet">
  {{outlet}}
</div>
