<div class="signup-box">

  <img src="../assets/images/logo-encompass.png" class="encompass-logo" alt="encompass logo">

  <form class="form-signup">
    <div class="auth-form-input">
      <label for="first-name">First Name:</label>
      <Input class="form-control" @type="text" @name="first-name" @id="first-name" @value={{this.firstName}} @key-down={{action "resetErrors"}} />
    </div>
    <div class="auth-form-input">
      <label for="last-name">Last Name:</label>
      <Input class="form-control" @type="text" @name="last-name" @id="last-name" @value={{this.lastName}} @key-down={{action "resetErrors"}} />
    </div>
    <div class="auth-form-input">
      <label for="email">Email:</label>
      <Input class="form-control" @type="text" @name="email" @id="email" @value={{this.email}} @key-down={{action "resetErrors"}} />
      {{#if this.isEmailInvalid}}
      <p class="error-message">{{this.emailErrors.invalid}}</p>
      {{/if}}
      {{#if this.emailError}}
      <p class="error-message">{{this.emailError}}</p>
      {{/if}}
    </div>
    {{#if this.isEmailValid}}
    <div class="auth-form-input">
      <label for="confirmEmail">Confirm Email:</label>
      <Input class="form-control" @type="text" @name="confirmEmail" @id="confirmEmail" @value={{this.confirmEmail}} />

      {{#unless this.doEmailsMatch}}
      <p class="error-message">{{this.emailErrors.mismatch}}</p>
      {{/unless}}
    </div>
    {{/if}}
    <div class="auth-form-input">
      <label for="organization">Institution, Organization, School or District Name:</label>
      <SelectizeInput @maxItems={{1}} @initialOptions={{this.orgOptions}} @labelField="name" @valueField="id"
        @searchField="name" @onItemAdd={{action "setOrg"}} @onItemRemove={{action "setOrg"}} @inputId="org-select"
        @create={{action "processOrgRequest"}} @persist={{false}} @createFilter={{this.orgRequestFilter}} />
    </div>
    <div class="auth-form-input">
      <label for="location">City and State:</label>
      <Input class="form-control" @type="text" @name="location" @id="location" @value={{this.location}} @key-down={{action "resetErrors"}} />
    </div>
    <div class="auth-form-input">
      <label for="username">Username:</label>
      <Input class="form-control" @type="text" @name="username" @id="username" @value={{this.username}} @key-down={{action "usernameValidate"}} />
      {{#if this.usernameError}}
      <p class="error-message">{{this.usernameError}}</p>
      {{/if}}
    </div>
    <div class="auth-form-input">
      <label for="password">Password:</label>
      <Input class="form-control" @type="password" @name="password" @id="password" @value={{this.password}} @key-down={{action "resetErrors"}} />

      {{#if this.isPasswordInvalid}}
      <p class="error-message">{{this.passwordErrors.invalid}}</p>
      {{/if}}
    </div>
    {{#if this.isPasswordValid}}
    <div class="auth-form-input">
      <label for="confirmPassword">Confirm Password:</label>
      <Input class="form-control" @type="password" @name="confirmPassword" @id="confirmPassword"
        @value={{this.confirmPassword}} @key-down={{this.resetErrors}} />

      {{#unless this.doPasswordsMatch}}
      <p class="error-message">{{this.passwordErrors.mismatch}}</p>
      {{/unless}}
    </div>
    {{/if}}
    <div class="auth-form-input">
      <label for="requestReason">Reason for Registering with EnCoMPASS:</label>
      <Input class="form-control" @type="text" @name="requestReason" @id="requestReason" @value={{this.requestReason}}
        @key-down={{action "resetErrors"}} />
      {{#if this.missingCredentials}}
      <p class="error-message">You must complete all of the fields in order to signup.</p>
      {{/if}}
    </div>
    <div id="checkbox">
      <Input @type="checkbox" @id="terms" @name="terms" @checked={{this.agreedToTerms}} @click={{action "resetErrors" }} />
      <label for="terms">Do you accept our <a href="">Terms and Conditions</a></label>
    </div>

    <div class="terms-error">
      {{#if this.noTermsAndConditions}}
      <p class="error-message">You must accept our Terms and Conditions.</p>
      {{/if}}
    </div>

    {{#each this.postErrors as |error|}}
    <div class="post-error">
      <p class="error-message post-error">{{error}}</p>
    </div>
    {{/each}}
    <button class="auth-button" type="submit" {{action 'signup' }}>Sign Up</button>
  </form>



  <div class="bottom-info">
    <SocialSignin />
    <p class="login-link"> Already have an account? <LinkTo @route="auth.login" @classNames="login-link">Log in here
      </LinkTo>
    </p>
  </div>

</div>