<div class="signup-box">

  <img src="images/logo-encompass.png" class="encompass-logo" alt="encompass logo">

  <form class="form-signup">
    <div class="auth-form-input">
      <label for="first-name">First Name:</label>
        {{input class="form-control" type="text" name="first-name" id="first-name" value=firstName action="resetErrors" on="key-down"}}
    </div>
    <div class="auth-form-input">
      <label for="last-name">Last Name:</label>
        {{input class="form-control" type="text" name="last-name" id="last-name" value=lastName action="resetErrors" on="key-down"}}
    </div>
    <div class="auth-form-input">
      <label for="email">Email:</label>
        {{input class="form-control" type="text" name="email" id="email" value=email action="resetErrors" on="key-down"}}
        {{#if isEmailInvalid}}
          <p class="error-message">{{emailErrors.invalid}}</p>
        {{/if}}
      {{#if emailError}}
        <p class="error-message">{{emailError}}</p>
      {{/if}}
    </div>
    {{#if isEmailValid}}
      <div class="auth-form-input">
        <label for="confirmEmail">Confirm Email:</label>
          {{input class="form-control" type="text" name="confirmEmail" id="confirmEmail" value=confirmEmail }}

        {{#unless doEmailsMatch}}
          <p class="error-message">{{emailErrors.mismatch}}</p>
        {{/unless}}
      </div>
    {{/if}}
    <div class="auth-form-input">
      <label for="organization">Institution, Organization, School or District Name:</label>
      {{selectize-input
        maxItems=1
        initialOptions=orgOptions
        labelField="name"
        valueField="id"
        searchField="name"
        onItemAdd=(action "setOrg")
        onItemRemove=(action "setOrg")
        inputId="org-select"
        create=(action "processOrgRequest")
        persist=false
        createFilter=orgRequestFilter
        }}
    </div>
    <div class="auth-form-input">
      <label for="location">City and State:</label>
        {{input class="form-control" type="text" name="location" id="location" value=location action="resetErrors" on="key-down"}}
    </div>
    <div class="auth-form-input">
      <label for="username">Username:</label>
       {{input class="form-control" type="text" name="username" id="username" value=username action="usernameValidate" on="key-down"}}
       {{#if usernameError}}
         <p class="error-message">{{usernameError}}</p>
       {{/if}}
    </div>
    <div class="auth-form-input">
      <label for="password">Password:</label>
        {{input class="form-control" type="password" name="password" id="password" value=password action="resetErrors" on="key-down"}}

        {{#if isPasswordInvalid}}
          <p class="error-message">{{passwordErrors.invalid}}</p>
        {{/if}}
    </div>
    {{#if isPasswordValid}}
      <div class="auth-form-input">
        <label for="confirmPassword">Confirm Password:</label>
          {{input class="form-control" type="password" name="confirmPassword" id="confirmPassword" value=confirmPassword action="resetErrors" on="key-down"}}

        {{#unless doPasswordsMatch}}
          <p class="error-message">{{passwordErrors.mismatch}}</p>
        {{/unless}}
      </div>
    {{/if}}
    <div class="auth-form-input">
      <label for="requestReason">Reason for Registering with EnCoMPASS:</label>
        {{input class="form-control" type="text" name="requestReason" id="requestReason" value=requestReason action="resetErrors"
      on="key-down"}}
      {{#if missingCredentials}}
        <p class="error-message">You must complete all of the fields in order to signup.</p>
      {{/if}}
    </div>
    <div id="checkbox">
      {{input type="checkbox" id="terms" name="terms" checked=agreedToTerms click=(action "resetErrors")}}
      <label for="terms">Do you accept our <a href="">Terms and Conditions</a></label>
    </div>

    <div class="terms-error">
      {{#if noTermsAndConditions}}
        <p class="error-message">You must accept our Terms and Conditions.</p>
      {{/if}}
    </div>

    {{#each postErrors as |error|}}
    <div class="post-error">
      <p class="error-message post-error">{{error}}</p>
    </div>
    {{/each}}
    <button class="auth-button" type="submit" {{action 'signup'}}>Sign Up</button>
  </form>



    <div class="bottom-info">
      {{social-signin}}
      <p class="login-link"> Already have an account? {{#link-to 'auth.login' classNames='login-link'}}Log in here{{/link-to}}</p>
    </div>

</div>




