<p>Before we can create submissions, we need to know who authored each uploaded piece of work. You can select any student that currently exists in your selected section from the dropdown menu.</p>
<br>
<section>
  <nav class="users actions listing al_vertical_stretch">
    <h2>{{selectedSection.name}}</h2>
    <ul class="listing">
      {{#each selectedSection.students as |student|}}
        <li>{{student.username}}</li>
      {{/each}}
    </ul>
  </nav>
</section>

<section>
  <nav class="users actions listing al_vertical_stretch">
    <h2>Student Submissions</h2>
    <div id="student-matching">
      {{#each answers as |answer|}}
        {{student-matching-answer answer=answer selectedSection=selectedSection }}
      {{/each}}
    </div>

  </nav>
</section>
<p>Please click continue to review your submissions.</p>
<button {{action "reviewAnswers"}}>Continue</button>
{{!-- <button {{action "formatAnswers"}}>Continue</button> --}}
{{#if matchingStudentsError}}
  <p class="error-message">Please assign a student to all images.</p>
{{/if}}

