<div class="student-matching-page">
  <p class="info">Before we can create submissions, we need to know who authored each uploaded piece of work. You can select any student that currently exists in your selected class from the dropdown menu.</p>
  <br>

  <div class="proceed">
  {{#if isReadyToReviewAnswers}}
    <p class="instructions">Please click continue to review your submissions.</p>
    <button {{action "reviewAnswers"}}>Continue</button>
  {{else}}
    <p class="instructions">Please ensure all submissions have been assigned a student before proceeding.</p>
  {{/if}}
</div>
<div class="matching-wrapper">
  <div class="student-list-container">
    <div class="student-list">
      <h2>{{selectedSection.name}}</h2>
      <ul class="student-list">
        {{#each selectedSection.students as |student|}}
          <li>{{student.username}}</li>
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="submissions-container">
    <div class="submissions-list">
      <h2>Student Submissions</h2>
      <div class="student-matching">
        {{#each answers as |answer|}}
          <StudentMatchingAnswer @answer={{answer}} @selectedSection={{selectedSection}} @checkStatus={{action "checkStatus"}} />
        {{/each}}
      </div>
    </div>
  </div>
</div>

<div class="error">
  {{#if matchingStudentsError}}
    <p class="error-message">Please assign a student to all images.</p>
  {{/if}}
</div>

</div>


