<div class="student-matching-answer">
  {{#each studentLoadErrors as |error|}}
    <p class="error-message">{{error}}</p>
  {{/each}}
  <div class="answer-img">
    <p>{{image.originalname}}</p>
    <img src="{{{image.imageData}}}" alt="">
  </div>

  <div class="assigned-students">
    <label>Assigned Students</label>
    <ul>
      {{#each creators as |student|}}
      <li>{{student.username}} <i class="far fa-times-circle" {{action "removeStudent" student}}></i></li>
    {{else}}
    <li class="empty-assignment">No students assigned yet.</li>
    {{/each}}
    </ul>
  </div>
</div>

{{#if students}}
  {{twitter-typeahead notFound=notFoundTemplate dataList=students selectedItems=creators optionLabelPath="username" placeholder="Add student(s)" listName="studentPool" selectedValue=studentToAdd allowMultiple=true}}
{{/if}}

