<div class="card-container">
  <div class="card-title">
    <p>{{image.originalname}}</p>
  </div>
  <div class="card-image" style="background-image: url({{image.imageData}}) no-repeat center center fixed">
  </div>
  <div class="card-end">
    {{twitter-typeahead notFound=notFoundTemplate dataList=students selectedItems=creators optionLabelPath="username"
    placeholder="Add student(s)" listName="studentPool" selectedValue=studentToAdd allowMultiple=true}}
  </div>
</div>


{{!--
  <div class="assigned-students">
    <label>Assigned Students</label>
    <ul>
      {{#each creators as |student|}}
      <li>{{student.username}} <i class="far fa-times-circle" {{action "removeStudent" student}}></i></li>
    {{else}}
    <li class="empty-assignment">No students assigned yet.</li>
    {{/each}}
    </ul>
  </div>


  {{#each studentLoadErrors as |error|}}
  <p class="error-message">{{error}}</p>
  {{/each}} --}}