<div class="student-matching-answer">
  <div class="answer-img">
    <p>{{image.originalname}}</p>
    <img src="{{{image.imageData}}}" alt="">
  </div>

  <div class="assigned-students">
    <label>Assigned Students</label>
    <ul>
      {{#each creators as |student|}}
      <li>{{student.username}}</li>
    {{else}}
    <li class="empty-assignment">No students assigned yet.</li>
    {{/each}}
    </ul>
  </div>
</div>

{{#if students}}
  {{twitter-typeahead dataList=students selectedItems=creators optionLabelPath="username" placeholder="Assign students" listName="studentPool" onSelect="updateAnswer" allowMultiple=true}}
{{/if}}

