<div class="item-container" id="container">
  <div class="item-section toggle-all toggle-check">
    <input type="checkbox" checked={{isChecked}} name="customIds" value={{answer.id}} onclick={{action "onSelect"}}>
    </div>
  <div class="item-section student {{if answer.isTrashed "trashed"}}">
      {{answer.student}}
  </div>
  <div class="item-section revisions">
    {{revisionCount}}
  </div>
  <div class="item-section explanation">
    {{#if isVmt}}
      {{#with answer.vmtRoomInfo as |room|}}
        <p>Room Name: {{room.roomName}}</p>
        <p>Activity Name:
          {{#if room.activityName}}
            {{room.activityName}}
          {{else}}
            N/A
          {{/if}}
        </p>
        <p>Participants</p>
        <ul>
          {{#each room.participants as |username| }}
            <li>{{username}}</li>
          {{else}}
            N/A
          {{/each}}
        </ul>
        <p>Facilitators</p>
        <ul>
          {{#each room.facilitators as |username| }}
            <li>{{username}}</li>
          {{else}}
            N/A
          {{/each}}
        </ul>
      {{/with}}
    {{else}}
      {{{answer.explanation}}}
    {{/if}}
  </div>
  <div class="item-section section">
    {{#if answer.section.name}}
      {{answer.section.name}}
    {{else}}
      N/A
    {{/if}}
  </div>
  <div class="item-section createDate">
    <span>{{format-date answer.createDate 'L'}}</span>
  </div>
  <div class="item-section more" {{action "toggleShowMoreMenu"}}>
    <i class="fas fa-ellipsis-v more-menu"></i>
    {{#if showMoreMenu}}
    <span class="click-menu">
      <ul>
      {{#if ellipsisMenuOptions}}
        {{#each ellipsisMenuOptions as |option|}}
        <li {{action option.action}}>
          <label>
            <span class="icon-text">{{option.label}}</span>
            <i class={{option.icon}}></i>
          </label>
        </li>
        {{/each}}
        {{else}}
        <li>No options</li>
        {{/if}}
      </ul>
    </span>
    {{/if}}
  </div>
</div>

<script>
  $('.item-container').click(function (e) {
    $('.click-menu').addClass('hidden');
  });

  $('.flex-item-full').click(function (e) {
    $('.click-menu').addClass('hidden');
  });
</script>