<li>
  <input type="checkbox" checked={{isChecked}} name="customIds" value={{submission.id}} onclick={{action "onSelect"}}>
  {{!-- <span>{{submission.id}} by {{submission.student}}</span> --}}
  <p>Submitted by {{submission.student}} on {{submission.answer.createDate}}</p>
  <p>Explanation: {{{submission.answer.explanation}}}</p>
  <p># of Selections: {{submission.selections.length}}</p>
  <p># of Comments: {{submission.comments.length}}</p>
</li>