  {{#link-to 'index'}}
  <h1 class="{{unless isSmallHeader 'al_logo'}}">Drexel | EnCoMPASS</h1>
  {{/link-to}}
  <div id='devTool'></div>
	<small id="al_welcome">Welcome, {{user.displayName}}</small>
	<div class="clear_r"></div>
	<nav id="al_nav">
		<ul>
			<li>{{#link-to 'index' classNames='menu home'}}home{{/link-to}}</li>
      <li>{{#link-to 'problems' classNames='menu problem'}}problems{{/link-to}}
        <ul>
          <li>{{#link-to 'problems.new'}}new{{/link-to}}</li>
        </ul>
      </li>
      <li>{{#link-to 'workspaces' classNames='menu workspaces'}}workspaces{{/link-to}}
        <ul>
			    <li>{{#link-to 'workspaces.new'}}new{{/link-to}}</li>
        </ul>
      </li>
      <li>{{#link-to 'responses' classNames='menu responses'}}responses & reflections{{/link-to}}</li>
      <li>{{#link-to 'users' classNames='menu users'}}users{{/link-to}}
        <ul>
			    {{#if user.isAdmin}}
          <li>{{#link-to 'users.new'}}new{{/link-to}}</li>
          {{/if}}
        </ul>
      </li>
			{{!--<li>{{#link-to 'folders'}}folders{{/link-to}}</li>--}}
      {{#if user.isAuthenticated}}
        <li>{{#link-to 'logout' classNames='menu logout'}}logout{{/link-to}}</li>
      {{/if}}
		</ul>
	</nav>
  <div id="status">
    <span class="control">
      {{#if isSmallHeader}}
        <a {{action 'largeHeader'}}>
          <img style="opacity: .1" src="http://mathforum.org/img/glyphish/xtras/xtras-gray/06-arrow-south.png" alt="expand"/>
        </a>
      {{else}}
        <a {{action 'smallHeader'}}>
          <img style="opacity: .1" src="http://mathforum.org/img/glyphish/xtras/xtras-gray/03-arrow-north.png" alt="collapse"/>
        </a>
      {{/if}}
    </span>
    <span id="loading" style="display:none">loading</span>
  </div>
