{{#link-to "index"}}
  <h1 id="encompass-logo" class="al_logo">Drexel | EnCoMPASS</h1>
{{/link-to}}

<div class="clear_r"></div>

{{#if user.isAuthenticated}}
  <ul class="al_nav menu-toggle" id="main-nav">
    <li class="menu-items" id="home-btn">
      <div class="dropdown-skinny">
        {{#link-to "index" }}my work{{/link-to}}
      </div>
    </li>
    {{#unless currentUser.isStudent}}
      <li class="menu-items">
        <div class="dropdown dropdown-skinny">
          {{#link-to "index" }}
            make
            <i class="fa fa-caret-down caret-down"></i>
          {{/link-to}}
          <div class="dropdown-content">
            {{#link-to "assignments.new" }}
              assignment
            {{/link-to}}
            <div class="parent-dropdown">
              <div class="dropdown dropdown-skinny">
                {{#link-to "workspaces.new" }}
                  workspace
                  <i class="fa fa-caret-right caret-right spacing"></i>
                {{/link-to}}
              </div>
              <div
                id="dropdown-hidden"
                class="dropdown-content dropdown-right dropdown-hidden"
              >
                {{#link-to "workspaces.new" }}
                  new
                {{/link-to}}
                {{#link-to "import" }}
                  import
                {{/link-to}}
                {{#link-to "workspaces.copy" }}
                  copy
                {{/link-to}}
                {{#link-to "vmt.import" }}
                  vmt
                {{/link-to}}
              </div>
            </div>
            {{#link-to "problems.new" }}
              problem
            {{/link-to}}
            {{#link-to "sections.new" }}
              class
            {{/link-to}}
            {{#link-to "users.new" }}
              users
            {{/link-to}}
          </div>
        </div>
      </li>
    {{/unless}}
    <li class="menu-items">
      <div class="dropdown dropdown-wide">
        {{#link-to "index" }}
          do
          <i class="fa fa-caret-down caret-down"></i>
        {{/link-to}}
        <div class="dropdown-content">
          {{#each do as |item|}}
            {{#if item.restricted}}
              {{#unless currentUser.isStudent}}
                {{#link-to item.link classNames=item.link}}{{item.text}}{{/link-to}}
              {{/unless}}
            {{else}}
              {{#link-to item.link classNames=item.link}}{{item.text}}{{/link-to}}
            {{/if}}
          {{/each}}
        </div>
      </div>
    </li>
    <li class="menu-items">
      <div class="dropdown dropdown-skinny">
        {{#link-to "index" }}
          find
          <i class="fa fa-caret-down caret-down"></i>
        {{/link-to}}
        <div class="dropdown-content">
          {{#each find as |item|}}
            {{#if item.restricted}}
              {{#unless currentUser.isStudent}}
                {{#link-to item.link classNames=item.link}}{{item.text}}{{/link-to}}
              {{/unless}}
            {{else}}
              {{#link-to item.link classNames=item.link}}{{item.text}}{{/link-to}}
            {{/if}}
          {{/each}}
        </div>
      </div>
    </li>
    <li class="menu-items" id="logout-btn">
      {{#link-to "logout" classNames="menu logout"}}
        <i class="fas fa-power-off logout-icon"></i>
        <span id="logout-text">log out</span>
      {{/link-to}}
    </li>
    {{#unless isStudentAccount}}
      <li id="role-toggle">
        <span class="acting-role">Role: {{user.actingRoleName}}</span>
        <span class="toggle-role" {{action "showToggleModal"}}>
          <i class="fas fa-sync-alt"></i>
        </span>
      </li>
    {{/unless}}
    <li id="current-username">
      {{#link-to "user" currentUser.username}}
        <img
          src={{currentUser.avatar}}
          alt={{currentUser.username}}
        />
      {{/link-to}}
    </li>
    <li id="user-image">
      <img id="menu-button" src={{user.avatar}} alt="" />
      {{#if newNotifications}}
        {{circle-ntf displayCount=newNotifications.length}}
      {{/if}}
    </li>
  </ul>

  <div id="hide-menu" class="hidden animated">
    <ul>
      <li>
        {{#link-to "index"}}home{{/link-to}}
      </li>
      <li>
        {{#link-to "assignments"}}assignments{{/link-to}}
      </li>
      {{#unless currentUser.isStudent}}
        <li>
          {{#link-to "problems"}}problems{{/link-to}}
        </li>
      {{/unless}}
      <li>
        {{#link-to "sections"}}classes{{/link-to}}
      </li>
      <li>
        {{#link-to "workspaces"}}workspaces{{/link-to}}
      </li>
      {{#unless currentUser.isStudent}}
        <li>
          {{#link-to "import"}}import{{/link-to}}
        </li>
      {{/unless}}
      <li>
        {{#link-to "responses"}}responses{{/link-to}}
        {{#if responseNotifications}}
          {{circle-ntf displayCount=responseNotifications.length}}
        {{/if}}
      </li>
      {{#unless currentUser.isStudent}}
        <li>
          {{#link-to "users"}}users{{/link-to}}
        </li>
      {{/unless}}
      <li id="logout-btn-side">
        {{#link-to "logout"}}logout{{/link-to}}
      </li>
    </ul>
  </div>

{{else}}
  <nav id="topbar-unauth">
    <ul>
      <li data-test="login">
        {{#link-to "auth.login" classNames="menu login hidden" }}
          log in
        {{/link-to}}
      </li>
      <li data-test="signup">
        {{#link-to "auth.signup" classNames="menu signup" }}
          sign up
        {{/link-to}}
      </li>
    </ul>
  </nav>
{{/if}}

<script>
  $('#menu-button').click(function (e) { 
    e.stopPropagation();
    $('#hide-menu').toggleClass('sidemenu-style');
    $('#hide-menu').addClass('slideInRight'); 
    }); 
  $('#hide-menu').click(function(e) { 
    e.stopPropagation(); 
  }); 
  $('body,html').click(function (e) {
    $('#hide-menu').removeClass('sidemenu-style'); 
  });
  $('#hide-menu>li>a').ready(() => { 
    $('#hide-menu').click(function (e) {
      $('#hide-menu').removeClass('sidemenu-style'); 
    }); 
  })
</script>