 {{#link-to 'index'}}
<h1 class="{{unless isSmallHeader 'al_logo'}}">Drexel | EnCoMPASS</h1>
{{/link-to}}
<div id='devTool'></div>
<small id="al_welcome">Welcome, {{user.displayName}}</small>
<div class="clear_r"></div>
<nav id="al_nav">
  <ul>
    <li>{{#link-to 'index' classNames='menu home'}}home{{/link-to}}</li>
  </ul>
</nav>
<div id="status">
  <span class="control">
    {{#if isSmallHeader}}
    <a {{action 'largeHeader'}}>
      <img style="opacity: .1" src="http://mathforum.org/img/glyphish/xtras/xtras-gray/06-arrow-south.png" alt="expand" />
    </a>
    {{else}}
    <a {{action 'smallHeader'}}>
      <img style="opacity: .1" src="http://mathforum.org/img/glyphish/xtras/xtras-gray/03-arrow-north.png" alt="collapse" />
    </a>
    {{/if}}
  </span>
  <span id="loading" style="display:none">loading</span>
</div>