
{{#link-to 'index'}}
  <h1 id="encompass-logo" class="{{unless isSmallHeader 'al_logo'}}">Drexel | EnCoMPASS</h1>
{{/link-to}}

  <div class="clear_r"></div>

{{#if user.isAuthenticated}}
    <nav id="al_nav">
      <div id="menu-toggle">
        <ul id="main-nav">
          <span id="menu-items">
          <li id="home-btn">{{#link-to 'index' classNames='menu home'}}<i class="fas fa-home"></i>{{/link-to}}</li>
          {{#if notStudent}}
            <li>{{#link-to 'import' classNames='menu import'}}import{{/link-to}}</li>
          {{/if}}
          {{#if isStudent}}
            <li>{{#link-to 'assignments' classNames='menu assignments'}}assignments{{/link-to}}</li>
          {{/if}}
          {{#if notStudent}}
          <li>
            <div class="dropdown">
              {{#link-to 'problems' classNames='menu problems'}}problems <i class="fa fa-caret-down caret-down"></i>{{/link-to}}
              <div class="dropdown-content">
                {{#link-to 'problems.new' classNames='menu problems-new'}}new{{/link-to}}
              </div>
            </div>
          </li>
          {{else}}
            <li>{{#link-to 'problems' classNames='menu problems'}}problems{{/link-to}}</li>
          {{/if}}
          {{#if notStudent}}
          <li>
            <div class="dropdown">
              {{#link-to 'sections' classNames='menu sections'}}sections <i class="fa fa-caret-down caret-down"></i>{{/link-to}}
              <div class="dropdown-content">
                {{#link-to 'sections.new' classNames='menu sections-new'}}new{{/link-to}}
              </div>
            </div>
          </li>
          {{else}}
            <li>{{#link-to 'sections' classNames='menu sections'}}sections{{/link-to}}</li>
          {{/if}}
          {{#if notStudent}}
          <li>
            <div class="dropdown">
              {{#link-to 'workspaces' classNames='menu workspaces'}}workspaces <i class="fa fa-caret-down caret-down"></i>{{/link-to}}
              <div class="dropdown-content">
                {{#link-to 'workspaces.new' classNames='menu workspaces-new'}}new{{/link-to}}
              </div>
            </div>
          </li>
          {{/if}}
          <li>{{#link-to 'responses' classNames='menu responses'}}responses{{/link-to}}</li>
          {{#if notStudent}}
            {{#if user.isAdmin}}
            <li>
              <div class="dropdown">
                {{#link-to 'users' classNames='menu users'}}users <i class="fa fa-caret-down caret-down"></i>{{/link-to}}
                <div class="dropdown-content">
                  {{#link-to 'users.new' classNames='menu users-new'}}new{{/link-to}}
                </div>
              </div>
            </li>
            {{else}}
              <li>{{#link-to 'users' classNames='menu users'}}users{{/link-to}}</li>
            {{/if}}
          {{/if}}
          <li id="logout-btn">{{#link-to 'logout' classNames='menu logout'}}log out{{/link-to}}</li>
          </span>
          <li id="current-username"><span class="underline">{{user.displayName}}</span></li>
          <li id="user-image">
            {{input type="checkbox" id="menu-btn" name="menu-toggle" checked=openMenu click=(action "toggleMenu")}}
            <img src="./images/profile.png" alt="profile">
          </li>
        </ul>
      </div>
    </nav>

    <div class="sidemenu-style" id="{{unless openMenu 'sidemenu'}}">
      <ul>
        <li>{{#link-to 'index'}}home{{/link-to}}</li>
        <li>{{#link-to 'import'}}import{{/link-to}}</li>
        <li>{{#link-to 'problems'}}problems{{/link-to}}</li>
        <li>{{#link-to 'sections'}}sections{{/link-to}}</li>
        <li>{{#link-to 'workspaces'}}workspaces{{/link-to}}</li>
        <li>{{#link-to 'responses'}}responses{{/link-to}}</li>
        <li>{{#link-to 'users'}}users{{/link-to}}</li>
        <li>{{#link-to 'index'}}my account{{/link-to}}</li>
        <li id="logout-btn-side">{{#link-to 'logout'}}logout{{/link-to}}</li>
      </ul>
    </div>

  {{else}}
    <nav id="topbar-unauth">
      <ul>
        {{!-- <li>{{#link-to 'index' classNames='menu home'}}home{{/link-to}}</li> --}}
        <li>{{#link-to 'auth.login' classNames='menu login'}}log in{{/link-to}}</li>
        <li>{{#link-to 'auth.signup' classNames='menu signup'}}sign up{{/link-to}}</li>
      </ul>
    </nav>
  {{/if}}

<div id="status">
  <span class="control">
    {{#if isSmallHeader}}
    <a {{action 'largeHeader'}}>
      <img style="opacity: .1" src="http://mathforum.org/img/glyphish/xtras/xtras-gray/06-arrow-south.png" alt="expand" />
    </a>
    {{else}}
    <a {{action 'smallHeader'}}>
      <img style="opacity: .1" src="http://mathforum.org/img/glyphish/xtras/xtras-gray/03-arrow-north.png" alt="collapse" />
    </a>
    {{/if}}
  </span>
  {{!-- <span id="loading" style="display:none">loading</span> --}}
</div>