<span class="{{linkToClassName}} selectionLink {{selection.id}}">
  {{#if selection.imageTagLink}}
    <img class="img-tag-thmb" src={{selection.imageTagLink}} alt={{selection.text}}>
  {{else}}
    {{selection.text}}
  {{/if}}
</span>