<div class="selectionLink {{if this.isImage "image-tag"}} {{if this.isSelected 'is-selected'}} {{if this.isText "selection_text"}}"
  title="{{this.titleText}} {{if this.isParentWorkspace " by "}} {{if this.isParentWorkspace this.selection.originalSelection.createdBy.username}} {{if this.isParentWorkspace " in "}} {{if this.isParentWorkspace this.selection.originalSelection.workspace.name}}">
  <LinkTo @route="selection" @models={{array this.selection.workspace this.selection.submission this.selection}} @classNames={{this.linkToClassName}}>
    {{#if this.isImage}}
        <img class="img-tag-thmb" src={{this.selection.imageTagLink}} alt={{this.selection.text}}>
        <div class="overlay">
          <button {{action 'expandImage'}}><i class={{this.overlayIcon}}></i></button>
        </div>
    {{else}}
      {{this.selection.text}}
    {{/if}}
  </LinkTo>
</div>

{{#if this.isExpanded}}
  <div class="full-image">
    <i class="fas fa-times" {{action 'expandImage'}}></i>
    <img src={{this.selection.imageTagLink}} alt={{this.selection.text}}>
  </div>
{{/if}}