<section class="list-side">
  <header class="list-header">
    <h1>Users</h1>
    <LinkTo @route="users.new" @id="new-user-link" class="new-link-btn"><span class="create-text">Create New User</span><i class="fas fa-plus"></i></LinkTo>
  </header>

  <section>
    <nav class="list-box">
      <h2>Your account</h2>
      <ul class="listing your-account">
        <li class="{{if this.currentUser.isAuthorized 'is-authorized'}} {{if this.currentUser.isAdmin 'is-admin'}}">
          <LinkTo @route="users.user" @model={{this.currentUser.id}} @classNames="user">{{this.currentUser.username}}</LinkTo>
        </li>
      </ul>

      <h2>Waiting for Authorization</h2>
      <ul class="listing waiting-auth">
        {{#if this.unauthUsers}}
          {{#each this.unauthUsers as |user|}}
          <li class="{{if user.name 'simptip-position-right simptip-smooth'}} {{if user.isAuthorized 'is-authorized'}} {{if user.isAdmin 'is-admin'}}{{unless user.isEmailConfirmed 'is-unconfirmed'}}" data-tooltip={{user.name}}>
            <LinkTo @route="users.user" @model={{user.id}} @classNames="user">{{user.username}}</LinkTo>
          </li>
          {{/each}}
        {{else}}
          <li>There are no users waiting to be authorized</li>
        {{/if}}
      </ul>

      <h2>Administrators</h2>
      <ul class="listing admin-users">
        {{#each this.adminUsers as |user|}}
        <li class="{{if user.name 'simptip-position-right simptip-smooth'}} {{if user.isAuthorized 'is-authorized'}} {{if user.isAdmin 'is-admin'}} {{unless user.isEmailConfirmed 'is-unconfirmed'}}" data-tooltip={{user.name}}>
          <LinkTo @route="users.user" @model={{user.id}} @classNames="user">{{user.username}}</LinkTo>
          </li>
        {{/each}}
      </ul>

      <h2>Pd Admins</h2>
      <ul class="listing pd-users">
        {{#if this.pdUsers}}
          {{#each this.pdUsers as |user|}}
          <li class="{{if user.name 'simptip-position-right simptip-smooth'}} {{if user.isAuthorized 'is-authorized'}} {{if user.isAdmin 'is-admin'}}{{unless user.isEmailConfirmed 'is-unconfirmed'}}" data-tooltip={{user.name}}>
            <LinkTo @route="users.user" @model={{user.id}} @classNames="user">{{user.username}}</LinkTo>
          </li>
          {{/each}}
        {{else}}
        <li>There are no Pd Admins yet</li>
        {{/if}}
      </ul>

      <h2>Teachers</h2>
      <ul class="listing teacher-users">
        {{#if this.teacherUsers}}
          {{#each this.teacherUsers as |user|}}
          <li class="{{if user.name 'simptip-position-right simptip-smooth'}} {{if user.isAuthorized 'is-authorized'}} {{if user.isAdmin 'is-admin'}} {{unless user.isEmailConfirmed 'is-unconfirmed'}}" data-tooltip={{user.name}}>
            <LinkTo @route="users.user" @model={{user.id}} @classNames="user">{{user.username}}</LinkTo>
          </li>
          {{/each}}
        {{else}}
          <li>There are no teachers yet</li>
        {{/if}}
      </ul>

      <h2>Students</h2>
      <ul class="listing student-users">
        {{#if this.studentUsers}}
          {{#each this.studentUsers as |user|}}
          <li class="{{if user.name 'simptip-position-right simptip-smooth'}} {{if user.isAuthorized 'is-authorized'}} {{if user.isAdmin 'is-admin'}}" data-tooltip={{user.name}}>
            <LinkTo @route="users.user" @model={{user.id}} @classNames="user">{{user.username}}</LinkTo>
          </li>
          {{/each}}
        {{else}}
          <li>There are no students yet</li>
        {{/if}}
      </ul>

      <button class="toggle-button" {{action 'showDeletedUsers'}}>
        {{#if this.showDeletedUsers}}
          Hide
        {{else}}
          Show
        {{/if}}
          Deleted Users
      </button>

      {{#if this.showDeletedUsers}}
      <h2>Deleted Users</h2>
        <ul class="listing">
          {{#if trashedUsers}}
            {{#each trashedUsers as |user|}}
            <li class="{{if user.name 'simptip-position-right simptip-smooth'}} {{if user.isAuthorized 'is-authorized'}} {{if user.isAdmin 'is-admin'}}">
              <LinkTo @route="users.user" @model={{user.id}} @classNames="user">{{user.username}}</LinkTo>
            </li>
            {{/each}}
          {{else}}
            <li>There are no trashed users</li>
          {{/if}}
        </ul>
      {{/if}}
    </nav>

  </section>
</section>

<div class="clear"/>

