<h3>Create a New User</h3>
<article class="user">
  <table class="values rows">
    <tr>
      <th>Label</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>Username <span class="required-star">*</span></td>
      <td>
        {{input type="text" value=username action="resetErrors" on="key-down" classNames='user-username'}}
      </td>
    </tr>
    <tr>
      <td>Password <span class="required-star">*</span></td>
      <td>
        {{input type="password" value=password action="resetErrors" on="key-down" classNames='user-password'}}
      </td>
    </tr>
    <tr>
      <td>Name</td>
      <td>
        {{input type="text" value=name classNames='user-name'}}
      </td>
    </tr>
    <tr>
      <td>Email</td>
      <td>
        {{input type="text" value=email action="resetErrors" on="key-down" classNames='user-email'}}
      </td>
    </tr>
    <tr>
      <td>Organization <span class="required-star">*</span></td>
      <td>
        {{type-ahead content=organizations inputName="organization" inputId="organization" selectedValue=org optionLabelPath="name"}}
      </td>
    </tr>
    <tr>
      <td>Location</td>
      <td>
        {{input type="text" value=location classNames='user-location'}}
      </td>
    </tr>
    <tr>
      <td>Account Type <span class="required-star">*</span></td>
      <td>
        {{my-select selectedValue=selectedType prompt="Select Account Type" content=accountTypes action=(action (mut selectedType)) classNames='user-account-type'}}
      </td>
    </tr>
    <tr>
      <td>Authorized <span class="required-star">*</span></td>
      <td>
        {{input type="checkbox" checked=isAuthorized value=isAuthorized classNames='user-isAuth'}}
      </td>
    </tr>
  </table>

  {{#if usernameExists}}
    <p class="error-message">Username already exists</p>
  {{/if}}

  {{#if emailExistsError}}
    <p class="error-message">Email address has already been used</p>
  {{/if}}

  {{#if errorMessage}}
    <p class="error-message">Missing required fields</p>
  {{/if}}


  <div class="button-row">
    <button class='action_button new-user' id="new-user-btn" {{action 'newUser'}}>Create New User</button>
    <button class='action_button new-user' {{action 'cancelNew'}}>Cancel</button>
  </div>

</article>

