<h3><span class="username">{{user.username}}</span>'s Account Details</h3>

{{#each loadOrgsErrors as |error|}}
  <p class="error-message">{{error}}</p>
{{/each}}
<article class="user">
  <table class="values rows">
    <tr>
      <th>Label</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>Username</td>
      <td>
        {{user.username}}
      </td>
    </tr>
    <tr>
      <td>First Name</td>
      <td>
        {{#if isEditing}}
          {{input value=user.firstName classNames='user-first-name'}}
        {{else}}
          {{user.firstName}}
        {{/if}}
      </td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td>
        {{#if isEditing}}
          {{input value=user.lastName classNames='user-last-name'}}
        {{else}}
          {{user.lastName}}
        {{/if}}
      </td>
    </tr>
    <tr>
      <td>Display Name</td>
      <td>
        <span class='displayName'>{{user.displayName}}</span>
      </td>
    </tr>
    <tr>
      <td>Email</td>
      <td>
        {{#if isEditing}}
          {{input value=userEmail classNames='user-email'}}
        {{else}}
          {{user.email}}
        {{/if}}
      </td>
    </tr>

    {{#if canConfirm}}
    <tr>
      <td>Email Confirmed</td>
      <td class="is-email-confirm">
        {{#if isEditing}}
          {{#if unconfirmedEmail}}
            {{#if user.email}}
              <input class="user-email-auth" type="checkbox" checked={{user.isEmailConfirmed}} onclick={{action "onManualConfirm" user.isEmailConfirmed}} />
              <label for="">Manually confirm email?</label>
            {{/if}}
          {{else}}
            {{user.isEmailConfirmed}}
          {{/if}}
        {{else}}
          {{user.isEmailConfirmed}}
        {{/if}}
      </td>
    </tr>
    {{/if}}
    {{#if isEditing}}
    <tr>
      <td>Password</td>
      <td><button class='reset-password' {{action 'resetPassword'}}>Reset Password</button></td>
    </tr>
    {{/if}}
    {{#unless user.organizationRequest}}
      <tr>
        <td>Organization {{#if isEditing}}<span class="required-star">*</span>{{/if}}</td>
      {{#if isEditing}}
        {{#if currentUser.isAdmin}}
          <td>{{twitter-typeahead dataList=orgList selectedValue=user.organization onSelect="setOrg" minLength=0 optionLabelPath='name' setSelectedValueOnChange=true}}</td>
        {{else}}
        <td>{{user.organization.name}}</td>
        {{/if}}
      {{else}}
        <td>{{user.organization.name}}</td>
      {{/if}}
      </tr>
    {{/unless}}
    {{#if user.organizationRequest}}
      <tr>
        <td>Requested Organization</td>
        {{#if isEditing}}
          {{#if currentUser.isAdmin}}
            <td>
              Would you like to create {{user.organizationRequest}}<br/>
              <button {{action 'confirmOrgModal'}}>Yes</button>
              <button{{action 'removeOrg'}}>No</button>
            </td>
          {{else}}
            {{user.organizationRequest}}
          {{/if}}
        {{else}}
          <td>
            {{user.organizationRequest}}
          </td>
        {{/if}}
      </tr>
    {{/if}}
    {{#if user.sections}}
    <tr>
      <td>User's Sections</td>
      <td>
        {{#each userSections as |section|}}
          <p>{{#link-to 'section' section}}{{section.name}}{{/link-to}}</p>
        {{/each}}
      </td>
    </tr>
    {{/if}}
    <tr>
      <td>Location</td>
      <td>
        {{#if isEditing}}
          {{input value=user.location classNames='user-location'}}
        {{else}}
          {{user.location}}
        {{/if}}
      </td>
    </tr>
    <tr>
      <td>Seen Tour</td>
      <td>
        {{#if isEditing}} {{#if seenTour}}
        <button class='clearTour' {{action 'clearTour'}}>re-take tour</button>
        {{else}}
        <button class='doneTour' {{action 'doneTour'}}>don't show the tour</button>
        {{/if}} {{/if}}
        <span class='tourDate'>{{tourDate}}</span>
      </td>
    </tr>
    <tr>
      <td>Last Seen</td>
      {{#if user.lastSeen}}
        <td>{{format-date user.lastSeen 'MMM Do YYYY'}} at {{format-date user.lastSeen 'hh:mma'}}</td>
      {{else}}
        <td>Never</td>
      {{/if}}
    </tr>
    {{#if user.lastModifiedBy}}
    <tr>
      <td>Last Modified</td>
      <td>{{format-date user.lastModifiedDate 'MMM Do YYYY'}} by {{user.lastModifiedBy.username}}</td>
    </tr>
    {{/if}}
    <tr>
      <td>Account Type {{#if isEditing}}<span class="required-star">*</span>{{/if}}</td>
      {{#if isEditing}}
      <td>
        {{#if canEdit}}
          {{my-select selectedValue=selectedType cannotBeNull=true content=accountTypes action=(action (mut selectedType))}}
          {{input required=true type="hidden" value=selectedType}}
        {{/if}}
      </td>
      {{else}}
      <td>{{account-types user.accountType}}</td>
      {{/if}}
    </tr>
    {{#if user.isAuthorized}}
      <tr>
        <td>Authorized</td>
        <td>
          {{#if isEditing}}
            {{#if canEdit}}
              {{input type="checkbox" checked=user.isAuthorized value=authorized classNames='user-isAuth'}}
              {{else}}
                {{user.isAuthorized}}
            {{/if}}
          {{else}}
              {{user.isAuthorized}}
          {{/if}}
        </td>
      </tr>
      {{#if user.authorizedBy}}
      <tr>
        <td>Authorized By</td>
        <td>{{user.authorizedBy.username}}</td>
      </tr>
      {{/if}}
    {{else}}
      <tr>
        <td>Request Reason</td>
        <td>
          {{user.requestReason}}
        </td>
      </tr>
      {{#if isEditing}}
        <tr>
          <td>Authorize</td>
          <td>
            {{#if canEdit}}
              {{input type="checkbox" checked=user.isAuthorized name='isAuthorized' classNames='user-isAuth'}}
            {{else}}
              {{user.isAuthorized}}
            {{/if}}
          </td>
        </tr>
      {{else}}
        <tr>
          <td>Authorized</td>
          <td>
            No
          </td>
        </tr>
      {{/if}}
    {{/if}}
  </table>
  {{#if canEdit}}
    {{#if isEditing}}
      {{#if isResettingPassword}}
        {{reset-password-user user=user handleResetSuccess=(action "handleResetSuccess") cancelReset=(action "handleCancelForm")}}
      {{/if}}
    {{#unless isResettingPassword}}
    <div class="button-row">
      <button class='action_button save-user' {{action 'checkOrgExists'}}>Save</button>
      <button class='action_button cancel-button cancel-user' {{action 'cancel'}}>Cancel</button>
    </div>
    {{/unless}}
    {{else}}
    <div class="button-row">
      <button class='action_button edit-user' {{action 'editUser'}}>Edit</button>
      {{#if currentUser.isAdmin}}
        {{#if user.isTrashed}}
          <button class='action_button restore-button' {{action 'restoreUser'}}>Restore User</button>
        {{else}}
          <button class='action_button delete-button' {{action 'deleteUser'}}>Delete</button>
        {{/if}}
      {{/if}}
    </div>
    {{/if}}
  {{else}}
    <p class="warning-message">You can't edit users you haven't created. Contact an admin to make changes.</p>
  {{/if}}
</article>
{{#each findRecordErrors as |error|}}
    <p class="error-message">{{error}}</p>
  {{/each}}
  {{#each createRecordErrors as |error|}}
    <p class="error-message">{{error}}</p>
  {{/each}}
  {{#each updateRecordErrors as |error|}}
    <p class="error-message">{{error}}</p>
  {{/each}}


