<section class="list-side">
  <header class="list-header">
    <h1>Users</h1>
    {{#link-to 'users.new' id='new-user-link' class="new-link-btn"}}
    <span class="create-text">Create New User</span>
    <i class="fas fa-plus"></i>{{/link-to}}
  </header>

  {{!--
  <section>
    <fieldset>
      <p>
        Select a user from the below
      </p>
      <p class="help">
        Users are automatically created when they visit but may not be authorized. Authorized users are bold. Admin users are red.
        If you aren't authorized
        <a href="http://mathforum.org/cgi-bin/mailto.pl?key=92&to=the%20EnCoMPASS%20team">DROP US A NOTE</a>
      </p>
    </fieldset>
  </section> --}}

  <section>
    <nav class="list-box">
      <h2>Your account</h2>
      <ul class="listing your-account">
        <li class="{{if currentUser.isAuthorized 'is-authorized'}} {{if currentUser.isAdmin 'is-admin'}}">
          {{#link-to 'user' currentUser classNames='user'}}{{currentUser.username}}{{/link-to}}
        </li>
      </ul>

      <h2>Waiting for Authorization</h2>
      <ul class="listing waiting-auth">
        {{#if unauthUsers}}
          {{#each unauthUsers as |user|}}
            <li class="{{if user.name 'simptip-position-right simptip-smooth'}} {{if user.isAuthorized 'is-authorized'}} {{if user.isAdmin 'is-admin'}} {{unless user.isEmailConfirmed 'is-unconfirmed'}}" data-tooltip={{user.name}}>
            {{#link-to 'user' user classNames='user'}}{{user.username}}{{/link-to}}
            </li>
          {{/each}}
        {{else}}
        <li>There are no users waiting to be authorized</li>
        {{/if}}
      </ul>

      <h2>Teachers</h2>
      <ul class="listing teacher-users">
        {{#if teacherUsers}}
          {{#each teacherUsers as |user|}}
          <li class="{{if user.name 'simptip-position-right simptip-smooth'}} {{if user.isAuthorized 'is-authorized'}} {{if user.isAdmin 'is-admin'}}{{unless user.isEmailConfirmed 'is-unconfirmed'}}" data-tooltip={{user.name}}>
            {{#link-to 'user' user classNames='user'}}{{user.username}}{{/link-to}}
          </li>
          {{/each}}
        {{else}}
        <li>There are no teachers yet</li>
        {{/if}}
      </ul>

      <h2>Students</h2>
      <ul class="listing student-users">
        {{#if studentUsers}} {{#each studentUsers as |user|}}
        <li class="{{if user.name 'simptip-position-right simptip-smooth'}} {{if user.isAuthorized 'is-authorized'}} {{if user.isAdmin 'is-admin'}}" data-tooltip={{user.name}}>
          {{#link-to 'user' user classNames='user'}}{{user.username}}{{/link-to}}
        </li>
        {{/each}} {{else}}
        <li>There are no students yet</li>
        {{/if}}
      </ul>
    </nav>

  </section>
</section>

<div class="clear" />