<h3>Create a New Student</h3>
<article class="user">
  <table class="values rows">
    <tr>
      <th>Label</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>Username <span class="required-star">*</span></td>
      <td>
        <input type="text" class="user-username" value={{this.username}} onblur={{action 'usernameValidate' value="target.value"}} onfocus={{action 'resetErrors'}} />
      </td>
    </tr>
    <tr>
      <td>Password <span class="required-star">*</span></td>
      <td>
        <input type="password" class="user-password" value={{this.password}} onblur={{action 'passwordValidate' value="target.value"}} onfocus={{action 'resetErrors'}}/>
      </td>
    </tr>
    <tr>
      <td>First Name</td>
      <td>
        <Input @type="text" @value={{this.firstName}} @classNames="user-first-name" />
      </td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td>
        <Input @type="text" @value={{this.lastName}} @classNames="user-last-name" />
      </td>
    </tr>
  </table>

  {{#if this.usernameError}}
    <p class="error-message">{{this.usernameError}}</p>
  {{/if}}

  {{#if this.emailError}}
    <p class="error-message">{{this.emailError}}</p>
  {{/if}}

  {{#if this.passwordError}}
    <p class="error-message">{{this.passwordError}}</p>
  {{/if}}

  {{#if this.noSpacesError}}
    <p class="error-message">Passwords cannot contain spaces</p>
  {{/if}}

  {{#if this.errorMessage}}
    <p class="error-message">Username & Password are required</p>
  {{/if}}

  {{#each this.createUserErrors as |error|}}
    <p class="error-message">{{error}}</p>
  {{/each}}

    <div class="button-row">
      <button class='action_button new-user' id="new-user-btn" {{action 'newUser'}}>Create New Student</button>
      <button class='action_button new-user cancel-button' {{action 'cancelNew'}}>Cancel</button>
    </div>

</article>
