<h3><span class="username">{{user.username}}</span>'s Account Details</h3>

<article class="user">
  <table class="values rows">
    <tr>
      <th>Label</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>Username</td>
      <td>
        {{user.username}}
      </td>
    </tr>
    <tr>
      <td>Name</td>
      <td>
        {{#if isEditing}}
          {{input value=user.name classNames='user-name'}}
        {{else}}
          {{user.name}}
        {{/if}}
      </td>
    </tr>
    <tr>
      <td>Display Name</td>
      <td>
        <span class='displayName'>{{user.displayName}}</span>
      </td>
    </tr>
    {{#if user.email}}
    <tr>
      <td>Email</td>
      <td>
        {{#if isEditing}}
          {{input value=user.email classNames='user-email'}}
        {{else}}
          {{user.email}}
        {{/if}}
      </td>
    </tr>
    {{/if}}
    {{#if canConfirm}}
    <tr>
      <td>Email Confirmed</td>
      <td class="is-email-confirm">
        {{#if isEditing}}
          {{#if unconfirmedEmail}}
          {{!-- <button {{action 'authEmail'}}>Manually confirm email?</button> --}}
            {{input type="checkbox" checked=user.isEmailConfirmed value=authorized classNames="user-email-auth"}}
            <label for="">Manually confirm email?</label>
          {{else}}
            {{user.isEmailConfirmed}}
          {{/if}}
        {{else}}
          {{user.isEmailConfirmed}}
        {{/if}}
      </td>
    </tr>
    {{/if}}

    {{#if user.organization.name}}
    <tr>
      <td>Organization</td>
      <td>
        {{user.organization.name}}
      </td>
    </tr>
    {{/if}}
    {{#if user.organizationRequest}}
      <tr>
        <td>Requested Organization</td>
        {{#if isEditing}}
          <td>
            Would you like to create {{user.organizationRequest}}<br/>
            <button {{action 'createNewOrg'}}>Yes</button>
            <button{{action 'removeOrg'}}>No</button>
          </td>
        {{else}}
          <td>
            {{user.organizationRequest}}
          </td>
        {{/if}}
      </tr>
    {{/if}}
    <tr>
      <td>Location</td>
      <td>
        {{#if isEditing}}
          {{input value=user.locaiton classNames='user-location'}}
        {{else}}
          {{user.location}}
        {{/if}}
      </td>
    </tr>
    <tr>
      <td>Seen Tour</td>
      <td>
        {{#if isEditing}} {{#if seenTour}}
        <button class='clearTour' {{action 'clearTour'}}>re-take tour</button>
        {{else}}
        <button class='doneTour' {{action 'doneTour'}}>don't show the tour</button>
        {{/if}} {{/if}}
        <span class='tourDate'>{{tourDate}}</span>
      </td>
    </tr>
    <tr>
      <td>Last Seen</td>
      <td>{{lastSeenDate}}</td>
    </tr>
    {{#if user.lastModifiedBy}}
    <tr>
      <td>Last Modified</td>
      <td>{{user.lastModifiedBy.username}} on  {{format-date user.lastModifiedDate 'MMM Do YYYY'}}</td>
    </tr>
    {{/if}}
    <tr>
      <td>Account Type</td>
      {{#if isEditing}}
      <td>
        {{#if canEdit}}
          {{my-select selectedValue=selectedType content=accountTypes action=(action (mut selectedType))}}
          {{input required=true type="hidden" value=selectedType}}
        {{/if}}
      </td>
      {{else}}
      <td>{{account-types user.accountType}}</td>
      {{/if}}
    </tr>
    {{#if user.isAuthorized}}
      <tr>
        <td>Authorized</td>
        <td>
          {{#if isEditing}}
            {{#if canEdit}}
              {{input type="checkbox" checked=user.isAuthorized value=authorized classNames='user-isAuth'}}
              {{else}}
                {{user.isAuthorized}}
            {{/if}}
          {{else}}
              {{user.isAuthorized}}
          {{/if}}
        </td>
      </tr>
      {{#if user.authorizedBy}}
      <tr>
        <td>Authorized By</td>
        <td>{{user.authorizedBy.username}}</td>
      </tr>
      {{/if}}
    {{else}}
      <tr>
        <td>Request Reason</td>
        <td>
          {{user.requestReason}}
        </td>
      </tr>
      {{#if isEditing}}
        <tr>
          <td>Authorize</td>
          <td>
            {{#if canEdit}}
              {{input type="checkbox" checked=user.isAuthorized name='isAuthorized' classNames='user-isAuth'}}
            {{else}}
              {{user.isAuthorized}}
            {{/if}}
          </td>
        </tr>
      {{else}}
        <tr>
          <td>Authorized</td>
          <td>
            No
          </td>
        </tr>
      {{/if}}
    {{/if}}
  </table>
  {{#if canEdit}}
    {{#if isEditing}}
    <div class="button-row">
      <button class='action_button save-user' {{action 'saveUser'}}>Save</button>
      <button class='action_button canecel-user' {{action 'cancel'}}>Cancel</button>
    </div>
    {{else}}
    <div class="button-row">
      <button class='action_button edit-user' {{action 'editUser'}}>Edit</button>
      <button class='action_button reset-password' {{action 'resetPassword'}}>Reset Password</button>
    </div>
    {{/if}}
    {{#if isResettingPassword}}
      {{reset-password-user user=user handleResetSuccess=(action "handleResetSuccess")}}
      <button class='action_button' {{action 'cancel'}}>Cancel</button>
    {{else}}
      {{#if resetPasswordSuccess}}
        <p class="success-message">Succesfully reset password for {{user.username}}</p>
      {{/if}}
    {{/if}}
  {{else}}
    <p class="error-message">You can't edit users you haven't created. Contact an admin to make changes.</p>
  {{/if}}
</article>