<section class="list-side">
  <header class="list-header">
    <h1>Users</h1>
    {{#link-to 'users.new' id='new-user-link' class="new-link-btn"}}<span class="create-text">Create New Student</span><i class="fas fa-plus"></i>{{/link-to}}
  </header>

  <section>
    <nav class="list-box">
      <h2>Your account</h2>
      <ul class="listing your-account">
        <li class="tooltip {{if currentUser.isAuthorized 'is-authorized'}} {{if currentUser.isAdmin 'is-admin'}}">
          {{#link-to 'user' currentUser classNames='user'}}{{currentUser.username}}{{/link-to}}
        </li>
      </ul>
      <h2>Students in your Classes</h2>
      <ul class="listing waiting-auth">
        {{#if yourStudents}}
          {{#each yourStudents as |user|}}
          <li class="{{if user.name 'simptip-position-right simptip-smooth'}} {{if user.isAuthorized 'is-authorized'}} {{if user.isAdmin 'is-admin'}}" data-tooltip={{user.name}}>
            {{#link-to 'user' user classNames='user'}}{{user.username}}{{/link-to}}
          </li>
          {{/each}}
        {{else}}
          <li>You don't have any students yet</li>
        {{/if}}
      </ul>

      <h2>Users you have created</h2>
      <ul class="listing your-users">
        {{#if yourUsers}}
          {{#each yourUsers as |user|}}
          <li class="{{if user.name 'simptip-position-right simptip-smooth'}} {{if user.isAuthorized 'is-authorized'}} {{if user.isAdmin 'is-admin'}}" data-tooltip={{user.name}}>
            {{#link-to 'user' user classNames='user'}}{{user.username}}{{/link-to}}
          </li>
          {{/each}}
        {{else}}
          <li>You haven't created any users yet</li>
        {{/if}}
      </ul>

      <h2>Users in {{currentUser.organization.name}}</h2>
      <ul class="listing org-users">
        {{#if orgUsers}}
          {{#each orgUsers as |user|}}
          <li class="{{if user.name 'simptip-position-right simptip-smooth'}} {{if user.isAuthorized 'is-authorized'}} {{if user.isAdmin 'is-admin'}}" data-tooltip={{user.name}}>
            {{#link-to 'user' user classNames='user'}}{{user.username}}{{/link-to}}
          </li>
          {{/each}}
        {{else}}
          <li>There are no users in your organization</li>
        {{/if}}
      </ul>
    </nav>

  </section>
</section>


<div class="clear" />