{{#if this.currentUser.isAdmin}}
  <UserListAdmin @store={{@store}} @currentUser={{currentUser}} @users={{users}} @organization={{organiztions}} @toUserInfo="toUserInfo" />
{{/if}}

{{#if this.currentUser.isTeacher}}
  <UserListTeacher @store={{@store}} @currentUser={{currentUser}} @users={{users}} @organization={{organiztions}} @toUserInfo="toUserInfo" />
{{/if}}

{{#if this.currentUser.isPdAdmin}}
    <UserListPd @store={{@store}} @currentUser={{currentUser}} @users={{users}} @organization={{organiztions}} @toUserInfo="toUserInfo" />
{{/if}}

{{#if this.currentUser.isStudent}}
    <div class="centered">FORBIDDEN</div>
{{/if}}


<div class="list-outlet users">
  {{outlet}}
</div>