<section class="list-side">
  <header class="list-header">
    <h1>Users</h1>
    <LinkTo @route="users.new" @id="new-user-link" class="new-link-btn"><span class="create-text">Create New Student</span><i class="fas fa-plus"></i></LinkTo>
  </header>

  <section>
    <nav class="list-box">
      <h2>Your account</h2>
      <ul class="listing your-account">
        <li class="tooltip {{if this.currentUser.isAuthorized 'is-authorized'}} {{if this.currentUser.isAdmin 'is-admin'}}">
          <LinkTo @route="users.user" @model={{this.currentUser}} @classNames="user">{{this.currentUser.username}}</LinkTo>
        </li>
      </ul>
      <h2>Students in your Classes</h2>
      <ul class="listing waiting-auth">
        {{#if this.yourStudents}}
          {{#each this.yourStudents as |user|}}
          <li class="{{if user.name 'simptip-position-right simptip-smooth'}} {{if user.isAuthorized 'is-authorized'}} {{if user.isAdmin 'is-admin'}}" data-tooltip={{user.name}}>
            <LinkTo @route="users.user" @model={{user.id}} @classNames="user">{{user.username}}</LinkTo>
          </li>
          {{/each}}
        {{else}}
          <li>You don't have any students yet</li>
        {{/if}}
      </ul>

      <h2>Users you have created</h2>
      <ul class="listing your-users">
        {{#if this.yourUsers}}
          {{#each this.yourUsers as |user|}}
          <li class="{{if user.name 'simptip-position-right simptip-smooth'}} {{if user.isAuthorized 'is-authorized'}} {{if user.isAdmin 'is-admin'}}" data-tooltip={{user.name}}>
            <LinkTo @route="users.user" @model={{user.id}} @classNames="user">{{user.username}}</LinkTo>
          </li>
          {{/each}}
        {{else}}
          <li>You haven't created any users yet</li>
        {{/if}}
      </ul>

      <h2>Users in {{this.currentUser.organization.name}}</h2>
      <ul class="listing org-users">
        {{#if this.orgUsers}}
          {{#each this.orgUsers as |user|}}
          <li class="{{if user.name 'simptip-position-right simptip-smooth'}} {{if user.isAuthorized 'is-authorized'}} {{if user.isAdmin 'is-admin'}}" data-tooltip={{user.name}}>
            <LinkTo @route="users.user" @model={{user.id}} @classNames="user">{{user.username}}</LinkTo>
          </li>
          {{/each}}
        {{else}}
          <li>There are no users in your organization</li>
        {{/if}}
      </ul>
    </nav>

  </section>
</section>


<div class="clear" />