{{#if this.currentUser.isAdmin}}
  <UserNewAdmin @currentUser={{this.currentUser}} @store={{this.store}} @organizations={{this.organizations}} @toUserInfo="toUserInfo" @toUserHome="toUserHome" />
{{/if}}
{{#if this.currentUser.isPdAdmin}}
  <UserNewPd @currentUser={{this.currentUser}} @store={{this.store}} @organizations={{this.organizations}} @toUserInfo="toUserInfo" @toUserHome="toUserHome" />
{{/if}}
{{#if this.currentUser.isTeacher}}
  <UserNewTeacher @currentUser={{this.currentUser}} @store={{this.store}} @organizations={{this.organizations}} @toUserInfo="toUserInfo" @toUserHome="toUserHome" />
{{/if}}
{{#if this.currentUser.isStudent}}
    <div class="centered">FORBIDDEN</div>
{{/if}}

