<h3>Create a New User</h3>
<article class="user">
  <table class="values rows">
    <tr>
      <th>Label</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>Username <span class="required-star">*</span></td>
      <td>
        <input type="text" class="user-username" value={{username}} onblur={{action 'usernameValidate' value="target.value"}} onfocus={{action 'resetErrors'}} />
      </td>
    </tr>
    <tr>
      <td>Password <span class="required-star">*</span></td>
      <td>
        <input type="password" class="user-password" value={{password}} onblur={{action 'passwordValidate' value="target.value"}} onfocus={{action 'resetErrors'}}/>
      </td>
    </tr>
    <tr>
      <td>First Name</td>
      <td>
        {{input type="text" value=firstName classNames='user-first-name'}}
      </td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td>
        {{input type="text" value=lastName classNames='user-last-name'}}
      </td>
    </tr>
    <tr>
      <td>Email
          {{#if isEmailRequired}}
            <span class="required-star">*</span>
          {{/if}}
      </td>
      <td>
        <input type="text" class="user-email" value={{email}} onblur={{action 'emailValidate' value="target.value"}} onfocus={{action 'resetErrors'}}/>
      </td>
    </tr>
    <tr>
      <td>Organization <span class="required-star">*</span></td>
      <td>
        {{twitter-typeahead dataList=organizations minLength=0 onSelect="setOrg" optionLabelPath="name" setSelectedValueOnChange=true}}
      </td>
    </tr>
    <tr>
      <td>Location</td>
      <td>
        {{input type="text" value=location classNames='user-location'}}
      </td>
    </tr>
    <tr>
      <td>Account Type <span class="required-star">*</span></td>
      <td>
        {{my-select selectedValue=selectedType prompt="Select Account Type" content=accountTypes action=(action (mut selectedType)) cannotBeNull=true classNames='user-account-type'}}
      </td>
    </tr>
    <tr>
      <td>Authorized <span class="required-star">*</span></td>
      <td>
        {{input type="checkbox" checked=isAuthorized value=isAuthorized classNames='user-isAuth'}}
      </td>
    </tr>
  </table>

  {{#if usernameError}}
    {{error-box error=usernameError showDismiss=true resetError=(action (mut usernameError) null)}}
  {{/if}}

  {{#if emailError}}
    {{error-box error=emailError showDismiss=true resetError=(action (mut emailError) null)}}
  {{/if}}

  {{#if passwordError}}
    {{error-box error=passwordError showDismiss=true resetError=(action (mut passwordError) null)}}
  {{/if}}

  {{#if noSpacesError}}
    {{error-box error="Passwords cannot contain spaces" showDismiss=true resetError=(action (mut noSpacesError) null)}}
  {{/if}}

  {{#if missingAccountType}}
    {{error-box error="Missing account type" showDismiss=true resetError=(action (mut missingAccountType) null)}}
  {{/if}}

  {{#if errorMessage}}
    {{error-box error="Missing required fields" showDismiss=true resetError=(action (mut errorMessage) null)}}
  {{/if}}

  {{#each createOrgErrors as |error|}}
    {{error-box error=error showDismiss=true resetError=(action "removeErrorFromArray" "createOrgErrors" error )}}
  {{/each}}
  {{#each createUserErrors as |error|}}
    {{error-box error=error showDismiss=true resetError=(action "removeErrorFromArray" "createUserErrors" error)}}
  {{/each}}


  <div class="button-row">
    <button class='action_button new-user' id="new-user-btn" {{action 'confirmOrg'}}>Create New User</button>
    <button class='action_button new-user cancel-button' {{action 'cancelNew'}}>Cancel</button>
  </div>

</article>

