<p class="sub-input-label">{{labelText}}</p>

<ul>
  {{#each rooms as |room|}}
    <li>
      <VmtRoomListItem @room={{room}} @selectedRoomIds={{selectedRoomIds}} @showCheckbox={{showCheckbox}} @onSelect={{action "onItemSelect"}} />
    </li>
  {{else}}
    <li data-test="no-rooms"> No rooms</li>
  {{/each}}
</ul>
