<VmtSearch @handleSearchResults={{action "handleSearchResults"}} />

 {{#if showList}}
      <VmtRoomList @showCheckbox={{true}} @selectedRoomIds={{selectedRoomIds}} @rooms={{displayResults.rooms}} @onItemSelect={{action "onRoomSelect"}} />
      <p class="sub-input-label">VMT Activities</p>
      <ul>
        <VmtActivityList @showCheckbox={{true}} @selectedRoomIds={{selectedRoomIds}} @selectedActivityIds={{selectedActivityIds}} @activities={{displayResults.activities}} @onItemSelect={{action "onActivitySelect"}} @onSubItemSelect={{action "onRoomSelect"}} />
      </ul>
{{/if}}

<div class="nav-btn-container">
  <button data-test="next" class="primary-button" {{action "next"}}>Next</button>
</div>