
  {{#if currentUserToken}}
    <p class="info">Search VMT for Activities / Rooms</p>

    {{vmt-search username=vmtUsername token=currentUserToken handleSearchResults=(action "handleSearchResults")}}

    {{#if searchResults}}
      VMT Rooms
      <ul>
      {{#each searchResults.rooms as |room|}}
        {{room.name}}
        {{else}}
        No rooms found.
      {{/each}}

      </ul>

      VMT Activities
      <ul>
      {{#each searchResults.activities as |activity|}}
        {{activity.name}}
        {{else}}
        No activities found.
      {{/each}}
      </ul>
    {{/if}}

{{else}}
  {{vmt-login handleLoginResults=(action "handleLoginResults") tokenError=tokenError}}
{{/if}}


