<header>
  <h2>{{this.workspace.name}}</h2>
  <span class="link"><LinkTo @route="workspace.work">Back to Workspace</LinkTo></span>
  <div class="clear"></div>
</header>

<div class="workspace-info-container">
  {{#unless this.isShowingCustomViewer}}
    <WorkspaceInfoSettings @store={{this.store}} @workspace={{this.workspace}} @canEdit={{this.canEdit}} @isEditing={{this.isEditing}} @users={{this.users}} @linkedAssignment={{this.workspace.linkedAssignment.content}} @childWorkspaces={{this.workspace.childWorkspaces.content}} />
  {{/unless}}

  <WorkspaceInfoCollaborators @store={{this.store}} @workspace={{this.workspace}} @originalCollaborators={{this.originalCollaborators}} @isShowingCustomViewer={{this.isShowingCustomViewer}} @customSubmissionIds={{this.customSubmissionIds}} @globalItems={{this.globalItems}} @initialCollabOptions={{this.initialCollabOptions}} @selectedCollaborators={{this.selectedCollaborators}} @showRemoveSelf={{this.showRemoveSelfAsCollab}} @canEdit={{this.canEditCollaborators}} @isParentWorkspace={{this.isParentWorkspace}} @linkedAssignment={{this.workspace.linkedAssignment.content}} @students={{this.workspace.linkedAssignment.students.content}} @childWorkspaces={{this.workspace.childWorkspaces.content}} />

  {{#unless this.isShowingCustomViewer}}
    <WorkspaceInfoStats @workspace={{this.workspace}} />
  {{/unless}}

  {{#if this.isShowingCustomViewer}}
    <CustomSubmissionViewerList @submissions={{this.workspace.submissions.content}} @selectedSubmissionIds={{this.customSubmissionIds}} @onSelect={{action "updateCustomSubs"}} @onSelectAll={{action "selectAllSubmissions"}} @onUnselectAll={{action "deselectAllSubmissions"}} @showView={{this.isShowingCustomViewer}} />
  {{/if}}
</div>
