
<header>
	<h2>Create New Workspace</h2>
	<div class="clear"></div>
</header>
{{!-- <nav>
<span id="pows-toggle" {{action "toggleView" "pows" }}>PoWs</span>
<span id="enc-toggle" {{action "toggleView" "enc"}}>EnCoMPASS</span>
</nav> --}}

{{#if isPows}}
  {{workspace-new-pows model=model store=store}}
  {{else}}
  {{workspace-new-enc model=model store=store toWorkspaces="toWorkspaces"
  toWorkspace="toWorkspace"}}
{{/if}}