<header>
  <h2>{{workspace.name}}</h2>
  <span class="link">{{#link-to 'workspace.work'}}Back to Workspace{{/link-to}}</span>
  <div class="clear"></div>
</header>

<div class="workspace-info-container">
  {{#unless isShowingCustomViewer}}
    {{workspace-info-settings store=store workspace=workspace canEdit=canEdit isEditing=isEditing users=users linkedAssignment=workspace.linkedAssignment.content
    childWorkspaces=workspace.childWorkspaces.content
    }}
  {{/unless}}

  {{workspace-info-collaborators store=store workspace=workspace originalCollaborators=originalCollaborators isShowingCustomViewer=isShowingCustomViewer customSubmissionIds=customSubmissionIds globalItems=globalItems initialCollabOptions=initialCollabOptions selectedCollaborators=selectedCollaborators
  showRemoveSelf=showRemoveSelfAsCollab
  canEdit=canEditCollaborators
  isParentWorkspace=isParentWorkspace
  linkedAssignment=workspace.linkedAssignment.content
  students=workspace.linkedAssignment.students.content
  childWorkspaces=workspace.childWorkspaces.content
  }}

  {{#unless isShowingCustomViewer}}
    {{workspace-info-stats workspace=workspace}}
  {{/unless}}

  {{#if isShowingCustomViewer}}
    {{custom-submission-viewer-list
    submissions=workspace.submissions.content
    selectedSubmissionIds=customSubmissionIds
    onSelect=(action "updateCustomSubs")
    onSelectAll=(action "selectAllSubmissions")
    onUnselectAll=(action "deselectAllSubmissions")
    showView=isShowingCustomViewer
    }}
  {{/if}}
</div>
