<header>
  <h2>{{workspace.name}}</h2>
  <span class="meta">{{#link-to 'workspace.work'}}open workspace{{/link-to}}</span>
  <div class="clear"></div>
</header>

<div class="sanity">

  <section class="stats half">
    <h2>Stats</h2>
    <table class="rows values">
      <tr>
        <th>Submission Dates</th>
        <td>{{workspace.submissionDates}}</td>
      </tr>
      <tr>
        <th># Submissions</th>
        <td>{{workspace.submissionsLength}}</td>
      </tr>
      <tr>
        <th># Selections</th>
        <td>{{workspace.selectionsLength}}</td>
      </tr>
      <tr>
        <th># Folders</th>
        <td>{{workspace.foldersLength}}</td>
      </tr>
      <tr>
        <th># Comments</th>
        <td>{{workspace.commentsLength}}</td>
      </tr>
    </table>
  </section>

  <section class="attributes half">
    <h2>Attributes
      {{#if canEdit}}
        {{#if isEditing}}
          <button class="action_button" {{action 'saveWorkspace'}}>Save</button>
        {{else}}
          <button class="action_button" {{action 'editWorkspace'}}>Edit</button>
        {{/if}}
      {{/if}}
    </h2>

    <div class="half">
      <table class="values rows">
        <tr>
          <th>Owner</th>
          <td>
            {{#if isEditing}}
              {{#unless isChangingOwner}}
                {{workspace.owner.username}}
                <button {{action 'editOwner' workspace.owner}}> Change owner</button>
              {{/unless}}
              {{#if isChangingOwner}}
                {{selectize-input
                  store=store
                  inputId="owner-select"
                  maxItems=1
                  onItemAdd=(action "setOwner")
                  onItemRemove=(action "setOwner")
                  labelField="username"
                  valueField="id"
                  searchField="username"
                  model="user"
                  queryParamsKey="usernameSearch"
                  isAsync=true
                  placeholder="Search for user"}}

              {{/if}}
            {{else}}
              <span class="owner username">{{workspace.owner.username}}</span>
            {{/if}}
          </td>
        </tr>
        <tr>
          <th>Name</th>
          <td>
            {{#if isEditing}}
              {{input type="text" id="edit-name-input" value=workspace.name}}
            {{else}}
              {{workspace.name}}
            {{/if}}
          </td>
        </tr>
        <tr>
          <th>Mode</th>
          <td>
            {{#if isEditing}}
              {{my-select cannotBeNull=true selectedValue = selectedMode content=modes action=(action (mut selectedMode))}}
            {{else}}
              {{workspace.mode}}
            {{/if}}
          </td>
        </tr>
        <tr>
          <th>Collaborators</th>
          <td>
            <ul>
              {{#each originalCollaborators as |collaborator|}}
              <li class="collaborator">
                {{collaborator.displayName}}
                  {{#if isEditing}}
                    <span {{action 'editCollab' collaborator}}><i class="far fa-edit"></i></span>
                    <span {{action 'removeCollab' collaborator}} class="remove_editor"><i class="fas fa-minus-circle"></i></span>
                  {{/if}}
              </li>
              {{/each}}
            </ul>
          </td>
        </tr>
      </table>
    </div>
    <!--/half-->

    <div class="half">
      {{#if isEditing}}
       <label>Add Collaborator</label>
      {{ws-info-permissions selectedCollaborator=selectedCollaborator collaborators=collaborators store=store permissions=workspace.permissions removeCollab=(action "removeCollab") savePermissions=(action "savePermissions")}}

      {{else}} {{#if canEdit}}
      <p>
        Click
        <span {{action 'editWorkspace'}}>Edit</span> to rename the workspace, change the mode, or add/remove collaborators. You'll have to click Save for your changes
        to persist.
      </p>
      {{/if}}
      <p>Only the owner of a workspace can change the attributes.</p>
      <p>For mode: "public" means anyone who can access EnCoMPASS can visit the workspace. "private" means only the owner and
        editors can view it. "org" means anyone who is a member of your organization will be able to view it.</p>
      <p>
        For further customization of permissions for your workspace, you can add collaborators.
        Collaborators can range from only being able to view the content of a workspace to being able to create, modify, and delete
        selections, comments, folders, and responses (or somewhere in between).
      </p>
      {{/if}}
    </div>
    {{#each updateRecordErrors as |error|}}
      <p class="error-message">{{error}}</p>
    {{/each}}
  </section>

</div>