<aside>
  <table>
    <tr>
      <td>
        {{#if showingSelections}}
          <span {{action 'hideSelections'}} class="al_sprite al_hide_selections"></span>
        {{else}}
          <span {{action 'showSelections'}} class="al_sprite al_show_selections"></span>
        {{/if}}
      </td>
      {{#if this.canSelect}}
        <td>
          <label class="makingSelection">
            {{input type="checkbox" checked=shouldCheck click=(action "toggleSelecting")}}
            <span class="al_sprite al_makeselections"></span>
          </label>
        </td>
      {{/if}}
      <td>
        {{#if currentSubmission.answer}}
          {{!-- {{#link-to 'problem' currentSubmission.answer.problem.id}}{{currentSubmission.puzzle.title}} <i class="fas fa-external-link-alt"></i>{{/link-to}} --}}
          <a {{action 'openProblem'}} class="problem-link">
            {{currentSubmission.puzzle.title}}
            <i class="fas fa-external-link-alt"></i>
          </a>
        {{else}}
          <a class='puzzle' target="_blank" href="{{currentSubmission.puzzleUrl}}">
            {{currentSubmission.puzzle.title}}
            <i class="fas fa-external-link-alt"></i>
          </a>
        {{/if}}
      </td>
      <td>
        {{#link-to 'responses.new.submission' currentSubmission.id classNames="respond"}}
          Respond
        {{/link-to}}
        {{#if currentSubmission.responses.length}}
          <span class="meta response-count existing" title="existing response count">
            ({{currentSubmission.responses.length}})
          </span>
        {{/if}}
      </td>
    </tr>
  </table>
</aside>

<div id="al_submission" class="al_vertical_stretch">
  {{#if showSelectableView}}
    <h3>Selectab1e View!</h3>
    {{#selectable-area model=currentSubmission makingSelection=makingSelection showingSelections=showingSelections addSelection="addSelection"  hideSelections="hideSelections" handleTransition="handleTransition" sels=workspaceSelections trashed=trashedSelections}}
      <div id="submission_container">
        <div class="submission-short">
          {{#if currentSubmission.answer.answer}}
            {{{currentSubmission.answer.answer}}}
          {{else}}
            {{{currentSubmission.shortAnswer}}}
          {{/if}}
        </div>
        <div class="submission-long">
          {{#if currentSubmission.answer.explanation}}
            {{{currentSubmission.answer.explanation}}}
          {{/if}}
          {{#if currentSubmission.answer.explanationImage}}
            <img src="{{currentSubmission.answer.explanationImage.imageData}}" alt="">
          {{/if}}
          {{#if currentSubmission.longAnswer}}
            {{{currentSubmission.longAnswer}}}
          {{/if}}
        </div>
      </div>
    {{/selectable-area}}
  {{else}}
    <div class="submission short">
      {{#if currentSubmission.answer.answer}}
        {{{currentSubmission.answer.answer}}}
      {{else}}
        {{{currentSubmission.shortAnswer}}}
      {{/if}}
    </div>
    <div class="submission long">
      {{#if currentSubmission.answer.explanation}}
        {{{currentSubmission.answer.explanation}}}
      {{/if}}
      {{#if currentSubmission.answer.explanationImage}}
        <img src="{{currentSubmission.answer.explanationImage.imageData}}" alt="">
      {{/if}}
      {{#if currentSubmission.longAnswer}}
        {{{currentSubmission.longAnswer}}}
      {{/if}}
    </div>
  {{/if}}
    {{!-- <div id="tags-list">
      <p class="al_small">Below is a list of image tags. Hover over a tag
        to view the selection, or click to edit the tag.
      </p>
    </div> --}}
  {{#if currentSubmission.uploadedFile.savedFileName}}
  <div id="submission_images">
    <a target="_blank" href="{{unbound currentSubmission.imageUrl}}">
      <img src="{{currentSubmission.imageUrl}}" alt="Login to the PoWs to see image"/>
    </a>
  </div>
  {{/if}}
</div><!--/al_submission-->


  <div id="submission_selections">
    {{!-- lets leave the help text out
      <p class="al_small">Below are the selections that have been made.
        {{#if canSelect}}
          You can file them by dragging them to a folder on the left.
        {{/if}}
      </p>
    --}}


    {{#unless currentSubmission.selections.length}}
      <p class="al_small">No selections have been made yet.
        {{#if canSelect}}
          Click "make selection" above and highlight some text in the submission.
        {{/if}}
      </p>
    {{/unless}}

    <ul>
    {{#each this.workspaceSelections as |selection|}}
      <li class="selection">
        {{#unless selection.isTrashed}}
          {{#if canSelect}}
            {{draggable-selection selection=selection deleteSelection=(action "deleteSelection") }}
          {{else}}

          <span class="selection_text selectionLink {{id}}">{{selection.text}}</span>
          {{/if}}
        {{/unless}}
      </li>
    {{/each}}
    </ul>
  </div>
