<header>
  <h2>{{workspace.name}}</h2>
  <span class="meta">{{#link-to 'workspace.work'}}open workspace{{/link-to}}</span>
  <div class="clear"></div>
</header>

<div class="sanity">

  <section class="stats half">
    <h2>Stats</h2>
    <table class="rows values">
      <tr>
        <th>Submission Dates</th>
        <td>{{workspace.submissionDates}}</td>
      </tr>
      <tr>
        <th># Submissions</th>
        <td>{{workspace.submissionsLength}}</td>
      </tr>
      <tr>
        <th># Selections</th>
        <td>{{workspace.selectionsLength}}</td>
      </tr>
      <tr>
        <th># Folders</th>
        <td>{{workspace.foldersLength}}</td>
      </tr>
      <tr>
        <th># Comments</th>
        <td>{{workspace.commentsLength}}</td>
      </tr>
    </table>
  </section>

  <section class="attributes half">
    <h2>Attributes
      {{#if canEdit}}
        {{#if isEditing}}
          <button class="action_button" {{action 'saveWorkspace'}}>Save</button>
        {{else}}
          <button class="action_button" {{action 'editWorkspace'}}>Edit</button>
        {{/if}}
      {{/if}}
    </h2>

    <div class="half">
      <table class="values rows">
        <tr>
          <th>Owner</th>
          <td>
            <span class="owner username">{{workspace.owner.username}}</span>
          </td>
        </tr>
        <tr>
          <th>Name</th>
          <td>
            {{#if isEditing}}
              {{input type="text" id="edit-name-input" value=workspace.name}}
            {{else}}
              {{workspace.name}}
            {{/if}}
          </td>
        </tr>
        <tr>
          <th>Mode</th>
          <td>
            {{#if isEditing}}
              {{my-select cannotBeNull=true selectedValue = selectedMode content=modes action=(action (mut selectedMode))}}
            {{else}}
              {{workspace.mode}}
            {{/if}}
          </td>
        </tr>
        <tr>
          <th>Editors</th>
          <td>
            <ul>
              {{#each workspace.editors as |editor|}}
              <li class="editor">
                {{editor.displayName}}
                  {{#if isEditing}}
                    <span {{action 'removeEditor' editor}} class="remove_editor al_sprite delete_button"></span>
                  {{/if}}
              </li>
              {{/each}}
            </ul>
          </td>
        </tr>
      </table>
    </div>
    <!--/half-->

    <div class="half">
      {{#if isEditing}}
      <label>Add Editor</label>
      {{input type="text" value=searchText placeholder="Search..." classNames="editor search"}}
      <ul>
        {{#each searchResults as |result|}}
        <li>
          <button class="addEditor" {{action 'addEditor' result}}>{{result.username}}</button>
        </li>
        {{/each}}
      </ul>
      {{else}} {{#if canEdit}}
      <p>
        Click
        <span {{action 'editWorkspace'}}>Edit</span> to rename the workspace, change the mode, or add/remove editors. You'll have to click Save for your changes
        to persist.
      </p>
      {{/if}}
      <p>The owner cannot be changed. Only the owner of a workspace can change the attributes.</p>
      <p>For mode: "public" means anyone who can access EnCoMPASS can visit the workspace. "private" means only the owner and
        editors can view it.</p>
      <p>
        Editors are able to do everything the owner can do (except for changing the attributes here). Editors can make, file, and
        comment on selections; add, remove, reorganize folders.
      </p>
      {{/if}}
    </div>

  </section>

</div>