<div class="info-card">
  <div class="heading">
    Workspace Settings
    {{#if this.canEdit}}
      {{#unless this.isEditing}}
        <span class="heading-icon" data-test="ws-settings-edit" {{action 'editWorkspaceInfo'}}>
          <i class="fas fa-edit"></i>
        </span>
      {{/unless}}
    {{/if}}
  </div>
  <div class="card-content">
    <div class="card-row">
      <div class="row-label">
        Name
      </div>
      <div class="row-value">
        {{#if this.isEditing}}
          <Input @type="text" class="text-input" @id="edit-name-input" @value={{this.workspace.name}} />
        {{else}}
          {{this.workspace.name}}
        {{/if}}
      </div>
    </div>
    <div class="card-row">
      <div class="row-label">
        Owner
      </div>
      <div class="row-value">
        {{#if this.isEditing}}
          <SelectizeInput @store={{this.store}} @inputId="owner-select" @maxItems={{1}} @initialItems={{this.initialOwnerItem}} @onItemAdd={{action "setOwner"}} @onItemRemove={{action "setOwner"}} @labelField="username" @valueField="id" @searchField="username" @model="user" @queryParamsKey="usernameSearch" @isAsync={{true}} @placeholder="Search by username" @preload="focus" />
        {{else}}
          <LinkTo @route="users.user" @model={{this.workspace.owner.id}}>{{this.workspace.owner.username}}</LinkTo>
        {{/if}}
      </div>
    </div>
    <div class="card-row">
      <div class="row-label">
        Privacy Setting
      </div>
      <div class="row-value">
        {{#if this.isEditing}}
          <MySelect @cannotBeNull={{true}} @selectedValue={{this.selectedMode}} @content={{this.modes}} @action={{action (mut this.selectedMode)}} />
        {{else}}
          {{this.workspace.mode}}
        {{/if}}
      </div>
    </div>
    {{#if this.doShowLinkedAssignment}}
      <div class="card-row">
        <div class="row-label">
          Linked Assignment
        </div>
        <div data-test="linked-assn" class="row-value">
          {{#if this.isEditing}}
            <SelectizeInput @store={{this.store}} @inputId="linked-assignment-select" @maxItems={{1}} @initialItems={{this.initialLinkedAssignmentItem}} @onItemAdd={{action "setLinkedAssignment"}} @onItemRemove={{action "setLinkedAssignment"}} @labelField="name" @valueField="id" @searchField="name" @model="assignment" @topLevelQueryParams="filterBy" @queryParamsKey="name" @isAsync={{true}} @placeholder="Search for an assignment by name" @preload="focus" />
          {{else}}
          {{#if this.linkedAssignment}}
              <LinkTo @route="assignments.assignment" @model={{this.linkedAssignment.id}}>{{this.linkedAssignment.name}}</LinkTo>
            {{else}}
            N/A
            {{/if}}

          {{/if}}
        </div>
      </div>
      <div class="card-row">
      <div class="row-label">
        Allow Automatic Submission Updates
      </div>
      <div data-test="allow-updates" class="row-value">
        {{#if this.isEditing}}
          <MySelect @cannotBeNull={{true}} @selectedValue={{this.selectedAutoUpdateSetting}} @content={{this.yesNoMySelect}} @action={{action (mut this.selectedAutoUpdateSetting)}} />
        {{else}}
          {{yes-no this.workspace.doAllowSubmissionUpdates}}
        {{/if}}
      </div>
      </div>
      {{#unless this.isEditing}}
        <div class="update-submissions">
          <button {{action "updateWithExistingWork"}} class="primary-button">Update Workspace</button>
          <div class="update-results">
            {{#if this.missingLinkedAssignment}}
              <ErrorBox @error="Please link an assignment first." @showDismiss={{true}} @resetError={{action (mut this.missingLinkedAssignment) null}} />
            {{/if}}
            {{#each this.updateErrors as |error|}}
              <ErrorBox @error={{error}} @showDismiss={{true}} @resetError={{action "removeErrorFromArray" "updateErrors" error}} />
            {{/each}}
            {{#each this.serverErrors as |error|}}
              <ErrorBox @error={{error}} @showDismiss={{true}} @resetError={{action "removeErrorFromArray" "serverErrors" error}} />
            {{/each}}
          </div>

        </div>
      {{/unless}}
    {{/if}}

     {{#if this.doShowChildWorkspaces}}
      <div class="card-row">
        <div class="row-label">
         Child Workspaces
        </div>
        <div data-test="child-workspaces" class="row-value">
          {{#if this.isEditing}}
            {{!-- {{selectize-input
            store=store
            inputId="linked-assignment-select"
            maxItems=1
            initialItems=initialLinkedAssignmentItem
            onItemAdd=(action "setLinkedAssignment")
            onItemRemove=(action "setLinkedAssignment")
            labelField="name"
            valueField="id"
            searchField="name"
            model="assignment"
            topLevelQueryParams="filterBy"
            queryParamsKey="name"
            isAsync=true
            placeholder="Search for an assignment by name"
            preload="focus"
            }} --}}
          {{else}}
          <ul class="child-workspaces">
            {{#each this.childWorkspaces as |ws|}}
            <li>
              <LinkTo @route="workspace.work" @model={{ws.id}}>{{ws.name}}</LinkTo>
            </li>
            {{else}}
           <li>N/A</li>
          {{/each}}
          </ul>

          {{/if}}
        </div>
      </div>
      <div class="card-row">
      <div class="row-label">
        Allow Automatic Updates From Children
      </div>
      <div data-test="allow-updates" class="row-value">
        {{#if isEditing}}
          <MySelect @cannotBeNull={{true}} @selectedValue={{this.selectedAutoUpdateSetting}} @content={{this.yesNoMySelect}} @action={{action (mut this.selectedAutoUpdateSetting)}} />
        {{else}}
          {{yes-no this.workspace.doAutoUpdateFromChildren}}
        {{/if}}
      </div>
      </div>
      {{#unless this.isEditing}}
        <div class="update-submissions">
          <button {{action "updateWithExistingWork"}} class="primary-button" data-test="parent-ws-update">Update Parent Workspace</button>
          <div class="update-results">
            {{#if this.missingChildWorkspaces}}
              <ErrorBox @error="No child workspaces to update from" @showDismiss={{true}} @resetError={{action (mut this.missingChildWorkspaces) null}} />
            {{/if}}
            {{#each this.updateErrors as |error|}}
              <ErrorBox @error={{error}} @showDismiss={{true}} @resetError={{action "removeErrorFromArray" "updateErrors" error}} />
            {{/each}}
            {{#each this.serverErrors as |error|}}
              <ErrorBox @error={{error}} @showDismiss={{true}} @resetError={{action "removeErrorFromArray" "serverErrors" error}} />
            {{/each}}
            {{#each-in this.createdParentData as |recordType records|}}
              {{#if records}}
                <p class="success-message">Added {{records.length}} {{recordType}}</p>
              {{/if}}
            {{/each-in}}
            {{#each-in this.updatedParentData as |recordType records|}}
              {{#if records}}
                <p class="success-message">Updated {{records.length}} {{recordType}}</p>
              {{/if}}
            {{/each-in}}

          </div>

        </div>
      {{/unless}}
    {{/if}}

    {{#if this.isEditing}}
      <div class="card-row button-row">
        <button class="primary-button cancel-button" {{action "stopEditing"}}>Cancel</button>
        <button class="primary-button" {{action 'checkWorkspace'}}>Save</button>
      </div>
    {{/if}}
  </div>
</div>


