<aside>
  <table>
    <tr>
      <td>
        {{#if showingSelections}}
          <span {{action 'hideSelections'}} class="al_sprite al_hide_selections"></span>
        {{else}}
          <span {{action 'showSelections'}} class="al_sprite al_show_selections"></span>
        {{/if}}
      </td>
      {{#if this.canSelect}}
        <td>
          <label class="makingSelection">
            {{input type="checkbox" checked=shouldCheck click=(action "toggleSelecting")}}
            <span class="al_sprite al_makeselections"></span>
          </label>
        </td>
      {{/if}}
      <td>
        {{#if currentSubmission.answer}}
          <a {{action 'openProblem'}} class="problem-link">
            {{currentSubmission.puzzle.title}}
            <i class="fas fa-external-link-alt"></i>
          </a>
        {{else}}
          <a class='puzzle' target="_blank" href="{{currentSubmission.puzzleUrl}}">
            {{currentSubmission.puzzle.title}}
            <i class="fas fa-external-link-alt"></i>
          </a>
        {{/if}}
      </td>
      {{#if canRespond}}
      <td>
        <button class="action_button new-response" {{action 'toNewResponse' currentSubmission.id currentWorkspace.id}}>Respond</button>
        {{#if submissionResponses.length}}
          <span class="meta response-count existing" title="existing response count">
            ({{submissionResponses.length}})
          </span>
        {{/if}}
      </td>
      {{/if}}
    </tr>
  </table>
</aside>

<div id="al_submission" class="al_vertical_stretch">
  {{#if showSelectableView}}
    <h3 class="selectable-view-header">Selectable View!</h3>
    {{#selectable-area
      model=currentSubmission
      makingSelection=makingSelection
      showingSelections=showingSelections
      addSelection="addSelection"
      hideSelections="hideSelections"
      handleTransition="handleTransition"
      sels=workspaceSelections
      trashed=trashedSelections
      setupResizeHandler=(action "setupResizeHandler")
    }}
      <div id="submission_container">
        <div class="submission-short">
          {{#if currentSubmission.answer.answer}}
            {{{currentSubmission.answer.answer}}}
          {{else}}
            {{{currentSubmission.shortAnswer}}}
          {{/if}}
        </div>
        <div class="submission-long">
          {{#if currentSubmission.answer.explanation}}
            {{{currentSubmission.answer.explanation}}}
          {{/if}}
          {{#if currentSubmission.longAnswer}}
            {{{currentSubmission.longAnswer}}}
          {{/if}}
        </div>
      </div>
    {{/selectable-area}}
  {{else}}
    <h5 class="submission-header summary">Brief Summary</h5>
    <div class="submission short">
      {{#if currentSubmission.answer.answer}}
        {{{currentSubmission.answer.answer}}}
      {{else}}
        {{{currentSubmission.shortAnswer}}}
      {{/if}}
    </div>
    <h5 class="submission-header explanation">Explanation</h5>
    <div class="submission long">
      {{#if currentSubmission.answer.explanation}}
        {{{currentSubmission.answer.explanation}}}
      {{/if}}
      {{#if currentSubmission.longAnswer}}
        {{{currentSubmission.longAnswer}}}
      {{/if}}
    </div>
  {{/if}}
  {{#if currentSubmission.uploadedFile.savedFileName}}
  <div id="submission_images">
    <a target="_blank" href="{{unbound currentSubmission.imageUrl}}">
      <img src="{{currentSubmission.imageUrl}}" alt="Login to the PoWs to see image"/>
    </a>
  </div>
  {{/if}}
</div><!--/al_submission-->

<div id="submission_selections">
  {{#if workspaceSelections}}
    <h5 class="submission-header selections">Selections</h5>
  {{/if}}
  <ul>
  {{#each workspaceSelections as |selection|}}
    <li class="selection">
      {{#unless selection.isTrashed}}
        {{#if canSelect}}
          {{draggable-selection
            selection=selection
            canDeleteSelections=canDeleteSelection
            deleteSelection=(action "deleteSelection")
          }}
        {{else}}
          {{undraggable-selection selection=selection }}
        {{/if}}
      {{/unless}}
    </li>
    {{else}}
      <p class="al_small">No selections have been made yet.
      {{#if canSelect}}
        Click "make selection" above and highlight some text in the submission.
      {{/if}}
    </p>
  {{/each}}
  </ul>
</div>
