
<header>
	<h2>Create New Workspaces</h2>
	<div class="clear"></div>
</header>
<nav>
<span id="pows-toggle" {{action "toggleView" "pows" }}>PoWs</span>
<span id="enc-toggle" {{action "toggleView" "enc"}}>EnCoMPASS</span>
</nav>

{{#if isPows}}
  {{workspace-new-pows model=model}}
  {{else}}
  {{workspace-new-enc model=model}}
{{/if}}