 <div class="info-card">
  <div class="heading">
    Collaborators
    {{#if canEdit}}
    <span class="heading-icon" {{action 'addCollaborator'}}>
      <i class="fas fa-plus"></i>
    </span>
    {{/if}}
  </div>
  <div class="card-content">
    {{#if originalCollaborators}}
      {{#each workspacePermissions as |collaborator|}}
        <div class="collab-container">
          <div class="collab-name">
            {{#link-to 'user' collaborator.user.username}}{{collaborator.user.username}}{{/link-to}}
            {{#if canEdit}}
            <span class="collab-actions">
              <i class="fas fa-minus-circle"></i>
              <i class="fas fa-edit"></i>
            </span>
            {{/if}}
          </div>
          <div class="collab-settings">
            <div class="card-row">
              <div class="row-label">
                Submissions
              </div>
              <div class="row-value">
                {{#if collaborator.submissions.all}}
                  View All
                {{/if}}
                {{log 'submission object' collaborator.submissions}}
              </div>
            </div>
            <div class="card-row">
              <div class="row-label">
                Selections
              </div>
              <div class="row-value">
                {{collab-permissions collaborator.selections}}
              </div>
            </div>
            <div class="card-row">
              <div class="row-label">
                Comments
              </div>
              <div class="row-value">
                {{collab-permissions collaborator.comments}}
              </div>
            </div>
            <div class="card-row">
              <div class="row-label">
                Folders
              </div>
              <div class="row-value">
                {{collab-permissions collaborator.folders}}
              </div>
            </div>
            <div class="card-row">
              <div class="row-label">
                Feedback
              </div>
              <div class="row-value">
                {{collab-permissions collaborator.feedback}}
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    {{else}}
      <div class="no-collab">No Collaborators</div>
    {{/if}}
  </div>
</div>

