{{#if isList}}
  <div class="item-container" id="container">
    <div class="item-section mode">
      {{{public-private workspace.mode}}}
    </div>
    <div class="item-section info-item">
      {{#link-to 'workspace.info' workspace.id}}
      <i class="fa fa-info-circle workspace_info" aria-hidden="true"></i>
      {{/link-to}}
    </div>
    <div class="item-section name">
      {{#link-to 'workspace.work' workspace.id class="workspace-name"}}
        <span class={{if workspace.isTrashed 'strikethrough'}}>{{{workspace.name}}}</span>
      {{/link-to}}
    </div>
    <div class="item-section last-viewed">
      {{#link-to 'workspace.work' workspace.id class="workspace-last-viewed"}}
        {{format-date workspace.lastModifiedDateComp 'L'}}
      {{/link-to}}
    </div>
    <div class="item-section submissions">
      {{workspace.submissionsLength}}
    </div>
    <div class="item-section selections">
      {{workspace.selectionsLength}}
    </div>
    <div class="item-section comments">
      {{workspace.commentsLength}}
    </div>
    <div class="item-section responses">
      {{workspace.responsesLength}}
    </div>
    <div class="item-section owner">
      {{workspace.owner.username}}
    </div>
    <div class="item-section editors">
      {{workspace.collaborators.length}}
    </div>
    <div class="item-section more" {{action "toggleShowMoreMenu"}}>
      <i class="fas fa-ellipsis-v more-menu"></i>
      {{#if showMoreMenu}}
      <span class="click-menu">
        <ul>
          {{#if ellipsisMenuOptions}}
          {{#each ellipsisMenuOptions as |option|}}
          <li {{action option.action}}>
            <label>
              <span class="icon-text">{{option.label}}</span>
              <i class={{option.icon}}></i>
            </label>
          </li>
          {{/each}}
          {{else}}
          <li>No options</li>
          {{/if}}
        </ul>
      </span>
      {{/if}}
    </div>
  </div>
{{/if}}

{{#if isGrid}}
  <div class="item-card-container">
    <div class="item-card row-1">
      <div class="item-card privacy">
        <span class="privacy-icon">{{{public-private workspace.mode}}}</span>
        <span class="date">{{format-date workspace.lastModifiedDateComp 'L'}}</span>
      </div>
      <div class="item-card more" {{action "toggleShowMoreMenu"}}>
        <i class="fas fa-ellipsis-v more-menu"></i>
        {{#if showMoreMenu}}
        <span class="click-menu">
          <ul>
            {{#if ellipsisMenuOptions}}
            {{#each ellipsisMenuOptions as |option|}}
            <li {{action option.action}}>
              <label>
                <span class="icon-text">{{option.label}}</span>
                <i class={{option.icon}}></i>
              </label>
            </li>
            {{/each}}
            {{else}}
            <li>No options</li>
            {{/if}}
          </ul>
        </span>
        {{/if}}
      </div>
    </div>
    <div class="item-card row-2">
      <div class="item-card name">
        {{#link-to 'workspace.work' workspace.id class="workspace-name"}}
          <span class={{if workspace.isTrashed 'strikethrough'}}>{{{workspace.name}}}</span>
            {{#link-to 'workspace.info' workspace.id}}
              <i class="fa fa-info-circle workspace_info" aria-hidden="true"></i>
            {{/link-to}}
        {{/link-to}}
      </div>
    </div>
    <div class="item-card row-3">
      <div class="item-card description">
        {{{workspace.owner.username}}}
      </div>
    </div>
    <div class="item-card row-4">
      <div class="item-card status">
        <ul class="workspace-stats">
          <li>
            <p class="stat-header">Submissions</p>
            <p class="stat-number">{{workspace.submissionsLength}}</p>
          </li>
          <li>
            <p class="stat-header">Selections</p>
            <p class="stat-number">{{workspace.selectionsLength}}</p>
          </li>
          <li>
            <p class="stat-header">Comments</p>
            <p class="stat-number">{{workspace.commentsLength}}</p>
          </li>
          <li>
            <p class="stat-header">Responses</p>
            <p class="stat-number">{{workspace.responsesLength}}</p>
          </li>
          <li>
            <p class="stat-header">Collaborators</p>
            <p class="stat-number">{{workspace.editorsLength}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
{{/if}}

<script>
  $('.workspace-name').click(function (e) {
    $('.list-outlet').removeClass('hidden');
    $('.list-outlet').addClass('animated slideInRight');
  });

  $('.results-list').click(function (e) {
    $('.click-menu').addClass('hidden');
  });

  $('.flex-item-full').click(function (e) {
    $('.click-menu').addClass('hidden');
  });
</script>


