
<header>
	<h2>Create New Workspace</h2>
	<div class="clear"></div>
</header>
{{!-- <nav>
<span id="pows-toggle" {{action "toggleView" "pows" }}>PoWs</span>
<span id="enc-toggle" {{action "toggleView" "enc"}}>EnCoMPASS</span>
</nav> --}}

{{#if isPows}}
  <WorkspaceNewPows @model={{model}} @store={{this.store}} />
  {{else}}
  <WorkspaceNewEnc @model={{model}} @store={{this.store}} @toWorkspaces="toWorkspaces" @toWorkspace="toWorkspace" />
{{/if}}