{{#if this.isList}}
  <div class="item-container" id="container">
    <div class="item-section mode">
      {{{public-private this.workspace.mode}}}
    </div>
    <div class="item-section info-item">
      <LinkTo @route="workspace.info" @model={{this.workspace.id}}>
      <i class="fa fa-info-circle workspace_info" aria-hidden="true"></i>
      </LinkTo>
    </div>
    <div class="item-section name">
      <LinkTo @route="workspace.work" @model={{this.workspace.id}} class="workspace-name">
        <span class={{if this.workspace.isTrashed 'strikethrough'}}>{{{this.workspace.name}}}</span>
      </LinkTo>
    </div>
    <div class="item-section last-viewed">
      <LinkTo @route="workspace.work" @model={{this.workspace.id}} class="workspace-last-viewed">
        {{format-date this.workspace.lastModifiedDateComp 'L'}}
      </LinkTo>
    </div>
    <div class="item-section submissions">
      {{this.workspace.submissionsLength}}
    </div>
    <div class="item-section selections">
      {{this.workspace.selectionsLength}}
    </div>
    <div class="item-section comments">
      {{this.workspace.commentsLength}}
    </div>
    <div class="item-section responses">
      {{this.workspace.responsesLength}}
    </div>
    <div class="item-section owner">
      {{this.workspace.owner.username}}
    </div>
    <div class="item-section editors">
      {{this.workspace.collaborators.length}}
    </div>
    <div class="item-section more" {{action "toggleShowMoreMenu"}}>
      <i class="fas fa-ellipsis-v more-menu"></i>
      {{#if this.showMoreMenu}}
      <span class="click-menu">
        <ul>
          {{#if this.ellipsisMenuOptions}}
          {{#each this.ellipsisMenuOptions as |option|}}
          <li {{action option.action}}>
            <label>
              <span class="icon-text">{{option.label}}</span>
              <i class={{option.icon}}></i>
            </label>
          </li>
          {{/each}}
          {{else}}
          <li>No options</li>
          {{/if}}
        </ul>
      </span>
      {{/if}}
    </div>
  </div>
{{/if}}

{{#if this.isGrid}}
  <div class="item-card-container">
    <div class="item-card row-1">
      <div class="item-card privacy">
        <span class="privacy-icon">{{{public-private this.workspace.mode}}}</span>
        <span class="date">{{format-date this.workspace.lastModifiedDateComp 'L'}}</span>
      </div>
      <div class="item-card more" {{action "toggleShowMoreMenu"}}>
        <i class="fas fa-ellipsis-v more-menu"></i>
        {{#if this.showMoreMenu}}
        <span class="click-menu">
          <ul>
            {{#if this.ellipsisMenuOptions}}
            {{#each this.ellipsisMenuOptions as |option|}}
            <li {{action option.action}}>
              <label>
                <span class="icon-text">{{option.label}}</span>
                <i class={{option.icon}}></i>
              </label>
            </li>
            {{/each}}
            {{else}}
            <li>No options</li>
            {{/if}}
          </ul>
        </span>
        {{/if}}
      </div>
    </div>
    <div class="item-card row-2">
      <div class="item-card name">
        <LinkTo @route="workspace.work" @model={{this.workspace.id}} class="workspace-name">
          <span class={{if this.workspace.isTrashed 'strikethrough'}}>{{{this.workspace.name}}}</span>
            <LinkTo @route="workspace.info" @model={{this.workspace.id}}>
              <i class="fa fa-info-circle workspace_info" aria-hidden="true"></i>
            </LinkTo>
        </LinkTo>
      </div>
    </div>
    <div class="item-card row-3">
      <div class="item-card description">
        {{{this.workspace.owner.username}}}
      </div>
    </div>
    <div class="item-card row-4">
      <div class="item-card status">
        <ul class="workspace-stats">
          <li>
            <p class="stat-header">Submissions</p>
            <p class="stat-number">{{this.workspace.submissionsLength}}</p>
          </li>
          <li>
            <p class="stat-header">Selections</p>
            <p class="stat-number">{{this.workspace.selectionsLength}}</p>
          </li>
          <li>
            <p class="stat-header">Comments</p>
            <p class="stat-number">{{this.workspace.commentsLength}}</p>
          </li>
          <li>
            <p class="stat-header">Responses</p>
            <p class="stat-number">{{this.workspace.responsesLength}}</p>
          </li>
          <li>
            <p class="stat-header">Collaborators</p>
            <p class="stat-number">{{this.workspace.editorsLength}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
{{/if}}

<script>
  $('.workspace-name').click(function (e) {
    $('.list-outlet').removeClass('hidden');
    $('.list-outlet').addClass('animated slideInRight');
  });

  $('.results-list').click(function (e) {
    $('.click-menu').addClass('hidden');
  });

  $('.flex-item-full').click(function (e) {
    $('.click-menu').addClass('hidden');
  });
</script>


