<h3>Create a copy of an existing workspace</h3>

  {{#if (is-equal currentStep 1)}}
  {{selectize-input
      store=store
      inputId="select-workspace"
      isAsync=true
      maxItems=1
      onItemAdd=(action "setOriginalWorkspace")
      labelField="name"
      searchField="name"
      valueField="id"
      model="workspace"
      queryParamsKey="query"
      searchCriterion="name"
      topLevelQueryParams="searchBy"
      placeholder="Search for workspaces by name..."
      preload="focus"
    }}

  {{else}}
  {{#if workspaceToCopy}}
    <h5>Selected Workspace</h5>
    <p>{{workspaceToCopy.name}}</p>
    {{/if}}
  {{/if}}


  {{#if (is-equal currentStep 2)}}
   <h5>Configure New Workspace</h5>
    <input type="radio" checked={{is-equal selectedConfig "A"}} required="true" name="selectedConfig" value="A" onclick={{action (mut selectedConfig) "A"}}>
    <label>Shallow with Folder Structure</label>

    <input type="radio" checked={{is-equal selectedConfig "B"}} required="true" name="selectedConfig" value="B" onclick={{action (mut selectedConfig) "B"}}>
    <label>Shallow with No Folders</label>

    <input type="radio" checked={{is-equal selectedConfig "C"}} required="true" name="selectedConfig" value="C" onclick={{action (mut selectedConfig) "C"}}>
    <label>Full Deep Copy</label>

     <input type="radio" checked={{is-equal selectedConfig "D"}} required="true" name="selectedConfig" value="D" onclick={{action (mut selectedConfig) "D"}}>
    <label>Custom</label>

  {{else}}
  {{#if selectedConfig}}
    <h5>Selected Config</h5>
    <p>{{selectedConfigDisplay}}</p>

    {{!-- {{#if (is-equal selectedConfig "A")}}
      <p>Do you want to save this folder structure as a folder set for future use?</p>
       <input type="radio" checked={{is-equal doCreateFolderSet "1"}} required="true"  name="doCreateFolderSet" value="1" onclick={{action (mut doCreateFolderSet) true}}>
      <label>Yes</label>
      <input type="radio" checked={{is-equal doCreateFolderSet false}} required="true"  name="doCreateFolderSet" value=false onclick={{action (mut doCreateFolderSet) false}}>
      <label>No</label>
    {{/if}} --}}
  {{/if}}


{{/if}}
  {{#if (is-equal currentStep 'owner')}}
      {{selectize-input
    store=store
    inputId="owner-select"
    onItemAdd=(action "setOwner")
    labelField="username"
    valueField="id"
    searchField="username"
    model="user"
    queryParamsKey="usernameSearch"
    isAsync=true
    placeholder="Search users to choose as owner"
  }}
{{/if}}
{{#if owner}}
    <h5>Selected Owner</h5>
    <p>{{owner.username}}</p>

      <h5>Privacy Setting</h5>
    <input type="radio" checked={{is-equal privacySetting "M"}} required="true" name="selectedConfig" value="M" onclick={{action (mut privacySetting) "M"}}>
    <label>Private</label>

    <input type="radio" checked={{is-equal privacySetting "O"}} required="true" name="privacySetting" value="B" onclick={{action (mut privacySetting) "O"}}>
    <label>My Org</label>

    <input type="radio" checked={{is-equal privacySetting "E"}} required="true" name="privacySetting" value="C" onclick={{action (mut privacySetting) "E"}}>
    <label>Public</label>
{{/if}}

{{input id="name" type="text" value=name placeholder="Give your workspace a name (optional)"}}

<button {{action "createCopyRequest"}}>Submit</button>

{{#if copyWorkspaceError}}
  <p class="error-message">{{copyWorkspaceError}}</p>
{{/if}}

{{#each serverErrors as |error|}}
  <p class="error-message">{{error}}</p>
{{/each}}







