<h5>Details for {{workspace.name}}</h5>

<ol>
  <li>
    <p>Number of Submissions: {{workspace.submissionsLength}}</p>
  </li>
  <li>
    <p>Number of Folders: {{workspace.foldersLength}}</p>
  </li>
  <li>
    <p>Number of Selections: {{workspace.selectionsLength}}</p>
  </li>
  <li>
    <p>Number of Comments: {{workspace.commentsLength}}</p>
  </li>

  <li>
    <p>Last Modified Date: {{format-date workspace.lastModifiedDate 'MMM Do YYYY'}}</p>
  </li>
</ol>