<section class="newWorkspace sanity">
  <section class="overview">
    <h2>Overview</h2>
    <p>
      A workspace is made up of a set of submissions,
      a way to organize your work (folders),
      and permissions.<br />
      Here, you can import submissions.
      We will automatically create workspaces for you.
    </p>
  </section>
  <section class="third submissions">
    <h2>Submissions</h2>
    <div>
      <Input @type="radio" @name="importMode" class="pdImport" @value="0" @click={{action "radioSelect" 0}} /> <label>PD</label>
      <Input @type="radio" @name="importMode" class="powImport" @value="1" @click={{action "radioSelect" 1}} /> <label>PoW</label>
    {{#if isPdImport}}
      <p>
        One or more workspaces will be created with the submissions from the
        PD set you select below.
        The workspaces will be created based on groupings of problem and class.
      </p>
    {{else}}
      <p>
        <label>As PD set <Input @id="powPd" @type="checkbox" @checked={{pd}} /></label>
        {{#if pd}}
          <Input @type="text" @value={{newPdSet}} />
        {{/if}}
      </p>
      {{#if pd}}
        <p>
         Your submissions will be imported to the PD set you name above.  No workspaces will be created but you (and others) will be able to import this set of submissions by returning to this page and choosing "PD".
         <!-- see ENC-432 -->
        </p>
      {{else}}
        <p>
          One or more workspaces will be created with the
          submissions imported directly from the PoWs.
          The workspaces will be created based on groupings
          of problem and class.
        </p>
      {{/if}}
    {{/if}}
    </div>
    {{#if isPdImport}}
    <form id="pdImportForm" class='properForm'>
    <ol>
      <li>
      <MySelect @content={{model.pdSets}} @optionLabelPath="label" @prompt="Please select a PD set" @action={{action (mut selectedPdSet)}} />
      </li>
    </ol>
    </form>
    {{/if}}

    {{pd}}
    {{#if isPowImport}}
     <form id='powImportForm' class='properForm'>
     <fieldset> <legend> By ID(s) </legend>
       <ol>
         <li>
           <label for="teacher">Teacher <em>*</em></label>
           <Input @id="teacher" @type="text" @value={{teacher}} @disabled={{canEdit}} placeholder="enter username" />
         </li>
         <li>
           <label for="submitter">Submitter</label>
           <Input @id="submitter" @type="text" @value={{submitter}} placeholder="enter username" />
         </li>
         <li>
           <label for="puzzle">Problem</label>
           <Input @id="puzzle" @type="number" @value={{puzzId}} placeholder="enter number" />
         </li>
         <li>
           <label for="course">Class</label>
           <Input @id="course" @type="number" @value={{course}} placeholder="enter ID" />
         </li>
         <li style="border-bottom:2px dashed; padding:0.2em; text-align:center;">OR</li>
         <li>
           <label for="subs">Submissions</label>
           <Input @id="subs" @type="text" @value={{subs}} @size="33" placeholder="one or more IDs" @pattern="([0-9]+(,?))*" />
          </li>
         </ol>
     </fieldset><br />

     <fieldset> <legend> By Date </legend>
       <ol>
         <li>
           <label for="start">From</label>
           <Input @id="start" @type="date" @value={{startDate}} placeholder="mm/dd/yyyy" />
         </li>
         <li>
         <label for="end">To</label>
         <Input @id="end" @type="date" @value={{endDate}} placeholder="mm/dd/yyyy" />
         </li>
       </ol>
     </fieldset>
     </form>
    {{/if}}
  </section>


  <section class="third folders">
    <h2>Folders</h2>
    <p>Choose the folders you want to start off with.  You will be able to add/remove/reorder folders in each workspace once you get started.</p>
    <MySelect @content={{model.folderSets}} @optionLabelPath="name" @prompt="Please select a folder set" @action={{action (mut selectedFolderSetId)}} />
  </section>

  <section class="third permissions">
    <h2>Permissions</h2>
    <p>Once you create your workspace you'll be able to set the mode and editors (by visiting the 'info' link for your workspace).</p>
  </section>

  <div style="clear: left"></div>
  <section class="submit">
  <button class="action_button" id="create-workspace-btn" {{action 'createWorkspace'}}>
    Create
  </button>
  </section>
</section>
