<div class="comment-flex-item text">
  <p>
    {{#if isForCurrentWorkspace}}
      {{#link-to 'workspace.submission.selection' comment.selection.submission comment.selection classNames="comment comment-text"}}
        {{comment.text}}
      {{/link-to}}
    {{else}}
    <a class="newWindow comment-text" target="_blank" href="{{comment.selection.link}}">{{comment.text}}</a>
    {{/if}}
  </p>
    <p class="meta">
      by <span class="creator">
        {{#if isParentWorkspace}}
          {{comment.originalComment.createdBy.username}}
        {{else}}
          {{comment.createdBy.username}}
        {{/if}}
        </span>
      in <span class="workspace">
        {{#if isParentWorkspace }}
          {{comment.originalComment.workspace.name}}
        {{else}}
          {{comment.workspace.name}}
        {{/if}}
        </span>
      {{metaText}}
    </p>
</div>
<div class="comment-flex-item actions">
  {{#if canDelete}}
    <span {{action deleteComment comment}} class="delete_button"><i class="fas fa-minus-circle"></i></span>
  {{/if}}
  {{#if permittedToComment}}
    <a {{action reuseComment comment}} title="reuse this comment">
      {{#if childrenLength}}
        {{childrenLength}}
      {{else}}
        <i class="fas fa-plus"></i>
      {{/if}}
    </a>
  {{/if}}
</div>

<div class="clear"></div>
