<div class="info-card">
  <div class="heading">Stats</div>
  <div class="card-content">
    <div class="card-row">
      <div class="row-label">
        Submissions
      </div>
      <div class="row-value submissions">
        {{workspace.submissionsLength}}
      </div>
    </div>
    <div class="card-row">
      <div class="row-label">
        Selections
      </div>
      <div class="row-value selections">
        {{workspace.selectionsLength}}
      </div>
    </div>
    <div class="card-row">
      <div class="row-label">
        Folders
      </div>
      <div class="row-value folders">
        {{workspace.foldersLength}}
      </div>
    </div>
    <div class="card-row">
      <div class="row-label">
        Comments
      </div>
      <div class="row-value comments">
        {{workspace.commentsLength}}
      </div>
    </div>
    <div class="card-row">
      <div class="row-label">
        Responses
      </div>
      <div class="row-value responses">
        {{workspace.responsesLength}}
      </div>
    </div>
        <div class="card-row">
      <div class="row-label">
        Taggings
      </div>
      <div class="row-value taggings">
        {{workspace.taggingsLength}}
      </div>
    </div>

  </div>
</div>

