{{#if isList}}
  <div class="item-container" id="container">
    <div class="item-section mode">
      {{{public-private workspace.mode}}}
    </div>

    <div class="item-section name">
      {{#link-to 'workspace.work' workspace class="workspace-name"}}
        {{{workspace.name}}}
      {{/link-to}}
    </div>
    <div class="item-section last-viewed">
      {{#link-to 'workspace.work' workspace class="workspace-last-viewed"}}
        {{format-date workspace.lastModifiedDate 'L'}}
      {{/link-to}}
    </div>
    <div class="item-section submissions">
      {{workspace.submissionsLength}}
    </div>
    <div class="item-section selections">
      {{workspace.selectionsLength}}
    </div>
    <div class="item-section comments">
      {{workspace.commentsLength}}
    </div>
    <div class="item-section responses">
      {{workspace.responsesLength}}
    </div>
    <div class="item-section owner">
      {{workspace.owner.username}}
    </div>
    <div class="item-section editors">
      {{workspace.editorsLength}}
    </div>
    <div class="item-section info-item">
      {{#link-to 'workspace.info' workspace.id}}
        <i class="fa fa-info-circle workspace_info" aria-hidden="true"></i>
      {{/link-to}}
    </div>
  </div>
{{/if}}

{{#if isGrid}}
  <div class="item-card-container">
    <div class="item-card row-1">
      <div class="item-card privacy">
        <span class="privacy-icon">{{{public-private workspace.mode}}}</span>
        <span class="date">{{format-date workspace.lastModifiedDate 'L'}}</span>
      </div>
      <div class="item-card more">
        {{#link-to 'workspace.info' workspace.id}}
          <i class="fa fa-info-circle workspace_info" aria-hidden="true"></i>
        {{/link-to}}
      </div>
    </div>
    <div class="item-card row-2">
      <div class="item-card name">
        {{#link-to 'workspace.work' workspace class="workspace-name"}}
          {{{workspace.name}}}
        {{/link-to}}
      </div>
    </div>
    <div class="item-card row-3">
      <div class="item-card description">
        {{{workspace.owner.username}}}
      </div>
    </div>
    <div class="item-card row-4">
      <div class="item-card status">
        {{!-- <svg height="20" width="20">
          <circle cx="10" cy="15" r="5" fill={{statusIconFill}} />
        </svg>
        <span class="status-text">
          {{workspace.status}}
        </span> --}}
      </div>
    </div>
  </div>
{{/if}}

<script>
  $('.workspace-name').click(function (e) {
    $('.list-outlet').removeClass('hidden');
    $('.list-outlet').addClass('animated slideInRight');
  });

  $('.results-list').click(function (e) {
    $('.click-menu').addClass('hidden');
  });

  $('.flex-item-full').click(function (e) {
    $('.click-menu').addClass('hidden');
  });
</script>


