<h5>Submissions</h5>

<input type="radio" checked={{answerOptions.all}} required="true" name="answerOptions" value="all" onclick={{action "updateCollectionOptions" "all" "answerOptions"}}>
<label>All</label>

<input type="radio" checked={{answerOptions.byStudent}} required="true" name="answerOptions" value="byStudent" onclick={{action "updateCollectionOptions" "byStudent" "answerOptions"}}>
<label>By Student</label>
{{log 'show student answer input' showStudentAnswerInput}}
{{#if showStudentAnswerInput}}
  {{selectize-input
  inputId="answers-by-student"
  initialOptions=studentSelectOptions
  maxItems=studentSelectOptions.length
  onItemAdd=(action "updateMultiSelect")
  onItemRemove=(action "updateMultiSelect")
  labelField="label"
  valueField="value"
  searchField="label"
  propToUpdate="answerStudents"
  placeholder="Add students"}}

  {{#each answerStudents as |student|}}
  <p>{{student}}</p>
  {{/each}}
{{/if}}
{{#if noAnswersToCopy}}
  <p class="error-message">Your current configuration would result in 0 submissions. Please modify your criteria.</p>
{{/if}}

<h5>Selections</h5>
<p>Based on your Submission choices, there are {{selectionsFromSubmissions.length}} selections to choose from.</p>

<input type="radio" checked={{selectionOptions.all}} required="true" name="selectionOptions" value="all"
onclick={{action "updateCollectionOptions" "all" "selectionOptions"}}>
<label>All</label>

<input type="radio" checked={{selectionOptions.none}} required="true" name="selectionOptions" value="none" onclick={{action "updateCollectionOptions" "none" "selectionOptions"}}>
<label>None</label>

<input type="radio" checked={{selectionOptions.custom}} required="true" name="selectionOptions" value="custom" onclick={{action "updateCollectionOptions" "custom" "selectionOptions"}}>
<label>Custom</label>

<h5>Folders</h5>

<input type="radio" checked={{folderOptions.all}} required="true" name="folderOptions" value="all"
onclick={{action "updateCollectionOptions" "all" "folderOptions"}}>
<label>All</label>

<input type="radio" checked={{folderOptions.none}} required="true" name="folderOptions" value="none" onclick={{action "updateCollectionOptions" "none" "folderOptions"}}>
<label>None</label>

{{#if folderOptions.all}}
  <label>Include Structure Only</label>
  <input type="checkbox" checked={{folderOptions.includeStructureOnly}} name="includeStructureOnly">
{{/if}}

<h5>Comments</h5>
<p>Based on your Selection choices, there are {{commentsFromSelections.length}} comments to choose from.</p>
<input type="radio" checked={{commentOptions.all}} required="true" name="commentOptions" value="all"
onclick={{action "updateCollectionOptions" "all" "commentOptions"}}>
<label>All</label>

<input type="radio" checked={{commentOptions.none}} required="true" name="commentOptions" value="none" onclick={{action "updateCollectionOptions" "none" "commentOptions"}}>
<label>None</label>

<input type="radio" checked={{commentOptions.custom}} required="true" name="commentOptions" value="custom" onclick={{action "updateCollectionOptions" "custom" "commentOptions"}}>
<label>Custom</label>

<h5>Responses</h5>
<p>Based on your Submission choices, there are {{responsesFromSubmissions.length}} responses to choose from.</p>

<input type="radio" checked={{responseOptions.all}} required="true" name="responseOptions" value="all"
onclick={{action "updateCollectionOptions" "all" "responseOptions"}}>
<label>All</label>

<input type="radio" checked={{responseOptions.none}} required="true" name="responseOptions" value="none" onclick={{action "updateCollectionOptions" "none" "responseOptions"}}>
<label>None</label>

<input type="radio" checked={{responseOptions.custom}} required="true" name="responseOptions" value="custom" onclick={{action "updateCollectionOptions" "custom" "responseOptions"}}>
<label>Custom</label>

{{!-- {{/if}} --}}

<div class="nav-btn-container">
  <button {{action "back"}}>Prev</button>
  <button {{action "next"}}>Next</button>
</div>




