<p class="input-label">Custom Copy Settings</p>

<p class="input-label">Submissions</p>

<input type="radio" checked={{submissionOptions.all}} required="true" name="submissionOptions" value="all" onclick={{action "updateCollectionOptions" "all" "submissionOptions"}}>
<label>All</label>

<input type="radio" checked={{submissionOptions.byStudent}} required="true" name="submissionOptions" value="byStudent" onclick={{action "updateCollectionOptions" "byStudent" "submissionOptions"}}>
<label>By Student</label>

<input type="radio" checked={{submissionOptions.custom}} required="true" name="submissionOptions" value="custom" onclick={{action "updateCollectionOptions" "custom" "submissionOptions"}}>
<label>Custom</label>
{{#if showStudentSubmissionInput}}
  {{selectize-input
  inputId="submissions-by-student"
  initialOptions=studentSelectOptions
  maxItems=studentSelectOptions.length
  onItemAdd=(action "updateMultiSelect")
  onItemRemove=(action "updateMultiSelect")
  labelField="label"
  valueField="value"
  searchField="label"
  propToUpdate="submissionStudents"
  placeholder="Add students"}}

  {{#each submissionStudents as |student|}}
  <p>{{student}}</p>
  {{/each}}
{{/if}}
{{#if showCustomSubmissionViewer}}
 {{submission-viewer-list submissions=workspace.submissions.content selectedSubmissionIds=customSubmissionIds onSelect=(action "updateCustomSubs")
 onSelectAll=(action "selectAllSubmissions") onUnselectAll=(action "deselectAllSubmissions")
 }}
{{/if}}
{{#if noSubmissionsToCopy}}
  <p class="error-message">Your current configuration would result in 0 submissions. Please modify your criteria.</p>
{{/if}}

<p class="input-label">Selections</p>
<p>Based on your Submission choices, there are {{selectionsFromSubmissions.length}} selections to choose from.</p>

<input type="radio" checked={{selectionOptions.all}} required="true" name="selectionOptions" value="all"
onclick={{action "updateCollectionOptions" "all" "selectionOptions"}}>
<label>All</label>

<input type="radio" checked={{selectionOptions.none}} required="true" name="selectionOptions" value="none" onclick={{action "updateCollectionOptions" "none" "selectionOptions"}}>
<label>None</label>

{{!-- <input type="radio" checked={{selectionOptions.custom}} required="true" name="selectionOptions" value="custom" onclick={{action "updateCollectionOptions" "custom" "selectionOptions"}}>
<label>Custom</label> --}}

<p class="input-label">Folders</p>

<input type="radio" checked={{folderOptions.all}} required="true" name="folderOptions" value="all"
onclick={{action "updateCollectionOptions" "all" "folderOptions"}}>
<label>All</label>

<input type="radio" checked={{folderOptions.none}} required="true" name="folderOptions" value="none" onclick={{action "updateCollectionOptions" "none" "folderOptions"}}>
<label>None</label>

{{#if folderOptions.all}}
  <input type="checkbox" checked={{folderOptions.includeStructureOnly}} name="includeStructureOnly" onclick={{action "toggleIncludeStructureOnly"}}>
  <label>Include Structure Only</label>
{{/if}}

<p class="input-label">Comments</p>
<p>Based on your Submission choices, there are {{commentsFromSelections.length}} comments to choose from.</p>
<input type="radio" checked={{commentOptions.all}} required="true" name="commentOptions" value="all"
onclick={{action "updateCollectionOptions" "all" "commentOptions"}}>
<label>All</label>

<input type="radio" checked={{commentOptions.none}} required="true" name="commentOptions" value="none" onclick={{action "updateCollectionOptions" "none" "commentOptions"}}>
<label>None</label>

{{!-- <input type="radio" checked={{commentOptions.custom}} required="true" name="commentOptions" value="custom" onclick={{action "updateCollectionOptions" "custom" "commentOptions"}}>
<label>Custom</label> --}}

<p class="input-label">Responses</p>
<p>Based on your Submission choices, there are {{responsesFromSubmissions.length}} responses to choose from.</p>

<input type="radio" checked={{responseOptions.all}} required="true" name="responseOptions" value="all"
onclick={{action "updateCollectionOptions" "all" "responseOptions"}}>
<label>All</label>

<input type="radio" checked={{responseOptions.none}} required="true" name="responseOptions" value="none" onclick={{action "updateCollectionOptions" "none" "responseOptions"}}>
<label>None</label>

{{!-- <input type="radio" checked={{responseOptions.custom}} required="true" name="responseOptions" value="custom" onclick={{action "updateCollectionOptions" "custom" "responseOptions"}}>
<label>Custom</label> --}}

{{!-- {{/if}} --}}

<div class="nav-btn-container">
  <button {{action "back"}}>Prev</button>
  <button {{action "next"}}>Next</button>
</div>




