<h5>Permission Settings</h5>

<p>Add Collaborators</p>
{{selectize-input
store=store
inputId="collab-select"
maxItems=1
onItemAdd=(action "setCollaborator")
labelField="username"
valueField="id"
searchField="username"
model="user"
queryParamsKey="usernameSearch"
isAsync=true
placeholder="Search users to choose as owner"}}

{{#if selectedCollaborator}}
  {{ws-permissions-new onSave=(action "savePermissions") selectedUser=selectedCollaborator}}
{{/if}}


<h5>Collaborators</h5>
<ol>
  {{#each permissions as |permission|}}
    <li>{{permission.user.username}}</li>
  {{/each}}
</ol>

<button {{action "back"}}>Prev</button>
<button {{action "next"}}>Review Request</button>