
<h5>Configure Permissions for {{selectedUser.username}}</h5>

{{radio-group options=submissionItems selectedValue=submissions}}
{{#if showCustomSubmissions}}
<ul>


  {{#each workspace.submissions.content as |submission|}}
    <li>
       <input type="checkbox" checked={{is-in customSubmissionIds submission.id}} name="customIds" value={{submission.id}} onclick={{action "updateCustomSubs" submission.id}}>
      <span>{{submission.id}} by {{submission.student}}</span>
    </li>
  {{/each}}
  </ul>
  <p>Use submission viewer component here</p>
{{/if}}
{{radio-group options=globalItems selectedValue=global}}

{{#if showCustom}}

  {{radio-group options=selectionItems selectedValue=selections}}
  {{radio-group options=commentItems selectedValue=comments}}
  {{radio-group options=folderItems selectedValue=folders}}
  {{radio-group options=feedbackItems selectedValue=feedback}}
{{/if}}

{{#if saveError}}
  <p class="error-message">Sorry, something went wrong. Please try again.</p>
{{/if}}
<button class="save-permissions" {{action "savePermissions"}}>Save User Permissions </button>
<button {{action (mut selectedUser) null}}>Cancel</button>