
<p class="input-label">
  Configure Permissions for <span class="username">{{selectedUser.username}}</span>
  <span class="info-text-tip simptip-position-right simptip-multiline simptip-smooth" data-tooltip="Select which permissions this user should have for this new workspace">
    <i class="fas fa-info-circle info-icon"></i>
  </span>
</p>

<div class="submission-permissions">
<RadioGroup @options={{submissionItems}} @selectedValue={{submissions}} />
{{#if closedCustomView}}
  <span class="show-viewer" {{action (mut showCustomSubmissionViewer) true}}>Show Viewer</span>
{{/if}}
  {{#if showCustomSubmissions}}
    <CustomSubmissionViewerList @submissions={{submissionsPool}} @selectedSubmissionIds={{customSubmissionIds}} @onSelect={{action "updateCustomSubs"}} @onSelectAll={{action "selectAllSubmissions"}} @onUnselectAll={{action "deselectAllSubmissions"}} @showView={{showCustomSubmissionViewer}} />
    {{!-- <ul>
    {{#each workspace.submissions.content as |submission|}}
      <li>
        <input type="checkbox" checked={{is-in customSubmissionIds submission.id}} name="customIds" value={{submission.id}} onclick={{action "updateCustomSubs" submission.id}}>
        <span>{{submission.id}} by {{submission.student}}</span>
      </li>
    {{/each}}
    </ul> --}}
  {{/if}}
</div>

<div class="global-permissions">
  <RadioGroup @options={{globalItems}} @selectedValue={{global}} />
  {{#if showCustom}}
  <div class="custom-global-permissions">
    <p class="input-label">
      Configure Custom Permissions
      <span class="info-text-tip simptip-position-right simptip-multiline simptip-smooth" data-tooltip="Decide user permissions for each aspect of this workspace">
        <i class="fas fa-info-circle info-icon"></i>
      </span>
    </p>
    <RadioGroup @options={{selectionItems}} @selectedValue={{selections}} />
    <RadioGroup @options={{commentItems}} @selectedValue={{comments}} />
    <RadioGroup @options={{folderItems}} @selectedValue={{folders}} />
    <RadioGroup @options={{feedbackItems}} @selectedValue={{feedback}} />
  </div>
  {{/if}}
</div>

{{#if saveError}}
  <ErrorBox @error="Sorry, something went wrong. Please try again." @resetError={{action (mut saveError) null}} @showDismiss={{true}} />
{{/if}}

<button class="primary-button cancel-button" {{action (mut selectedUser) null}}>Cancel</button>
<button class="primary-button" {{action "savePermissions"}}>Save Permissions</button>