<div id="workspace-container">
<header class="{{makingSelection}} ws-header">
  <div class="ws-meta">
    <h2 class="workspace-name">{{currentWorkspace.name}}</h2>
    <span class="info-link">{{#link-to 'workspace.info' workspace}}<i class="fa fa-info-circle" aria-hidden="true"></i>
      {{/link-to}}
    </span>
    <span class="info workspaceOwner {{if isMyWorkspace 'isMine' 'notMine'}}">by {{currentWorkspace.owner.displayName}} </span>

</div>
  <aside>
  <a id="takeTour" class="action_button" {{action 'startTour'}}>Take Tour</a>
    {{! this needs to be here so the GuideJS can click it when done
        we don't have a better way to propagate actions }}
    <a id="doneTour" style="display:none" {{action 'doneTour'}}>Done Tour</a>
  </aside>
  <div class="clear"></div>
</header>

<div class="workspace-flex-container {{if cannotSeeFolders 'no-folders'}} {{if cannotSeeComments 'no-comments'}} {{if cannotSeeSelections 'no-selections'}} {{if cannotSeeResponses 'no-responses'}}">
{{!-- <div id="al_left" class="workspace-flex-item folders"> --}}
  {{#if showFoldersToggle}}
  <div title="Show Folders" class="toggle-display">
    <button {{action 'toggleFolderDisplay'}}><img src="/images/chevrons-right.svg"></button>
  </div>
  {{/if}}
  {{folder-list
    store=store
    folders=nonTrashedFolders
    workspace=currentWorkspace
    fileSelection="fileSelectionInFolder"
    currentSubmission=model
    currentSelection=currentSelection
    taggings=nonTrashedTaggings
    workspaceSubmissions=currentWorkspace.submissions.content
    workspaceSelections=nonTrashedSelections
    hideFolders=(action "toggleFolderDisplay")
    isHidden=areFoldersHidden
    containerLayoutClass=containerLayoutClass
    hideComments=(action "toggleCommentDisplay")
    areCommentsHidden=areCommentsHidden
  }}
{{!-- </div> --}}

<!--section class="submissions"-->
{{!-- <div id="al_center" class="{{if makingSelection 'al_makeselect'}} workspace-flex-item submission"> --}}
  {{submission-group
    store=store
    canRespond=canRespond
    submissions=currentWorkspace.submissions.content
    submission=model
    addSelection=(action "addSelection")
    deleteSelection=(action "deleteSelection")
    currentWorkspace=currentWorkspace
    toNewResponse=(action "toNewResponse")
    toSubmission=(action "toSubmission")
    selections=nonTrashedSelections
    responses=nonTrashedResponses
    containerLayoutClass=containerLayoutClass
    canSeeSelections=canSeeSelections
    currentSelection=currentSelection
    isParentWorkspace=isParentWorkspace
  }}
{{!-- </div> --}}
<!--/section-->

<!--section class="right"-->
{{!-- <div id="al_right"> --}}
   {{#if showCommentsToggle}}
  <div title="Show Comments" class="toggle-display comments">
    <button {{action 'toggleCommentDisplay'}}><img src="/images/chevrons-left.svg"></button>
  </div>
  {{/if}}
  {{comment-list
    store=store
    comments=nonTrashedComments
    currentWorkspace=currentWorkspace
    currentSelection=currentSelection
    currentSubmission=model
    allowedToComment=permittedToComment
    resetComment=(action "cancelComment")
    isHidden=areCommentsHidden
    hideComments=(action "toggleCommentDisplay")
    containerLayoutClass=containerLayoutClass
    isParentWorkspace=isParentWorkspace
  }}
{{!-- </div> --}}
</div>

<!--/section-->
</div>
{{#if showOverlay}}
<div class="clear"></div>
<div {{action 'popupMaskClicked'}} id="al_popup_mask" class="al_popup_close" style="height: 100%; width: 100%; background-color: rgb(0, 0, 0); opacity: 0.5; position: absolute; top: 0px; left: 0px; z-index: 500; display: block; background-position: initial initial; background-repeat: initial initial;"></div>
{{/if}}
