<!-- app/templates/components/workspace-history-summary.hbs -->

<div class='table-container'>
  <table>
    {{log (this.isLogged)}}
    <thead>
      <tr>
        <th>Student Submission</th>
        <th>Summary</th>
        <th>Date</th>
        <th>Explanation</th>
        <th>Mentor:</th>
        <th>Date</th>
        <th>Response</th>
      </tr>
    </thead>
    <tbody>
      {{#each (submission-sort model.submissions) as |submission|}}
        {{#if submission.answer.answer}}
          <tr class='summary-container'>
            <td> {{submission.createdBy.username}}</td>
            <td>{{submission.answer.answer}}</td>
            {{! use moment to use number month, not name of month }}
            <td>{{dates submission.createDate 'MMMM D, YYYY h:mm A'}}</td>
            <td>{{sanitize-html-tags submission.answer.explanation}}</td>
            {{#each submission.responses as |response|}}
              {{#if response.text}}
                <td>{{response.createdBy.username}}</td>

                <td>{{dates response.createDate 'MMMM D, YYYY h:mm A'}}</td>
                <td>{{sanitize-html-tags response.text}}</td>
              {{/if}}
            {{/each}}
          </tr>
        {{/if}}
      {{/each}}
    </tbody>
  </table>
</div>