<header class='metrics__header'>
  <h3>Search for a class or user below</h3>
  <p>You can also go to the info page of a workspace you'd like to get reports
    for.</p>
</header>
<div class='metrics__container'>
  <SelectizeInput
    @inputId='select-section'
    @maxItems={{1}}
    @initialOptions={{this.model.sections}}
    @onItemAdd={{action 'setSection'}}
    @isAsync={{false}}
    @labelField='name'
    @searchField='name'
    @placeholder='Search by section name'
  />
  <a
    href='data:text/csv;charset=utf-8,{{this.folderCsv}}'
    download='{{this.selectedSection.name}}_report.csv'
  >Download CSV for {{this.selectedSection.name}}</a>
  <SelectizeInput
    @inputId='select-user'
    @maxItems={{1}}
    @initialOptions={{this.usersList}}
    @onItemAdd={{action 'setUser'}}
    @model='user'
    @isAsync={{false}}
    @labelField='username'
    @searchField='username'
    @valueField='id'
    @queryParamsKey='usernameSearch'
    @placeholder='Search by username'
  />
  {{#if this.isLoading}}
    <p>Loading....</p>
  {{else}}
    <a
      href='data:text/csv;charset=utf-8,{{this.singleUserFolders}}'
      download='{{this.selectedUser.username}}_report.csv'
    >Download CSV for {{this.selectedUser.username}}</a>
  {{/if}}
</div>