<header>
  <h3>{{model.submission.student}}'s Answer</h3>
</header>
<p><LinkTo @route="metrics">back</LinkTo></p>
<div class="metrics__container">
    <div class="metrics__container metrics--flex">
    <button {{on "click" this.toggleShowWorkspaces}} class="primary-button">Show Workspaces</button>
  </div>
  <ul>
    {{#if this.showWorkspaces}}
    {{#each this.model.workspaces as |workspace|}}
      <li>
        <label><Input @type="checkbox" @checked={{is-in this.selectedWorkspaces workspace}} {{on "change" (fn this.updateSelectedWorkspaces workspace)}} />{{workspace.name}} - {{workspace.owner.username}}</label>
      </li>
    {{/each}}
    {{/if}}
  </ul>
  <h2>Selected workspaces</h2>
  <ul>
    {{#each this.selectedWorkspaces as |workspace|}}
      <li>{{workspace.name}} - {{workspace.owner.username}}</li>
    {{/each}}
  </ul>
</div>
<p><LinkTo @route="metrics">back</LinkTo></p>