<h1>Submissions</h1>
<button {{action "showHighlights"}}>Highlight Selections</button>
<button {{action "printInfo"}}>print info</button>
<p>{{model.student}}</p>
{{#if model.selections}}
  <p>has selections</p>
{{/if}}
{{#if showingSelections}}
  <p>showing selections</p>
{{/if}}

<div id="submission">
  <p>------------------------------------</p>
  <p>short answer</p>
  <p>{{html-to-text model.shortAnswer}}</p>
  <p>------------------------------------</p>
  <p>long answer</p>
  <p>{{html-to-text model.longAnswer}}</p>
  <p>------------------------------------</p>
  <p>answer</p>
  <p>{{html-to-text model.answer.answer}}</p>
  <p>------------------------------------</p>
  <p>explanation</p>
  <p>{{html-to-text model.answer.explanation}}</p>
  <p>------------------------------------</p>
</div>
<p>selections</p>
{{#each model.selections as |selection|}}
  <p>------------------------------------</p>
  <p>{{selection.text}}</p>
  <p>------------------------------------</p>
  <p>{{selection.coordinates}}</p>
{{/each}}
<p>------------------------------------</p>
<p>folders:</p>
<p>------------------------------------</p>
{{#each model.folders as |folder|}}
  <p>{{folder.name}}</p>
{{/each}}