<h1>Submissions</h1>
<button {{action "handleToggle" "showSelections"}}>Show Selections</button>
<button {{action "handleToggle" "showFolders"}}>Show Folders</button>
<p>{{model.student}}</p>
{{#if model.selections}}
  <p>has selections</p>
{{/if}}
{{#if showSelections}}
<p>selections</p>
{{#each model.selections as |selection|}}
  <p>------------------------------------</p>
  <p>text</p>
  <p>{{selection.text}}</p>
  <p>------------------------------------</p>
  <p>coordinates</p>
  <p>{{selection.coordinates}}</p>
{{/each}}
{{/if}}

<div id="submission">
  <p>------------------------------------</p>
  <p>short answer</p>
  <p>{{html-to-text model.shortAnswer}}</p>
  <p>------------------------------------</p>
  <p>long answer</p>
  <p>{{html-to-text model.longAnswer}}</p>
  <p>------------------------------------</p>
  <p>answer</p>
  <p>{{html-to-text model.answer.answer}}</p>
  <p>------------------------------------</p>
  <p>explanation</p>
  <p>{{html-to-text model.answer.explanation}}</p>
  <p>------------------------------------</p>
</div>
{{#if showFolders}}
  <p>------------------------------------</p>
  <p>folders:</p>
  <p>------------------------------------</p>
  {{#each model.folders as |folder|}}
    <p>{{folder.name}}</p>
  {{/each}}
{{/if}}