{{log workspaceName}}
<header>
  <h3>{{model.student}}'s Submission in {{ws}}</h3>
</header>
<p><LinkTo @route="metrics">back</LinkTo></p>
<div class="metrics__container">
  <div class="metrics__container metrics--flex">
    <button {{action "handleToggle" "showSelections"}} class="primary-button">Report Selections</button>
    <button {{action "handleToggle" "showFolders"}} class="primary-button">Report Folders</button>
    <button {{action "handleToggle" "showComments"}} class="primary-button">Report Comments</button>
    <button {{action "handleToggle" "showResponses"}} class="primary-button">Report Responses</button>
  </div>
  <div class="metrcis__container">
  {{#if showSelections}}
    <p>selections</p>
    <table class="metrics__table">
      <thead>
        <tr>
          <th>
            selected text
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each model.selections as |selection|}}
          <tr>
            <td>{{selection.text}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
  {{#if showFolders}}
    <p>Folders</p>
    <table class="metrics__table">
      <thead>
        <tr>
          <th>
            Label
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each model.folders as |folder|}}
          <tr>
            <td>{{folder.name}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
  {{#if showComments}}
    <p>Comments</p>
    <table class="metrics__table">
      <thead>
        <tr>
          <th>
            Created By
          </th>
          <th>
            Label
          </th>
          <th>
            Text
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each model.comments as |comment|}}
          <tr>
            <td>{{comment.createdBy.username}}</td>
            <td>{{comment.label}}</td>
            <td>{{comment.text}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
  {{#if showResponses}}
    <p>Created By</p>
    <table class="metrics__table">
      <thead>
        <tr>
          <th>
            Created By
          </th>
          <th>
            Text
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each model.responses as |response|}}
          <tr>
            <td>{{response.createdBy.username}}</td>
            <td>{{{response.text}}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
  </div>
  <div class="metrics__container" id="submission">
    <div class="metrics__card">
    <h3>answer</h3>
      <p>{{if model.shortAnswer model.shortAnswer model.answer.answer}}</p>
    </div>
    <div class="metrics__card">
    <h3>explanation</h3>
      <p>{{if model.longAnswer model.longAnswer model.answer.explanation}}</p>
    </div>
  </div>
</div>
<p><LinkTo @route="metrics">back</LinkTo></p>