<header>
  <h3>{{model.submission.student}}'s Answer</h3>
</header>
<p><LinkTo @route="metrics">back</LinkTo></p>
<div class="metrics__container">
  <div class="metrics--flex">
    <ul id="ws-list">
      {{#each this.model.allSubmissions as |submission|}}
        <li>
          <label><Input @type="checkbox" @checked={{is-in this.selectedWorkspaces submission}} {{on "change" (fn this.updateSelectedWorkspaces submission)}} />
            {{#each submission.workspaces as |workspace|}}
              {{workspace.name}} - {{workspace.owner.username}}
            {{/each}}
          </label>
        </li>
      {{/each}}
    </ul>
    <div id="submission">
      <div class="metrics__card">
      <h3>answer</h3>
        <ExpandableCell @text={{if this.model.submission.shortAnswer this.model.submission.shortAnswer this.model.submission.answer.answer}} />
      </div>
      <div class="metrics__card">
      <h3>explanation</h3>
        <ExpandableCell @text={{if this.model.submission.longAnswer (make-html-safe this.model.submission.longAnswer) (make-html-safe this.model.submission.answer.explanation)}} />
      </div>
    </div>
</div>
{{#if this.selectedWorkspaces}}
  <EmberTable as |t|>
    <t.head @columns={{this.submissionsColumns}} @scrollIndicators="all" @widthConstraint="eq-container" @fillMode="last-column" />
    <t.body @rows={{this.selectedWorkspaces}} as |b| />
  </EmberTable>
{{/if}}
{{!-- <table>
  <thead>
    <tr>
      <th>
        Workspace
      </th>
      <th>
        Selections
      </th>
      <th>
        Comments
      </th>
      <th>
        Folders
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each selectedWorkspaces as |submission|}}
      <tr>
        <td>
          {{#each submission.workspaces as |workspace|}}
            <p>Name: {{workspace.name}}</p>
            <p>Owner: {{workspace.owner.username}}</p>
          {{/each}}
        </td>
        <td>
          <table>
            {{#each submission.selections as |selection|}}
              <tr>
                <td>{{selection.text}}</td>
              </tr>
            {{/each}}
          </table>
        </td>
        <td>
          <table>
            {{#each submission.comments as |comment|}}
              <tr>
                <td>{{comment.text}}</td>
              </tr>
            {{/each}}
          </table>
        </td>
        <td>
          <table>
            {{#each submission.folders as |folder|}}
              <tr>
                <td>{{folder.name}}</td>
              </tr>
            {{/each}}
          </table>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table> --}}
</div>