<header>
  <h3>Looking at workspace: {{this.model.workspace.name}}</h3>
  <h3>Owner: {{this.model.workspace.owner.displayName}}</h3>
  <h3>Last Updated:
    {{format-date this.model.workspace.lastModifiedDate 'MM/DD/YYYY'}}</h3>
  <a
    href='data:text/csv;charset=utf-8,{{this.workspaceCsv}}'
    download='{{this.model.workspace.name}}_report.csv'
  >Download CSV</a>
</header>
<div class='metrics__container'>
  {{! <p><LinkTo @route="metrics">back</LinkTo></p> }}
  <div class='metrics--flex'>
    <button
      {{on 'click' (fn this.handleToggle 'showCloud')}}
      class='primary-button'
      type='button'
    >Generate Wordcloud</button>
    <button
      {{on 'click' (fn this.handleToggle 'showSubmissions')}}
      class='primary-button'
      type='button'
    >submissions: {{this.model.workspace.submissionsLength}}</button>
  </div>
  {{#if this.showSubmissions}}
    <EmberTable as |t|>
      <t.head
        @columns={{this.submissionsColumns}}
        @scrollIndicators='all'
        @widthConstraint='eq-container'
        @fillMode='last-column'
      />
      <t.body @rows={{this.tableRows}} as |b|>
        <b.row as |r|>
          <r.cell
            as |cellValue columnValue rowValue cellMeta columnMeta rowMeta|
          >
            {{#if (is-equal columnValue.name 'Text')}}
              {{make-html-safe cellValue}}
            {{else if (is-equal cellValue 'submission')}}
              <LinkTo
                @route='metrics.submission'
                @model={{rowValue.id}}
              >{{cellValue}}</LinkTo>
            {{else if (is-equal columnValue.name 'Creator')}}
              {{#if (is-equal rowValue.constructor.modelName 'submission')}}
                {{rowValue.student}}
              {{else}}
                {{cellValue}}
              {{/if}}
            {{else}}
              {{cellValue}}
            {{/if}}
          </r.cell>
        </b.row>
      </t.body>
    </EmberTable>
  {{/if}}
  {{! <p><LinkTo @route="metrics">back</LinkTo></p> }}
  <WordcloudContainer @showCloud={{this.showCloud}} @list={{this.list}} />
</div>