<header>
  <p>Looking at workspace:</p>
  <h3>{{model.name}}</h3>
  <p>Owner:</p>
  <h3>{{model.owner.displayName}}</h3>
  <p>Last Updated:</p>
  <h3>{{model.lastModifiedDate}}</h3>
</header>
<div class="metrics__container">
  <p>{{#link-to "metrics"}}back{{/link-to}}</p>
  <div class="metrics__container metrics--flex">
    <button {{action "generateWordMap"}} class="primary-button">Generate Wordcloud</button>
    <button {{action "handleToggle" "showFolders"}} class="primary-button">folders: {{model.foldersLength}}</button>
    <button {{action "handleToggle" "showComments"}} class="primary-button">comments: {{model.commentsLength}}</button>
    <button {{action "handleToggle" "showResponses"}} class="primary-button">responses: {{model.responsesLength}}</button>
    <button {{action "handleToggle" "showSelections"}} class="primary-button">selections: {{model.selectionsLength}}</button>
    <button {{action "handleToggle" "showSubmissions"}} class="primary-button">submissions: {{model.submissionsLength}}</button>
  </div>
  {{#if showSelections}}
    <p>selections</p>
    <table class="metrics__table">
      <thead>
        <tr>
          <th>
            Student
          </th>
          <th>
            Selected By
          </th>
          <th>
            selected text
          </th>
          <th>
            comments
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each model.selections as |selection|}}
          <tr>
            <td>{{selection.submission.student}}</td>
            <td>{{selection.createdBy.username}}</td>
            <td>{{selection.text}}</td>
            <td>
              <ul>
                {{#each selection.comments as |comment|}}
                  <li>{{comment.text}} - {{comment.createdBy.username}}</li>
                {{/each}}
              </ul>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
  {{#if showFolders}}
    <table class="metrics__table">
      <thead>
        <tr>
          <th>
            Label
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each model.folders as |folder|}}
          <tr>
            <td>{{folder.name}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
  {{#if showComments}}
    <table class="metrics__table">
      <thead>
        <tr>
          <th>
            Created By
          </th>
          <th>
            Label
          </th>
          <th>
            Text
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each model.comments as |comment|}}
          <tr>
            <td>{{comment.createdBy.username}}</td>
            <td>{{comment.label}}</td>
            <td>{{comment.text}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
  {{#if showResponses}}
    <table class="metrics__table">
      <thead>
        <tr>
          <th>
            Created By
          </th>
          <th>
            Text
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each model.responses as |response|}}
          <tr>
            <td>{{response.createdBy.username}}</td>
            <td>{{html-to-text response.text}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
  {{#if showSubmissions}}
    <table class="metrics__table">
      <thead>
        <tr>
          <th>
            Student
          </th>
          <th>
            Answer
          </th>
          <th>
            Explanation
          </th>
          <th>
            Selections and Comments
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each model.submissions as |submission|}}
          <tr>
            <td>{{#link-to "metrics.submission" submission classNames="metrics__link"}}{{submission.student}}{{/link-to}}</td>
            <td>{{if submission.shortAnswer submission.shortAnswer submission.answer.answer}}</td>
            <td>{{if submission.longAnswer (html-to-text submission.longAnswer) (html-to-text submission.answer.explanation)}}</td>
            <td>
              <ul>
                {{#each submission.selections as |selection|}}
                  <li>{{selection.text}}
                    <ul>
                      {{#each selection.comments as |comment|}}
                        <li><em>{{comment.text}}</em> - {{comment.createdBy.username}}</li>
                      {{/each}}
                    </ul>
                  </li>
                {{/each}}
              </ul>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
  <p>{{#link-to "metrics"}}back{{/link-to}}</p>
  {{wordcloud-container list=list}}
</div>