<p>{{model.name}}</p>
<p {{action "sayHello"}}>folders: {{model.foldersLength}}</p>
<p>comments: {{model.commentsLength}}</p>
<p>responses: {{model.responsesLength}}</p>
<p>selections: {{model.selectionsLength}}</p>
<p>submissions: {{model.submissionsLength}}</p>
<p>{{#link-to "metrics"}}back{{/link-to}}</p>