<header>
  <p>Looking at workspace:</p>
  <h3>{{this.model.name}}</h3>
  <p>Owner:</p>
  <h3>{{this.model.owner.displayName}}</h3>
  <p>Last Updated:</p>
  <h3>{{this.model.lastModifiedDate}}</h3>
</header>
<div class="metrics__container">
  <p><LinkTo @route="metrics">back</LinkTo></p>
  <div class="metrics__container metrics--flex">
    <button {{on "click" (fn this.handleToggle "showCloud")}} class="primary-button" type="button">Generate Wordcloud</button>
    <button {{on "click" (fn this.handleToggle "showFolders")}} class="primary-button" type="button">folders: {{this.model.foldersLength}}</button>
    <button {{on "click" (fn this.handleToggle "showComments")}} class="primary-button" type="button">comments: {{this.model.commentsLength}}</button>
    <button {{on "click" (fn this.handleToggle "showResponses")}} class="primary-button" type="button">responses: {{this.model.responsesLength}}</button>
    <button {{on "click" (fn this.handleToggle "showSelections")}} class="primary-button" type="button">selections: {{this.model.selectionsLength}}</button>
    <button {{on "click" (fn this.handleToggle "showSubmissions")}} class="primary-button" type="button">submissions: {{this.model.submissionsLength}}</button>
  </div>
  {{#if this.showSelections}}
    <p>selections</p>
    <table class="metrics__table">
      <thead>
        <tr>
          <th>
            Student
          </th>
          <th>
            Selected By
          </th>
          <th>
            selected text
          </th>
          <th>
            comments
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each this.model.selections as |selection|}}
          <tr>
            <td>{{selection.submission.student}}</td>
            <td>{{selection.createdBy.username}}</td>
            <td>{{selection.text}}</td>
            <td>
              <ul>
                {{#each selection.comments as |comment|}}
                  <li>{{comment.text}} - {{comment.createdBy.username}}</li>
                {{/each}}
              </ul>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
  {{#if this.showFolders}}
    <table class="metrics__table">
      <thead>
        <tr>
          <th>
            Label
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each this.model.folders as |folder|}}
          <tr>
            <td>{{folder.name}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
  {{#if this.showComments}}
    <table class="metrics__table">
      <thead>
        <tr>
          <th>
            Created By
          </th>
          <th>
            Label
          </th>
          <th>
            Text
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each this.model.comments as |comment|}}
          <tr>
            <td>{{comment.createdBy.username}}</td>
            <td>{{comment.label}}</td>
            <td>{{comment.text}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
  {{#if this.showResponses}}
    <table class="metrics__table">
      <thead>
        <tr>
          <th>
            Created By
          </th>
          <th>
            Text
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each this.model.responses as |response|}}
          <tr>
            <td>{{response.createdBy.username}}</td>
            <td>{{make-html-safe response.text}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
  {{#if this.showSubmissions}}
    <table class="metrics__table">
      <thead>
        <tr>
          <th>
            Student
          </th>
          <th>
            Answer
          </th>
          <th>
            Explanation
            <button {{on "click" this.toggleShowAll}} type="button">Show All</button>
          </th>
          <th>
            Selections and Comments
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each this.model.submissions as |submission|}}
          <tr>
            <td><LinkTo @route="metrics.submission" @model={{submission}} class="metrics__link">{{submission.student}}</LinkTo></td>
            <td>{{if submission.shortAnswer submission.shortAnswer submission.answer.answer}}</td>
            <td><ExpandableCell @showAll={{this.showAll}} @text={{if submission.longAnswer submission.longAnswer submission.answer.explanation}} /></td>
            <td>
              <ul>
                {{#each submission.selections as |selection|}}
                  <li>{{selection.text}}
                    <ul>
                      {{#each selection.comments as |comment|}}
                        <li><em>{{comment.text}}</em> - {{comment.createdBy.username}}</li>
                      {{/each}}
                    </ul>
                  </li>
                {{/each}}
              </ul>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
  <p><LinkTo @route="metrics">back</LinkTo></p>
  <WordcloudContainer @showCloud={{this.showCloud}} @list={{this.list}} />
</div>