<div id='answer-new'>
  <header id='answernewheader'>
    <h2>{{if @mainHeaderText @mainHeaderText 'Create New Answer'}}</h2>
    <div class='clear'></div>
  </header>

  <section class='third submissions'>
    <form id='newanswerform' class='properForm'>
      <fieldset>
        <p class='info'>To upload images in .jpg or .png format, please use the
          explanation html editor (by clicking on the square icon in the
          toolbar).
          {{!To upload a pdf, please use the separate file upload input.}}</p>
        <div class='new-answer-input brief-summary'>
          <label for='answer'>Brief Summary
            <span class='required-star'>*</span></label>
          <Textarea
            name='brief-summary'
            cols={{80}}
            rows={{3}}
            @value={{this.answer}}
            placeholder='Brief Summary...'
            {{on 'input' this.updateAnswer}}
          />

        </div>
        {{#each this.briefSummaryErrors as |error|}}
          <Ui::ErrorBox
            @error={{error}}
            @resetError={{this.resetBriefSummaryErrors}}
            @showDismiss={{true}}
          />
        {{/each}}
        <div class='new-answer-input explanation'>
          <label for='explanation'>Explain your ideas and how you figured them
            out
            <span class='required-star'>*</span></label>

          <Ui::QuillContainer
            @onEditorChange={{this.updateQuillText}}
            @attrSectionId={{this.quillEditorId}}
            @startingText={{this.explanationText}}
          />
        </div>
        {{#each this.explanationErrors as |error|}}
          <Ui::ErrorBox
            @error={{error}}
            @resetError={{this.resetExplanationErrors}}
            @showDismiss={{true}}
          />
        {{/each}}
        <div class='new-answer-input uploaded-file'>
          {{! <label for="uploadedFile">Upload PDF</label> }}
          {{#if this.imageData}}
            <a
              {{on 'click' this.toggleImageSize}}
              class='image {{if this.isWide " wide "}}'
            >
              <img
                src={{this.imageData}}
                alt={{format-date this.answer.createDate 'MMM Do YYYY hh:mm A'}}
              />
            </a>
            <button
              class='edit-image-btn'
              type='button'
              {{on 'click' this.deleteImage}}
            >Delete</button>
            <button
              class='edit-image-btn'
              type='submit'
              {{on 'click' this.addImage}}
            >Add</button>
          {{/if}}
        </div>
        <div class='new-answer-input contributors'>
          <label for='students'>Contributing Students:</label>
          <div class='student-list'>
            <ul>
              {{#each this.contributors as |student|}}
                <li>{{student.username}}
                  {{#if (not-equal student this.currentUser.user)}}
                    <i
                      {{on 'click' (fn this.removeStudent student)}}
                      class='far fa-times-circle'
                      aria-hidden='true'
                      title='Remove'
                    ></i>
                  {{/if}}
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
        <Ui::TwitterTypeahead
          @selectedValue={{this.studentToAdd}}
          @selectedItems={{this.contributors}}
          @onSelect={{this.addStudent}}
          @dataList={{@section.students}}
          @placeholder='username'
          @optionLabelPath='username'
          @allowMultiple={{true}}
        />

        {{#if this.addStudentError}}
          <p class='error-message'></p>Sorry, that user is not in your class.
        {{/if}}
        {{#if this.addedStudent}}
          <p class='success-message'></p>Successfully added student.
        {{/if}}
      </fieldset>
      {{#if this.isMissingRequiredFields}}
        <Ui::ErrorBox
          @error='Please provide all required fields.'
          @showDismiss={{true}}
          @resetError={{this.resetMissingRequiredFields}}
        />
      {{/if}}
      {{#if this.overSizedFileError}}
        <Ui::ErrorBox
          @error={{this.overSizedFileError}}
          @showDismiss={{true}}
          @resetError={{this.resetOverSizedFileError}}
        />
      {{/if}}
      {{#if this.isExplanationTooLarge}}
        <Ui::ErrorBox
          @error={{this.tooLargeExplanationMsg}}
          @showDismiss={{true}}
          @resetError={{this.resetIsExplanationTooLarge}}
        />
      {{/if}}
    </form>
  </section>
  <div style='clear: left'></div>
  {{#if this.showLoadingMessage}}
    <p class='loading-message'>Creating Answer... Thank you for your patience.</p>
  {{/if}}
  {{#unless this.isCreatingAnswer}}
    <section class='submit'>
      <span>
        <button
          class='add-parent-workspace-btn create'
          data-test='submit-answer'
          type='button'
          {{on 'click' this.validate}}
        >{{if @createButtonText @createButtonText 'Submit Answer'}} </button>
      </span>
      <span class='cancelResponse'>
        <button
          class='cancelEditBtn'
          type='button'
          {{on 'click' this.cancelResponse}}
        >Cancel</button>
      </span>

    </section>
  {{/unless}}

  {{#each this.findRecordErrors as |error|}}
    <p class='error-message'>{{error}}</p>
  {{/each}}
  {{#each this.createRecordErrors as |error|}}
    <p class='error-message'>{{error}}</p>
  {{/each}}
  {{#each this.uploadErrors as |error|}}
    <p class='error-message'>{{error}}</p>
  {{/each}}
</div>