<h2 class='info-header'>Assignment Details</h2>
<div class='clear'></div>
{{#if @isStudent}}
  <AssignmentInfoStudent
    @assignment={{@assignment}}
    @problem={{@currentProblem}}
    @section={{@currentSection}}
    @answerList={{@answers}}
    @onAnswerCreated={{@onAnswerCreated}}
  />
{{else}}
  <AssignmentInfoTeacher
    @groups={{@groups}}
    @sections={{@sections}}
    @assignment={{@assignment}}
    @studentList={{@assignmentStudents}}
    @section={{@currentSection}}
    @problem={{@currentProblem}}
    @linkedWorkspaces={{@linkedWorkspaces}}
    @parentWorkspace={{@parentWorkspace}}
  />
{{/if}}