<header class="info-header">
  <h2>Assignment Details</h2>
  <div class="clear"></div>
</header>
{{#each this.initialLoadErrors as |error|}}
    <p class="error-message">{{error}}</p>
{{/each}}
{{#if @currentUser.isStudent}}
  <AssignmentInfoStudent @assignment={{@assignment}} @problem={{this.currentProblem}} @section={{this.currentSection}} @answerList={{@assignment.answers.content}} />
{{else}}
  <AssignmentInfoTeacher @groups={{@groups}} @sections={{@sections}} @assignment={{@assignment}} @currentUser={{@currentUser}} @studentList={{@assignmentStudents}} @section={{this.currentSection}} @problem={{this.currentProblem}} @linkedWorkspaces={{@assignment.linkedWorkspaces.content}} @parentWorkspace={{@assignment.parentWorkspace.content}} />
{{/if}}








