{{! Side Menu }}
<section class='list-side'>
  <header class='list-header'>
    <h1>Assignments</h1>
    {{#unless this.user.isStudent}}
      <LinkTo
        @route='assignments.new'
        id='assignment-new-btn'
        class='new-link-btn'
      >
        <span>Create Assignment</span>
        <i class='fas fa-plus'></i>
      </LinkTo>
    {{/unless}}
    <div class='clear'></div>
  </header>

  <section>
    <nav class='list-box'>
      {{#unless this.user.isStudent}}
        <h2>{{this.user.username}}'s Assignments</h2>
        <ul class='your-assignments'>
          {{#if (not-empty this.yourList)}}
            {{#each this.yourList as |assignment|}}
              {{#if assignment.name}}
                <li>
                  <LinkTo
                    @route='assignments.assignment'
                    @model={{assignment.id}}
                    class='assignment-new-link'
                  >
                    {{assignment.name}}
                  </LinkTo>
                </li>
              {{else}}
                <li>
                  <LinkTo
                    @route='assignments.assignment'
                    @model={{assignment.id}}
                    class='assignment-new-link'
                  >
                    {{assignment.problem.title}}
                    /
                    {{format-date assignment.assignedDate 'MMM Do YYYY'}}
                  </LinkTo>
                </li>
              {{/if}}
            {{/each}}
          {{else}}
            <li>You have no assignments yet</li>
          {{/if}}
        </ul>
      {{/unless}}
      {{#if this.user.isStudent}}
        <h2>{{this.user.username}}'s Assignments</h2>
        <ul class='your-assignments'>
          {{#if this.studentList}}
            {{#each this.studentList as |assignment|}}
              {{#if assignment.name}}
                <li>
                  <LinkTo
                    @route='assignments.assignment'
                    @model={{assignment.id}}
                    class='assignment-new-link'
                  >{{assignment.name}}</LinkTo>
                </li>
              {{else}}
                <li>
                  <LinkTo
                    @route='assignments.assignment'
                    @model={{assignment.id}}
                    class='assignment-new-link'
                  >
                    {{assignment.problem.title}}
                    /
                    {{format-date assignment.assignedDate 'MMM Do YYYY'}}
                  </LinkTo>
                </li>
              {{/if}}
            {{/each}}
          {{else}}
            <li>You have no assignments yet</li>
          {{/if}}
        </ul>
      {{/if}}
      {{#if this.user.isAdmin}}
        <h2>All Assignments</h2>
        <ul class='admin-assignments'>
          {{#if (not-empty this.adminList)}}
            {{#each this.adminList as |assignment|}}
              {{#if assignment.name}}
                <li>
                  <LinkTo
                    @route='assignments.assignment'
                    @model={{assignment.id}}
                    class='assignment-new-link'
                  >
                    {{assignment.name}}
                  </LinkTo>
                </li>
              {{else}}
                <li>
                  <LinkTo
                    @route='assignments.assignment'
                    @model={{assignment.id}}
                    class='assignment-new-link'
                  >
                    {{assignment.problem.title}}
                    /
                    {{format-date assignment.assignedDate 'MMM Do YYYY'}}
                  </LinkTo>
                </li>
              {{/if}}
            {{/each}}
          {{else}}
            <li>There are no assignments yet</li>
          {{/if}}
        </ul>
      {{/if}}
      {{#if this.user.isPdAdmin}}
        <h2>{{this.user.organization.name}} Assignments</h2>
        <ul class='pd-assignments'>
          {{#if (not-empty this.pdList)}}
            {{#each this.pdList as |assignment|}}
              {{#if assignment.name}}
                <li>
                  <LinkTo
                    @route='assignments.assignment'
                    @model={{assignment.id}}
                    class='assignment-new-link'
                  >
                    {{assignment.name}}
                  </LinkTo>
                </li>
              {{else}}
                <li>
                  <LinkTo
                    @route='assignments.assignment'
                    @model={{assignment.id}}
                    class='assignment-new-link'
                  >
                    {{assignment.problem.title}}
                    /
                    {{format-date assignment.assignedDate 'MMM Do YYYY'}}
                  </LinkTo>
                </li>
              {{/if}}
            {{/each}}
          {{else}}
            <li>There are no assignments yet</li>
          {{/if}}
        </ul>
      {{/if}}
    </nav>
  </section>
</section>