<div id='assignment-new'>
  <header id='assignmentnewheader'>
    <h2>
      Enter assignment information below <i class="fas fa-info-circle"></i>
    </h2>
    <div class='clear'></div>
  </header>
  <section>
    <form id='newassignmentform' class='properForm'>
      <fieldset class="formContainer">
        <ol>
          <li>
            <label for='section'>
              <span
                class='label-text simptip-position-right simptip-multiline simptip-smooth'
                data-tooltip={{this.tooltips.class}}
              >
                Class
              </span>
              <span class='required-star'>
                *
              </span>
            </label>
            <div class='flex-input'>
              {{#if this.fromSectionInfo}}
                <p>
                  {{this.selectedSection.name}}
                </p>
              {{else}}
                <SelectizeInput
                  @inputId='assn-new-section-select'
                  @initialOptions={{this.sectionOptions}}
                  @onItemAdd={{action 'updateSelectizeSingle'}}
                  @onItemRemove={{action 'updateSelectizeSingle'}}
                  @maxItems={{1}}
                  @labelField='name'
                  @valueField='id'
                  @searchField='name'
                  @propToUpdate='selectedSection'
                  @placeholder='Search for a class by name'
                  @model='section'
                  @store={{this.store}}
                />
                <Input
                  required={{true}}
                  @type='hidden'
                  @value={{this.selectedSection}}
                />
                {{#each this.sectionFormErrors as |error|}}
                  <ErrorBox
                    @error={{error}}
                    @showDismiss={{true}}
                    @resetError={{action
                      'removeErrorFromArray'
                      'sectionFormErrors'
                      error
                    }}
                  />
                {{/each}}
              {{/if}}
            </div>
          </li>
          <li class='problem'>
            <label for='text'>
              <span
                class='label-text simptip-position-right simptip-multiline simptip-smooth'
                data-tooltip={{this.tooltips.problem}}
              >
                Problem
              </span>
              <span class='required-star'>
                *
              </span>
            </label>
            {{#if this.fromProblemInfo}}
              <p>
                {{this.selectedProblem.title}}
              </p>
            {{else}}
              <div class='flex-input'>
                <SelectizeInput
                  @store={{this.store}}
                  @inputId='assn-new-problem-select'
                  @initialOptions={{this.problemOptions}}
                  @onItemAdd={{action 'updateSelectizeSingle'}}
                  @onItemRemove={{action 'updateSelectizeSingle'}}
                  @maxItems={{1}}
                  @labelField='title'
                  @valueField='id'
                  @searchField='title'
                  @propToUpdate='selectedProblem'
                  @placeholder='Search for a problem by title'
                  @isAsync={{true}}
                  @model='problem'
                  @queryParamsKey='query'
                  @searchCriterion='title'
                  @topLevelQueryParams='searchBy'
                  @preload={{this.problemsPreloadValue}}
                />
                {{#each this.problemFormErrors as |error|}}
                  <ErrorBox
                    @error={{error}}
                    @showDismiss={{true}}
                    @resetError={{action
                      'removeErrorFromArray'
                      'problemFormErrors'
                      error
                    }}
                  />
                {{/each}}
              </div>
            {{/if}}
          </li>
          <div class="assignmentsDateContainer">
          <li>
            <label for='assignedDate'>
              <span
                class='label-text simptip-position-right simptip-multiline simptip-smooth'
                data-tooltip={{this.tooltips.dateAssigned}}
              >
                Date Assigned
              </span>
            </label>
            <div class='flex-input'>
              <Input
                @id='assignedDate'
                @name='daterange'
                @type='date'
                @value={{this.assignedDate}}
                {{on 'input' this.cancelDateError}}
              />
              {{#each this.assignedDateFormErrors as |error|}}
                <p class='error-message'>
                  {{error}}
                </p>
              {{/each}}
            </div>
          </li>
          <li>
            <label for='dueDate' class='dueDate'>
              <span
                class='label-text simptip-position-right simptip-multiline simptip-smooth'
                data-tooltip={{this.tooltips.dueDate}}
              >
                Due Date
              </span>
            </label>
            <div class='flex-input dueDate'>
              <Input
                @id='dueDate'
                @name='daterange'
                @type='date'
                @value={{this.dueDate}}
                {{on 'input' this.cancelDateError}}
              />
              {{#each this.dueDateFormErrors as |error|}}
                <p class='error-message'>
                  {{error}}
                </p>
              {{/each}}
              {{#if this.invalidDateRange}}
                <ErrorBox
                  @error='Invalid Date Range'
                  @showDismiss={{true}}
                  @resetError={{action (mut this.invalidDateRange) null}}
                />
              {{/if}}
            </div>
          </li>
          </div>
          <li>
            <label for='name'>
              <span
                class='label-text simptip-position-right simptip-multiline simptip-smooth'
                data-tooltip={{this.tooltips.name}}
              >
                Assignment Name
              </span>
            </label>
            <div class='flex-input'>
              <Input
                @type='text'
                placeholder='Give your assignment a name (optional)'
                @value={{this.name}}
                class="assignmentInput"
              />
              {{#each this.nameFormErrors as |error|}}
                <p class='error-message'>
                  {{error}}
                </p>
              {{/each}}
            </div>
          </li>
          <li class='linked-ws'>
            <label for='linkedWorkspaces' class='no-width'>
              <span
                class='label-text simptip-position-right simptip-multiline simptip-smooth'
                data-tooltip={{this.tooltips.linkedWorkspaces}}
              >
                Create Student Workspaces Now?
              </span>
            </label>
            <div class="choice-selection">
              <RadioGroup
                @options={{this.linkedWsOptions}}
                @selectedValue={{this.doCreateLinkedWorkspaces}}
                @updateValue={{action 'updateDoCreateLinkedWorkspaces'}}
              />
            </div>
            {{#if this.showLinkedWsForm}}
              <div
                class='group-selection'
                {{on 'click' this.updateSectionGroups}}
              >
                <RadioGroup
                  @options={{this.groupWsOptions}}
                  @selectedValue={{this.linkedWorkspacesMode}}
                  @updateValue={{action 'updateLinkedWorkspacesMode'}}
                  @noWidth={{true}}
                />
              </div>
              <LinkedWorkspacesNew
                @isDisplayOnly={{true}}
                @assignmentName={{this.assignmentNamePreview}}
                @sectionName={{this.selectedSection.name}}
                @students={{this.workspacesList}}
                @updateLists={{this.updateLists}}
                @selectAll={{this.selectAll}}
                @studentWorkspacesToMake={{this.studentWorkspacesToMake}}
                @groupWorkspacesToMake={{this.groupWorkspacesToMake}}
                @allSelected={{this.allSelected}}
              />
            {{/if}}
          </li>
          {{#if this.doCreateLinkedWorkspaces}}
          <div class="group-selection">
            <li class='parent-ws'>
              <label for='parentWorkspace'>
                <span
                  class='label-text simptip-position-right simptip-multiline simptip-smooth'
                  data-tooltip={{this.tooltips.parentWorkspace}}
                >
                  Create Parent Workspace Now?
                </span>
              </label>
              <RadioGroup
                @options={{this.parentWsOptions}}
                @selectedValue={{this.doCreateParentWorkspace}}
                @updateValue={{action 'updateDoCreateParentWorkspace'}}
              />

              {{#if this.doCreateParentWorkspace}}
                <label for='accessOptions'>
                  <span
                    class='label-text simptip-position-right simptip-multiline simptip-smooth'
                    data-tooltip={{this.tooltips.parentWorkspaceOptions}}
                  >
                    Share parent workspace with students?
                  </span>
                </label>
                <RadioGroup
                  @options={{this.parentWorkspaceAccessOptions}}
                  @selectedValue={{this.parentWorkspaceAccess}}
                  @updateValue={{action 'updateParentWorkspaceAccess'}}
                  @noWidth={{true}}
                />
                <ParentWorkspaceNew
                  @isDisplayOnly={{true}}
                  @assignmentName={{this.assignmentNamePreview}}
                  @sectionName={{this.selectedSection.name}}
                />
              {{/if}}
            </li>
          </div>
          {{/if}}
        </ol>
      </fieldset>
      {{#if this.isMissingRequiredFields}}
        <p class='error-message'>
          Please provide all required fields.
        </p>
      {{/if}}
    </form>
  </section>
  <div style='clear: left'></div>
  <section class='submit button-row'>
    <button class='primary-button' data-test='create' {{action 'validate'}}>
      Create Assignment
    </button>
    <button class='primary-button cancel-button' {{action 'cancel'}}>
      Cancel
    </button>
  </section>
  {{#each this.createRecordErrors as |error|}}
    <p class='error-message'>
      {{error}}
    </p>
  {{/each}}
</div>