<div id='custom-submission-viewer-list-item'>
  <div class='item-section check'>
    <input
      type='checkbox'
      checked={{this.isChecked}}
      name='customIds'
      value={{@submission.id}}
      onclick={{action 'onSelect'}}
    />
  </div>
  <p class='item-section student'>{{@submission.student}}</p>
  <p class='item-section explanation'>{{{@submission.answer.explanation}}}</p>
  <p class='item-section selections'>{{@ubmission.selections.length}}</p>
  <p class='item-section date'>{{format-date
      @submission.answer.createDate
      'MM/DD/YY'
    }}</p>
</div>