<div
  class='folder draggable'
  draggable='true'
  {{on 'dragstart' this.dragStart}}
  {{on 'dragenter' this.dragEnter}}
  {{on 'dragleave' this.dragLeave}}
  {{on 'drop' this.drop}}
>
  {{#if @editFolderMode}}
    {{#if this.canEditFolder}}
      <div class='move-folder'>
        {{#if @model.parent}}
          <span
            class='al_wtf move_left'
            {{on 'click' (fn @moveOut @model)}}
          ></span>
        {{/if}}
        <span class='al_wtf move_up' {{on 'click' (fn @moveUp @model)}}></span>
        <span
          class='al_wtf move_down'
          {{on 'click' (fn @moveDown @model)}}
        ></span>
      </div>
    {{/if}}

    {{#if this.canDeleteFolder}}
      <div class='delete-folder'>
        <span {{on 'click' this.confirmDelete}}><i
            class='fas fa-trash'
          ></i></span>
      </div>
    {{/if}}

    {{#if this.canEditFolder}}
      <div class='edit-folder-name'>
        <Input @value={{@model.name}} {{on 'focusout' this.editFolderName}} />
      </div>
    {{/if}}

    {{#each this.updateRecordErrors as |error|}}
      <p class='error-message'>{{error}}</p>
    {{/each}}
  {{else}}
    <span
      class='toggle-icon {{if @model.sortedChildren.length "branch" "leaf"}}'
      {{on 'click' this.toggle}}
    >
      {{#if @model.isExpanded}}
        <span class='folder-expanded'><i class='far fa-folder-open'></i></span>
      {{else}}
        <span class='folder-closed'><i class='far fa-folder'></i></span>
      {{/if}}
      <span class='folder-name {{if this.containsCurrentSubmission "bolder"}}'>
        {{@model.name}}
      </span>
    </span>

    <aside>
      <button
        style='display:none'
        id='updateTaggings{{@model.id}}'
        type='button'
        {{on 'click' this.updateTaggings}}
      ></button>
      {{#each this.queryErrors as |error|}}
        <p class='error-message'>{{error}}</p>
      {{/each}}

      <div
        class='show-folder
          {{if this.containsCurrentSubmission "contains-current-submission"}}
          {{if this.hasManyTaggings "many-taggings"}}
          {{if this.containsCurrentSelection "contains-current-selection"}}'
        title={{this.selectionsTitle}}
        {{on 'click' this.openLink}}
      >
        {{@model.childSelections.length}}
      </div>
    </aside>
  {{/if}}
</div>

{{#if @model.isExpanded}}
  <ul class='subfolders'>
    {{#each @model.sortedChildren as |folder|}}
      <FolderElem
        @store={{@store}}
        @model={{folder}}
        @currentWorkspace={{@currentWorkspace}}
        @folderList={{@folderList}}
        @editFolderMode={{@editFolderMode}}
        @putInFolder={{@putInFolder}}
        @dropped={{@dropped}}
        @canEditFolders={{@canEditFolders}}
        @canDeleteFolders={{@canDeleteFolders}}
        @wsTaggings={{@wsTaggings}}
        @currentSubmission={{@currentSubmission}}
        @currentSelection={{@currentSelection}}
        @moveOut={{@moveOut}}
        @moveUp={{@moveUp}}
        @moveDown={{@moveDown}}
      />
    {{/each}}
  </ul>
{{/if}}