<li class='groups-item'>
  <div class='header'>
    {{#if this.isUpdating}}
      <Input class='groups-item-input' @value={{@group.name}} />
    {{else}}
      <span
        {{on 'click' this.toggleDisplayStudents}}
        class='group-name'
      >{{@group.name}}</span>
    {{/if}}
    {{#if @addGroup}}
      <div class='icons'>
        <i
          title='Edit'
          {{action this.editButton @group}}
          class='edit-group{{if this.isUpdating ' fas fa-save' ' far fa-edit'}}'
        ></i>
        <i
          class='delete-group{{if
              this.isUpdating
              ' far fa-times-circle'
              ' fas fa-trash-alt'
            }}'
          aria-hidden='true'
          {{action this.cancelButton @group}}
        ></i>
      </div>
    {{/if}}
  </div>
  {{#if this.showStudents}}
    <ul>
      {{#if this.isUpdating}}
        {{#each @students as |student|}}
          <li><label><Input
                @type='checkbox'
                @checked={{is-in this.groupStudents student}}
                {{on 'input' (fn this.addStudent student)}}
              />{{student.username}}</label></li>
        {{/each}}
      {{else}}
        {{#each @group.students as |student|}}
          <li>{{student.username}}
            {{#if @addGroup}}
              <button
                class='trash-button'
                {{on 'click' (fn @updateGroup @group student)}}
              >
                <i class='far fa-times-circle' aria-hidden='true'></i>
              </button>
            {{/if}}
          </li>
        {{/each}}
      {{/if}}
    </ul>
  {{/if}}
</li>