{{log @item}}
<div class='home--container{{unless this.isExpanded ' closed'}}'>
  <h1 {{on 'click' this.updateIsExpanded}}>{{@item.label}}
    -
    {{@item.details.length}}
    {{pluralize @item.details.length 'item'}}</h1>
  {{#if this.isExpanded}}
    {{#if @showTable}}
      <EmberTable as |t|>
        <t.head
          @columns={{@tableColumns}}
          @scrollIndicators='all'
          @widthConstraint='eq-container'
          @sorts={{sorts}}
          @onUpdateSorts={{action (mut sorts)}}
          as |h|
        >
          <h.row as |r|>
            <r.cell as |columnValue columnMeta|>
              {{#if (is-equal @item.type 'response')}}
                {{#if (is-equal @item.label 'Given')}}
                  {{#if (is-equal columnValue.name 'Other Person')}}
                    Recipient
                  {{else}}
                    {{columnValue.name}}
                  {{/if}}
                {{else if (is-equal @item.label 'Received')}}
                  {{#if (is-equal columnValue.name 'Other Person')}}
                    Sent By
                  {{else}}
                    {{columnValue.name}}
                  {{/if}}
                {{/if}}
              {{else}}
                {{columnValue.name}}
              {{/if}}
              <EmberTh::SortIndicator @columnMeta={{columnMeta}} />
            </r.cell>
          </h.row>
        </t.head>
        <t.body @rows={{@item.details}} as |b|>
          <b.row as |r|>
            <r.cell
              as |cellValue columnValue rowValue cellMeta columnMeta rowMeta|
            >
              {{#if (is-equal @item.type 'workspace')}}
                {{#if (is-equal columnValue.name 'Workspace')}}
                  <LinkTo
                    @route={{'workspace.work'}}
                    @model={{rowValue.id}}
                  >{{cellValue}}</LinkTo>
                {{else}}
                  {{format-date cellValue 'MM/DD/YYYY'}}
                {{/if}}
              {{else if (is-equal columnValue.name 'Assignment')}}
                <LinkTo
                  @route={{'assignments.assignment'}}
                  @model={{rowValue.id}}
                >{{cellValue}}</LinkTo>
              {{else if (is-equal columnValue.name 'To Do')}}
                {{if
                  (is-equal @item.role 'teacher')
                  'Review Submissions'
                  'Complete Assignment'
                }}
              {{else if (is-equal columnValue.name 'Other Person')}}
                <LinkTo
                  @route={{'responses.submission'}}
                  @model={{rowValue.submission.id}}
                  @query={{hash responseId=rowValue.id}}
                >{{cellValue}}</LinkTo>
              {{else}}
                {{format-date cellValue 'MM/DD/YYYY'}}
              {{/if}}
            </r.cell>
          </b.row>
        </t.body>
      </EmberTable>
    {{else}}
      <div class='grid-home'>
        {{#each @item.details as |detail|}}
          <article class='grid-card'>
            <header class='grid-card__title'>
              <h2>
                {{#if (is-equal detail.constructor.modelName 'workspace')}}
                  <LinkTo
                    class='grid-card--light'
                    @route='workspace.work'
                    @model={{detail.id}}
                  >{{detail.name}}</LinkTo>
                {{else if (is-equal detail.constructor.modelName 'assignment')}}
                  <LinkTo
                    class='grid-card--light'
                    @route='assignments.assignment'
                    @model={{detail.id}}
                  >{{detail.name}}</LinkTo>
                {{else if (is-equal detail.type 'response')}}
                  <LinkTo
                    class='grid-card--light'
                    @route={{'responses.submission'}}
                    @model={{detail.submission.id}}
                    @query={{hash responseId=detail.id}}
                  >{{if
                      (is-equal @item.label 'Given')
                      'To: '
                      'From: '
                    }}{{detail.name}}</LinkTo>
                {{else}}
                  {{detail.name}}
                {{/if}}
              </h2>
            </header>
            <ul class='grid-card__info'>
              {{#each @tableColumns as |row|}}
                <li>
                  {{#if (is-equal @item.type 'response')}}
                    {{#if (is-equal row.name 'Other Person')}}
                      {{#if (is-equal @item.label 'Given')}}
                        Recipient:
                      {{else}}
                        Sent By:
                      {{/if}}
                    {{else}}
                      {{row.name}}:
                    {{/if}}
                  {{else}}
                    {{row.name}}:
                  {{/if}}
                  {{#if (is-equal row.name 'To Do')}}
                    {{if
                      (is-equal @item.role 'teacher')
                      'Review Submissions'
                      'Complete Assignment'
                    }}
                  {{else}}
                    {{format-date (get-attr detail row.valuePath) 'MM/DD/YYYY'}}
                  {{/if}}
                </li>
              {{/each}}
            </ul>
          </article>
        {{/each}}
      </div>
    {{/if}}
  {{/if}}
</div>