<div class='home-tabs'>
  <button
    class='home-tabs__tab
      {{if (is-equal this.dataToShow 'workspace') 'home-tabs--active'}}'
    {{action (mut this.dataToShow) 'workspace'}}
  >My Workspaces</button>
  <button
    class='home-tabs__tab
      {{if (is-equal this.dataToShow 'assignment') 'home-tabs--active'}}'
    {{action (mut this.dataToShow) 'assignment'}}
  >My Assignments</button>
  <button
    class='home-tabs__tab
      {{if (is-equal this.dataToShow 'feedback') 'home-tabs--active'}}'
    {{action (mut this.dataToShow) 'feedback'}}
  >My Feedback</button>
  <label>Showing results from: </label>
  <select onchange={{action 'updateCurrentBound'}}>
    <option value='oneWeek'>Previous Week</option>
    <option value='oneMonth'>Previous Month</option>
    <option value='sixMonths'>Previous Six Months</option>
    <option value='schoolYear'>Current School Year</option>
    <option value='allTime'>All Time</option>
  </select>
  <button class='home-tabs__tab'>
    <img
      src={{if
        this.showTable
        '../assets/images/grid.svg'
        '../assets/images/grid-active.svg'
      }}
      alt='grid'
      {{action (mut this.showTable) false}}
      title='Show grid view'
    />
  </button>
  <button class='home-tabs__tab'>
    <img
      src={{if
        this.showTable
        '../assets/images/list-active.svg'
        '../assets/images/list.svg'
      }}
      alt='list'
      {{action (mut this.showTable) true}}
      title='Show table view'
    />
  </button>
</div>
<section class='home'>
  {{#each this.data as |item|}}
    {{#if this.showTable}}
      <div class='home--container'>
        <h1>{{item.label}}</h1>
        <EmberTable as |t|>
          <t.head
            @columns={{this.tableColumns}}
            @scrollIndicators='all'
            @widthConstraint='eq-container'
          />
          <t.body @rows={{item.details}} as |b|>
            <b.row as |r|>
              <r.cell
                as |cellValue columnValue rowValue cellMeta columnMeta rowMeta|
              >
                {{#if (is-equal columnValue.name 'Workspace')}}
                  <LinkTo
                    @route={{'workspace.work'}}
                    @model={{rowValue.id}}
                  >{{cellValue}}</LinkTo>
                {{else if (is-equal columnValue.name 'Assignment')}}
                  <LinkTo
                    @route={{'assignments.assignment'}}
                    @model={{rowValue.id}}
                  >{{cellValue}}</LinkTo>
                {{else}}
                  {{format-date cellValue 'MM/DD/YYYY'}}
                {{/if}}
              </r.cell>
            </b.row>
          </t.body>
        </EmberTable>
      </div>
    {{else}}
      <h1>{{item.label}}</h1>
      <div class='grid-home'>
        {{#each item.details as |detail|}}
          <article class='grid-card'>
            <header class='grid-card__title'>
              <h2><LinkTo
                  class='grid-card--light'
                  @route='workspace.work'
                  @model={{detail.id}}
                >{{detail.name}}</LinkTo></h2>
            </header>
            <ul class='grid-card__info'>
              {{#each this.tableColumns as |row|}}
                <li>{{row.name}}:
                  {{format-date
                    (get-attr detail row.valuePath)
                    'MM/DD/YYYY'
                  }}</li>
              {{/each}}
            </ul>
          </article>
        {{/each}}
      </div>
    {{/if}}
  {{/each}}
</section>

<p class='footer'>EnCoMPASS version 3.1.0 last updated on 11/08/2021.</p>