<div class='home--container{{unless this.isExpanded ' closed'}}'>
  <EmberTable as |t|>
    <t.head
      @columns={{@tableColumns}}
      @scrollIndicators='all'
      @widthConstraint='eq-container'
      @sorts={{sorts}}
      @onUpdateSorts={{action (mut sorts)}}
    />
    <t.body @rows={{@details}} as |b|>
      <b.row as |r|>
        <r.cell as |cellValue columnValue rowValue cellMeta columnMeta rowMeta|>
          {{#if (is-equal @type 'workspace')}}
            {{#if (is-equal columnValue.name 'Workspace')}}
              <LinkTo
                @route={{'workspace.work'}}
                @model={{rowValue.id}}
              >{{cellValue}}</LinkTo>
            {{else}}
              {{format-date cellValue 'MM/DD/YYYY'}}
            {{/if}}
          {{else if (is-equal columnValue.name 'Assignment')}}
            <LinkTo
              @route={{'assignments.assignment'}}
              @model={{rowValue.id}}
            >{{format-date cellValue 'MM/DD/YYYY'}}</LinkTo>
          {{else if (is-equal @type 'feedback')}}
            {{#if (is-equal columnValue.name 'Workspace')}}
              <a {{on 'click' (fn this.toResponse rowValue)}}>{{cellValue}}</a>
            {{else if (is-equal columnValue.name 'Status')}}
              <svg height='20' width='20'>
                <circle
                  cx='10'
                  cy='15'
                  r='5'
                  fill={{rowValue.statusIcon}}
                ></circle>
              </svg><span>{{cellValue}}</span>
            {{else}}
              {{format-date cellValue 'MM/DD/YYYY'}}
            {{/if}}
          {{else}}
            {{format-date cellValue 'MM/DD/YYYY'}}
          {{/if}}
        </r.cell>
      </b.row>
    </t.body>
  </EmberTable>
</div>