<div class='home-tabs'>
  {{log this.userSections}}
  <button
    class='home-tabs__tab
      {{if (is-equal this.dataToShow 'workspace') 'home-tabs--active'}}'
    {{action (mut this.dataToShow) 'workspace'}}
  >My Workspaces</button>
  <button
    class='home-tabs__tab
      {{if (is-equal this.dataToShow 'assignment') 'home-tabs--active'}}'
    {{action (mut this.dataToShow) 'assignment'}}
  >My Assignments</button>
  <button
    class='home-tabs__tab
      {{if (is-equal this.dataToShow 'feedback') 'home-tabs--active'}}'
    {{action (mut this.dataToShow) 'feedback'}}
  >My Feedback</button>
  <label>Showing results from: </label>
  <select onchange={{action 'updateCurrentBound'}}>
    <option value='oneWeek'>One Week Ago</option>
    <option value='oneMonth'>One Month Ago</option>
    <option value='sixMonths'>Six Months Ago</option>
    <option value='schoolYear'>Current School Year</option>
    <option value='allTime'>All Time</option>
  </select>
</div>
<section class='grid-home'>
  {{#each this.data as |item|}}
    {{#if (is-equal this.dataToShow 'workspace')}}
      <h1>{{item.label}}</h1>
      {{#each item.workspaces as |workspace|}}
        <article class='grid-card'>
          <header class='grid-card__title'>
            <h2><LinkTo
                class='grid-card--light'
                @route='workspace.work'
                @model={{workspace.id}}
              >{{workspace.name}}</LinkTo></h2>
          </header>
          <ul class='grid-card__info'>
            <li>owner: {{workspace.owner.displayName}}</li>
            <li>submissions: {{workspace.submissionsLength}}</li>
            <li>selections: {{workspace.selectionsLength}}</li>
            <li>comments: {{workspace.commentsLength}}</li>
            <li>Last Updated:
              {{format-date workspace.lastModifiedDate 'MM/DD/YYYY'}}</li>
          </ul>
        </article>
      {{/each}}
    {{else if (is-equal this.dataToShow 'assignment')}}
      <h1>Assignments for: {{item.sectionName}}</h1>
      {{#each item.assignments as |assignment|}}
        <article class='grid-card'>
          <header class='grid-card__title'>
            <h2><LinkTo
                class='grid-card--light'
                @route={{'assignments.assignment'}}
                @model={{assignment.id}}
              >{{assignment.name}}</LinkTo></h2>
          </header>
          <ul class='grid-card__info'>
            <li>problem: {{assignment.problem.title}}</li>
            <li>class: {{assignment.section.name}}</li>
            <li>Assigned:
              {{format-date assignment.assignedDate 'MM/DD/YYYY'}}</li>
            <li>Due: {{format-date assignment.dueDate 'MM/DD/YYYY'}}</li>
            <li>To Do:
              {{if
                (is-equal item.role 'teacher')
                'Review Submission'
                'Answer Problem'
              }}</li>
          </ul>
        </article>
      {{/each}}
    {{else if (is-equal this.dataToShow 'feedback')}}
      <article class='grid-card'>
        <header class='grid-card__title'>
          <h2><LinkTo
              class='grid-card--light'
              @route={{'workspace.submissions.submission'}}
              @models={{array item.workspace.id item.submission.id}}
            >To: {{item.recipient.displayName}}</LinkTo></h2>
        </header>
        <ul class='grid-card__info'>
          <li>Workspace: {{item.workspace.name}}</li>
          <li>Type: {{item.responseType}}</li>
          <li>Created on: {{format-date item.createDate 'MM/DD/YYYY'}}</li>
          <li>Status: {{item.status}}</li>
        </ul>
      </article>
    {{/if}}
  {{/each}}
</section>

{{!-- {{#if this.user.isStudent}}
  <div id="welcome"  class="al_wtf home header-home">
    <h1>Welcome student, {{user.displayName}}!</h1>
        <h1 class="header-home header-font">My Work Landing Page</h1>
        <DashboardAssignmentsList @store={{this.store}} @user={{this.user}} @assignments={{this.assignments}} />
        <DashboardWorkspacesList @store={{this.store}} @user={{this.user}} @workspaces={{this.workspaces}} @assignments={{this.assignments}} />
        <h2 class="header-home"><LinkTo @route="workspaces.index">Student Work to Review</LinkTo></h2>
        <h2 class="header-home"><LinkTo @route="responses">See my feedback</LinkTo></h2>
  </div>


{{else}}
 <div id="welcome" class="al_wtf home  header-home">
  {{#if this.user.isAuthenticated}}
    <h1 class="header-home">My Work Landing Page</h1>
    <span class="toggle-role" {{action 'showToggleModal' }}>
      <h2 class="header-home">Problems to Solve (switch to student role)</h2>
    </span>
    <DashboardWorkspacesList @store={{this.store}} @user={{this.user}} @workspaces={{this.workspaces}} @assignments={{this.assignments}} />
    <DashboardClassesList @store={{this.store}} @user={{this.user}} @sections={{this.sections}} @assignments={{this.assignments}} />
    <h2 class="header-home"><LinkTo @route="responses">Go to feedback</LinkTo></h2>
    <p class="footer">EnCoMPASS version 3.1.0 last updated on 11/08/2021.</p>
  {{else}}
    <h2>It looks like you are not logged in</h2>
    <p>Please login <LinkTo @route="auth.login">here</LinkTo></p>
    <p>New to EnCoMPASS, sign up <LinkTo @route="auth.signup">here</LinkTo></p>
  {{/if}}
</div>

{{/if}} --}}