<div {{did-update this.loadLocalProblem @problem}}>
  <header class='info-header'>
    {{#if @isEditing}}
      <span class='top-left-icon'>
        {{public-private this.problem.privacySetting}}
      </span>
      <div class='select-container'>
        <select
          name='privacy-settings'
          id='privacy-select'
          {{on 'change' this.changePrivacy}}
        >
          <option
            value='E'
            selected={{is-equal this.problem.privacySetting 'E'}}
          >Everyone</option>
          <option
            value='O'
            selected={{is-equal this.problem.privacySetting 'O'}}
          >My Org</option>
          <option
            value='M'
            selected={{is-equal this.problem.privacySetting 'M'}}
          >Just Me</option>
        </select>
      </div>
    {{else}}
      <span
        class='top-left-icon simptip-position-right simptip-smooth'
        data-tooltip={{privacy-setting this.problem.privacySetting}}
      >
        {{public-private this.problem.privacySetting}}
      </span>
    {{/if}}
    <span class='remove-icon' {{on 'click' this.hideInfo}}>
      <i class='fas fa-times'></i>
    </span>
  </header>

  <div class='side-info-menu'>
    <section class='info-details'>
      <div class='info-main'>
        <div class='heading'>
          <Ui::FormField
            @isEditing={{@isEditing}}
            @type='text'
            @value={{this.problem.title}}
            @onChange={{fn this.handleChange 'title'}}
          />
        </div>
        <div class='subheading date'>
          {{format-date @problem.createDate 'MM/DD/YYYY'}}
        </div>
        <div class='subheading'><LinkTo
            @route='metrics.problem'
            @model={{@problem}}
          >See Reports</LinkTo></div>
      </div>
      <Ui::TabButtons
        @tabs={{this.tabs}}
        @activeTab={{this.activeTab}}
        @onSelect={{this.onSelectTab}}
      />
      <div class='info-content'>
        {{! General tab}}
        {{#if this.showGeneral}}
          <p class='info-content-label'>Problem Statement</p>
          <div class='info-content-block statement large-content'>
            {{#if @isEditing}}
              {{! The starting text is from the argument; we change the local value }}
              <QuillContainer
                @onEditorChange={{this.updateQuillText}}
                @startingText={{@problem.text}}
              />
            {{else}}
              {{make-html-safe @problem.text}}
            {{/if}}
          </div>
          <p class='info-content-label'>Author</p>
          <div class='info-content-block author'>
            <Ui::FormField
              @isEditing={{@isEditing}}
              @type='text'
              @value={{this.problem.author}}
              @onChange={{fn this.handleChange 'author'}}
              @placeholder='Add author'
            />
          </div>
          {{#if @problem.organization}}
            {{#if this.user.isAdmin}}
              <p class='info-content-label'>Organization</p>
              <div class='info-content-block org'>
                {{#if @problem.organization}}
                  {{@problem.organization.name}}
                {{/if}}
              </div>
            {{/if}}
          {{/if}}

          <p class='info-content-label'>Problem Status</p>
          <div class='info-content-block'>
            <svg height='20' width='20'>
              <circle
                cx='10'
                cy='15'
                r='5'
                fill={{this.statusIconFill}}
              ></circle>
            </svg>

            {{#if this.canEditStatus}}
              <Ui::MySelect
                @cannotBeNull={{true}}
                @selectedValue={{this.problem.status}}
                @content={{this.problemStatusOptions}}
                @action={{(fn this.handleChange 'status')}}
              />
            {{else}}
              <span class='status-text'>
                {{@problem.status}}
              </span>
            {{/if}}
            {{#unless @isEditing}}
              {{#if (is-equal @problem.status 'flagged')}}
                {{#if this.showFlagReason}}
                  <span
                    class='show-reason'
                    {{on 'click' this.toggleShowFlagReason}}
                  >Hide</span>
                  <div class='flag-reason'>
                    <p class='reason'><strong>Reason:</strong>
                      {{@problem.flagReason.reason}}</p>
                    <p class='details'>By
                      <LinkTo
                        @route='users.user'
                        @model={{@flaggedBy.id}}
                      >{{@flaggedBy.username}}</LinkTo>
                      on
                      {{format-date @flaggedDate 'MMM Do YYYY'}}</p>
                  </div>
                {{else}}
                  <span
                    class='show-reason'
                    {{on 'click' this.toggleShowFlagReason}}
                  >Why?</span>
                {{/if}}
              {{/if}}
            {{/unless}}
          </div>
        {{/if}}

        {{! Categories tab}}
        {{#if this.showCats}}
          <p class='info-content-label'>Problem Categories</p>
          <div class='info-content-block categories'>
            {{#if @isEditing}}
              {{#if this.problem.categories}}
                <ul>
                  {{#each this.problem.categories as |category|}}
                    <li class='category-item'>
                      <a
                        href='{{category.url}}'
                        target='_blank'
                        rel='noopener noreferrer'
                      >{{category.identifier}}</a>
                      <button
                        class='remove-cat'
                        type='button'
                        {{on 'click' (fn this.removeCategory category)}}
                      ><i class='far fa-times-circle'></i></button>
                      <p
                        class='category-description'
                      >{{category.description}}</p>
                    </li>
                  {{/each}}
                </ul>
              {{/if}}
              <div class='button-row-list'>
                <button
                  class='cancel-button'
                  type='button'
                  {{on 'click' this.toggleCategories}}
                >{{if
                    this.showCategories
                    'Hide Categories'
                    'Add Categories'
                  }}</button>
              </div>
              {{#if this.showCategories}}
                <CategoriesMenu @addCategory={{this.addCategory}} />
              {{/if}}
            {{else}}
              {{#if @problem.categories}}
                <ul>
                  {{#each @problem.categories as |category|}}
                    <li class='category-item'>
                      <a
                        href='{{category.url}}'
                        target='_blank'
                        rel='noopener noreferrer'
                      >{{category.identifier}}</a>
                      <p
                        class='category-description'
                      >{{category.description}}</p>
                    </li>
                  {{/each}}
                </ul>
              {{else}}
                No Problem Categories
              {{/if}}
            {{/if}}
          </div>
          <p class='info-content-label'>Problem Keywords</p>
          <div class='info-content-block keywords'>
            {{#if @isEditing}}
              <SelectizeInput
                @inputId='select-edit-keywords'
                @onItemAdd={{this.updateKeywords}}
                @onItemRemove={{this.updateKeywords}}
                @maxItems={{5}}
                @create={{true}}
                @createFilter={{this.keywordFilter}}
                @persist={{false}}
                @initialItems={{@problem.keywords}}
                @initialOptions={{this.keywordSelectOptions}}
                @labelField='label'
                @valueField='value'
              />
            {{else}}
              {{#if @problem.keywords}}
                <ul>
                  {{#each @problem.keywords as |keyword|}}
                    <li>
                      {{keyword}}
                    </li>
                  {{/each}}
                </ul>
              {{else}}
                No Problem Keywords
              {{/if}}
            {{/if}}
          </div>
        {{/if}}

        {{! Additional tab}}
        {{#if this.showAdditional}}
          <p class='info-content-label'>Additional Info</p>
          <div class='info-content-block additional'>
            <div class='input-container'>
              <Ui::FormField
                @isEditing={{@isEditing}}
                @type='textarea'
                @value={{this.problem.additionalInfo}}
                @onChange={{fn this.handleChange 'additionalInfo'}}
                @placeholder='Additional info...'
                className='additional-info-area'
              />
            </div>
          </div>

          <p class='info-content-label'>Additional Image</p>
          <div class='info-content-block image'>
            {{#if @problem.image}}
              <button
                type='button'
                class='image-toggle-btn'
                {{on 'click' this.toggleImageSize}}
              >
                <img
                  src={{@problem.image.imageData}}
                  alt='Additional Image'
                  class='additional-image {{if this.isWide "wide"}}'
                />
              </button>
            {{else}}
              {{#unless @isEditing}}
                No Additional Image
              {{/unless}}
            {{/if}}
            {{#if @isEditing}}
              {{#if @problem.image}}
                <button
                  class='edit-image-btn'
                  type='button'
                  {{on 'click' this.deleteImage}}
                >Delete</button>
              {{else}}
                <div class='input-container' id='image-upload'>
                  <ImageUpload
                    @filesToBeUploaded={{this.filesToBeUploaded}}
                    @hideSubmit={{true}}
                  />
                </div>
              {{/if}}
            {{/if}}
          </div>
          {{#if @problem.origin}}
            <p class='info-content-label'>Problem Origin</p>
            <div class='info-content-block origin'>
              <p><LinkTo
                  @route='problems.problem'
                  @model={{@problem.origin.id}}
                >{{@problem.origin.title}}</LinkTo></p>
            </div>
          {{/if}}
          {{#if this.user.isAdmin}}
            <p class='info-content-label'>Created By</p>
            <div class='info-content-block creator'>
              <p><LinkTo
                  @route='users.user'
                  @model={{@problem.createdBy.id}}
                >{{@problem.createdBy.username}}</LinkTo></p>
            </div>
          {{/if}}
        {{/if}}

        {{#if this.showLegal}}
          <p class='info-content-label'>Copyright Notice</p>
          <div class='info-content-block copyright'>
            {{#if @isEditing}}
              <div class='input-container' id='copyright-container'>
                <span id='icon'>&copy;</span>
                <Input
                  name='copyright'
                  id='copyright'
                  @type='text'
                  @value={{this.copyrightNotice}}
                  placeholder='Add Copyright Notice'
                />
              </div>
            {{else}}
              {{#if @problem.copyrightNotice}}
                <p>&copy; {{@problem.copyrightNotice}}</p>
              {{else}}
                No Copyright Notice
              {{/if}}
            {{/if}}
          </div>
          <p class='info-content-label'>Sharing Authorization</p>
          <div class='info-content-block sharing'>
            <div class='input-container'>
              <Ui::FormField
                @isEditing={{@isEditing}}
                @type='text'
                @value={{this.problem.sharingAuth}}
                @onChange={{fn this.handleChange 'sharingAuth'}}
                @placeholder='Add Sharing Authorization'
              />
            </div>
          </div>
        {{/if}}
      </div>
    </section>

    <section class='info-actions'>
      <div class='buttons-container'>
        <span class='left-buttons'>
          {{#if @isEditing}}
            {{#unless @problem.isTrashed}}
              <button
                class='button-icon'
                type='button'
                {{on 'click' this.deleteProblem}}
              ><i class='fas fa-trash'></i></button>
            {{/unless}}
          {{else}}
            <span
              class='info-text-tip simptip-position-right simptip-smooth'
              data-tooltip='Make a Copy of this Problem'
            >
              <button
                class='button-icon'
                type='button'
                {{on 'click' this.addToMyProblems}}
              ><i class='far fa-copy'></i></button>
            </span>
            {{#unless this.user.isTeacher}}
              {{#unless @problem.isTrashed}}
                {{#if this.notFlagged}}
                  {{#if this.isRecommended}}
                    <span
                      class='info-text-tip simptip-position-right simptip-smooth'
                      data-tooltip='Remove this Problem from Recommended'
                    >
                      <button
                        class='button-icon star-icon'
                        type='button'
                        {{on 'click' this.removeRecommend}}
                      >
                        <i class='fas fa-star star-filled'></i>
                      </button>
                    </span>
                  {{else}}
                    <span
                      class='info-text-tip simptip-position-right simptip-smooth'
                      data-tooltip='Add this Problem to Recommended'
                    >
                      <button
                        class='button-icon star-icon'
                        type='button'
                        {{on 'click' this.checkRecommend}}
                      >
                        <i class='far fa-star star-line'></i>
                      </button>
                    </span>
                  {{/if}}
                {{/if}}
              {{/unless}}
            {{/unless}}
            {{#if this.user.isTeacher}}
              {{#if this.isRecommended}}
                <button class='button-icon star-icon no-cursor' type='button'>
                  <i class='fas fa-star star-filled'></i>
                </button>
              {{/if}}
            {{/if}}
          {{/if}}
        </span>
        <span class='right-buttons'>
          {{#if @isEditing}}
            <LinkTo
              @route='problems.problem'
              @model={{@problem.id}}
              @query={{hash tab=this.activeTab}}
              class='action_button cancel-button'
              role='button'
            >
              Cancel
            </LinkTo>

            <button
              class='primary-button save'
              type='button'
              {{on 'click' this.updateProblem}}
            >Save</button>
          {{else}}
            {{#if this.writePermissions.canEdit}}
              <button
                class='primary-button edit'
                type='button'
                {{on 'click' this.editProblem}}
              >Edit</button>
            {{/if}}
            {{#unless @problem.isTrashed}}
              {{#if this.notFlagged}}
                <button
                  class='primary-button assign'
                  type='button'
                  {{on 'click' this.toggleAssignment}}
                >Assign</button>
              {{/if}}
            {{/unless}}
          {{/if}}
          {{#if @problem.isTrashed}}
            {{#if this.user.isAdmin}}
              {{#unless @isEditing}}
                <button
                  class='primary-button restore'
                  type='button'
                  {{on 'click' this.restoreProblem}}
                >Restore</button>
              {{/unless}}
            {{/if}}
          {{/if}}
        </span>
      </div>
    </section>
    {{#if this.isMissingRequiredFields}}
      <Ui::ErrorBox
        @error='Please fill in all required fields'
        @showDismiss={{true}}
      />
    {{/if}}

    {{#each this.errors as |error|}}
      <Ui::ErrorBox
        @error={{error}}
        @showDismiss={{true}}
        @resetError={{this.resetErrors}}
      />
    {{/each}}
    <div id='problem-info-outlet'>
      {{outlet}}
    </div>
  </div>
</div>