<li class='has-children'>
  {{#if (not-empty @item.children)}}
    {{!-- Expandable (has children) --}}
    <input
      type='checkbox'
      id={{@item.identifier}}
      name={{@item.identifier}}
      checked={{this.isOpen}}
      {{on 'change' this.toggleOpen}}
    />
    <label class='menu-label' for={{@item.identifier}}>
      {{@item.description}}
      {{#if @item.url}}
        <a href={{@item.url}} target='_blank' rel='noopener noreferrer'>
          <i class='fas fa-external-link-alt'></i>
        </a>
      {{/if}}
    </label>

    {{#if this.isOpen}}
      <ul>
        {{#each @item.children as |child|}}
          {{!-- Recursively render each child as a <RecursiveMenu> --}}
          <RecursiveMenu @item={{child}} @onAddCategory={{@onAddCategory}} />
        {{/each}}

        {{!-- The 'Other' button for this parent item --}}
        <li class='item'>
          <button type='button' {{on 'click' (fn @onAddCategory @item)}}>
            +
          </button>
          Other
        </li>
      </ul>
    {{/if}}
  {{else}}
    {{!-- Leaf (no children) --}}
    <li class='item'>
      <button type='button' {{on 'click' (fn @onAddCategory @item)}}>
        +
      </button>
      <span>{{@item.identifier}}</span>
      -
      {{@item.description}}
    </li>
  {{/if}}
</li>