{{#if this.showReply}}
  <div class='submissionChild'>
    <div class='response-info'>
      <ResponseMentorDate @reply={{if @isParentWorkspace @mentorReply.originalResponse @mentorReply }}
        @showRecipientReadUnread={{this.showRecipientReadUnread}}
        @recipientReadUnreadIcon={{this.recipientReadUnreadIcon}} />
      <div class='response-content
          {{if this.showContentHighlight "response-content-highlight"}}'>
        <p class='response-header'>
          Message
        </p>
        <div class='response-text-container'>
          {{#if this.isEditing}}
            <QuillContainer @onEditorChange={{@updateQuillText}} @attrSectionId={{@quillEditorId}}
              @startingText={{@editRevisionText}} />
          {{else}}
            <div class='response-text
                {{if this.isOldFormatDisplayResponse "old-format"}}'>
              {{{@mentorReply.text}}}
            </div>
          {{/if}}
        </div>
        {{#if @showNoteHeader}}
          <div class='response-note-container'>
            <p class='response-header'>Note for Approver</p>
            {{#if @showApproverNoteInput}}
              <Textarea class='edit-note' @name='mentor-approver-note' @value={{@editRevisionNote}} />
            {{/if}}
            {{#if @showDisplayNote}}
              <div class='response-note'>
                {{@mentorReply.note}}
              </div>
            {{/if}}
          </div>
        {{/if}}
      </div>
    </div>

    {{#if this.showButtons}}
      <div class='mentor-reply-actions button-row'>
        {{#each this.buttons as |button|}}
          {{#if button.isTrash}}
            <i {{on 'click' (fn this.handleAction button.action)}} class='fas fa-trash'></i>
          {{else}}
            <button {{on 'click' (fn this.handleAction button.action)}} class='primary-button' {{!-- {{if
              button.isCancel "cancel-button" }} --}}>
              {{button.text}}
            </button>
          {{/if}}
        {{/each}}
      </div>
    {{/if}}

  </div>
{{/if}}