<div class='response-container'>
  {{#if this.isCreatingNewMentorReply}}
    <p class='feedback-mode'>
      Crafting feedback for
      <a
        {{action 'openSubmission' this.workspace.id this.submission.id}}
        class='link'
      >submission</a>
      in
      {{this.workspace.name}}
    </p>
  {{else}}
    <p class='feedback-mode'>

      {{#if this.isOwnSubmission}}
        Viewing feedback for
      {{else if this.isOwnMentorReply}}
        Viewing your own mentoring feedback
      {{else}}
        Viewing feedback
        {{#if this.mentorReplyDisplayResponse}}
          authored by
          {{this.mentorReplyDisplayResponse.createdBy.username}}
        {{/if}}
      {{/if}}
      for
      {{this.studentDescriptor}}
      <a
        {{action 'openSubmission' this.workspace.id this.submission.id}}
        class='link'
      >submission</a>
      in
      {{this.workspace.name}}
    </p>
  {{/if}}

  <div class='response-flex-container'>
    {{#each this.sortedSubmissions as |submission|}}
      <div class='submissionChild'>
        <ResponseMentorThread
          @response={{this.response}}
          @submission={{submission}}
          @workspace={{this.workspace}}
          @wsResponses={{this.cleanWorkspaceResponses}}
          @studentSubmissions={{this.submissions}}
          @onSubChange={{action 'onSubmissionChange'}}
          @sendRevisionNotices={{action 'sendSubmissionRevisionNotices'}}
          @isParentWorkspace={{this.isParentWorkspace}}
          @isCreating={{this.isCreatingNewMentorReply}}
          @mentorReplies={{submission.responses}}
          @responseToApprove={{this.responseToApprove}}
          @displayResponse={{this.mentorReplyDisplayResponse}}
          @canDirectSend={{this.canDirectSend}}
          @canApprove={{this.canApprove}}
          @isOwnMentorReply={{this.isOwnMentorReply}}
          @onSaveSuccess={{action 'onSaveSuccess'}}
          @onMentorReplySwitch={{action 'onMentorReplySwitch'}}
          @toResponses={{action 'toResponses'}}
          @submissionResponses={{this.nonTrashedResponses}}
          @canSend={{this.canSend}}
          @isMentorRecipient={{this.isMentorRecipient}}
          @isOwnSubmission={{this.isOwnSubmission}}
          @toNewResponse={{action 'toNewResponse'}}
          @priorMentorRevision={{this.priorMentorRevision}}
          @iconFillOptions={{this.iconFillOptions}}
          @toSubmission={{action 'onSubmissionChange'}}
          @handleResponseThread={{action 'handleResponseThread'}}
        />
      </div>
    {{/each}}

  </div>
</div>