<div class='mentor-header-thread'>
  <p>Mentor: {{@reply.createdBy.username}}</p>
  <p class='response-time'>
    {{format-date @reply.createDate 'MMMM Do YYYY'}},
    {{format-date @reply.createDate 'h:mm a'}}
  </p>
  <p>
    To:
    {{@reply.recipient.username}}
    {{#if @showRecipientReadUnread}}
      <i
        title={{@recipientReadUnreadIcon.title}}
        class={{@recipientReadUnreadIcon.className}}
      ></i>
    {{/if}}
  </p>
</div>