<p class='response-date'>
    <div class='response-users'>
        <p>
            <span class='response-label'>To:</span>
            <span class='response-value recipient'>{{@reply.recipient.username}}</span>
            {{#if @showRecipientReadUnread}}
                <span class='response-read-unread'><i
                    title={{@recipientReadUnreadIcon.title}}
                    class={{@recipientReadUnreadIcon.className}}
                ></i></span>
            {{/if}}
        </p>
        <p>
            <span class='response-label'>From:</span>
            <span class='response-value'>{{@reply.createdBy.username}}</span>
        </p>
        <span class='response-time'>
            {{format-date @reply.createDate 'MMMM Do YYYY'}},
            {{format-date @reply.createDate 'h:mm a'}}
        </span>
    </div>
</p>
