{{#if @isCreating}}
  <ResponseNew
    @isCreating={{@isCreating}}
    @submission={{@submission}}
    @responseData={{this.responseNewModel}}
    @recipient={{@response.recipient}}
    @newReplyStatus={{this.newReplyStatus}}
    @newReplyType='mentor'
    @onSaveSuccess={{this.onSaveSuccess}}
    @canDirectSend={{@canDirectSend}}
    @submissionResponses={{@submissionResponses}}
    @handleResponseThread={{this.handleNewMentorReply}}
  />
{{else}}

  {{#if this.sortedMentorReplies}}
    {{#each this.sortedMentorReplies as |reply|}}
      <div class='response-mentor-container'>
        <div class='response-mentor-info'>
          {{#if @displayResponse}}
            <p class='response-date'>
              {{#if @isParentWorkspace}}
                <div class='response-users'>
                  <p>
                    <span class='response-label'>To:</span>
                    <span
                      class='response-value recipient'
                    >{{reply.recipient.username}}
                    </span>
                    {{#if this.showRecipientReadUnread}}
                      <span class='response-read-unread'><i
                          title={{this.recipientReadUnreadIcon.title}}
                          class={{this.recipientReadUnreadIcon.className}}
                        ></i></span>
                    {{/if}}
                  </p>
                  <p>
                    <span class='response-label'>Mentor:</span>
                    <span class='response-value'>
                      {{#if @isParentWorkspace}}
                        {{reply.originalResponse.createdBy.username}}
                      {{else}}
                        {{reply.createdBy.username}}
                      {{/if}}
                    </span>
                  </p>
                  <span class='response-time'>{{format-date
                      reply.originalResponse.createDate
                      'MMMM Do YYYY'
                    }}
                    {{format-date
                      reply.originalResponse.createDate
                      'h:mm a'
                    }}</span>
                </div>
                {{! if not in parent workspace }}
              {{else}}
                <div class='response-users'>
                  <div class='mentor-thread-container'>
                    <div class='mentor-header-thread'>
                      <p>Mentor: {{reply.createdBy.username}}</p>
                      <p class='response-time'>{{format-date
                          reply.createDate
                          'MMMM Do, YYYY'
                        }}
                        {{format-date
                          reply.createDate
                          'h:mm a'
                        }}</p></div>

                    <p>
                      To:
                      {{reply.recipient.username}}
                      {{#if this.showRecipientReadUnread}}
                        <i
                          title={{this.recipientReadUnreadIcon.title}}
                          class={{this.recipientReadUnreadIcon.className}}
                        ></i>
                      {{/if}}
                    </p>

                    <div class='response-text-container'>
                      {{#if this.isComposing}}
                        <Ui::QuillContainer
                          @onEditorChange={{this.updateQuillText}}
                          @attrSectionId='mentor-editor'
                          @startingText={{this.editRevisionText}}
                          @showErrors={{true}}
                        />
                      {{else}}
                        <div
                          class='response-text'
                        >
                          {{{reply.text}}}
                        </div>
                      {{/if}}
                    </div>
                  </div>
                  <div class='response-content'>
                    {{!-- {{#if this.showEdit}}
              <i {{action "handleComposeAction" "isEditing" true false}} class="far fa-edit"></i>
            {{/if}} --}}
                    {{#if this.showNoteHeader}}
                      <div class='response-note-container'>
                        <p class='response-header'>Note for Approver</p>
                        {{#if this.showApproverNoteInput}}
                          <Textarea
                            class='edit-note'
                            name='mentor-approver-note'
                            @value={{this.editRevisionNote}}
                          />
                        {{/if}}
                        {{#if this.showDisplayNote}}
                          <div class='response-note'>
                            {{reply.note}}
                          </div>
                        {{/if}}
                      </div>
                    {{/if}}
                  </div>
                </div>
              {{/if}}
            </p>
          {{else}}
            <p>No response to display</p>
          {{/if}}
        </div>
      </div>
    {{/each}}
    {{! for draft option when mentor saves draft. tech debt }}
    {{!-- <div class="mentor-reply-actions button-row">
    {{#if showRevise}}
      <button {{action "handleComposeAction" "isRevising" true false}} class="primary-button">Revise</button>
    {{/if}}
    {{#if showResumeDraft}}
      <button {{action "handleComposeAction" "isFinishingDraft" true false}} class="primary-button">Resume Draft</button>
    {{/if}}
    {{#if showTrash}}
      <i {{action 'confirmTrash' displayResponse}} class="fas fa-trash"></i>
    {{/if}}
  </div> --}}

    {{#if this.doShowLoadingMessage}}
      <LoadingElem />
    {{/if}}
    {{#if this.isComposing}}
      <div class='submit-buttons button-row'>
        <button
          class='primary-button cancel-button'
          type='button'
          {{on 'click' this.cancelCompose}}
        >Cancel</button>
        
        {{#if this.showSaveDraftButton}}
          <button
            class='primary-button'
            type='button'
            {{on 'click' (fn this.saveResponse true)}}
          >Save as Draft</button>
        {{/if}}
        
        <button
          class='primary-button'
          type='button'
          {{on 'click' this.saveResponse}}
        >{{this.saveButtonText}}</button>
      </div>
    {{/if}}
  {{else}}
    <p class='info'>No Mentor Feedback for this revision yet.</p>
    <img src='../assets/images/no-message.svg' alt='No Replies' />
  {{#if this.canSendNew}}
  Click 'New Response' to begin composing a new Mentor Reply.
  <div class="submit-buttons button-row">
    <LinkTo
      @route="responses.new.submission"
      @model={{@submission}}
      class="primary-button"
    >
      New Response
    </LinkTo>
  </div>
{{/if}}
  {{/if}}
  {{! page pagination for mentor replies }}
  {{!-- <div class="mentor-replies">
      <BreadCrumbs @items={{sortedMentorReplies}} @onSelect={{action "setDisplayMentorReply"}} @titleTextPath="shortText" @selectedItem={{displayResponse}} @infoToolTipText={{revisionsToolTip}} />
    </div> --}}
{{/if}}