{{! Each row will have the history between every submission or revision with a student or teacher }}
<div class='summary-header-container'>
  {{log this 'In summary-list.hbs'}}
  <header><h1>Workspace Responses</h1></header>
  <h2>Workspace Owner: {{this.workspaceInfo.workspaceOwner}}</h2>
  <h2>{{this.workspaceInfo.assignment}}</h2>
  <h2>{{this.workspaceInfo.problem}}</h2>
  <a>
    <LinkTo
      @route='workspace.submissions.submission'
      @model={{this.workspaceInfo.submissionId}}
    >Go back to workspace</LinkTo>

  </a>
</div>

<div class='summary-container'>
  <div class='summary-row summary-header'>
    <div class='label'>Submitter</div>
    <div class='label'>Date of Revision</div>
    <div class='class label'>Mentor</div>
    <div class='label'># Of Revisions</div>
    <div class='label'># Of Mentor Replies</div>
    <div class='label'>Date of Recent Reply</div>
  </div>

  {{#each this.sortedSubmissions as |submission|}}
    <div class='summary-row'>
      <div class='value submitter'>
        {{submission.newestSubmission.createdBy.username}}
      </div>
      <div class='value date'>
        {{dates submission.newestSubmission.createDate 'MM-D-YYYY @h:mm A'}}
      </div>
      <div class='class value'>
        {{submission.newestResponse.createdBy.username}}
      </div>
      <div class='value revisions'>
        {{submission.numOfRevisions}}
      </div>
      <div class='value mentor-replies'>

        {{submission.responsesCount}}
      </div>

      <div class='value newest-reply-date'>
        <LinkTo
          @route='responses.submission'
          @model={{submission.newestSubmission.id}}
          class='response-link'
        >
          {{dates
            submission.newestResponse.createDate
            'MM-DD-YYYY @h:mm A'
          }}</LinkTo>
      </div>
    </div>
  {{/each}}
</div>