<!-- summary-list.hbs -->
<div class='summary-header-container'>
  <h1>Workspace Responses</h1>
  <h2>Workspace Owner: {{this.workspaceInfo.workspaceOwner}}</h2>
  <h2>{{this.workspaceInfo.assignment}}</h2>
  <h2>{{this.workspaceInfo.problem}}</h2>
</div>

<div class='summary-container'>
  <div class='summary-row summary-header'>
    <div class='label'>Submitter</div>
    <div class='label'>Date of Revision</div>
    <div class='label'># Of Revisions</div>
    <div class='label'># Of Mentor Replies</div>
    <div class='label'>Date of Newest Mentor Reply</div>
  </div>

  {{#each this.sortedSubmissions as |submission|}}
    <div class='summary-row'>
      <div class='value submitter'>
        {{submission.newestSubmission.createdBy.username}}
      </div>
      <div class='value date'>
        {{dates submission.newestSubmission.createDate 'MM-D-YYYY @h:mm A'}}
      </div>
      <div class='value revisions'>
        {{submission.numOfRevisions}}
      </div>
      <div class='value mentor-replies'>
        <LinkTo
          @route='responses.submission'
          @model={{submission.newestSubmission.id}}
          class='response-link'
        >{{submission.responsesCount}}</LinkTo>
      </div>
      <div class='value newest-reply-date'>
        {{dates submission.newestResponse.createDate 'MM-D-YYYY @h:mm A'}}
      </div>
    </div>
  {{/each}}
</div>