<h3>Create a New User</h3>
<article class='user'>
  <table class='values rows'>
    <tr>
      <th>Label</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>Username <span class='required-star'>*</span></td>
      <td>
        <Input
          @type='text'
          class='user-username'
          @value={{this.username}}
          {{on 'focusout' this.usernameValidate}}
          {{on 'focusin' this.resetErrors}}
        />
      </td>
    </tr>
    <tr>
      <td>Password <span class='required-star'>*</span></td>
      <td>
        <Input
          @type='password'
          class='user-password'
          @value={{this.password}}
          {{on 'focusout' this.passwordValidate}}
          {{on 'focusin' this.resetErrors}}
        />
      </td>
    </tr>
    <tr>
      <td>First Name <span class='required-star'>*</span></td>
      <td>
        <Input @type='text' @value={{this.firstName}} class='user-first-name' />
      </td>
    </tr>
    <tr>
    <td>Last Name <span class='required-star'>*</span></td>
      <td>
        <Input @type='text' @value={{this.lastName}} class='user-last-name' />
      </td>
    </tr>
    {{#unless this.currentUser.isTeacher}}
      <tr>
        <td>Email
          {{#if this.isEmailRequired}}
            <span class='required-star'>*</span>
          {{/if}}
        </td>
        <td>
          <Input
            @type='text'
            class='user-email'
            {{on 'focusout' this.emailValidate}}
            {{on 'focusin' this.resetErrors}}
          />
        </td>
        </tr>
        <tr>
          <td>Organization <span class='required-star'>*</span></td>
          <td>
            {{#if this.currentUser.isAdmin}}
              <Ui::TwitterTypeahead
                @dataList={{@organizations}}
                @onSelect={{this.setOrg}}
                @optionLabelPath='name'
                @setSelectedValueOnChange={{true}}

              />
            {{else}}
              {{this.currentUser.user.organization?.name}}
            {{/if}}
          </td>
        </tr>
        <tr>
        <td>Location <span class='required-star'>*</span></td>
        <td>
          <Input @type='text' @value={{this.location}} class='user-location' />
        </td>
      </tr>
      <tr>
        <td>Account Type <span class='required-star'>*</span></td>
        <td>
          <Ui::MySelect
            @selectedValue={{this.selectedType}}
            @prompt='Select Account Type'
            @content={{this.accountTypes}}
            @action={{this.setAccountType}}
            @cannotBeNull={{true}}
          />
        </td>
      </tr>
      <tr>
        <td>Authorized <span class='required-star'>*</span></td>
        <td>
          <Input
            @type='checkbox'
            @checked={{this.isAuthorized}}
            class='user-isAuth'
          />
        </td>
      </tr>
    {{/unless}}
  </table>

  {{#if this.usernameError}}
    <Ui::ErrorBox
      @error={{this.usernameError}}
      @showDismiss={{true}}
      @resetError={{fn this.resetError 'usernameError'}}
    />
  {{/if}}

  {{#if this.emailError}}
    <Ui::ErrorBox
      @error={{this.emailError}}
      @showDismiss={{true}}
      @resetError={{fn this.resetError 'emailError'}}
    />
  {{/if}}

  {{#if this.passwordError}}
    <Ui::ErrorBox
      @error={{this.passwordError}}
      @showDismiss={{true}}
      @resetError={{fn this.resetError 'passwordError'}}
    />
  {{/if}}

  {{#if this.noSpacesError}}
    <Ui::ErrorBox
      @error='Passwords cannot contain spaces'
      @showDismiss={{true}}
      @resetError={{fn this.resetError 'noSpacesError'}}
    />
  {{/if}}

  {{#if this.missingAccountType}}
    <Ui::ErrorBox
      @error='Missing account type'
      @showDismiss={{true}}
      @resetError={{fn this.resetError 'missingAccountType'}}
    />
  {{/if}}

  {{#if this.errorMessage}}
    <Ui::ErrorBox
      @error='Missing required fields'
      @showDismiss={{true}}
      @resetError={{fn this.resetError 'errorMessage'}}
    />
  {{/if}}

  {{#each this.createOrgErrors as |error|}}
    <Ui::ErrorBox
      @error={{error}}
      @showDismiss={{true}}
      @resetError={{fn this.removeErrorFromArray 'createOrgErrors' error}}
    />
  {{/each}}
  {{#each this.createUserErrors as |error|}}
    <Ui::ErrorBox
      @error={{error}}
      @showDismiss={{true}}
      @resetError={{fn this.removeErrorFromArray 'createUserErrors' error}}
    />
  {{/each}}

  <div class='button-row'>
    <button
      class='action_button new-user'
      id='new-user-btn'
      type='button'
      disabled={{this.isCreatingUser}}
      {{on 'click' this.confirmOrg}}
    >
      {{#if this.isCreatingUser}}
        Creating User...
      {{else}}
        Create New User
      {{/if}}
    </button>
    <button
      class='action_button new-user cancel-button'
      type='button'
      {{on 'click' this.cancelNew}}
    >Cancel</button>
  </div>

</article>