<section class="list-side">
  <header class="list-header">
    <h1>Users</h1>
    <LinkTo @route="users.new" @id="new-user-link" class="new-link-btn"><span class="create-text">Create New User</span><i class="fas fa-plus"></i></LinkTo>
  </header>
  <section>
    <nav class="list-box">
      <h2>Your account</h2>
      <ul class="listing your-account">
        <li class="{{if @currentUser.isAuthorized 'is-authorized'}} {{if @currentUser.isAdmin 'is-admin'}}">
          <LinkTo @route="users.user" @model={{@currentUser.id}} @classNames="user">{{@currentUser.username}}</LinkTo>
        </li>
      </ul>
      
      {{#if @currentUser.isTeacher}}
        <CollapsibleList @title="Students in your Classes" @users={{this.yourStudents}} @noInfo="You don't have any students yet" />
        <CollapsibleList @title="Users you have created" @users={{this.yourUsers}} @noInfo="You haven't created any users yet" />
        <CollapsibleList @title="Users in {{@currentUser.organization.name}}" @users={{this.orgUsers}} @noInfo="There are no users in your organization" />
      {{/if}}
      <CollapsibleList @title="Waiting for Authorization"  @users={{this.unauthUsers}} @noInfo="There are no users waiting to be authorized" />
      {{#if @currentUser.isAdmin}}
        <CollapsibleList @title="Administrators" @users={{this.adminUsers}} @noInfo="There are no admins" />
        <CollapsibleList @title="Pd Admins" @user={{this.pdUsers}} @noInfo="There are no Pd Admins yet" />
      {{/if}}
        <CollapsibleList @title="Teacher" @users={{this.teacherUsers}} @noInfo="There are no teachers yet" />
        <CollapsibleList @title="Students" @users={{this.studentUsers}} @noInfo="There are no students yet" />
      {{#if @currentUser.isAdmin}}
        <button class="toggle-button" {{action 'toggleDeletedUsers'}}>
          {{if this.showDeletedUsers 'Hide' 'Show'}} Deleted Users
        </button>

        {{#if this.showDeletedUsers}}
          <CollapsibleList @title="Deleted Users" @users={{this.trashedUsers}} @noInfo="There are no trashed users." />
        {{/if}}
      {{/if}}
    </nav>
  </section>
</section>

<div class="clear" />

