<h3>Create a New User</h3>
<article class='user'>
  <table class='values rows'>
    <tr>
      <th>Label</th>
      <th>Value</th>
    </tr>
    {{#unless this.currentUser.isTeacher}}
      <tr>
        <td>Account Type</td>
        <td>
          <Ui::MySelect
            @selectedValue={{this.selectedType}}
            @prompt='Select Account Type (defaults to Student)'
            @content={{this.accountTypes}}
            @action={{this.setAccountType}}
            @cannotBeNull={{false}}
          />
        </td>
      </tr>
    {{/unless}}
    <tr>
      <td>Username <span class='required-star'>*</span></td>
      <td>
        <Input
          @type='text'
          class='user-username'
          @value={{this.username}}
          {{on 'input' this.usernameValidate}}
          {{on 'focusout' this.usernameValidate}}
          {{on 'focusin' this.resetErrors}}
        />
      </td>
    </tr>
    <tr>
      <td>Password <span class='required-star'>*</span></td>
      <td style="position: relative;">
        <Input
          @type={{if this.showPasswords 'text' 'password'}}
          class='user-password'
          @value={{this.password}}
          {{on 'input' this.passwordValidate}}
          {{on 'focusout' this.passwordValidate}}
          {{on 'focusin' this.resetErrors}}
        />
        <button 
          type="button" 
          style="position: absolute; right: 8px; top: 50%; transform: translateY(-50%); border: none; background: transparent; cursor: pointer; z-index: 1;"
          {{on 'click' this.togglePasswordVisibility}}
        >
          {{if this.showPasswords '🙈' '👁️'}}
        </button>
      </td>
    </tr>

    <tr>
      <td>Confirm Password <span class='required-star'>*</span></td>
      <td>
        <Input
          @type={{if this.showPasswords 'text' 'password'}}
          @value={{this.confirmPassword}}
          {{on 'input' this.confirmPasswordValidate}}
          {{on 'focusout' this.confirmPasswordValidate}}
          {{on 'focusin' this.resetErrors}}
        />
      </td>
    </tr>

    <tr>
      <td>First Name {{#unless this.isStudent}}<span class='required-star'>*</span>{{/unless}}</td>
      <td>
        <Input 
          @type='text' 
          @value={{this.firstName}} 
          class='user-first-name'
          {{on 'input' this.firstNameValidate}}
          {{on 'focusout' this.firstNameValidate}}
        />
      </td>
    </tr>
    <tr>
    <td>Last Name {{#unless this.isStudent}}<span class='required-star'>*</span>{{/unless}}</td>
      <td>
        <Input 
          @type='text' 
          @value={{this.lastName}} 
          class='user-last-name'
          {{on 'input' this.lastNameValidate}}
          {{on 'focusout' this.lastNameValidate}}
        />
      </td>
    </tr>
    {{#unless this.currentUser.isTeacher}}
      <tr>
        <td>Email {{#unless this.isStudent}}<span class='required-star'>*</span>{{/unless}}</td>
        <td>
          <Input
            @type='text'
            @value={{this.email}}
            class='user-email'
            {{on 'input' this.emailValidate}}
            {{on 'focusout' this.emailValidate}}
            {{on 'focusin' this.resetErrors}}
          />
        </td>
        </tr>
        <tr>
          <td>Organization {{#unless this.isStudent}}<span class='required-star'>*</span>{{/unless}}</td>
          <td>
            {{#if this.currentUser.isAdmin}}
              <Ui::TwitterTypeahead
                @dataList={{@organizations}}
                @onSelect={{this.setOrg}}
                @optionLabelPath='name'
                @setSelectedValueOnChange={{true}}
              />
            {{else}}
              {{this.currentUser.user.organization.name}}
            {{/if}}
          </td>
        </tr>
        <tr>
        <td>Location {{#unless this.isStudent}}<span class='required-star'>*</span>{{/unless}}</td>
        <td>
          <Input @type='text' @value={{this.location}} class='user-location' />
        </td>
      </tr>
      <tr>
        <td>Authorized</td>
        <td>
          <Input
            @type='checkbox'
            @checked={{this.isAuthorized}}
            class='user-isAuth'
          />
          <small>(Default: No)</small>
        </td>
      </tr>
    {{/unless}}
  </table>

  {{#if this.usernameError}}
    <Ui::ErrorBox
      @error={{this.usernameError}}
      @showDismiss={{true}}
      @resetError={{fn this.resetError 'usernameError'}}
    />
  {{/if}}

  {{#if this.emailError}}
    <Ui::ErrorBox
      @error={{this.emailError}}
      @showDismiss={{true}}
      @resetError={{fn this.resetError 'emailError'}}
    />
  {{/if}}

  {{#if this.passwordError}}
    <Ui::ErrorBox
      @error={{this.passwordError}}
      @showDismiss={{true}}
      @resetError={{fn this.resetError 'passwordError'}}
    />
  {{/if}}

  {{#if this.confirmPasswordError}}
    <Ui::ErrorBox
      @error={{this.confirmPasswordError}}
      @showDismiss={{true}}
      @resetError={{fn this.resetError 'confirmPasswordError'}}
    />
  {{/if}}

  {{#if this.errorMessage}}
    <Ui::ErrorBox
      @error={{this.errorMessage}}
      @showDismiss={{true}}
      @resetError={{fn this.resetError 'generalError'}}
    />
  {{/if}}

  {{#each this.createOrgErrors as |error|}}
    <Ui::ErrorBox
      @error={{error}}
      @showDismiss={{true}}
      @resetError={{fn this.removeErrorFromArray 'createOrgErrors' error}}
    />
  {{/each}}
  
  {{#each this.createUserErrors as |error|}}
    <Ui::ErrorBox
      @error={{error}}
      @showDismiss={{true}}
      @resetError={{fn this.removeErrorFromArray 'createUserErrors' error}}
    />
  {{/each}}

  {{#if this.firstNameError}}
    <Ui::ErrorBox
      @error={{this.firstNameError}}
      @showDismiss={{true}}
      @resetError={{fn this.resetError 'firstNameError'}}
    />
  {{/if}}

  {{#if this.lastNameError}}
    <Ui::ErrorBox
      @error={{this.lastNameError}}
      @showDismiss={{true}}
      @resetError={{fn this.resetError 'lastNameError'}}
    />
  {{/if}}

  <div class='button-row'>
    <button
      class='action_button new-user'
      id='new-user-btn'
      type='button'
      disabled={{this.isCreatingUser}}
      {{on 'click' this.confirmOrg}}
    >
      {{#if this.isCreatingUser}}
        Creating User...
      {{else}}
        Create New User
      {{/if}}
    </button>
    <button
      class='action_button new-user cancel-button'
      type='button'
      {{on 'click' this.cancelNew}}
    >Cancel</button>
  </div>
</article>
