<h3>
  <span class='username'>{{@user.username}}</span>'s Account Details
</h3>
{{#each this.loadOrgsErrors as |error|}}
  <p class='error-message'>{{error}}</p>
{{/each}}
<article class='user'>
  <table class='values rows'>
    <tr>
      <th>Label</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>Username</td>
      <td>
        <Ui::FormField
          @isEditing={{this.isEditing}}
          @type='text'
          @value={{@user.username}}
          @className='user-username'
          @onChange={{fn this.handleChange 'username'}}
        />
      </td>
    </tr>

    <tr>
      <td>First Name</td>
      <td>
        <Ui::FormField
          @isEditing={{this.isEditing}}
          @type='text'
          @value={{@user.firstName}}
          @className='user-first-name'
          @onChange={{fn this.handleChange 'firstName'}}
        />
      </td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td>
        <Ui::FormField
          @isEditing={{this.isEditing}}
          @type='text'
          @value={{@user.lastName}}
          @className='user-last-name'
          @onChange={{fn this.handleChange 'lastName'}}
        />
      </td>
    </tr>
    <tr>
      <td>Display Name</td>
      <td>
        <span class='displayName'>{{@user.displayName}}</span>
      </td>
    </tr>
    <tr>
      <td>Email</td>
      <td>
        <Ui::FormField
          @isEditing={{this.isEditing}}
          @type='text'
          @value={{@user.email}}
          @className='user-email'
          @onChange={{fn this.handleChange 'email'}}
        />
      </td>
    </tr>

    {{#if this.canConfirm}}
      <tr>
        <td>Email Confirmed</td>
        <td class='is-email-confirm'>
          {{#if this.noEmail}}
            No email address provided
          {{else if @user.isEmailConfirmed}}
            {{! Note: Use the original value so can undo during editing }}
            Yes
          {{else}}
            <Ui::FormField
              @isEditing={{this.isEditing}}
              @type='checkbox'
              @value={{@user.isEmailConfirmed}}
              @className='user-email-auth'
              @label='Manually confirm email?'
              @onChange={{fn this.handleChange 'isEmailConfirmed'}}
            />
          {{/if}}
        </td>
      </tr>
    {{/if}}
    {{#if this.isEditing}}
      <tr>
        <td>Password</td>
        <td>
          {{#if this.isResettingPassword}}
            <ResetPasswordUser
              @user={{@user}}
              @handleResetSuccess={{this.handleResetSuccess}}
              @cancelReset={{this.handleCancelForm}}
            />
          {{else}}
            <button
              class='reset-password'
              type='button'
              {{on 'click' this.resetPassword}}
            >
              Reset Password
            </button>
          {{/if}}
        </td>
      </tr>
    {{/if}}
    {{#unless @user.organizationRequest}}
      <tr>
        <td>Organization
          {{#if this.isEditing}}<span class='required-star'>*</span>{{/if}}</td>
        {{#if this.isEditing}}
          {{#if @currentUser.isAdmin}}
            <td>
              <Ui::TwitterTypeahead
                @dataList={{@orgList}}
                @selectedValue={{@user.organization}}
                @onSelect='setOrg'
                @minLength={{0}}
                @optionLabelPath='name'
                @setSelectedValueOnChange={{true}}
              />
            </td>
          {{else}}
            <td>{{@user.organization.name}}</td>
          {{/if}}
        {{else}}
          <td>{{@user.organization.name}}</td>
        {{/if}}
      </tr>
    {{/unless}}
    {{#if @user.organizationRequest}}
      <tr>
        <td>Requested Organization</td>
        {{#if this.isEditing}}
          {{#if @currentUser.isAdmin}}
            <td>
              Would you like to create
              {{@user.organizationRequest}}<br />
              <button
                type='button'
                {{on 'click' this.confirmOrgModal}}
              >Yes</button>
              <button type='button' {{on 'click' this.removeOrg}}>No</button>
            </td>
          {{else}}
            {{@user.organizationRequest}}
          {{/if}}
        {{else}}
          <td>
            {{@user.organizationRequest}}
          </td>
        {{/if}}
      </tr>
    {{/if}}
    {{#if @user.sections}}
      <tr>
        <td>User's Sections</td>
        <td>
          {{#each @userSections as |section|}}
            <p>
              <LinkTo @route='sections.section' @model={{section.id}}>
                {{section.name}}
              </LinkTo>
            </p>
          {{/each}}
        </td>
      </tr>
    {{/if}}
    <tr>
      <td>Location</td>
      <td>
        <Ui::FormField
          @isEditing={{this.isEditing}}
          @type='text'
          @value={{@user.location}}
          @className='user-location'
          @onChange={{fn this.handleChange 'location'}}
        />
      </td>
    </tr>
    <tr>
      <td>Seen Tour</td>
      <td>
        <Ui::FormField
          @isEditing={{this.isEditing}}
          @type='button'
          @value={{this.tourDate}}
          @className='user-seen-tour'
          @onClick={{if this.seenTour this.clearTour this.doneTour}}
          @label={{if this.seenTour 'Re-take tour' 'Skip the tour'}}
        />
      </td>
    </tr>
    <tr>
      <td>Last Seen</td>
      {{#if @user.lastSeen}}
        <td>
          {{format-date @user.lastSeen 'MMM Do YYYY'}}
          at
          {{format-date @user.lastSeen 'hh:mma'}}
        </td>
      {{else}}
        <td>Never</td>
      {{/if}}
    </tr>
    {{#if @user.lastModifiedBy}}
      <tr>
        <td>Last Modified</td>
        <td>
          {{format-date @user.lastModifiedDate 'MMM Do YYYY'}}
          by
          {{@user.lastModifiedBy.username}}
        </td>
      </tr>
    {{/if}}
    <tr>
      <td>Account Type
        {{#if this.isEditing}}<span class='required-star'>*</span>{{/if}}</td>
      {{#if this.isEditing}}
        <td>
          {{#if this.canEdit}}
            <Ui::MySelect
              @selectedValue={{account-types @user.accountType}}
              @cannotBeNull={{true}}
              @content={{this.accountTypes}}
              @action={{this.handleAccountTypeChange}}
            />
          {{/if}}
        </td>
      {{else}}
        <td>{{account-types @user.accountType}}</td>
      {{/if}}
    </tr>
    <tr>
      <td>Authorized</td>
      <td>
        {{#if this.canEdit}}
          <Ui::FormField
            @isEditing={{this.isEditing}}
            @type='checkbox'
            @value={{yes-no @user.isAuthorized}}
            @checked={{@user.isAuthorized}}
            @className='user-isAuth'
            @onChange={{fn this.handleChange 'isAuthorized'}}
          />
        {{else}}
          {{yes-no @user.isAuthorized}}
        {{/if}}
      </td>
    </tr>
    {{#if @user.authorizedBy}}
      <tr>
        <td>Authorized By</td>
        <td>{{@user.authorizedBy.username}}</td>
      </tr>
    {{/if}}
    {{#if @user.requestReason}}
      <tr>
        <td>Reason for Authorization Requst</td>
        <td>
          {{@user.requestReason}}
        </td>
      </tr>
    {{/if}}
  </table>
  {{#if this.canEdit}}
    {{#if this.isEditing}}
      <div class='button-row'>
        <button
          class='action_button save-user'
          type='button'
          {{on 'click' this.handleSave}}
        >Save</button>
        <button
          class='action_button cancel-button cancel-user'
          type='button'
          {{on 'click' this.handleCancelEdit}}
        >Cancel</button>
      </div>
    {{else}}
      <div class='button-row'>
        <button
          class='action_button edit-user'
          type='button'
          {{on 'click' this.editUser}}
        >Edit</button>
        {{#if @currentUser.isAdmin}}
          {{#if @user.isTrashed}}
            <button
              class='action_button restore-button'
              type='button'
              {{on 'click' this.restoreUser}}
            >Restore User</button>
          {{else}}
            <button
              class='action_button delete-button'
              type='button'
              {{on 'click' this.deleteUser}}
            >Delete</button>
          {{/if}}
        {{/if}}
      </div>
    {{/if}}
  {{else}}
    <p class='warning-message'>You may not edit users whom you did not create.
      Contact an admin to make changes.</p>
  {{/if}}
</article>
{{#each this.findRecordErrors as |error|}}
  <p class='error-message'>{{error}}</p>
{{/each}}
{{#each this.createRecordErrors as |error|}}
  <p class='error-message'>{{error}}</p>
{{/each}}
{{#each this.updateRecordErrors as |error|}}
  <p class='error-message'>{{error}}</p>
{{/each}}