<div id='workspace-filter'>
  <div class='filter-items'>
    <h2>Filter Options</h2>
    <PrimaryListFilter
      @filterName={{@filterName}}
      @adminFilterName={{@adminFilterName}}
      @showAdminFilters={{@showAdminFilters}}
      @onUpdate={{@onUpdate}}
    />
    <h3
      class='more-header {{if this.closedMenu "closed"}}'
      {{on 'click' this.toggleMoreFilters}}
    >
      <i
        class='fas
          {{if this.showMoreFilters "fa-chevron-down" "fa-chevron-right"}}'
      ></i>
      More
    </h3>
    {{#if this.showMoreFilters}}
      <ul class='more-filter-list'>
        <h5>Hidden Workspaces</h5>
        <label class='subfilter'>
          <Input
            id='toggle-hidden'
            @type='checkbox'
            @checked={{@showHidden}}
            @onChange={{this.toggleHiddenWorkspaces}}
          />
          <span>Show All Hidden Workspaces</span>
        </label>
        {{#if this.userIsAdmin}}
          <h5>Trashed Workspaces</h5>
          <label class='subfilter'>
            <input
              id='toggle-trashed'
              type='checkbox'
              checked={{@showTrashed}}
              {{on 'change' this.toggleTrashedWorkspaces}}
            />
            <span>Show All Trashed Workspaces</span>
          </label>
        {{/if}}
      </ul>
    {{/if}}
  </div>
</div>