{{page-title this.model.user.username}}
<div id='user-info'>
  <UserInfo
    @user={{@model.user}}
    @refresh={{@refresh}}
    @userSections={{@model.userSections}}
    @orgList={{@model.organizations}}
  />
</div>