{{page-title this.model.user.username}}
<div id='user-info'>
  <UserInfo
    @user={{this.model.user}}
    @refresh={{this.refresh}}
    @userSections={{this.model.userSections}}
    @currentUser={{this.model.currentUser}}
    @orgList={{this.model.organizations}}
  />
</div>