{{!-- <article class="user">
<h2>{{model.username}}</h2>
<table class="values rows" style="background-color: #efefef">
  <tr> <th>Label</th> <th>Value</th> </tr>
  <tr> <td>Name</td><td>
         {{#if isEditing}}
           {{input value=name classNames='model.userName'}}
         {{else}}
           {{model.name}}
         {{/if}}
         </td> </tr>
  <tr> 
      <td>Last Seen</td>
      <td>{{lastSeenDate}}</td>
  </tr>
  <tr> <td>Seen Tour</td><td>
         {{#if isEditing}}
           {{#if seenTour}}
             <button class='clearTour' {{action 'clearTour'}}>re-take tour</button>
           {{else}}
             <button class='doneTour' {{action 'doneTour'}}>don't show the tour</button>
           {{/if}}
         {{/if}}
         <span class='tourDate'>{{tourDate}}</span>
         </td> </tr>
  <tr> <td>Username</td><td>{{model.username}}</td> </tr>
  <tr> <td>Display Name</td><td>
         <span class='displayName'>{{model.displayName}}</span>
         </td> </tr>
  <tr> <td>Admin</td><td>
         {{#if isEditing}}
           {{#if currentUser.isAdmin}}
             {{input type="checkbox" checked=model.isAdmin classNames='isAdmin'}}
           {{else}}
             {{model.isAdmin}}
           {{/if}}
         {{else}}
           {{model.isAdmin}}
         {{/if}}
         </td> </tr>
  <tr> <td>Authorized</td><td>
        {{#if isEditing}}
          {{#if currentUser.isAdmin}}
            {{input type="checkbox" checked=model.isAuthorized classNames='isAuthorized'}}
          {{else}}
            {{model.isAuthorized}}
          {{/if}}
        {{else}}
          {{model.isAuthorized}}
        {{/if}}
        </td> </tr>
</table>
{{#if currentUser.isAdmin}}
  {{#if isEditing}}
  <button class='saveUser' {{action 'saveUser'}}>save</button>
  {{else}}
   <button class='editUser' {{action 'editUser'}}>edit</button>
  {{/if}}
{{/if}}
</article>
{{outlet}} --}}
