<div
  class='ui-form-field'
  {{did-update this.resetEditingValue @isEditing}}
  {{did-update this.resetEditingValue @value}}
>
  {{! If isEditing is true, render an input/checkbox/other editable UI }}
  {{#if @isEditing}}
    {{#if (is-equal @type 'checkbox')}}
      {{#if @label}}
        <label for='{{this.id}}'>{{@label}}</label>
      {{/if}}
      <input
        id='{{this.id}}'
        type='checkbox'
        class='ui-checkbox {{@className}}'
        checked={{this.currentValue}}
        {{on 'change' this.handleCheckboxChange}}
      />
    {{else if (is-equal @type 'textarea')}}
      {{#if @label}}
        <label for='{{this.id}}'>{{@label}}</label>
      {{/if}}
      <textarea
        id='{{this.id}}'
        class='ui-textarea {{@className}}'
        value={{this.currentValue}}
        placeholder={{@placeholder}}
        {{on 'input' this.handleInput}}
      ></textarea>
    {{else if (is-equal @type 'button')}}
      <button
        type='button'
        class='ui-button {{@className}}'
        {{on 'click' this.handleButtonClick}}
      >
        {{@label}}
      </button>
    {{else}}
      {{#if @label}}
        <label for='{{this.id}}'>{{@label}}</label>
      {{/if}}
      <input
        id='{{this.id}}'
        type='{{@type}}'
        class='ui-input {{@className}}'
        value={{this.currentValue}}
        placeholder={{@placeholder}}
        {{on 'input' this.handleInput}}
      />
    {{/if}}
    {{! If not editing, display the value }}
  {{else}}
    <span class='{{@className}}'>
      {{#if (is-equal @type 'checkbox')}}
        {{if @value 'Yes' 'No'}}
      {{else}}
        {{make-html-safe @value}}
      {{/if}}
    </span>
  {{/if}}

  {{! Render a post-field button if provided }}
  {{#if @buttonLabel}}
    {{#if @isEditing}}
      <button
        type='button'
        class='ui-button {{@className}}'
        {{on 'click' this.handleButtonClick}}
      >
        {{@buttonLabel}}
      </button>
    {{/if}}
  {{/if}}
</div>