<div style=''>
  <div id='folder_header'>
    <div id='menubar'>

      <h1> Assignment Name: {{@model.name}} </h1>
    </div>
    <div id='statusbar'>
      <div>Number of submissions: {{@model._submissions.length}} </div>
      <div>Number of selections: {{this.evidence.length}}</div>
    </div>
  </div>

  <div id='controls'>
    Browse:

    <label><input
        type='radio'
        name='browser2'
        value='0'
        {{on 'click' this.makeBySubmission}}
        checked={{this.bySubmission}}
      />By Student</label>

    <label id='showEvidence'>
      <input
        type='radio'
        name='browser2'
        value='1'
        {{on 'click' this.makeBySelection}}
        checked={{this.bySelection}}
      />By Evidence (selection)</label>

    <label id='showSubFolders'>
      <Input
        @type='checkbox'
        @checked={{this.includeSubfolders}}
        {{on 'click' this.toggleIncludeSubfolders}}
      />
      Include Sub-Folders
    </label>
  </div>
  <div id='controls'>Show:
    {{#if this.bySubmission}}
      <ul>

        <li><label id='showEvidence'>
            <Input
              @type='checkbox'
              name={{this.showSubmissionSelections}}
              @checked={{this.showSubmissionSelections}}
              {{on 'click' this.toggleShowSubmissionSelections}}
            />
            Evidence
          </label></li>

        {{#if this.showSubmissionSelections}}
          <li><ul>
              <li><label id='showSubmComments'>
                  <Input
                    @type='checkbox'
                    name={{this.showSubmissionSelectionsComments}}
                    @checked={{this.showSubmissionSelectionsComments}}
                    {{on 'click' this.toggleShowSubmissionSelectionsComments}}
                  />
                  Comments
                </label></li>

              <li><label id='showSubmFolders'>
                  <Input
                    @type='checkbox'
                    name={{this.showSubmissionSelectionsFolders}}
                    @checked={{this.showSubmissionSelectionsFolders}}
                    {{on 'click' this.toggleShowSubmissionSelectionsFolders}}
                  />
                  Folders
                </label></li>

            </ul></li>
        {{/if}}
      </ul>
    {{/if}}
    {{#if this.bySelection}}
      <label id='showSubmissions'>
        <Input
          @type='checkbox'
          {{on 'click' this.toggleShowSelectionSubmission}}
          @checked={{this.showSelectionSubmission}}
        />
        Student
      </label>

      <label id='showSelComments'>
        <Input
          @type='checkbox'
          {{on 'click' this.toggleShowSelectionComments}}
          @checked={{this.showSelectionComments}}
        />
        Comments
      </label>

      <label id='showSelFolders'>
        <Input
          @type='checkbox'
          {{on 'click' this.toggleShowSelectionFolders}}
          @checked={{this.showSelectionFolders}}
        />
        Folders
      </label>
    {{/if}}</div>
</div>

<div class='al_wtf'>
  {{#if this.bySubmission}}
    <table align='right' id='folder_contents'>
      {{! <caption>Submissions</caption> }}
      <thead>
        <tr class='header'>
          <th>Student</th>

          {{#if this.showSubmissionComments}}
            <th>Comments</th>
          {{/if}}

          {{#if this.showSubmissionFolders}}
            <th>Folders</th>
          {{/if}}

          {{#if this.showSubmissionSelections}}
            <th>Evidence</th>
          {{/if}}

        </tr>
      </thead>
      <tbody>
        {{#each this.selectedSubmissions as |sub|}}
          <tr>
            <td>
              <a class='change-submission' {{action 'changeSubmission' sub}}>
                {{sub.student}}
              </a>
            </td>
            {{#if this.showSubmissionComments}}
              <td>
                <ul>
                  {{#each sub.comments as |com|}}
                    <li>
                      {{com.text}}
                    </li>
                  {{/each}}
                </ul>
              </td>
            {{/if}}
            {{#if this.showSubmissionFolders}}
              <td style='white-space: nowrap;'>
                <ul>
                  {{#each sub.folders as |folder|}}
                    <li>{{folder.name}}</li>
                  {{/each}}
                </ul>
              </td>
            {{/if}}
            {{#if this.showSubmissionSelections}}
              <td>
                {{#if this.showSubmissionSelectionsStuff}}
                  <table style='width: 100%'>
                    <thead>
                      <tr>
                        <th style='width: 30%'>Selection</th>

                        {{#if this.showSubmissionSelectionsComments}}
                          <th style='width: 30%'>Comments</th>
                        {{/if}}

                        {{#if this.showSubmissionSelectionsFolders}}
                          <th style='width: 30%'>Folders</th>
                        {{/if}}
                      </tr>
                    </thead>
                    <tbody>
                      {{#each this.evidence as |sel|}}
                        <tr>
                          <td>
                            <a
                              class='selection-text
                                {{if sel.imageTagLink "selection-image"}}
                                '
                              {{on 'click' (fn this.changeSelection sel)}}
                            >
                              {{#if sel.imageTagLink}}
                                <img
                                  class='img-tag-thmb'
                                  src={{sel.imageTagLink}}
                                  alt={{sel.text}}
                                />
                              {{else}}
                                {{sel.text}}
                              {{/if}}
                            </a>
                            <br />
                          </td>

                          {{#if this.showSubmissionSelectionsComments}}
                            <td>
                              <ul>
                                {{#each sel.comments as |comment|}}
                                  <li>{{comment.text}}</li>
                                {{/each}}
                              </ul>
                            </td>
                          {{/if}}

                          {{#if this.showSubmissionSelectionsFolders}}
                            <td>
                              <ul>
                                {{#each sel.folders as |folder|}}
                                  <li>
                                    {{folder.name}}
                                    {{#if this.canEdit}}
                                      {{!ENC-574 Add a delete button per folder}}
                                      <span
                                        class='remove-sel'
                                        {{on
                                          'click'
                                          (fn this.removeSelection sel folder)
                                        }}
                                      ><i
                                          class='far fa-times-circle'
                                        ></i></span>
                                    {{/if}}
                                  </li>
                                {{/each}}
                              </ul>
                            </td>
                          {{/if}}
                        </tr>
                      {{/each}}
                    </tbody>
                  </table>
                {{/if}}
              </td>
            {{/if}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}

  {{#if this.bySelection}}
    <table id='folder_contents' align='right'>
      {{! <caption>Evidence</caption> }}
      <thead>
        <tr class='header'>
          <th style='width: 30%'>Selection</th>

          {{#if this.showSelectionSubmission}}
            <th style='width: 20%'>Student</th>
          {{/if}}

          {{#if this.showSelectionComments}}
            <th style='width: 30%'>Comments</th>
          {{/if}}

          {{#if this.showSelectionFolders}}
            <th style='width: 20%; white-space:nowrap;'>Folders</th>
          {{/if}}
        </tr>
      </thead>
      <tbody>
        {{#each this.evidence as |sel|}}
          <tr>
            <td>
              <a
                class='selection-text {{if sel.imageTagLink "selection-image"}}'
                {{on 'click' (fn this.changeSelection sel)}}
              >
                {{#if sel.imageTagLink}}
                  <img
                    class='img-tag-thmb'
                    src={{sel.imageTagLink}}
                    alt={{sel.text}}
                  />
                {{else}}
                  {{sel.text}}
                {{/if}}
              </a>
            </td>
            {{#if this.showSelectionSubmission}}
              <td>
                <a
                  class='change-submission'
                  {{on 'click' (fn this.changeSubmission sel.submission)}}
                >
                  {{sel.submission.student}}
                </a>
              </td>
            {{/if}}

            {{#if this.showSelectionComments}}
              <td>
                <ul>
                  {{#each sel.comments as |comment|}}
                    <li>{{comment.text}}</li>
                  {{/each}}
                </ul>
              </td>
            {{/if}}

            {{#if this.showSelectionFolders}}
              <td style='white-space: nowrap;'>
                <ul>
                  {{#each sel.folders as |folder|}}
                    <li>
                      {{folder.name}}
                      {{#if this.canEdit}}
                        {{!ENC-574 Add a delete button per folder}}
                        <span
                          class='remove-sel'
                          {{on 'click' (fn this.removeSelection sel folder)}}
                        ><i class='far fa-times-circle'></i></span>
                      {{/if}}
                    </li>
                  {{/each}}
                </ul>
              </td>
            {{/if}}
          </tr>
        {{else}}
          <p>Sorry, no selections were found in this folder.</p>
        {{/each}}
      </tbody>
    </table>
  {{/if}}

</div>