{{page-title this.model.problem.title}}
<div id='problem-info' class='side-info'>
  <ProblemInfo
    @orgList={{@model.orgList}}
    @recommendedProblems={{@model.recommendedProblems}}
    @problem={{@model.problem}}
    @sectionList={{@model.sectionList}}
    @flaggedBy={{@model.flaggedBy}}
    @flaggedDate={{@model.flaggedDate}}
    @isEditing={{true}}
  />
</div>