{{page-title @model.problem.title}}
<div id='problem-info' class='side-info'>
  <ProblemInfo
    @orgList={{@model.orgList}}
    @recommendedProblems={{@model.recommendedProblems}}
    @problem={{@model.problem}}
    @sectionList={{@model.sectionList}}
    @flaggedBy={{@model.flaggedBy}}
    @flaggedDate={{@model.flaggedDate}}
    {{! from the query parameter, via the controller}}
    @tab={{this.tab}}
  />
</div>