<div id="problem-info" class="side-info">
  <ProblemInfo @store={{this.store}} @orgList={{this.model.orgList}} @problem={{this.model.problem}} @sectionList={{this.model.sectionList}} @currentUser={{this.model.currentUser}} @toProblemList="toProblemList" @toAssignmentInfo="toAssignmentInfo" />
</div>