{{!-- <header>
  <h2>Select a response</h2>

  <aside>
  </aside>
  <div class="clear"></div>
</header>

{{#if model.length}}

  <table border="1" width="100%" style="background-color: #f3f3f3; font-family: 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px">
    <thead>
     <tr style="border-bottom: 1px solid #d3d3d3; line-height: 50px">
       <th align="left" style="padding-left: 55px;">Text</th>
       <th align="left">Source</th>
       <th align="left">Created</th>
       <th align="left">By</th>
     </tr>
    </thead>
    <tbody>
    {{#each model as |response|}}
      <tr style="border-bottom: 1px solid #d3d3d3; line-height: 50px" class="response">
        <td style="padding-left: 55px;">
          {{#link-to 'response' response}}
            {{short-text response.text}}
          {{/link-to}}
        </td>
        <td>{{response.source}}</td>
        <td>
          {{#link-to 'response' response}}
          <span title="{{response.strCreateDate}}">{{response.createDate}}</span>
          {{/link-to}}
        </td>
        <td>{{response.createdBy.displayName}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>

{{else}}
  <p class="notice">
  Looks like there aren't any responses.  You can create one by clicking the "respond" button from a workspace.
  </p>
{{/if}} --}}
