{{!--outlet header--}}

{{top-bar user=currentUser isHidden=isHidden}}

{{!-- {{#if currentUser.isAuthenticated}}
  {{top-bar user=currentUser isHidden=isHidden}}
{{else}}
  {{top-bar-unauth}}
{{/if}} --}}

<section id="al_body">
<!-- a dynamic section of the view hierarchy that will be filled in
     response to routing changes -->

{{outlet}}

{{!outlet modal}}
</section> <!-- end al_body -->

