<div class="ember-view">
  {{!--outlet header--}}

  <TopBar @store={{this.store}} @user={{this.currentUser}} @currentUser={{this.currentUser}} @isHidden={{this.isHidden}} @toHome="toHome" />
  {{!-- <SocketLoader @store={{this.store}} @currentUser={{currentUser}} /> --}}
  <section id="al_body">

    {{outlet}}

  </section> <!-- end al_body -->
</div>