<div class='index'>
  <div class='home-options'>
    {{! My Workspaces, My problem solving (formerly as assignments), My Feedback buttons. }}
    <div class='home-options__tabs'>
      <button
        class='home-options__tab
          {{if (is-equal this.dataToShow "workspace") "home-options--active"}}'
        {{on 'click' (fn this.updateDataToShow 'workspace')}}
      ><span>My Workspaces</span></button>
      <button
        class='home-options__tab
          {{if (is-equal this.dataToShow "assignment") "home-options--active"}}'
        {{on 'click' (fn this.updateDataToShow 'assignment')}}
      ><span>My Problem Solving</span></button>
      <button
        class='home-options__tab
          {{if (is-equal this.dataToShow "feedback") "home-options--active"}}'
        {{on 'click' (fn this.updateDataToShow 'feedback')}}
      ><span>My Feedback</span></button>
    </div>
    {{! Mine, shared, createdbyme  and filters}}
    <div class='home-options__details'>
      <ul class='details-tabs'>
        {{#each this.data as |item|}}
          <li
            class='details-tabs__tab{{if
                (is-equal item.label this.activeDetailTab)
                " details-tabs--active"
              }}'
          ><button
              {{on 'click' (fn this.updateSelectedData item)}}
            >{{item.label}}</button>
          </li>
        {{/each}}
      </ul>
      {{! time filter }}
      <label>View info from:
        <select onchange={{action 'updateCurrentBound'}}>
          <option
            selected={{is-equal this.currentBound 'oneWeek'}}
            value='oneWeek'
          >Previous Week</option>
          <option
            selected={{is-equal this.currentBound 'oneMonth'}}
            value='oneMonth'
          >Previous Month</option>
          <option
            selected={{is-equal this.currentBound 'sixMonths'}}
            value='sixMonths'
          >Previous Six Months</option>
          <option
            selected={{is-equal this.currentBound 'schoolYear'}}
            value='schoolYear'
          >Current School Year</option>
          <option
            selected={{is-equal this.currentBound 'allTime'}}
            value='allTime'
          >All Time</option>
        </select>
      </label>
      {{! workspace filter }}
      {{#if (is-equal this.dataToShow 'workspace')}}
        <label>Filter workspaces by class:
          <select onchange={{action 'filterByClass'}}>
            <option value='reset'>Show All</option>
            {{#each this.model.filteredClasses as |section|}}
              <option value={{section.sectionId}}>{{section.name}}</option>
            {{/each}}
          </select>
        </label>
      {{/if}}
      {{! assignment filter }}
      {{#if (is-equal this.dataToShow 'assignment')}}
        <label>Filter assignments by class:
          <select onchange={{action 'filterByClass'}}>
            <option value='reset'>Show All</option>
            {{#each this.model.filteredClasses as |section|}}
              <option value={{section.sectionId}}>{{section.name}}</option>
            {{/each}}
          </select>
        </label>
      {{/if}}

    </div>
  </div>
  <section class='home'>
    {{log this}}
    <HomePage
      @showTable={{this.showTable}}
      @tableColumns={{this.tableColumns}}
      @details={{this.selectedData}}
      @type={{this.dataToShow}}
      @activeDetail={{this.activeDetailTab}}
    />
  </section>
  {{#if this.selectedData}}{{else}}
    <div id='home-warning-message'>Nothing to show.</div>
  {{/if}}
  <div class='footer'>
    <div>
      <img src='https://www.nsf.gov/images/logos/NSF_4-Color_bitmap_Logo.png' />
    </div>
    <div class='footerNote'>
      <p>EnCoMPASS version 3.5.1 last updated on 02/06/2022. </p>
      <p><a href='https://encompassmath.org/' target='_blank'>EnCoMPASS</a>
        is part of the Online Reflection and Community-based Instructional
        Development System for Mathematics Education (ORCIDS), an NSF-funded
        collaboration between Drexel University, California State University San
        Marcos, and 21st Century Partnership for STEM Education (21PSTEM).
        Maintained by
        <a
          href='https://www.21pstem.org/encompass'
          target='_blank'
        >21PSTEM.org</a>
      </p>
    </div>
  </div>

</div>