{{#if this.isForbidden}}
  <div class='centered'>FORBIDDEN</div>
{{else}}
  <UserList
    @users={{@model.users}}
    @organizations={{@model.organiztions}}
    @trashedUsers={{@model.trashedUsers}}
  />
{{/if}}

<div class='list-outlet users'>
  {{outlet}}
</div>