{{#if this.model.currentUser.isStudent}}
  <div class="centered">FORBIDDEN</div>
{{else}}
  <UserList @currentUser={{this.model.currentUser}} @users={{this.model.users}} @organizations={{this.model.organiztions}} />
{{/if}}



<div class="list-outlet users">
  {{outlet}}
</div>

