<header>
	<h2>Select a workspace</h2>
	<aside>
    <span class="meta pointer refresh" {{action 'reloadPage'}}>current as of {{currentAsOf}}</span>
    {{link-to 'all' 'workspaces.index'}}
    {{link-to 'mine' 'workspaces.mine'}}
    {{link-to 'public' 'workspaces.public'}}
    {{#link-to 'workspaces.new'}}new{{/link-to}}
	</aside>
	<div class="clear"></div>
</header>

  <table border="1" id="workspace_listing">
   <thead>
    <tr class="theader">
      <th align="left">Workspace Name</th>
<!--      <th align="left">Submission Dates</th> -->
      <th align="left">Submissions</th>
      <th align="left">Selections</th>
      <th align="left">Folders</th>
      <th align="left">Comments</th>
      <th align="left">Responses</th>
      <th align="left">Owner</th>
      <th align="left">Editors</th>
    </tr>
   </thead>
   <tbody>
    {{#each model as |workspace|}}
      <tr style="border-bottom: 1px solid #d3d3d3; line-height: 50px">
        <td style="background: url(images/sprite-workspace-icon.png) 0 0 no-repeat; padding-left: 55px;">
          {{#link-to 'workspace.work' workspace.id classNames='workspace'}}
          {{!link-to 'workspace.submission' workspace workspace.firstSubmission classNames='workspace'}}
          {{!link-to 'workspace.submissions.first' workspace classNames='workspace'}}
          <span class="workspace_name {{workspace.mode}}">
              {{workspace.name}}
            </span>
          {{/link-to}}
          {{#link-to 'workspace.info' workspace.id}}
            <span class="workspace_info"></span>
          {{/link-to}}
        </td>
        <!-- <td>{{!submissionDates}}</td> -->
        <td>{{workspace.submissionsLength}}</td>
        <td>{{workspace.selectionsLength}}</td>
        <td>{{workspace.foldersLength}}</td>
        <td>{{workspace.commentsLength}}</td>
        <td>{{workspace.responsesLength}}</td>
        <td>{{workspace.owner.displayName}}</td>
        <td>{{#link-to 'workspace.info' workspace}}{{workspace.editorsLength}}{{/link-to}}</td>
      </tr>
    {{/each}}
      <p class="create-new-workspace">
        <i class="fas fa-plus"></i>
         {{#link-to 'workspaces.new' id="new-workspace-link"}}Create a New Workspace{{/link-to}}
      </p>
   </tbody>
  </table>

